<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://sourceforge.net/projects/jsf-comp/acegijsf">

	<ui:define name="title">Journal</ui:define>

	<ui:define name="body">
		<link rel="stylesheet" type="text/css"
			href="#{facesContext.externalContext.requestContextPath}/resources/css/style.css" />
		<h:panelGrid columns="1" columnClasses="panelGrid-top,panelGrid-top">
			<h:panelGrid columns="1">
				<h:form id="journalForm">
					<p:toolbar id="toolsId">
						<f:facet name="right" >
							<p:commandButton id="btnPrint" icon="ui-icon-print" ajax="false">
								<p:dataExporter type="xls" target="journalTable"
									fileName="Journal" pageOnly="false" />
							</p:commandButton>
							<p:commandButton id="hgenBtn" update=":journalForm:journalTable" title="#{msg['SuiviRH.L8']}" icon="ui-icon-refresh" ajax="true" actionListener="#{journalBean.loadActions}">
							</p:commandButton>
						</f:facet>
					</p:toolbar>
					<!-- Printing panel 
					**
					<p:overlayPanel id="printPanel" widgetVar="printPanelWidget"
						for=":journalForm:btnPrint" hideEffect="fade" my="right top">
						<h:panelGrid columns="2">
							<p:commandLink title="#{msg['share.title1']}" ajax="false">
								<p:dataExporter type="xls" target="journalTable"
									fileName="Retards" pageOnly="false" />
								<h:graphicImage name="pdf.png" library="images"
									style="width:23px;height:23px;" />
							</p:commandLink>
							<p:commandLink title="#{msg['share.title1']}" ajax="false">
								<p:dataExporter type="xls" target="journalTable"
									fileName="Retards" pageOnly="false" />
								<h:graphicImage name="excel.png" library="images"
									style="width:23px;height:23px;" />
							</p:commandLink>
						</h:panelGrid>
					</p:overlayPanel>
					
					**
					-->
					<p:panelGrid columns="1"
						columnClasses="panelGrid-top, panelGrid-top">
						<p:dataTable id="journalTable" var="act"
							value="#{journalBean.actions}" filterEvent="blur"
							paginator="true" rows="14" paginatorPosition="bottom"
							rowIndexVar="index"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							widgetVar="dataTableWidget" 
							style="width:1000px;"
							rowKey="#{rtr.id}" >
							<f:facet name="header">Journal des actions</f:facet>
							<p:column headerText="Date" style="width:100px">
								<h:outputText style="overflow-wrap: break-word;" value="#{act.date}" />
							</p:column>
							<p:column headerText="Action" style="width:100%">
								<h:outputText style="overflow-wrap: break-word;" value="#{act.name}" />
							</p:column>
							<p:column headerText="Entrés" style="width:100%">
								<h:outputText style="overflow-wrap: break-word;" value="#{act.parameters}"/>
							</p:column>
							<p:column headerText="Sorties" style="width:100%">
								<h:outputText style="overflow-wrap: break-word;" value="#{act.result}" />
							</p:column>
							<p:column headerText="Executeur" style="width:100%">
								<h:outputText style="overflow-wrap: break-word;" value="#{act.user}" />
							</p:column>
						</p:dataTable>
					</p:panelGrid>
				</h:form>
			</h:panelGrid>
		</h:panelGrid>
	</ui:define>
</ui:composition>