.imageStyle{
			text-align:center;
			padding-top:10px;
			padding-bottom:10px;
		}
		h2{
			color:#5F9EA0;
		}
		h3{
			color:orange;
		}
		.container{
			margin-left:30px;
			margin-top:30px;
			margin-bottom:30px;
			margin-right:30px;
		}
		.ListItem{
			list-style-image:url("../bitmap/pictos/picto-small-help.gif");
			text-indent:-22px;
			margin-left:22px;
		}
		.backColor{
		padding:10px;
			background-color:#ECF1F8;
		}
		
		
.row-color{
	background-color:#e2e8ee;
}