body{
	
margin:0px;
padding:0px;
	
}


header {
width:100%;
min-width: 900px;
height:90px;
background-image:url("../resources/images/bg_header.gif") ;

}

#logo {
	position: absolute;
	margin-left: 30px;
	margin-top: 25px;
}

#icons {
	margin-top:-20px;
	margin-left:45%;
	width: 470px;
	
}

#icons li {
	margin-top:17px;
	font: bold 12px arial;
	color:#9ba0a0;
	text-decoration:none;
	top:-3px;
	float:left;
	list-style: none;
}

#icons li a {
	font: bold 12px arial;
	color:#9ba0a0;
	text-decoration:none;
    padding-left:30px;
    position:relative;
    z-index: 12;
   
}

#icons li a img {
	position: absolute;
	z-index:10;
	margin-left: 8px;
	margin-top: -1px;
	border: 0; 
}

#login{
	
	padding-top: 10%;
	padding-left: 27%;
	width: 40%;
	min-width: 400px;
	
}

.errorblock{
	
color: #ff0000;	
background-color: #ffEEEE;
border: 3px solid #ff0000;
padding: 8px;margin-top: 16px;
margin-left:40px;
width: 40%;

}

.p_menu{
	
	margin: 4%;
	
}

#log .ui-panel-titlebar{
	
	background-color: rgb(129,201,235);
	
}

#log .ui-panel-content{
	
	color:black;
	
	
	
}

#lay1 .ui-layout-unit{
	
	border: 0px;
	
}

#lay2 .ui-layout-unit{
	
	border: none;
	
}
#lay3 .ui-layout-unit{
	
	border: none;
	
	
}

#lay1 #l1center .ui-layout-unit-content{
	
	background-color: rgb(245,250,255);
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	
}

#bt1{
	
	 background-color: rgb(129,201,235);
	 padding:4px;margin-left:77%; 
	 
}

.ui-state-default .ic1 {
	width :48px;
	height :48px;
	top : 4px;
	left: 10px;
	background-image: url("../resources/images/profil_view.png");
}

.ui-state-default .ic2 {
	
	width :48px;
	height :48px;
	top : 4px;
	left: 10px;
	background-image: url("../resources/images/profil_add.png");
}

.ui-state-default .ic3 {
	
	width :48px;
	height :48px;
	top : 4px;
	left: 10px;
	background-image: url("../resources/images/profil_edit.png");
}

.ui-state-default .ic4 {
	
	width :48px;
	height :48px;
	top : 4px;
	left: 10px;
	background-image: url("../resources/images/profil_affect.png");
}

.ui-state-default .ic5 {
	
	width :42px;
	height :42px;
	top : 9px;
	left: 12px;
	background-image: url("../resources/images/view_user.png");
}

.ui-state-default .ic6 {
	
	width :42px;
	height :42px;
	top : 9px;
	left: 12px;
	background-image: url("../resources/images/add_user.png");
}

.ui-state-default .ic7 {
	
	width :42px;
	height :42px;
	top : 9px;
	left: 12px;
	background-image: url("../resources/images/edit_user.png");
}

.ui-state-default .ic8 {
	
	width :42px;
	height :42px;
	top : 9px;
	left: 12px;
	background-image: url("../resources/images/view_device.png");
}

.ui-state-default .ic9 {
	
	width :42px;
	height :42px;
	top : 9px;
	left: 12px;
	background-image: url("../resources/images/add_device.png");
}

.ui-state-default .ic10 {
	
	width :42px;
	height :42px;
	top : 9px;
	left: 12px;
	background-image: url("../resources/images/edit_device.png");
}

.ui-state-default .ic11 {
	
	width :42px;
	height :46px;
	top : 9px;
	left: 12px;
	background-image: url("../resources/images/view_area.png");
}

.ui-state-default .ic12 {
	
	width :42px;
	height :46px;
	top : 9px;
	left: 12px;
	background-image: url("../resources/images/add_area.png");
}

.ui-state-default .ic13 {
	
	width :42px;
	height :46px;
	top : 9px;
	left: 12px;
	background-image: url("../resources/images/edit_area.png");
}

.toolbar_btn{
	
	width:54px;
	margin-bottom: 3px;
}

.toolbar_btn3{
	
	width:56px;
	height:50px;
	margin-bottom: 3px;
}

.toolbar_btn3 .ui-icon{
	
	width: 48px;
}

.toolbar_btn1{
	
	width:54px;
	height:44px;
	margin-bottom: 3px;
}





.ui-widget-header .ui-state-default{
	
	background-color: #e0f2fb;
	
}




.tab1  td,.tab1  tr {
	
	border: none;
	background: none;
	
}



#user_view_pan .ui-panel-titlebar, #user_detail_pan .ui-panel-titlebar, #user_edit_pan .ui-panel-titlebar,#user_add_pan .ui-panel-titlebar,
#lay2 .ui-panel-titlebar,#editForm .ui-panel-titlebar

{

	background-color: #56b2f3;
}



.myfield .ui-fieldset-legend {
	
	background-color: #5cd364;
	
}


#user_add_pan button.ui-state-default{	
	
	background-color: #dedede;
}

#user_detail_pan button.ui-state-default,#addForm button.ui-state-default,#affectForm button.ui-state-default{	
	
	background-color: #dedede;
}

#user_add_pan .valid,#addForm .valid,#affectForm .valid{
	
	background-image: url("../resources/images/valider.png");
	width:22px;
	height:22px;
	margin-top: -14px;
}

#user_add_pan .reset,#addForm .reset,#affectForm .reset{
	
	background-image: url("../resources/images/reset.png");
	width:23px;
	height:23px;
	margin-top: -14px; 
}


#user_detail_pan .retour{
	
	background-image: url("../resources/images/retour.png");
	width:23px;
	height:23px;
	margin-top: -14px; 
}

#updateForm .ui-dialog-titlebar,#updatezForm .ui-dialog-titlebar,#updatesForm .ui-dialog-titlebar{
	
	background-color: #56b2f3;
}

#updateForm .valid,#updatezForm .valid,#updatesForm .valid{
	
	background-image: url("../resources/images/valider.png");
	width:22px;
	height:22px;
	margin-top: -14px;
}

#updateForm button.ui-state-default,#updatezForm button.ui-state-default,#updatesForm button.ui-state-default{	
	
	background-color: #dedede;
}


#confirm_dlg .ui-dialog-titlebar{
	
	background-color: #56b2f3;
}

#confirm_dlg button.ui-state-default{	
	
	background-color: #dedede;
	width: 150px
}

#confirm_dlg .annuler,#updateForm .annuler,#updatezForm .annuler,#updatesForm .annuler{
	
	background-image: url("../resources/images/annuler.png");
	width:22px;
	height:22px;
	margin-top: -14px;
}

#confirm_dlg .valid{
	
	background-image: url("../resources/images/valider.png");
	width:22px;
	height:22px;
	margin-top: -14px;
}


.tab_door_conf  .ui-state-default{
	
	background-color: #5cd364;
} 

.btn_pdf {
	backgroung-image:url../resources(/images/pdf.png);
}

.btn_excel {
	backgroung-image:url../resources(/images/excel.png);
}

.addon-spam{
	background: #acbece url(/checktime-web/javax.faces.resource/images/header.png.wit?ln=primefaces-glass-x) 0% 50% repeat-x;
	padding: 4px; 
	border-radius: 4px; 
	border: 1px solid #acbece; 
	margin-left: -6px; 
	border-bottom-left-radius: 0; 
	border-top-left-radius: 0;     
	font-weight: 550;
}

.calanderWith{
	width:100px;
}

.workflow_status_validated{
	background-color: green;
}
.workflow_status_elapsed{
	background-color: red;
}

.row-color{
	background-color:#d5e1ef;
}

.chartStroke path{
  	stroke: white;
	stroke-width: 2;
}















