<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:s="http://sourceforge.net/projects/jsf-comp/acegijsf">

	<ui:define name="title">#{msg['Collabo.titre']} <ui:include
			src="CLB-HELP.xhtml" />
	</ui:define>

	<ui:define name="body">

		<ui:include src="CLB-BADGE.xhtml" />
		<ui:include src="CLB-INFO.xhtml" />
		<ui:include src="CLB-MAJ.xhtml" />
		<ui:include src="CLB-PHOTO.xhtml" />
		<p:tabView id="collabotabsId" binding="#{userBean.tabView}"
			style="width:95%;">

			<p:tab id="listedCollaboId" title="Liste des collaborateurs">
				<s:authorize ifAnyGranted="ROLE_ADMIN">
					<h:panelGrid columns="5"
						columnClasses="panelGrid-top,, panelGrid-top">
						<p:panel header="Managers">
							<h:form id="mngrForm">
								<p:selectOneListbox id="groupListId" immediate="true"
									valueChangeListener="#{userBean.managerValueChangeListener}"
									scrollHeight="130" style="width:200px;">
									<f:selectItems value="#{userBean.managers}" var="m"
										itemLabel="#{m.matricule} - #{m.nom} #{m.prenom}"
										itemValue="#{m.id}" />
									<p:ajax event="change" oncomplete="remotecomand()"
										immediate="true"></p:ajax>
								</p:selectOneListbox>
							</h:form>
						</p:panel>
						<p:spacer width="2"></p:spacer>
						<p:panel header="Groupes">
							<h:form id="groupForm">
								<p:overlayPanel id="addGroupPanel"
									widgetVar="addGroupPanelWidget"
									for=":collabotabsId:groupForm:addGroupButton" hideEffect="fade"
									my="right top">
									<h:panelGrid columns="2">
										<p:inputText placeholder="#{msg['Collabo.groupe.L1']}"
											value="#{userBean.group.name}"></p:inputText>
										<p:commandButton icon="ui-icon-check"
											action="#{userBean.saveGroup}"
											oncomplete="PF('addGroupPanelWidget').hide();"
											update="@form :collabotabsId:groupForm:groupListId" />
									</h:panelGrid>
								</p:overlayPanel>
								<h:panelGrid columns="2">
									<h:panelGrid>
										<p:commandButton id="addGroupButton" style="margin-top:5px"
											icon="ui-icon-plus" title="Ajout un groupe" />
										<p:commandButton id="addToGroupButton"
											action="#{userBean.addUsersToGroupAction}"
											oncomplete="remotecomand()" immediate="true" process="@this"
											style="margin-top:5px"
											disabled="#{empty userBean.selectedUsers or (userBean.group == null)}"
											icon="ui-icon-circle-plus" title="Ajouter dans le groupe" />
										<p:commandButton id="delToGroupButton"
											action="#{userBean.deleteUsersToGroupAction}"
											immediate="true" oncomplete="remotecomand()"
											style="margin-top:5px"
											disabled="#{(not userBean.inTheGroup) or empty userBean.selectedUsers or (userBean.group == null)}"
											icon="ui-icon-circle-minus" title="Supprimer de groupe" />
										<p:commandButton actionListener="#{userBean.deleteGroup}"
											title="Supprimer le groupe" immediate="true"
											oncomplete="remotecomand()" process="@this"
											update=":collabotabsId" disabled="#{userBean.group == null}"
											style="margin-top:5px" icon="ui-icon-close">
											<p:confirm header="#{msg['checktime.confirm.delete']}"
												message="Voullez-vous supprimer ce groupe?"
												icon="ui-icon-alert" />
										</p:commandButton>
									</h:panelGrid>
									<p:selectOneListbox id="groupListId" immediate="true"
										valueChangeListener="#{userBean.groupValueChangeListener}"
										scrollHeight="130" style="width:200px;">
										<f:selectItems value="#{userBean.groups}" var="group"
											itemLabel="#{group.name}" itemValue="#{group.id}" />
										<p:ajax event="change" oncomplete="remotecomand()"
											immediate="true" update="@form"></p:ajax>
									</p:selectOneListbox>
								</h:panelGrid>
							</h:form>
						</p:panel>
						<p:spacer width="2"></p:spacer>
						<p:panel header="Organigramme">
							<h:form id="orgmForm">
								<p:growl id="growl" life="5000" />
								<p:contextMenu for="orgmId">
									<p:menuitem value="#{msg['Collabo.L13']}"
										action="#{userBean.affectUserNodeAction}"
										icon="ui-icon-arrow-1-s" />
									<p:menuitem value="#{msg['share.btn2']}"
										oncomplete="PF('nodeDialog').show()" update=":nodeDialog"
										icon="ui-icon-pencil" />
									<p:menuitem value="#{msg['Collabo.L3']}"
										icon="ui-icon-document"
										actionListener="#{userBean.resetNodePanel}"
										update=":nodeDialog" oncomplete="PF('nodeDialog').show()" />
									<p:menuitem value="#{msg['share.btn4']}"
										oncomplete="PF('confirmation').show()" icon="ui-icon-close" />
								</p:contextMenu>
								<p:confirmDialog
									message="Etes vous sur de vouloir supprimer ce noeud ?"
									width="260" showEffect="explode" hideEffect="explode"
									header="#{msg['checktime.confirm.delete']}" severity="alert"
									widgetVar="confirmation">
									<p:commandButton value="Oui" action="#{userBean.deleteNoeud}"
										update="@form" oncomplete="PF('confirmation').hide()" />
									<p:commandButton value="Non"
										onclick="PF('confirmation').hide()" type="button" />
								</p:confirmDialog>
								<p:tree id="orgmId" value="#{userBean.treeNode}" var="node"
									animate="true" cache="false" highlight="true"
									selectionMode="single"
									style="width:280px;height:140px;overflow: auto;"
									selection="#{userBean.selectedNode}">
									<p:ajax event="select"
										update=":collabotabsId:checkCompagnieForm:dataTable"
										listener="#{userBean.handleNodeSelection}" />
									<p:treeNode>
										<h:outputText value="#{node.libelle}" />
									</p:treeNode>
								</p:tree>
							</h:form>
						</p:panel>
					</h:panelGrid>
				</s:authorize>
				<h:form id="checkCompagnieForm">
					<p:remoteCommand name="remotecomand" update="@parent"></p:remoteCommand>

					<h:panelGrid columns="1">
						<p:toolbar id="toolsId">
							<f:facet name="left">
								<s:authorize ifAnyGranted="ROLE_ADMIN">
								<p:commandButton icon="ui-icon-close"
									title="#{msg['share.btn4']}"
									actionListener="#{userBean.deleteUser}"
									update=":collabotabsId:checkCompagnieForm:dataTable"
									disabled="#{empty userBean.selectedUsers}">
									<p:confirm header="#{msg['checktime.confirm.delete']}"
										message="êtes-vous certain de supprimer les collaborateurs sélectionnées?"
										icon="ui-icon-alert" />
								</p:commandButton>
								</s:authorize>
								<p:commandButton id="btnPrint" title="#{msg['share.title1']}"
									icon="ui-icon-print" ajax="true">
								</p:commandButton>
								<p:commandButton id="btnAdd" title="Ajouter"
									oncomplete="PF('colaborateurAdd').show()"
									actionListener="#{userBean.newUser}" update=":adduserform" icon="ui-icon-plus"
									ajax="true">
								</p:commandButton>
								<p:separator />
							</f:facet>
							<f:facet name="right">
								<p:commandButton id="affectManagerBtn" title="#{msg['Collabo.L14']}"
												 icon="ui-icon-person" actionListener="#{userBean.affectManagerListener}"
												 disabled="#{empty userBean.selectedUsers}" />
								<p:commandButton id="quiteBtn"
									title="#{msg['Collabo.deactiv.titre']}" icon="ui-icon-extlink"
									disabled="#{empty userBean.selectedUsers}" />
								<p:commandButton id="affectUntBtn" title="#{msg['Collabo.L4']}"
									icon="ui-icon-calculator"
									disabled="#{empty userBean.selectedUsers}" />
								<p:commandButton id="affectHorBtn" title="#{msg['Collabo.L5']}"
									icon="ui-icon-calendar"
									disabled="#{empty userBean.selectedUsers}" />
								<p:commandButton id="searchBtn" title="#{msg['share.btn6']}"
									icon="ui-icon-search" />
								<p:commandButton id="resetBtn" rendered="false"
									title="#{msg['share.btn9']}" icon="ui-icon-arrowrefresh-1-s"
									resetValues="true" process="@this" update=":collabotabsId"
									action="#{userBean.resetSearchAction}">
									<p:resetInput target=":collabotabsId" />
								</p:commandButton>
							</f:facet>
						</p:toolbar>
						<p:overlayPanel id="printPanel" widgetVar="printPanelWidget"
							for="btnPrint" hideEffect="fade" my="right top">
							<h:panelGrid columns="2">
								<p:commandLink title="export pdf"
									actionListener="#{userBean.userReport('pdf')}" immediate="true"
									ajax="false">
									<h:graphicImage name="pdf.png" library="images"
										style="width:23px;height:23px;" />
								</p:commandLink>
								<p:commandLink title="export excel"
									actionListener="#{userBean.userReport('xls')}" immediate="true"
									ajax="false">
									<h:graphicImage name="excel.png" library="images"
										style="width:23px;height:23px;" />
								</p:commandLink>
							</h:panelGrid>
						</p:overlayPanel>
						<p:hotkey bind="esc" process="@this" resetValues="true"
							update=":collabotabsId" action="#{userBean.resetSearchAction}">
							<p:resetInput target=":collabotabsId" />
						</p:hotkey>
						<p:scrollPanel style="width:100%;" mode="native">
							<p:dataTable id="dataTable" binding="#{userBean.usersTable}"
								var="user" value="#{userBean.dataModel}" filterEvent="keyup"
								filteredValue="#{userBean.filtredUsers}" paginator="true"
								rows="10" paginatorPosition="bottom" rowIndexVar="index"
								rowStyleClass="#{index%2==0 ? 'row-color' : null}"
								paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
								lazy="true" widgetVar="dataTableWidget" selectionMode="single"
								disabledSelection="#{user.left}" rowKey="#{user.id}">
								<p:ajax event="rowDblselect"
									listener="#{userBean.onUserSelected}"
									oncomplete="PF('colaborateurAdd').show()" />
								<p:ajax event="rowSelect" listener="#{userBean.onSelectedUser}"
									oncomplete="PF('colaborateurInfos').show()" />
								<p:column exportable="false"
									style="width:13px;text-align:center"
									rendered="#{not user.left}">
									<f:facet name="header">
										<h:selectBooleanCheckbox
											value="#{userBean.dataModel.allSelected}">
											<p:ajax event="change"
												listener="#{userBean.selectAllUsersAction}"
												update="@form " />
										</h:selectBooleanCheckbox>
									</f:facet>
									<h:selectBooleanCheckbox value="#{user.flag}">
										<p:ajax event="change"
											listener="#{userBean.selectOneUsersAction(user)}"
											update="@form " />
									</h:selectBooleanCheckbox>
								</p:column>
								<p:column exportable="false" rendered="#{user.left}">
									<h:graphicImage name="deactivate.ico" library="images"
										style="width:15px;height:15px;" />
								</p:column>
								<p:column headerText="#{msg['Collabo.L6']}"
									sortBy="matricule" width="68"
									filterBy="#{user.matricule}" filterMatchMode="contains"
									filterStyle="width: 60px;">
									<t:outputText value="#{user.matricule}" />
								</p:column>
								<p:column headerText="#{msg['Collabo.L7']}" sortBy="#{user.nom}"
									filterBy="#{user.nom}" filterMatchMode="contains" filterStyle="width: 94px;">
									<h:outputText value="#{user.nom} #{user.prenom}" />
								</p:column>
								<p:column headerText="#{msg['Collabo.L8']}"
									sortBy="#{user.unit.libelle}" filterBy="#{user.unit.libelle}" filterStyle="width: 92px;">
									<h:outputText value="#{user.unit.libelle}" />
								</p:column>
								<p:column headerText="#{msg['Collabo.L9']}"
									sortBy="#{user.profilMetier.libelle}"
									filterBy="#{user.profilMetier.libelle}" filterStyle="width: 92px;">
									<h:outputText value="#{user.profilMetier.libelle}" />
								</p:column>
								<p:column headerText="#{msg['Collabo.L10']}"
									sortBy="#{user.planning.libelle}"
									filterBy="#{user.planning.libelle}" filterStyle="width: 95px;">
									<h:outputText value="#{user.planningAffected.libelle}" />
								</p:column>
								<p:column headerText="date Emb" filterMaxLength="8"
									 width="60" filterBy="#{user.dateEmb}"
									filterMatchMode="contains" filterStyle="width: 50px;">
									<h:outputText value="#{user.dateEmb}">
										<f:convertDateTime type="date" pattern="yyyy/MM/dd" />
									</h:outputText>
								</p:column>
								<p:column headerText="Badge" width="56"
									filterBy="#{user.badge}" filterMatchMode="contains"
									filterStyle="width: 45px;">
									<h:outputText value="#{user.badge}" />
								</p:column>
								<p:column headerText="Grade"  width="40"
									filterBy="#{user.grade}" filterMatchMode="exact"
									filterStyle="width: 25px;" style="text-align:center">
									<h:outputText value="#{user.grade}" />
								</p:column>
								<p:column headerText="Statut" width="70"
									filterBy="#{user.active}" filterMatchMode="exact"
									filterStyle="width: 60px;" style="text-align:center">
									<f:facet name="filter">
										<p:selectOneMenu onchange="PF('dataTableWidget').filter()">
											<f:selectItem itemLabel="Tous" itemValue="#{null}"
												noSelectionOption="true" />
											<f:selectItem itemLabel="Active" itemValue="true" />
											<f:selectItem itemLabel="Inactive" itemValue="false" />
										</p:selectOneMenu>
									</f:facet>
									<h:outputText styleClass="#{user.active?'conge':'absence'}"
										value="#{user.active?'Active':'Inactive'}" />
								</p:column>
								<p:column style="width:20px">
									<p:commandButton icon="ui-icon-pencil" ajax="true"
										action="#{userBean.editUser(user.id)}"
										oncomplete="PF('colaborateurAdd').show()">
									</p:commandButton>
								</p:column>
							</p:dataTable>
						</p:scrollPanel>
					</h:panelGrid>
					<p:confirmDialog global="true" showEffect="fade"
						hideEffect="explode">
						<p:commandButton value="#{msg['share.boolean.yes']}" type="button"
							styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
						<p:commandButton value="#{msg['share.boolean.no']}" type="button"
							styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					</p:confirmDialog>
				</h:form>
			</p:tab>
			<!--
			<p:tab id="editCollaboId" title="#{msg['Collabo.add.titre']}">
				<h:form id="adduserform" style="position: relative;"
					enctype="multipart/form-data">
					<p:growl id="growl" life="5000" />
					<h:inputHidden value="#{userBean.user.id}" />
					<p:tabView id="addCollaboId" orientation="left">
						<p:tab title="#{msg['Collabo.add.titre1']}" id="general">
							<h:panelGrid columns="2"
								columnClasses="panelGrid-top,panelGrid-top" width="650"
								style="height:245px;">
								<h:panelGrid columns="3"
									columnClasses="panelGrid-top,panelGrid-top,panelGrid-top">
									<img
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" />
									<h:panelGroup style="display:block; text-align:left">
										<p:outputLabel styleClass="mode" for="nom"
											value="#{msg['Collabo.add.L1']}" />
									</h:panelGroup>
									<p:inputText required="true" id="nom"
										value="#{userBean.user.nom}">
										<f:validateRegex pattern="[a-zA-Zéàèùôûçêâ\s.-]+" />
										<f:validateLength maximum="30" minimum="3" />
									</p:inputText>
									<img
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" />
									<h:panelGroup style="display:block; text-align:left">
										<p:outputLabel styleClass="mode" for="prenom"
											value="#{msg['Collabo.add.L2']}" />
									</h:panelGroup>
									<p:inputText required="true" id="prenom"
										value="#{userBean.user.prenom}">
										<f:validateRegex pattern="[a-zA-Zéàèùôûçêâ\s.-]+" />
										<f:validateLength maximum="30" minimum="3" />
									</p:inputText>
									<img
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" />
									<h:panelGroup style="display:block; text-align:left">
										<p:outputLabel styleClass="mode" for="numcin"
											value="#{msg['Collabo.add.L3']}" />
									</h:panelGroup>
									<p:inputText id="numcin" value="#{userBean.user.cinNum}" />
									<img
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" />
									<h:panelGroup style="display:block; text-align:left">
										<p:outputLabel styleClass="mode" for="naissloc"
											value="#{msg['Collabo.add.L4']}" />
									</h:panelGroup>
									<p:inputText id="naissloc" value="#{userBean.user.naissLoc}" />
									<img
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" />
									<h:panelGroup style="display:block; text-align:left">
										<p:outputLabel styleClass="mode" for="dateNaiss"
											value="#{msg['Collabo.add.L5']}" />
									</h:panelGroup>
									<p:calendar id="dateNaiss" value="#{userBean.user.dateNaiss}"
										pattern="dd/MM/yyyy" showButtonPanel="false" navigator="true"
										mindate="01/01/1953" maxdate="01/01/1997" />
									<img
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" />
									<h:panelGroup style="display:block; text-align:left">
										<p:outputLabel styleClass="mode" for="adress"
											value="#{msg['Collabo.add.L6']}" />
									</h:panelGroup>
									<p:inputTextarea id="adress"
										value="#{userBean.user.adressPostale}" rows="6" />
								</h:panelGrid>
								<h:panelGrid columns="3"
									columnClasses="panelGrid-top,panelGrid-top,panelGrid-top">
									<img
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" />
									<h:panelGroup style="display:block; text-align:left">
										<p:outputLabel styleClass="mode" for="observ"
											value="#{msg['Collabo.add.L7']}" />
									</h:panelGroup>
									<p:inputTextarea id="observ"
										value="#{userBean.user.observations}" />
									<img
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" />
									<h:panelGroup style="display:block; text-align:left">
										<p:outputLabel styleClass="mode" for="UserImage"
											value="PHOTO :" />
									</h:panelGroup>
									<p:graphicImage value="#{userBean.getUrlImage()}.png"
										id="UserImage" styleClass="mode"
										style="display:block; text-align:right; height:100px; width:90px; border: 1px solid #acbece; padding-right:0px;" />

									<h:panelGroup
										style="display:block; text-align:left;visibility:hidden;">
										<p:outputLabel styleClass="mode" for="observ" value="Photo :" />
									</h:panelGroup>
									<img
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" style="visibility: hidden;" />

									<p:commandButton id="btn_ajt_photo" value="Ajouter Photo"
										icon="ui-icon-plus"
										oncomplete="PF('ColaborateurPhoto').show()" />
									<ui:include src="CLB-PHOTO.xhtml" />
								</h:panelGrid>
							</h:panelGrid>
						</p:tab>
						<p:tab title="#{msg['Collabo.add.titre2']}" id="prof">
							<h:panelGrid columns="2"
								columnClasses="panelGrid-top,panelGrid-top" width="650"
								style="height:245px;">
								<h:panelGrid columns="3"
									columnClasses="panelGrid-top,panelGrid-top,panelGrid-top">
									<img
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" />
									<h:panelGroup style="display:block; text-align:left">
										<p:outputLabel styleClass="mode" for="dateemb"
											value="#{msg['Collabo.add.L8']}" />
									</h:panelGroup>
									<p:calendar required="true" id="dateemb"
										value="#{userBean.user.dateEmb}" pattern="dd/MM/yyyy"
										showButtonPanel="false" navigator="true" />
									<img
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" />
									<h:panelGroup style="display:block; text-align:left">
										<p:outputLabel styleClass="mode" for="cnssnum"
											value="#{msg['Collabo.add.L9']}" />
									</h:panelGroup>
									<p:inputText id="cnssnum" value="#{userBean.user.cnssNum}" />
									<img
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" />
									<h:panelGroup style="display:block; text-align:left">
										<p:outputLabel styleClass="mode" for="fct"
											value="#{msg['Collabo.add.L10']}" />
									</h:panelGroup>
									<p:selectOneListbox id="fct" required="true"
										value="#{userBean.profilMetier.id}" scrollHeight="80"
										style="width:160px;" filter="true"
										filterMatchMode="startsWith">
										<f:selectItems value="#{userBean.fonctions}" var="fct"
											itemLabel="#{fct.libelle}" itemValue="#{fct.id}" />
									</p:selectOneListbox>
									<img
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" />
									<h:panelGroup style="display:block; text-align:left">
										<p:outputLabel styleClass="mode" for="unit"
											value="#{msg['Collabo.add.L11']}" />
									</h:panelGroup>
									<p:selectOneListbox id="unit" required="true"
										value="#{userBean.user.unit.id}" scrollHeight="100"
										style="width:160px;">
										<f:selectItems value="#{userBean.unites}" var="unite"
											itemLabel="#{unite.libelle}" itemValue="#{unite.id}" />
									</p:selectOneListbox>
									<p:spacer />
									<p:spacer />
									<p:spacer />
								</h:panelGrid>
								<h:panelGrid columns="3"
									columnClasses="panelGrid-top,panelGrid-top,panelGrid-top">
									<img
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" />
									<h:panelGroup style="display:block; text-align:left">
										<p:outputLabel styleClass="mode" for="contrat"
											value="#{msg['Collabo.add.L19']}" />
									</h:panelGroup>
									<p:selectOneMenu id="contrat" required="true"
										value="#{userBean.user.typeContrat}">
										<f:selectItem itemLabel="CDI" itemValue="CDI" />
										<f:selectItem itemLabel="CDD" itemValue="CDD" />
										<f:selectItem itemLabel="interim" itemValue="Interim" />
										<f:selectItem itemLabel="Saisonnier" itemValue="Saisonnier" />
									</p:selectOneMenu>
									<img
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" />
									<h:panelGroup style="display:block; text-align:left">
										<p:outputLabel styleClass="mode" for="grade" value="grade" />
									</h:panelGroup>
									<p:inputText required="false" id="grade"
										value="#{userBean.user.grade}" />
									<img
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" />
									<h:panelGroup style="display:block; text-align:left">
										<p:outputLabel styleClass="mode" for="pos"
											value="#{msg['Collabo.add.L12']}" />
									</h:panelGroup>
									<p:tree id="pos" value="#{userBean.treeNode}" var="node"
										widgetVar="organigramme"
										style="width:220px;height:230px;overflow: auto;"
										selectionMode="single" selection="#{userBean.selectedNode}"
										dynamic="true" cache="true">
										<p:ajax event="select"
											update=":collabotabsId:adduserform:growl"
											listener="#{userBean.onNodeSelect}" />
										<p:treeNode>
											<h:panelGroup style="display:block; text-align:left">
												<h:outputText value="#{node.libelle}" />
											</h:panelGroup>
										</p:treeNode>
									</p:tree>
								</h:panelGrid>
							</h:panelGrid>
						</p:tab>
						<p:tab title="#{msg['Collabo.add.titre3']}" id="system">
							<h:panelGrid columns="3"
								columnClasses="panelGrid-top,panelGrid-top" width="650"
								style="height:245px;">
								<h:panelGrid columns="3"
									columnClasses="panelGrid-top,panelGrid-top,panelGrid-top">
									<img
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" />
									<h:panelGroup style="display:block; text-align:left">
										<p:outputLabel styleClass="mode" for="mat"
											value="#{msg['Collabo.add.L13']}" />
									</h:panelGroup>
									<p:inputMask required="true" id="mat"
										value="#{userBean.user.matricule}" size="14" maxlength="4"
										mask="9?999" />
									<img
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" />
									<h:panelGroup style="display:block; text-align:left">
										<p:outputLabel styleClass="mode" for="badge"
											value="#{msg['Collabo.add.L14']}" />
									</h:panelGroup>

									<h:panelGroup style="display:block;">
										<p:inputText required="true" id="badge"
											value="#{userBean.user.badge}" size="12" readonly="true" />
										<p:spacer width="2"></p:spacer>
										<p:commandButton id="btn_ajout_badge" icon="ui-icon-plus"
											oncomplete="PF('colaborateurBadge').show()" />
									</h:panelGroup>


									<img
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" />
									<h:panelGroup style="display:block; text-align:left">
										<p:outputLabel styleClass="mode" for="manager"
											value="#{msg['Collabo.add.L20']}" />
									</h:panelGroup>
									<p:selectOneListbox id="manager" value="#{userBean.manager.id}"
										style="width:120px; height:180px" scrollHeight="180">
										<f:selectItem itemValue="#{0}" itemLabel="" />
										<f:selectItems value="#{userBean.managers}" var="m"
											itemLabel="#{m.matricule} - #{m.nom}" itemValue="#{m.id}" />
									</p:selectOneListbox>
								</h:panelGrid>
								<h:panelGrid columns="3"
									columnClasses="panelGrid-top,panelGrid-top,panelGrid-top">
									<s:authorize ifAnyGranted="ROLE_ADMIN">
										<div style="display: flex;">
											<img style="height: 11px;"
												src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
												alt="" />
											<h:panelGroup
												style="display:block; text-align:left; width: 182px;">
												<p:outputLabel styleClass="mode" for="role" value="Etat :" />
											</h:panelGroup>
											<p:selectOneMenu id="state" required="true"
												style="width:154px;" value="#{userBean.user.active}">
												<f:selectItem itemLabel="Actif" itemValue="true" />
												<f:selectItem itemLabel="Inactif" itemValue="false" />
											</p:selectOneMenu>
										</div>
										<p:spacer height="5" />
										<div style="display: flex;">
											<img style="height: 11px;"
												src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
												alt="" />
											<h:panelGroup
												style="display:block; text-align:left; width: 182px;">
												<p:outputLabel styleClass="mode" for="role"
													value="#{msg['Collabo.add.L15']}" />
											</h:panelGroup>
											<p:selectOneListbox id="role" value="#{userBean.roleId}"
												style="width:150px;height:100px">
												<f:selectItems value="#{userBean.roles}" var="role"
													itemLabel="#{role.libelle}" itemValue="#{role.id}" />
											</p:selectOneListbox>
										</div>
										<p:spacer height="5" />
										<div style="display: flex;">
											<img style="height: 11px;"
												src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
												alt="" />
											<h:panelGroup
												style="display:block; text-align:left; width: 182px;">
												<p:outputLabel styleClass="mode" for="login"
													value="#{msg['Collabo.add.L16']}" />
											</h:panelGroup>
											<p:inputText id="login" value="#{userBean.user.login}" />

										</div>
										<p:spacer height="5" />
										<div style="display: flex;">
											<img style="height: 11px;"
												src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
												alt="" />
											<h:panelGroup
												style="display:block; text-align:left; width: 182px; ">
												<p:outputLabel styleClass="mode" for="passwd"
													value="#{msg['Collabo.add.L17']}" />
											</h:panelGroup>
											<p:password id="passwd" redisplay="true"
												value="#{userBean.user.password}" match="repasswd">
												<p:ajax event="change" immediate="true"
													listener="#{userBean.resetPasswordListener('true')}">
												</p:ajax>
											</p:password>
										</div>
										<p:spacer height="5" />
										<div style="display: flex;">
											<img style="height: 11px;"
												src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
												alt="" />
											<h:panelGroup
												style="display:block; text-align:left; width: 182px;">
												<p:outputLabel styleClass="mode" for="repasswd"
													value="#{msg['Collabo.add.L18']}" />
											</h:panelGroup>
											<p:password id="repasswd" redisplay="true"
												value="#{userBean.user.password}"></p:password>
										</div>

									</s:authorize>
								</h:panelGrid>
							</h:panelGrid>
						</p:tab>
					</p:tabView>
					<p:spacer height="10"></p:spacer>
					<h:panelGroup
						style="display:block; text-align:right;vertical-align:bottom;">
						<p:commandButton value="Reset" process="@this"
							icon="ui-icon-power" type="reset" update="@form"></p:commandButton>
						<p:commandButton value="#{msg['share.btn8']}"
							action="#{userBean.saveUser}" icon="ui-icon-check"
							update=":collabotabsId @form" oncomplete="remotecomand()" />
					</h:panelGroup>
				</h:form>
			</p:tab>
			-->
<!--
			<p:tab id="importCollaboId" title="Importation des collaborateurs">
                <h:form id="impuserform" enctype="multipart/form-data">
                    <h:panelGrid columns="5"
                                 columnClasses="panelGrid-top,, panelGrid-top">
                        <p:panel header="Users">
                                <p:fileUpload value="#{importBean.uploadFile}" id="userUpload"
                                              auto="true" skinSimple="true"
                                              fileUploadListener="#{importBean.uploadUserFileListener}"/>
                                &lt;!&ndash;<p:commandButton value="Valider" action="#{importBean.saveImportedUsersAction}"&ndash;&gt;
                                                 &lt;!&ndash;update=":collabotabsId:checkCompagnieForm" ajax="false"/>&ndash;&gt;
                        </p:panel>
                        <p:panel header="Noeuds">
                            <p:fileUpload value="#{importBean.uploadFile}" id="Noeud"
                                          auto="true" skinSimple="true"
                                          fileUploadListener="#{importBean.uploadNoeudFileListener}"/>
                        </p:panel>
                        <p:panel header="Units">
                            <p:fileUpload value="#{importBean.uploadFile}" id="Units"
                                          auto="true" skinSimple="true"
                                          fileUploadListener="#{importBean.uploadUnitFileListener}"/>
                        </p:panel>
                    </h:panelGrid>


                    <t:saveState id="uploadeduserStatId" value="#{importBean.users}"></t:saveState>
					<p:dataTable var="user" value="#{importBean.users}" rendered="#{not empty importBean.users}"
						id="uploadedUsersId" paginator="true" rows="10" paginatorPosition="bottom" rowIndexVar="index"
						paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
						selection="#{importBean.selectedUsers}" rowKey="#{user.matricule}">
						<f:facet name="header">Veuillez valider l'importation de la liste suivante</f:facet>
						<p:ajax event="rowSelectCheckbox" immediate="true" async="true"/>
						<p:ajax event="rowUnselectCheckbox" immediate="true" async="true"/>
						<p:column exportable="false" selectionMode="multiple" style="width:16px;text-align:center" rendered="#{not user.left}"/>
						<p:column headerText="#{msg['Collabo.L6']}" sortBy="#{user.matricule}"
							filterBy="#{user.matricule}" filterMatchMode="contains" width="120">
								<h:outputText value="#{user.matricule}" />
						</p:column>
						<p:column width="120" headerText="#{msg['Collabo.L7']}" sortBy="#{user.nom}" filterBy="#{user.nom}" filterMatchMode="contains">
							<h:outputText value="#{user.nom} #{user.prenom}"/>
						</p:column>
						<p:column headerText="#{msg['Collabo.L8']}" sortBy="#{user.unit.libelle}"
							filterBy="#{user.unit.libelle}">
							<h:outputText value="#{user.unit.libelle}" />
						</p:column>
						<p:column headerText="#{msg['Collabo.L9']}" sortBy="#{user.profilMetier.libelle}"
							filterBy="#{user.profilMetier.libelle}">
							<h:outputText value="#{user.profilMetier.libelle}" />
						</p:column>
						<p:column headerText="Position" sortBy="#{user.noeud.libelle}"
							filterBy="#{user.noeud.libelle}">
							<h:outputText value="#{user.noeud.libelle}" />
						</p:column>
						<p:column headerText="#{msg['Collabo.L11']}" width="120" filterMaxLength="8" sortBy="#{user.dateEmb}" filterBy="#{user.dateEmb}" filterMatchMode="contains">
							<h:outputText value="#{user.dateEmb}" >
								<f:convertDateTime type="date" pattern="dd-MM-yyyy"/>
							</h:outputText>
						</p:column>
					</p:dataTable>
				</h:form>
			</p:tab>-->

		</p:tabView>


		<p:overlayPanel id="searchPanel" widgetVar="searchPanelWidget"
			for=":collabotabsId:checkCompagnieForm:searchBtn" hideEffect="fade"
			my="right top">
			<h:form>
				<h:panelGrid columns="2">
					<p:inputText placeholder="#{msg['Collabo.search.L1']}"
						value="#{userBean.criteria.matriculeInf}"></p:inputText>
					<p:spacer></p:spacer>
					<p:inputText placeholder="#{msg['Collabo.search.L2']}"
						value="#{userBean.criteria.matriculeSup}"></p:inputText>
					<p:commandButton icon="ui-icon-check"
						update=":collabotabsId:checkCompagnieForm:dataTable"
						oncomplete="PF('searchPanelWidget').hide()" />
				</h:panelGrid>
			</h:form>
		</p:overlayPanel>


		<p:overlayPanel id="affecctUnitPanel"
			widgetVar="affecctUnitPanelWidget"
			for=":collabotabsId:checkCompagnieForm:affectUntBtn"
			hideEffect="fade" my="right top">
			<h:form id="affectUnitForm">
				<h:panelGrid columns="1">
					<p:tree id="unitId" value="#{unitBean.treeNode}" var="unitnode"
						style="width:250px;height:80px;overflow: auto;"
						selectionMode="single" selection="#{unitBean.selectedNode}"
						dynamic="true">
						<p:treeNode>
							<h:outputText value="#{unitnode.libelle}" />
						</p:treeNode>
					</p:tree>
					<p:commandButton icon="ui-icon-check"
						actionListener="#{userBean.affectUserUniteAction(unitBean.selectedNode)}"
						oncomplete="PF('affecctUnitPanelWidget').hide()"
						update=":collabotabsId:checkCompagnieForm:dataTable" />
				</h:panelGrid>
			</h:form>
		</p:overlayPanel>

		<p:overlayPanel id="affecctHorPanel" widgetVar="affecctHorPanelWidget"
			for=":collabotabsId:checkCompagnieForm:affectHorBtn"
			hideEffect="fade" my="right top">
			<h:form id="affectHorForm">
				<h:panelGrid columns="1">
					<h:panelGrid columns="2"
						columnClasses="panelGrid-top,panelGrid-top,panelGrid-top">
						<img
							src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
							alt="" />
						<h:panelGroup style="display:block; text-align:left">
							<p:outputLabel styleClass="mode" for="hor1"
								value="#{msg['Collabo.affPl.L1']}" />
						</h:panelGroup>
						<p:spacer></p:spacer>
						<p:selectOneListbox id="hor1" required="true"
							value="#{planningBean.planningId}" scrollHeight="70"
							style="width:200px;height:70px" rendered="true">
							<f:selectItems value="#{planningBean.plannings}" var="p"
								itemLabel="#{p.libelle}" itemValue="#{p.id}" />
						</p:selectOneListbox>
						<p:spacer></p:spacer>
					</h:panelGrid>
					<h:panelGrid columns="3">
						<p:calendar pattern="dd/MM/yyyy" placeholder="Date début"
							maxlength="10" size="10" value="#{userBean.dateDebut}">
						</p:calendar>
						<p:calendar pattern="dd/MM/yyyy" placeholder="Date fin"
							maxlength="10" size="10" value="#{userBean.dateFin}">
						</p:calendar>
						<p:commandButton icon="ui-icon-check"
							action="#{userBean.affectUserHorAction(planningBean.planningId)}"
							update=":collabotabsId:checkCompagnieForm"
							oncomplete="PF('affecctHorPanelWidget').hide()" />
					</h:panelGrid>

				</h:panelGrid>
			</h:form>
		</p:overlayPanel>

		<p:overlayPanel id="quitePanel" widgetVar="quitePanelWidget"
			for=":collabotabsId:checkCompagnieForm:quiteBtn" hideEffect="fade"
			my="right top">
			<h:form id="quitForm">
				<h:panelGrid columns="1">
					<h:panelGrid columns="2"
						columnClasses="panelGrid-top,panelGrid-top,panelGrid-top">
						<img
							src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
							alt="" />
						<h:panelGroup style="display:block; text-align:left">
							<p:outputLabel styleClass="mode" for="datequite"
								value="#{msg['Collabo.deactiv.L1']}" />
						</h:panelGroup>
						<p:spacer></p:spacer>
						<p:calendar id="datequite" pattern="dd/MM/yyyy"
							placeholder="Date quite" maxlength="10" size="10"
							value="#{userBean.dateFin}" required="true">
						</p:calendar>
						<p:spacer></p:spacer>
					</h:panelGrid>
					<p:commandButton icon="ui-icon-check"
						action="#{userBean.updateDesactivatedUser}"
						update=":collabotabsId:checkCompagnieForm"
						oncomplete="PF('quitePanelWidget').hide()" />
				</h:panelGrid>
			</h:form>
		</p:overlayPanel>

		<p:dialog id="nodeDialog" widgetVar="nodeDialog"
			header="#{msg['Collabo.node.edite.titre']} #{userBean.noeud.noeud.id}" resizable="true"
			showEffect="explode" hideEffect="explode">
			<h:form>
				<h:inputHidden value="#{userBean.noeud.id}" />
				<h:messages errorClass="error" />
				<h:panelGrid columns="3">
					<img
						src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
						alt="" />
					<p:outputLabel for="code" value="#{msg['Collabo.node.edite.L3']}"
						styleClass="form-label" />
					<p:selectOneMenu id="fct" required="true"
						value="#{userBean.noeud.noeud.id}" scrollHeight="80"
						style="width:160px;" filter="true" filterMatchMode="startsWith">
						<f:selectItems value="#{userBean.noeuds}" var="nd"
							itemLabel="#{nd.libelle}" itemValue="#{nd.id}" />
					</p:selectOneMenu>
					<img
						src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
						alt="" />
					<p:outputLabel for="code" value="#{msg['Collabo.node.edite.L1']}"
						styleClass="form-label" />
					<p:inputText id="code" disabled="#{userBean.noeud.id != 0}"
						value="#{userBean.noeud.code}" />
					<img
						src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
						alt="" />
					<p:outputLabel for="libelle"
						value="#{msg['Collabo.node.edite.L2']}" styleClass="form-label" />
					<p:inputText id="libelle" value="#{userBean.noeud.libelle}" />
				</h:panelGrid>
				<p:commandButton value="#{msg['share.btn7']}"
					action="#{userBean.saveNode}" update=":collabotabsId:orgmForm"
					oncomplete="PF('nodeDialog').hide()" />
			</h:form>
		</p:dialog>

	</ui:define>

</ui:composition>
