<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	
	<p:dialog header="Aide - coloborateur" widgetVar="helpDialog" modal="true" height="600px" width="80%">
	<link rel="stylesheet" type="text/css" href="../../../resources/css/HelpStyle.css"/>
	<div class="backColor">
		<div class="container">
			<div>
				<h2>Affichage des collaborateurs</h2>
				<div class="col-12">
					<li class="ListItem">La liste des collaborateurs affichés contient les informations suivantes :</li>
					<ul>
			            <li>Matricule du collaborateur</li>
						<li>Nom et Prénom du collaborateur</li>
						<li>Unité de travail</li>
						<li>Fonction du collaborateur</li>
						<li>Planning affecté</li>
						<li>Date d’embauche</li>
						<li>N° de badge</li>
			        </ul>
			        <div class="imageStyle">
						<img src="../../../resources/images/CLB-HELP/CLB-HELP_COLABORATEURLIST.png" />
					</div>
				</div>
				<br/>
				<br/>	
				<div>
					<div>
						<li class="ListItem">
							Cet écran permet d’effectuer certaines opérations sur les collaborateurs déjà répertoriés, 
							d’ajouter ou de modifier un collaborateur ou d’importer une liste de collaborateur.
						</li>
					</div>
					<br/>	
					<div class="imageStyle">
						<img src="../../../resources/images/CLB-HELP/CLB-HELP_ToolBar.png" />
					</div>
				</div>
				<br/>
				<br/>	
				<div>
					<li class="ListItem">
						Ci-dessous trois filtres sur la table de collaborateurs soit en sélectionnant un supérieur hiérarchique ou un groupe de
						 collaborateurs ou une entêté dans l’organigramme.
					</li>
					<br/>		
					<div class="imageStyle">
						<img src="../../../resources/images/CLB-HELP/CLB-HELP_MGO.png"/>
					</div>
				</div>
				<br/>
				<br/>	
				<div>
					<li class="ListItem">
						En cliquant droit de la sourie sur une entêté d’organigramme, le menu ci-dessous sera affiché :
					</li>
					<DIV class="imageStyle">
						<img src="../../../resources/images/CLB-HELP/CLB-HELP_Organigramme.png"/>
					</DIV>
				</div>
			</div>
			<br/>
			<hr/>
			<br/>
			<div>
				<h2>Ajouter un nouveau Collaborateur</h2>
				<div>
					<li class="ListItem">
						Pour accéder au formulaire de création d’un nouveau collaborateur, on click sur l’onglet
						« Collaborateur » :
					</li>
					<div class="imageStyle">
						<img src="../../../resources/images/CLB-HELP/CLB-HELP_NewCol.png" />
					</div>
					<div>
						<p>L’opération de création passe par trois étapes :</p>
						<ul>
						 	<li>Données personnelles : Nom, Prénom, N° CIN…</li>
							<li>Données professionnelles : Date d’embauche, contrat, N° CNSS…</li>
							<li>Espace Checktime : Matricule, N° badge, Rôle, nom d’utilisateur, mot de passe…</li>
						</ul>
						<p>
							Après la saisie des informations, l’utilisateur soit annuler le formulaire ou soumettre les
							données dans base de collaborateur.
						</p>
					</div>
				</div>
			</div>
			<br/>
			<hr/>
			<br/>
			<div>
				<h2>Importer des collaborateurs</h2>
				<div>
					<li class="ListItem">
						L’importation des collaborateurs à partir du fichier .xls est accessible via l’onglet « Importation des
						collaborateurs ».
					</li>
					<div class="imageStyle">
						<img src="../../../resources/images/CLB-HELP/CLB-HELP_Import Col.png" />
					</div>
					<div>
						<p>Le fichier d’import des collaborateurs doit comprendre les informations sur attributs suivants :</p>
						<ul>
						 	<li>Matricule du collaborateur</li>
							<li>Nom du collaborateur</li>
							<li>Prénom du collaborateur</li>
							<li>Code fonction du collaborateur</li>
							<li>Date d’embauche</li>
							<li>Code d’entêté dans l’organigramme où le collaborateur est positionnée</li>
						</ul>
						<h3>Informations sur l’écran</h3>
					</div>
					<div class="imageStyle">
						<IMG src="../../../resources/images/CLB-HELP/CLB-HELP_Remarque.png" />
					</div>
					<div>
						<p>
							Après qu’on choisit le fichier, on click sur le bouton « Importer », la liste à importer s’affiche
							dans une table et nécessite d’être valider pour qu’elle soit enregistrée dans la base de donnée.
							Pendant la saisie des informations, l’utilisateur a plusieurs options
						</p>
					</div>
				</div>
			</div>
		
		</div>
	</div>
	</p:dialog>
	</ui:composition>