<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<p:dialog header="COLABORATEUR - BADGES" widgetVar="colaborateurBadge">
		<h:form id="badgesform">
			<p:growl id="growl2" life="2000" />
			<h:panelGrid id="détail" columns="3" styleClass="grid"
				columnClasses=",label,value">
				<img
					src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
					alt="" />
				<h:panelGroup style="display:block; text-align:left">
					<p:outputLabel styleClass="mode" for="badgeNumber" value="N° Badge :" />
				</h:panelGroup>
				<h:panelGroup style="display:block;">
					<p:inputMask required="true" id="badgeNumber"
						value="#{userBean.badgeNumber}" size="14" mask="9?9999999999999" />
					<p:spacer width="4"></p:spacer>
					<p:commandButton icon="ui-icon-plus" styleClass="ui-confirmdialog-yes"
					actionListener="#{userBean.addBadge}" update="@form growl2" ajax="true" style="height:25px;" />
				</h:panelGroup>
				<img
					src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
					alt="" />
				<h:panelGroup style="display:block; text-align:left">
					<p:outputLabel styleClass="mode" for="listBadges"
						value="Liste des badges :" />
				</h:panelGroup>
				<p:selectOneListbox id="listBadges"
					value="#{userBean.selectedBadge}"
					style="width:141px; height:100px; overflow: auto;">
					<f:selectItems value="#{userBean.badges}" var="badge"
						itemLabel="#{badge.number}" itemValue="#{badge.number}" />
					<p:ajax process="@this" update=":badgesform"
						listener="#{userBean.onSelectBadge}" />
				</p:selectOneListbox>
			</h:panelGrid>
			<p:spacer height="12"></p:spacer>
			<p:outputPanel layout="block" style="text-align:right">
				<p:commandButton value="Supprimer" icon="ui-icon-close"
					actionListener="#{userBean.deleteBadge}" update="@form" ajax="true" />
				<p:spacer width="4"></p:spacer>
				<!--  <p:commandButton value="Valider" icon="ui-icon-check"
					actionListener="#{userBean.validateBadge}" update=":collabotabsId:adduserform:addCollaboId:badge" ajax="true" oncomplete="PF('colaborateurBadge').hide()" />
			-->
			<p:commandButton value="Valider" icon="ui-icon-check"
					actionListener="#{userBean.validateBadge}" update=":adduserform:addCollaboId:badge" ajax="true" oncomplete="PF('colaborateurBadge').hide()" />
			
			</p:outputPanel>
		</h:form>
	</p:dialog>
</ui:composition>