<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<p:dialog header="COLABORATEUR - INFOS" widgetVar="colaborateurInfos">
		<h:form id="userInfoForm">
			<h:panelGrid columns="1">
				<p:graphicImage value="#{userBean.getUrlImage()}.png" id="UserImage"
					styleClass="mode"
					style="display:block; text-align:center; height:100px; width:90px; border: 1px solid #acbece; padding-right:0px;" />
			</h:panelGrid>
			<h:panelGrid columns="2">
				<h:panelGrid columns="3"
					columnClasses="panelGrid-top,panelGrid-top,panelGrid-top">
					<img
						src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
						alt="" />
					<h:panelGroup style="display:block; text-align:left">
						<p:outputLabel styleClass="mode" value="Matricule" />
					</h:panelGroup>
					<p:outputLabel styleClass="mode" value="#{userBean.user.matricule}" />
					<!-- Nom -->
					<img
						src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
						alt="" />
					<h:panelGroup style="display:block; text-align:left">
						<p:outputLabel styleClass="mode" value="Nom" />
					</h:panelGroup>
					<p:outputLabel styleClass="mode" value="#{userBean.user.nom}" />
					<!-- Prenom -->
					<img
						src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
						alt="" />
					<h:panelGroup style="display:block; text-align:left">
						<p:outputLabel styleClass="mode" value="Prenom" />
					</h:panelGroup>
					<p:outputLabel styleClass="mode" value="#{userBean.user.prenom}" />
					<!-- profilMetier -->
					<img
						src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
						alt="" />
					<h:panelGroup style="display:block; text-align:left">
						<p:outputLabel styleClass="mode" value="Fonction" />
					</h:panelGroup>
					<p:outputLabel styleClass="mode"
						value="#{userBean.user.profilMetier eq null?'Fonction non affectée':userBean.user.profilMetier.libelle}" />
					<!-- Noeud -->
					<img
						src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
						alt="" />
					<h:panelGroup style="display:block; text-align:left">
						<p:outputLabel styleClass="mode" value="Organigramme" />
					</h:panelGroup>
					<p:outputLabel styleClass="mode"
						value="#{userBean.user.noeud eq null?'Organigramme non affectée':userBean.user.noeud.libelle}" />
					<!-- Unité -->
					<img
						src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
						alt="" />
					<h:panelGroup style="display:block; text-align:left">
						<p:outputLabel styleClass="mode" value="Unité de travail" />
					</h:panelGroup>
					<p:outputLabel styleClass="mode"
						value="#{userBean.user.unit eq null?'Unité non affectée':userBean.user.unit.libelle}" />

					<!-- Manager -->
					<img
						src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
						alt="" />
					<h:panelGroup style="display:block; text-align:left">
						<p:outputLabel styleClass="mode" value="Manager" />
					</h:panelGroup>
					<p:outputLabel styleClass="mode"
						value="#{userBean.user.supH eq null ? '' : userBean.user.supH.matricule}" />
					<!-- Planning -->
					<img
						src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
						alt="" />
					<h:panelGroup style="display:block; text-align:left">
						<p:outputLabel styleClass="mode" value="Planning" />
					</h:panelGroup>
					<p:outputLabel styleClass="mode"
						value="#{userBean.user.planning eq null?'Planning non affectée':userBean.user.planning.libelle}" />
					<!-- Badge -->
					<img
						src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
						alt="" />
					<h:panelGroup style="display:block; text-align:left">
						<p:outputLabel styleClass="mode" value="Badge" />
					</h:panelGroup>
					<p:outputLabel id="lab_badge" styleClass="mode" value="#{userBean.user.badge==null?'null':userBean.user.badge}"></p:outputLabel>
				</h:panelGrid>
			</h:panelGrid>
		</h:form>
	</p:dialog>
</ui:composition>