<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	
	<p:dialog header="COLABORATEUR - PHOTO" widgetVar="ColaborateurPhoto" modal="true">
        <p:fileUpload fileUploadListener="#{userBean.upload}" mode="advanced" dragDropSupport="false" value="#{userBean.file}" 
        	update=":adduserform:addCollaboId:UserImage"
            sizeLimit="1000000" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" 
            oncomplete="PF('ColaborateurPhoto').hide()"/>		                   
	</p:dialog>
	</ui:composition>