<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://sourceforge.net/projects/jsf-comp/acegijsf">

	<p:dialog header="#{msg['Collabo.add.titre']}" widgetVar="colaborateurAdd">
		<h:form id="adduserform" style="position: relative;"
			enctype="multipart/form-data">
			<p:growl id="growl" life="5000" />
			<h:inputHidden value="#{userBean.user.id}" />
			<p:tabView id="addCollaboId">
				<p:tab title="#{msg['Collabo.add.titre1']}" id="general">
					<h:panelGrid columns="2"
						columnClasses="panelGrid-top,panelGrid-top" width="650"
						style="height:245px;">
						<h:panelGrid columns="3"
							columnClasses="panelGrid-top,panelGrid-top,panelGrid-top">
							<img
								src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
								alt="" />
							<h:panelGroup style="display:block; text-align:left">
								<p:outputLabel styleClass="mode" for="nom"
									value="#{msg['Collabo.add.L1']}" />
							</h:panelGroup>
							<p:inputText required="true" id="nom"
								value="#{userBean.user.nom}">
								<f:validateRegex pattern="[a-zA-Zéàèùôûçêâ\s.-]+" />
								<f:validateLength maximum="30" minimum="3" />
							</p:inputText>
							<img
								src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
								alt="" />
							<h:panelGroup style="display:block; text-align:left">
								<p:outputLabel styleClass="mode" for="prenom"
									value="#{msg['Collabo.add.L2']}" />
							</h:panelGroup>
							<p:inputText required="true" id="prenom"
								value="#{userBean.user.prenom}">
								<f:validateRegex pattern="[a-zA-Zéàèùôûçêâ\s.-]+" />
								<f:validateLength maximum="30" minimum="3" />
							</p:inputText>
							<img
								src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
								alt="" />
							<h:panelGroup style="display:block; text-align:left">
								<p:outputLabel styleClass="mode" for="numcin"
									value="#{msg['Collabo.add.L3']}" />
							</h:panelGroup>
							<p:inputText id="numcin" value="#{userBean.user.cinNum}" />
							<img
								src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
								alt="" />
							<h:panelGroup style="display:block; text-align:left">
								<p:outputLabel styleClass="mode" for="naissloc"
									value="#{msg['Collabo.add.L4']}" />
							</h:panelGroup>
							<p:inputText id="naissloc" value="#{userBean.user.naissLoc}" />
							<img
								src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
								alt="" />
							<h:panelGroup style="display:block; text-align:left">
								<p:outputLabel styleClass="mode" for="dateNaiss"
									value="#{msg['Collabo.add.L5']}" />
							</h:panelGroup>
							<p:calendar id="dateNaiss" value="#{userBean.user.dateNaiss}"
								pattern="dd/MM/yyyy" showButtonPanel="false" navigator="true"
								mindate="01/01/1953" maxdate="01/01/1999" />
							<img
								src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
								alt="" />
							<h:panelGroup style="display:block; text-align:left">
								<p:outputLabel styleClass="mode" for="adress"
									value="#{msg['Collabo.add.L6']}" />
							</h:panelGroup>
							<p:inputTextarea id="adress"
								value="#{userBean.user.adressPostale}" rows="6" />
						</h:panelGrid>
						<h:panelGrid columns="3"
							columnClasses="panelGrid-top,panelGrid-top,panelGrid-top">
							<img
								src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
								alt="" />
							<h:panelGroup style="display:block; text-align:left">
								<p:outputLabel styleClass="mode" for="observ"
									value="#{msg['Collabo.add.L7']}" />
							</h:panelGroup>
							<p:inputTextarea id="observ"
								value="#{userBean.user.observations}" />
							<!-- Photo -->
							<img
								src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
								alt="" />
							<h:panelGroup style="display:block; text-align:left">
								<p:outputLabel styleClass="mode" for="UserImage" value="PHOTO :" />
							</h:panelGroup>
							<p:graphicImage value="#{userBean.getUrlImage()}.png"
								id="UserImage" styleClass="mode"
								style="display:block; text-align:right; height:100px; width:90px; border: 1px solid #acbece; padding-right:0px;" />

							<h:panelGroup
								style="display:block; text-align:left;visibility:hidden;">
								<p:outputLabel styleClass="mode" for="observ" value="Photo :" />
							</h:panelGroup>
							<img
								src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
								alt="" style="visibility: hidden;" />

							<p:commandButton id="btn_ajt_photo" value="Ajouter Photo"
								icon="ui-icon-plus" oncomplete="PF('ColaborateurPhoto').show()" />
						</h:panelGrid>
					</h:panelGrid>
				</p:tab>
				<p:tab title="#{msg['Collabo.add.titre2']}" id="prof">
					<h:panelGrid columns="2"
						columnClasses="panelGrid-top,panelGrid-top" width="650"
						style="height:245px;">
						<h:panelGrid columns="3"
							columnClasses="panelGrid-top,panelGrid-top,panelGrid-top">
							<img
								src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
								alt="" />
							<h:panelGroup style="display:block; text-align:left">
								<p:outputLabel styleClass="mode" for="dateemb"
									value="#{msg['Collabo.add.L8']}" />
							</h:panelGroup>
							<p:calendar required="true" id="dateemb"
								value="#{userBean.user.dateEmb}" pattern="dd/MM/yyyy"
								showButtonPanel="false" navigator="true" />
							<img
								src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
								alt="" />
							<h:panelGroup style="display:block; text-align:left">
								<p:outputLabel styleClass="mode" for="cnssnum"
									value="#{msg['Collabo.add.L9']}" />
							</h:panelGroup>
							<p:inputText id="cnssnum" value="#{userBean.user.cnssNum}" />
							<img
								src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
								alt="" />
							<h:panelGroup style="display:block; text-align:left">
								<p:outputLabel styleClass="mode" for="fct"
									value="#{msg['Collabo.add.L10']}" />
							</h:panelGroup>
							<p:selectOneListbox id="fct" required="true"
								value="#{userBean.profilMetier.id}" scrollHeight="80"
								style="width:160px;" filter="true" filterMatchMode="startsWith">
								<f:selectItems value="#{userBean.fonctions}" var="fct"
									itemLabel="#{fct.libelle}" itemValue="#{fct.id}" />
							</p:selectOneListbox>
							<img
								src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
								alt="" />
							<h:panelGroup style="display:block; text-align:left">
								<p:outputLabel styleClass="mode" for="unit"
									value="#{msg['Collabo.add.L11']}" />
							</h:panelGroup>
							<p:selectOneListbox id="unit" required="true"
								value="#{userBean.user.unit.id}" scrollHeight="100"
								style="width:160px;">
								<f:selectItems value="#{userBean.unites}" var="unite"
									itemLabel="#{unite.libelle}" itemValue="#{unite.id}" />
							</p:selectOneListbox>
							<p:spacer />
							<p:spacer />
							<p:spacer />
						</h:panelGrid>
						<h:panelGrid columns="3"
							columnClasses="panelGrid-top,panelGrid-top,panelGrid-top">
							<img
								src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
								alt="" />
							<h:panelGroup style="display:block; text-align:left">
								<p:outputLabel styleClass="mode" for="contrat"
									value="#{msg['Collabo.add.L19']}" />
							</h:panelGroup>
							<p:selectOneMenu id="contrat" required="true"
								value="#{userBean.user.typeContrat}">
								<f:selectItem itemLabel="CDI" itemValue="CDI" />
								<f:selectItem itemLabel="CDD" itemValue="CDD" />
								<f:selectItem itemLabel="interim" itemValue="Interim" />
								<f:selectItem itemLabel="Saisonnier" itemValue="Saisonnier" />
							</p:selectOneMenu>
							<img
								src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
								alt="" />
							<h:panelGroup style="display:block; text-align:left">
								<p:outputLabel styleClass="mode" for="grade" value="grade" />
							</h:panelGroup>
							<p:inputText id="grade"
								value="#{userBean.user.grade}" />
							<img
								src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
								alt="" />
							<h:panelGroup style="display:block; text-align:left">
								<p:outputLabel styleClass="mode" for="pos"
									value="#{msg['Collabo.add.L12']}" />
							</h:panelGroup>
							<p:tree id="pos" value="#{userBean.treeNode}" var="node"
								widgetVar="organigramme" required="true"
								style="width:220px;height:230px;overflow: auto;"
								selectionMode="single" selection="#{userBean.selectedNode}"
								dynamic="true" cache="true">
								<p:ajax event="select" update=":adduserform:growl"
									listener="#{userBean.onNodeSelect}" />
								<p:treeNode>
									<h:panelGroup style="display:block; text-align:left">
										<h:outputText value="#{node.libelle}" />
									</h:panelGroup>
								</p:treeNode>
							</p:tree>
						</h:panelGrid>
					</h:panelGrid>
				</p:tab>
				<p:tab title="#{msg['Collabo.add.titre3']}" id="system">
					<h:panelGrid columns="3"
						columnClasses="panelGrid-top,panelGrid-top" width="650"
						style="height:245px;">
						<h:panelGrid columns="3"
							columnClasses="panelGrid-top,panelGrid-top,panelGrid-top">
							<img
								src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
								alt="" />
							<h:panelGroup style="display:block; text-align:left">
								<p:outputLabel styleClass="mode" for="mat"
									value="#{msg['Collabo.add.L13']}" />
							</h:panelGroup>
							<p:inputMask required="true" id="mat"
								value="#{userBean.user.matricule}" size="14" maxlength="4"
								mask="9?999" />
							<img
								src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
								alt="" />
							<h:panelGroup style="display:block; text-align:left">
								<p:outputLabel styleClass="mode" for="badge"
									value="#{msg['Collabo.add.L14']}" />
							</h:panelGroup>

							<h:panelGroup style="display:block;">
								<p:inputText id="badge"
									value="#{userBean.user.badge}" size="12" readonly="true" />
								<p:spacer width="2"></p:spacer>
								<p:commandButton id="btn_ajout_badge" icon="ui-icon-plus"
									oncomplete="PF('colaborateurBadge').show()" />
							</h:panelGroup>


							<img
								src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
								alt="" />
							<h:panelGroup style="display:block; text-align:left">
								<p:outputLabel styleClass="mode" for="manager"
									value="#{msg['Collabo.add.L20']}" />
							</h:panelGroup>
							<p:selectOneListbox id="manager" value="#{userBean.manager.id}"
								style="width:120px; height:180px" scrollHeight="180">
								<f:selectItem itemValue="#{0}" itemLabel="" />
								<f:selectItems value="#{userBean.managers}" var="m"
									itemLabel="#{m.matricule} - #{m.nom}" itemValue="#{m.id}" />
							</p:selectOneListbox>
						</h:panelGrid>
						<h:panelGrid columns="5"
							columnClasses="panelGrid-top,panelGrid-top,panelGrid-top">
								<div style="display: flex;">
									<img style="height: 11px;"
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" />
									<h:panelGroup
										style="display:block; text-align:left; width: 182px;">
										<p:outputLabel styleClass="mode" for="role" value="Etat :" />
									</h:panelGroup>
									<p:selectOneMenu id="state" required="true"
										style="width:154px;" value="#{userBean.user.active}">
										<f:selectItem itemLabel="Actif" itemValue="true" />
										<f:selectItem itemLabel="Inactif" itemValue="false" />
									</p:selectOneMenu>
								</div>
								<p:spacer height="5" />
								<div style="display: flex;">
									<img style="height: 11px;"
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" />
									<h:panelGroup
										style="display:block; text-align:left; width: 182px;">
										<p:outputLabel styleClass="mode" for="role"
											value="#{msg['Collabo.add.L15']}" />
									</h:panelGroup>
									<p:selectOneListbox id="role" value="#{userBean.roleId}"
										style="width:150px;height:100px" required="true">
										<f:selectItems value="#{userBean.roles}" var="role"
											itemLabel="#{role.libelle}" itemValue="#{role.id}" />
									</p:selectOneListbox>
								</div>
								<p:spacer height="5" />
								<div style="display: flex;">
									<img style="height: 11px;"
										 src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										 alt="" />
									<h:panelGroup
											style="display:block; text-align:left; width: 182px;">
										<p:outputLabel styleClass="mode" for="login"
													   value="#{msg['Collabo.add.L22']}" />
									</h:panelGroup>
									<p:selectBooleanCheckbox id="show" value="#{userBean.showLoginPass}" >
										<p:ajax event="valueChange"
												update=":adduserform:addCollaboId:login :adduserform:addCollaboId:loginlabel :adduserform:addCollaboId:passwd :adduserform:addCollaboId:passwdlabel :adduserform:addCollaboId:repasswd :adduserform:addCollaboId:repasswdlabel ">
										</p:ajax>
									</p:selectBooleanCheckbox>
								</div>
								<p:spacer height="5" style="display:#{userBean.showLoginPass?'flex':'none'};"/>
								<div style="display:flex;">
									<h:panelGroup id="loginlabel"
										style="display:#{userBean.showLoginPass?'block':'none'}; text-align:left; width: 182px;">
										<p:outputLabel styleClass="mode label-arrow" for="login"
											value="#{msg['Collabo.add.L16']}" />
									</h:panelGroup>
									<p:inputText id="login" value="#{userBean.user.login}" style="display:#{userBean.showLoginPass?'block':'none'};"/>
								</div>
								<p:spacer height="5"/>
								<div style="display:flex">
									<h:panelGroup id="passwdlabel"
												  style="display:#{userBean.showLoginPass?'block':'none'}; text-align:left; width: 182px;">
										<p:outputLabel styleClass="mode label-arrow" for="passwd"
											value="#{msg['Collabo.add.L17']}" />
									</h:panelGroup>
									<p:password id="passwd" redisplay="true" style="display:#{userBean.showLoginPass?'block':'none'};"
										value="#{userBean.user.password}" match="repasswd">
										<p:ajax event="change" immediate="true"
											listener="#{userBean.resetPasswordListener('true')}">
										</p:ajax>
									</p:password>
								</div>
								<p:spacer height="5" />
								<div style="display:flex;">
									<h:panelGroup id="repasswdlabel"
											style="display:#{userBean.showLoginPass?'block':'none'}; text-align:left; width: 182px;">
										<p:outputLabel styleClass="mode label-arrow" for="repasswd"
											value="#{msg['Collabo.add.L18']}" />
									</h:panelGroup>
									<p:password id="repasswd" redisplay="true" style="display:#{userBean.showLoginPass?'block':'none'};"
										value="#{userBean.user.password}"></p:password>
								</div>
						</h:panelGrid>
					</h:panelGrid>
				</p:tab>
			</p:tabView>
			<p:spacer height="10"></p:spacer>
			<h:panelGroup
				style="display:block; text-align:right;vertical-align:bottom;">
				<p:commandButton value="Reset" process="@this" icon="ui-icon-power"
					type="reset" update="@form :collabotabsId:checkCompagnieForm:dataTable"></p:commandButton>
				<p:commandButton value="#{msg['share.btn8']}"
					action="#{userBean.saveUser}" icon="ui-icon-check"
					update=":collabotabsId:checkCompagnieForm:dataTable @form" oncomplete="if (args &amp;&amp; !args.validationFailed) {PF('colaborateurAdd').hide(); remotecomand()}" />
			</h:panelGroup>
		</h:form>
	</p:dialog>
</ui:composition>