<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">
<h:form id="checktime_menu">				
	   	<!-- Tableau d'infos complémentaires -->
		<!-- Fin Tableau d'infos complémentaires -->
        <!-- Tableau d'infos complémentaires -->
        <!-- FIN CONTENU Infos complémentaires -->
        <!-- TITRE NAVIGATION -->
<table border="0" cellpadding="0" cellspacing="0">
		<tr><td class="sectionbg">Navigation : </td>
		</tr>
		<tr><td>
		
			<!-- Table des liens de consultation -->
			<table width="200"  border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
			  <td  class="treelink"><img src="/checktime-suite/resources/bitmap/treeview/puce-blanche2.gif"/>&nbsp;<a href="TDB-1.htm" target="_parent" class="linktree">Organigrame </a></td>
			</tr>
			<tr>
			  <td class="treelink"><img src="/checktime-suite/resources/bitmap/treeview/puce-blanche2.gif"/>&nbsp;<a href="TDB-2.htm" target="_parent" class="linktree">Profils Métiers </a></td>
			</tr>
			<tr>
			  <td class="treelink"><img src="/checktime-suite/resources/bitmap/treeview/puce-blanche2.gif"/>&nbsp;<a href="TDB-2.htm" target="_parent" class="linktree">Locaux </a></td>
			</tr>
			<tr>
			  <td class="treelink"><img src="/checktime-suite/resources/bitmap/treeview/puce-blanche2.gif"/>&nbsp;<a href="TDB-3.htm" target="_parent" class="linktree">Collaborateurs </a></td>
			</tr>
			</table>
			 
			<!-- Fin Table des liens de consultation -->
		
		
		</td></tr>
	  </table>
		<!-- FIN TITRE NAVIGATION -->
	
</h:form>
</ui:composition>
