<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	
	<p:dialog header="AIDE - PARAMÉTRAGE" widgetVar="helpDialog" modal="true" height="600px" width="80%">
	<link rel="stylesheet" type="text/css" href="../../../resources/css/HelpStyle.css"/>
	<div class="backColor">
		<div class="container">
			<div>
				<h2>Présentation</h2>
				<div>
					<li class="ListItem">
						Cette fonctionnalité permet de gérer les paramètres
						de l’application. Elle est accessible à partir du lien
						« Paramétrage » dans le menu Configuration.
					</li>
					<div class="imageStyle">
						<img src="../../../resources/images/PRM-HELP/PRM-PRESENTATION.PNG" />
					</div>
				</div>
				<div>
					<div>
						La liste des paramètres traite les informations suivantes :
						<ul>
							<li>Motif absence</li>
							<li>Motif congé</li>
							<li>Paramétrage des congés</li>
							<li>Jours fériés</li>
							<li>Compteurs</li>
							<li>Paramètres avancés</li>
						</ul>
					</div>
					<div class="imageStyle">
						<img src="../../../resources/images/PRM-HELP/PRM-AFFICHAGE.PNG" />
					</div>
				</div>
				<br/>
			</div>
			<br/>
			<hr/>
			<br/>
			<div>
				<h2>Gérer la liste des jours fériés</h2>
				<div>
					<li class="ListItem">
						La liste de consultation des jours fériés existants dans
						le référentiel est accessible par le lien « Jours fériés»
						de la page accueil – Paramétrages.
					</li>
					<div class="imageStyle">
						<img src="../../../resources/images/PRM-HELP/PRM-JOUR-FERIE-MENU.PNG" />
					</div>
				</div>
				<div>
					<li>
						Le tableau des jours fériés contient les informations suivantes :
						<ul>
							<li>Libellé</li>
							<li>Date</li>
							<li>Nombre de jours</li>
						</ul>
					</li>
					<div class="imageStyle">
						<img src="../../../resources/images/PRM-HELP/PRM-JOURS-FERIE.PNG" />
					</div>
					<div>
						Cet écran permet d’effectuer certaines opérations d’ajout, modification et supression sur les jours fériés enregistrés.
					</div>
				</div>
				<br/>
			</div>
			<br/>
			<hr/>
			<br/>
			<div>
				<h2>Paramétrage Motif d’absence</h2>
				<div>
					<li class="ListItem">
						Les motifs d’absence se divise en deux catégories :
						Liste de motif absence et liste de motif congé et sont
						accessibles par les liens « Paramétrage Motif Absence»
						et « Paramétrage Motif Congé» de la page accueil –
						Paramétrages.
					</li>
					<div class="imageStyle">
						<img src="../../../resources/images/PRM-HELP/PRM-MOTIF-ABS-MENU.PNG" />
					</div>
				</div>
				<div>
					<li>
						Les tableaux de paramétrage de Motif d’absence contiennent les informations suivantes :
						<ul>
							<li>Code</li>
							<li>Libellé</li>
							<li>Payant</li>
						</ul>
					</li>
					<div class="imageStyle">
						<img src="../../../resources/images/PRM-HELP/PRM-MOTIF-ABS.PNG" />
					</div>
					<div class="imageStyle">
						<img src="../../../resources/images/PRM-HELP/PRM-MOTIF-CON.PNG" />
					</div>
				</div>
				<br/>
			</div>
		</div>
	</div>
	</p:dialog>
	</ui:composition>