<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://sourceforge.net/projects/jsf-comp/acegijsf">

	<ui:define name="title">CHECKTIME - Paramétrage <ui:include
			src="PRM-HELP.xhtml" />
	</ui:define>

	<ui:define name="body">
		<h:form id="absForm">
			<p:growl id="msgs" showDetail="true" />
			<p:accordionPanel style="width:850px" widgetVar="paramsAccordion" id="accordion">
				<p:tab id="motifabs" title="Paramétrage Motif Absence">
					<h:panelGrid columns="2" cellpadding="2">
						<h:panelGrid columns="1">
							<h:panelGrid columns="2">
								<p:commandButton id="addMotifab" value="Ajouter"
									actionListener="#{parametreAbsBean.cleanTypeAbsence}"
									onclick="PF('newAbsDialog').show();" type="button"
									icon="ui-icon-plus" />
							</h:panelGrid>
							<p:dataTable id="typeAbsences" var="typeAbsence" paginator="true"
								rows="10" paginatorPosition="bottom"
								value="#{parametreAbsBean.typesAbsence}" editable="true"
								style="margin-bottom:1px">
								<f:facet name="header"> Motifs Absence </f:facet>
								<p:ajax event="rowEdit"
									listener="#{parametreAbsBean.updateTypeAbsence}"
									update=":absForm:msgs" />
								<p:ajax event="rowEditCancel"
									listener="#{parametreAbsBean.selectedTypeAbsence}"
									oncomplete="PF('confirmationTypeAbs').show();" />
								<p:column headerText="Code">
									<p:cellEditor>
										<f:facet name="output">
											<h:outputText value="#{typeAbsence.code}" />
										</f:facet>
										<f:facet name="input">
											<p:inputText id="modelInput" value="#{typeAbsence.code}"
												style="width:100%" />
										</f:facet>
									</p:cellEditor>
								</p:column>
								<p:column headerText="Libelle">
									<p:cellEditor>
										<f:facet name="output">
											<h:outputText value="#{typeAbsence.libelle}" />
										</f:facet>
										<f:facet name="input">
											<p:inputText value="#{typeAbsence.libelle}"
												style="width:100%" label="Year" />
										</f:facet>
									</p:cellEditor>
								</p:column>
								<p:column headerText="Payant">
									<p:cellEditor>
										<f:facet name="output">
											<p:selectBooleanCheckbox value="#{typeAbsence.deduir}"
												label="typeAbsence_deduir" disabled="true" />
										</f:facet>
										<f:facet name="input">
											<p:selectBooleanCheckbox value="#{typeAbsence.deduir}"
												label="typeAbsence_deduir" />
										</f:facet>
									</p:cellEditor>
								</p:column>
								<p:column style="width:32px">
									<p:rowEditor />
								</p:column>
							</p:dataTable>
						</h:panelGrid>
					</h:panelGrid>
				</p:tab>
				<p:tab title="Paramétrage Motif Congé">
					<h:panelGrid columns="2" cellpadding="2">
						<h:panelGrid columns="1">
							<h:panelGrid columns="1">
								<p:commandButton id="addTypeConge" value="Ajouter"
									actionListener="#{parametreCongeBean.cleanTypeConge}"
									onclick="PF('newMotifCongeDialog').show();" type="button"
									icon="ui-icon-plus" />
							</h:panelGrid>
							<p:dataTable id="typeConges" var="typeConge" paginator="true"
								rows="10" paginatorPosition="bottom"
								value="#{parametreCongeBean.typesConge}" editable="true"
								style="margin-bottom:20px">
								<f:facet name="header"> Motifs Congé </f:facet>
								<p:ajax event="rowEdit"
									listener="#{parametreCongeBean.updateTypeConge}"
									update=":absForm:msgs" />
								<p:ajax event="rowEditCancel"
									listener="#{parametreCongeBean.selectedTypeConge}"
									oncomplete="PF('confirmationTypeConge').show();" />
								<p:column headerText="Code">
									<p:cellEditor>
										<f:facet name="output">
											<h:outputText value="#{typeConge.code}" />
										</f:facet>
										<f:facet name="input">
											<p:inputText id="modelInput" value="#{typeConge.code}"
												style="width:100%" />
										</f:facet>
									</p:cellEditor>
								</p:column>
								<p:column headerText="Libelle">
									<p:cellEditor>
										<f:facet name="output">
											<h:outputText value="#{typeConge.libelle}" />
										</f:facet>
										<f:facet name="input">
											<p:inputText value="#{typeConge.libelle}" style="width:100%"
												label="Year" />
										</f:facet>
									</p:cellEditor>
								</p:column>
								<p:column headerText="Payant">
									<p:cellEditor>
										<f:facet name="output">
											<p:selectBooleanCheckbox value="#{typeConge.paye}"
												label="typeConge_deduir" disabled="true" />
										</f:facet>
										<f:facet name="input">
											<p:selectBooleanCheckbox value="#{typeConge.paye}"
												label="typeConge_deduir" />
										</f:facet>
									</p:cellEditor>
								</p:column>
								<p:column style="width:32px">
									<p:rowEditor />
								</p:column>
							</p:dataTable>
						</h:panelGrid>
					</h:panelGrid>
				</p:tab>
				<p:tab title="Paramétrage des congés">
					<h:panelGrid columns="2" cellpadding="2">

						<h:panelGrid columns="1">
							<h:panelGrid columns="1">
								<p:commandButton id="basic" value="Ajouter"
									actionListener="#{parametreCongeBean.cleanPrConge}"
									onclick="PF('newCongeDialog').show();" type="button"
									icon="ui-icon-plus" />
							</h:panelGrid>
							<p:dataTable id="parametreConges" var="parametreConge"
								paginator="true" rows="10" paginatorPosition="bottom"
								value="#{parametreCongeBean.parametresConge}" editable="true"
								style="margin-bottom:5px">
								<f:facet name="header"> Paramétrages Congé </f:facet>
								<p:ajax event="rowEdit"
									listener="#{parametreCongeBean.updateParametreConge}"
									update=":absForm:msgs" />
								<p:ajax event="rowEditCancel"
									listener="#{parametreCongeBean.selectedParametreConge}"
									oncomplete="PF('confirmationPrConge').show();" />
								<p:column headerText="Libelle">
									<p:cellEditor>
										<f:facet name="output">
											<h:outputText value="#{parametreConge.libelle}" />
										</f:facet>
										<f:facet name="input">
											<p:inputText id="modelInput"
												value="#{parametreConge.libelle}" style="width:100%" />
										</f:facet>
									</p:cellEditor>
								</p:column>
								<p:column headerText="Fonction">
									<p:cellEditor>
										<f:facet name="output">
											<h:outputText value="#{parametreConge.profilMetier.libelle}" />
										</f:facet>
										<f:facet name="input">
											<h:selectOneMenu value="#{parametreCongeBean.profilMetier}"
												converter="profilConverter" style="width:100%">
												<f:selectItem itemLabel="profilMetier.libelle" itemValue="" />
												<f:selectItems value="#{parametreCongeBean.profilsMetier}"
													var="profilMetier" itemLabel="#{profilMetier.libelle}"
													itemValue="#{profilMetier}" />
											</h:selectOneMenu>
										</f:facet>
									</p:cellEditor>
								</p:column>
								<p:column headerText="Anciennete">
									<p:cellEditor>
										<f:facet name="output">
											<h:outputText value="#{parametreConge.anciennete}" />
										</f:facet>
										<f:facet name="input">
											<p:inputText value="#{parametreConge.anciennete}"
												style="width:100%" label="Year" />
										</f:facet>
									</p:cellEditor>
								</p:column>
								<p:column headerText="Type increment">
									<p:cellEditor>
										<f:facet name="output">
											<h:outputText value="#{parametreConge.increment}" />
										</f:facet>
										<f:facet name="input">
											<p:inputText value="#{parametreConge.increment}"
												style="width:100%" label="type_increment" />
										</f:facet>
									</p:cellEditor>
								</p:column>
								<p:column headerText="Valeur d'increment">
									<p:cellEditor>
										<f:facet name="output">
											<h:outputText value="#{parametreConge.incrementVal}" />
										</f:facet>
										<f:facet name="input">
											<p:inputText value="#{parametreConge.incrementVal}"
												style="width:100%" label="val_increment" />
										</f:facet>
									</p:cellEditor>
								</p:column>
								<p:column headerText="Valeur Maximum">
									<p:cellEditor>
										<f:facet name="output">
											<h:outputText value="#{parametreConge.maxVal}" />
										</f:facet>
										<f:facet name="input">
											<p:inputText value="#{parametreConge.maxVal}"
												style="width:100%" label="val_increment" />
										</f:facet>
									</p:cellEditor>
								</p:column>
								<p:column style="width:32px">
									<p:rowEditor />
								</p:column>
							</p:dataTable>
						</h:panelGrid>

					</h:panelGrid>
				</p:tab>
				<p:tab title="Jours fériés">
					<h:panelGrid columns="2" cellpadding="2">
						<h:panelGrid columns="1">
							<h:panelGrid columns="1">
								<p:commandButton id="addjrferie" value="Ajouter"
									actionListener="#{jrFerieBean.cleanJrferie}"
									onclick="PF('newferieDialog').show();" type="button"
									icon="ui-icon-plus" />
							</h:panelGrid>
							<p:dataTable id="jrFeries" var="jrFerie" paginator="true"
								rows="10" paginatorPosition="bottom"
								value="#{jrFerieBean.jrFeries}" editable="true"
								style="margin-bottom:5px">
								<f:facet name="header"> Jours fériés </f:facet>
								<p:ajax event="rowEdit" listener="#{jrFerieBean.updateFerie}"
									update=":absForm:msgs" />
								<p:ajax event="rowEditCancel"
									listener="#{jrFerieBean.selectedDeleteJrFerie}"
									oncomplete="PF('confirmationJrFerie').show();" />
								<p:column headerText="Libelle">
									<p:cellEditor>
										<f:facet name="output">
											<h:outputText value="#{jrFerie.libelle}" />
										</f:facet>
										<f:facet name="input">
											<p:inputText id="modelInput" value="#{jrFerie.libelle}"
												style="width:100%" />
										</f:facet>
									</p:cellEditor>
								</p:column>
								<p:column headerText="Date">
									<p:cellEditor>
										<f:facet name="output">
											<h:outputText value="#{jrFerie.dateDebut}">
												<f:convertDateTime></f:convertDateTime>
											</h:outputText>
										</f:facet>
										<f:facet name="input">
											<p:calendar value="#{jrFerie.dateDebut}" style="width:100%"
												label="Year" />
										</f:facet>
									</p:cellEditor>
								</p:column>
								<p:column headerText="Nombre de jours">
									<p:cellEditor>
										<f:facet name="output">
											<h:outputText value="#{jrFerie.nbJour}" />
										</f:facet>
										<f:facet name="input">
											<p:inputText value="#{jrFerie.nbJour}" style="width:100%"
												label="type_increment" />
										</f:facet>
									</p:cellEditor>
								</p:column>
								<p:column style="width:32px">
									<p:rowEditor />
								</p:column>
							</p:dataTable>
						</h:panelGrid>
					</h:panelGrid>
				</p:tab>
				<p:tab title="Paramétrage Fonctions" id="fonctions">
					<h:panelGrid columns="2" cellpadding="2">
						<h:panelGrid columns="1">
							<h:panelGrid columns="1">
								<p:commandButton id="addProfilMetier" value="Ajouter"
												 actionListener="#{profilMetierBean.cleanProfilMetier}"
												 onclick="PF('newProfilMetierDialog').show();" type="button"
												 icon="ui-icon-plus" />
							</h:panelGrid>
							<p:dataTable id="profilMetiers" var="profilMetier" paginator="true"
										 rows="10" paginatorPosition="bottom"
										 value="#{profilMetierBean.profilMetiers}" editable="true"
										 style="margin-bottom:5px">
								<f:facet name="header"> Fonctions </f:facet>
								<p:ajax event="rowEdit" listener="#{profilMetierBean.updateProfilMetier}"
										update=":absForm:accordion:profilMetiers" />
								<p:ajax event="rowEditCancel"
										listener="#{profilMetierBean.selectedDeleteProfilMetier}"
										oncomplete="PF('confirmationProfilMetier').show();" />
								<p:column headerText="Code">
									<p:cellEditor>
										<f:facet name="output">
											<h:outputText value="#{profilMetier.code}" />
										</f:facet>
										<f:facet name="input">
											<p:inputText id="modelInputPMC" value="#{profilMetier.code}"
														 style="width:100%" />
										</f:facet>
									</p:cellEditor>
								</p:column>
								<p:column headerText="Libelle">
									<p:cellEditor>
										<f:facet name="output">
											<h:outputText value="#{profilMetier.libelle}" />
										</f:facet>
										<f:facet name="input">
											<p:inputText id="modelInputPML" value="#{profilMetier.libelle}"
														 style="width:100%" />
										</f:facet>
									</p:cellEditor>
								</p:column>
								<p:column style="width:32px">
									<p:rowEditor />
								</p:column>
							</p:dataTable>
						</h:panelGrid>
					</h:panelGrid>
				</p:tab>
							<s:authorize ifAnyGranted="ROLE_ADMIN">
				<p:tab title="Compteurs">
					<h:panelGrid columns="2" cellpadding="2">

						<h:panelGrid columns="1">
							<h:panelGrid columns="1">
								<p:commandButton id="addCompteur" value="Ajouter"
									actionListener="#{compteurBean.cleanCompteur}"
									onclick="PF('newComDialog').show();" type="button"
									icon="ui-icon-plus" />
							</h:panelGrid>
							<p:dataTable id="annotations" var="annotation" paginator="true"
								rows="10" paginatorPosition="bottom"
								value="#{compteurBean.annotations}" editable="true"
								style="margin-bottom:5px">
								<f:facet name="header">Compteurs</f:facet>
								<p:ajax event="rowEdit"
									listener="#{compteurBean.updateCompteur}"
									update=":absForm:msgs" />
								<p:ajax event="rowEditCancel"
									listener="#{compteurBean.selectedDeleteCompteur}"
									oncomplete="PF('confirmationCompteur').show();" />
								<p:column headerText="Code">
									<p:cellEditor>
										<f:facet name="output">
											<h:outputText value="#{annotation.code}" />
										</f:facet>
										<f:facet name="input">
											<p:inputText id="modelInput" value="#{annotation.code}"
												style="width:100%" />
										</f:facet>
									</p:cellEditor>
								</p:column>
								<p:column headerText="Type">
									<p:cellEditor>
										<f:facet name="output">
											<h:outputText value="#{annotation.typeAnnotation.libelle}" />
										</f:facet>
										<f:facet name="input">
											<h:selectOneMenu value="#{compteurBean.typeAnnotation}"
												converter="typeAnnotationConverter" style="width:100%">
												<f:selectItems value="#{compteurBean.typesAnnotation}"
													var="typeAnnotation" itemLabel="#{typeAnnotation.libelle}"
													itemValue="#{typeAnnotation}" />
											</h:selectOneMenu>
										</f:facet>
									</p:cellEditor>
								</p:column>
								<p:column headerText="Taux">
									<p:cellEditor>
										<f:facet name="output">
											<h:outputText value="#{annotation.taux}" />
										</f:facet>
										<f:facet name="input">
											<p:inputText value="#{annotation.taux}" style="width:100%"
												label="type_increment" />
										</f:facet>
									</p:cellEditor>
								</p:column>
								<p:column style="width:32px">
									<p:rowEditor />
								</p:column>
							</p:dataTable>
						</h:panelGrid>
					</h:panelGrid>
				</p:tab>
				<p:tab title="Paramètres avancés">
					<h:panelGrid columns="2" cellpadding="2">

						<h:panelGrid columns="1">
							<p:dataTable var="advParam" value="#{advParamBean.advParams}"
								editable="true" widgetVar="cellAdvParams" id="dataTable"
								paginator="true" rows="15" paginatorAlwaysVisible="false"
								paginatorPosition="bottom"
								paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
								lazy="false">

								<f:facet name="header"> Liste des paramètres avancés </f:facet>
								<p:ajax event="rowEdit" listener="#{advParamBean.onRowEdit}"
									update=":absForm:msgs" />
								<p:column headerText="Nom">
									<p:cellEditor>
										<f:facet name="output">
											<h:outputText value="#{advParam.name}" />
										</f:facet>
										<f:facet name="input">
											<p:inputText id="param_name" value="#{advParam.name}"
												disabled="true" style="width:96%" />
										</f:facet>
									</p:cellEditor>
								</p:column>
								<p:column headerText="Value">
									<p:cellEditor>
										<f:facet name="output">
											<h:outputText value="#{advParam.value}" />
										</f:facet>
										<f:facet name="input">
											<p:inputText id="param_value" value="#{advParam.value}"
												style="width:96%" />
										</f:facet>
									</p:cellEditor>
								</p:column>
								<p:column headerText="Description">
									<p:cellEditor>
										<f:facet name="output">
											<h:outputText value="#{advParam.description}" />
										</f:facet>
										<f:facet name="input">
											<p:inputText id="param_description"
												value="#{advParam.description}" disabled="true"
												style="width:96%" />
										</f:facet>
									</p:cellEditor>
								</p:column>
								<p:column style="width:32px">
									<p:rowEditor />
								</p:column>
							</p:dataTable>
						</h:panelGrid>
					</h:panelGrid>
				</p:tab>
							</s:authorize>
			</p:accordionPanel>
		</h:form>
		<p:dialog header="Nouveau Motif absence" widgetVar="newAbsDialog"
			width="300" id="newAbsDialog" showEffect="fade" hideEffect="explode">
			<h:form id="newMfAbsId">
				<p:panel id="panel">
					<p:messages autoUpdate="true" />
					<h:panelGrid id="detail" columns="3" styleClass="grid"
						columnClasses="label,value">
						<p:outputLabel styleClass="mode" for="typeAbsence_code"
							value="Code :" />
						<p:inputText id="typeAbsence_code"
							value="#{parametreAbsBean.typeAbsence.code}" required="true"
							label="typeAbsence_code" />
						<p:message for="typeAbsence_code" />
						<p:outputLabel styleClass="mode" for="typeAbsence_libelle"
							value="Libellé :" />
						<p:inputText id="typeAbsence_libelle"
							value="#{parametreAbsBean.typeAbsence.libelle}" required="true"
							label="typeAbsence_libelle" />
						<p:message for="typeAbsence_libelle" />
						<p:outputLabel styleClass="mode" for="typeAbsence_deduir"
							value="Payant :" />
						<p:selectBooleanCheckbox id="typeAbsence_deduir"
							value="#{parametreAbsBean.typeAbsence.deduir}" required="true"
							label="typeAbsence_deduir" />
					</h:panelGrid>
					<f:facet name="footer">
						<p:outputPanel layout="block" style="text-align:right">
							<p:commandButton value="Save" ajax="true"
								update="@form"
								actionListener="#{parametreAbsBean.saveTypeAbsence}"
								icon="ui-icon-disk"
								oncomplete="if (args &amp;&amp; !args.validationFailed) PF('newAbsDialog').hide();" />
							<p:commandButton value="Cancel"
								onclick="PF('newAbsDialog').hide();" type="button"
								image="ui-icon ui-icon-close" />
						</p:outputPanel>
					</f:facet>
				</p:panel>
			</h:form>
		</p:dialog>
		<p:dialog header="Nouveau Motif Congé" widgetVar="newMotifCongeDialog"
			width="400" resizable="false" id="newMotifCongeDialog"
			showEffect="fade" hideEffect="explode" modal="true">
			<h:form id="newMotifCongeId">
				<p:panel id="panel">
					<p:messages autoUpdate="true" />
					<h:panelGrid id="detail" columns="3" styleClass="grid"
						columnClasses="label,value">
						<p:outputLabel styleClass="mode" for="typeConge_code"
							value="Code :" />
						<p:inputText id="typeConge_code"
							value="#{parametreCongeBean.typeConge.code}" required="true"
							label="typeConge_code" />
						<p:message for="typeConge_code" />
						<p:outputLabel styleClass="mode" for="typeConge_libelle"
							value="Libellé :" />
						<p:inputText id="typeConge_libelle"
							value="#{parametreCongeBean.typeConge.libelle}" required="true"
							label="typeConge_libelle" />
						<p:message for="typeConge_libelle" />
						<p:outputLabel styleClass="mode" for="typeConge_nbjours"
							value="Nombre de jours :" />
						<p:inputText id="typeConge_nbjours"
							value="#{parametreCongeBean.typeConge.nbrJour}" required="true"
							label="typeConge_libelle" />
						<p:message for="typeConge_nbjours" />
						<p:outputLabel styleClass="mode" for="typeConge_payant"
							value="Payant :" />
						<p:selectBooleanCheckbox id="typeConge_payant"
							value="#{parametreCongeBean.typeConge.paye}" required="true"
							label="typeConge_payant" />
					</h:panelGrid>
					<f:facet name="footer">
						<p:outputPanel layout="block" style="text-align:right">
							<p:commandButton value="Save" ajax="true"
								update=":absForm"
								actionListener="#{parametreCongeBean.saveTypeConge}"
								oncomplete="if (args &amp;&amp; !args.validationFailed) PF('newMotifCongeDialog').hide();"
								icon="ui-icon-disk" />
							<p:commandButton value="Cancel"
								onclick="PF('newMotifCongeDialog').hide();" type="button"
								image="ui-icon ui-icon-close" />
						</p:outputPanel>
					</f:facet>
				</p:panel>
			</h:form>
		</p:dialog>
		<p:dialog header="Nouveau Paramétrage Congé"
			widgetVar="newCongeDialog" width="500" resizable="false"
			id="newCongeDialog" showEffect="fade" hideEffect="explode"
			modal="true">
			<h:form id="newParamCongeId">
				<p:panel id="panel">
					<p:messages autoUpdate="true" />
					<h:panelGrid id="detail" columns="3" styleClass="grid"
						columnClasses="label,value">
						<p:outputLabel styleClass="mode" for="parametreConge_code"
							value="Libelle :" />
						<p:inputText id="parametreConge_code" style="width: 300;"
							value="#{parametreCongeBean.parametreConge.libelle}"
							required="true" label="conge_libelle">
						</p:inputText>
						<p:message for="parametreConge_code" />
						<p:outputLabel styleClass="mode" for="profilMetier"
							value="Profil métier :" />
						<p:selectOneMenu id="profilMetier" style="width: 100%;"
							value="#{parametreCongeBean.profilMetier}"
							converter="profilConverter" effect="fold">
							<f:selectItem itemLabel="Select One" itemValue="" />
							<f:selectItems value="#{parametreCongeBean.profilsMetier}"
								var="profilMetier" itemLabel="#{profilMetier.libelle}"
								itemValue="#{profilMetier}" />
						</p:selectOneMenu>
						<p:message for="profilMetier" />
						<p:outputLabel styleClass="mode" for="conge_Anciennete"
							value="Anciennete :" />
						<p:inputText id="conge_Anciennete" style="width: 300;"
							value="#{parametreCongeBean.parametreConge.anciennete}"
							required="true" label="conge_Anciennete" />
						<p:message for="conge_Anciennete" />
						<p:outputLabel styleClass="mode" for="conge_type"
							value="Type increment :" />
						<p:inputText id="conge_type" style="width: 300;"
							value="#{parametreCongeBean.parametreConge.increment}"
							required="true" label="conge_type" />
						<p:message for="conge_type" />
						<p:outputLabel styleClass="mode" for="conge_val"
							value="Valeur d'increment :" />
						<p:inputText id="conge_val" style="width: 300;"
							value="#{parametreCongeBean.parametreConge.incrementVal}"
							required="true" label="conge_val" />
						<p:message for="conge_val" />
						<p:outputLabel styleClass="mode" for="conge_maxval"
							value="Valeur Maximum :" />
						<p:inputText id="conge_maxval" style="width: 300;"
							value="#{parametreCongeBean.parametreConge.maxVal}"
							required="true" label="conge_maxval" />
						<p:message for="conge_maxval" />
					</h:panelGrid>
					<f:facet name="footer">
						<p:outputPanel layout="block" style="text-align:right">
							<p:commandButton value="Save" ajax="true"
								update=":absForm"
								oncomplete="if (args &amp;&amp; !args.validationFailed) PF('newCongeDialog').hide();"
								actionListener="#{parametreCongeBean.savePrConge}"
								image="ui-icon ui-icon-check" />
							<p:commandButton value="Cancel"
								onclick="PF('newCongeDialog').hide();" type="button"
								image="ui-icon ui-icon-close" />
						</p:outputPanel>
					</f:facet>
				</p:panel>
			</h:form>
		</p:dialog>
		<p:dialog header="Nouveau jour férié" widgetVar="newferieDialog"
			width="400" resizable="false" id="newferieDialog" showEffect="fade"
			hideEffect="explode" modal="true">
			<h:form id="newFerieId">
				<p:panel id="panel">
					<p:messages autoUpdate="true" />
					<h:panelGrid id="detail" columns="3" styleClass="grid"
						columnClasses="label,value">
						<p:outputLabel styleClass="mode" for="jrferie_libelle"
							value="Libellé :" />
						<p:inputText id="jrferie_libelle"
							value="#{jrFerieBean.jrferie.libelle}" required="true"
							label="jrferie_libelle" />
						<p:message for="jrferie_libelle" />
						<p:outputLabel styleClass="mode" for="jrferie_date"
							value="Date de début :" />
						<p:calendar id="jrferie_date"
							value="#{jrFerieBean.jrferie.dateDebut}" required="true"
							label="jrferie_date" />
						<p:message for="jrferie_date" />
						<p:outputLabel styleClass="mode" for="jrferie_nbJours"
							value="Nombre de jours :" />
						<p:inputText id="jrferie_nbJours"
							value="#{jrFerieBean.jrferie.nbJour}" required="true"
							label="jrferie_nbjours" />
						<p:message for="jrferie_nbJours" />
					</h:panelGrid>
					<f:facet name="footer">
						<p:outputPanel layout="block" style="text-align:right">
							<p:commandButton value="Save" ajax="true"
								update=":absForm"
								actionListener="#{jrFerieBean.saveJrferie}"
								oncomplete="if (args &amp;&amp; !args.validationFailed) PF('newferieDialog').hide();"
								icon="ui-icon-disk" />
							<p:commandButton value="Cancel"
								onclick="PF('newferieDialog').hide();" type="button"
								image="ui-icon ui-icon-close" />
						</p:outputPanel>
					</f:facet>
				</p:panel>
			</h:form>
		</p:dialog>

		<p:dialog header="Nouvelle fonction" widgetVar="newProfilMetierDialog"
				  width="400" resizable="false" id="newProfilMetierDialog" showEffect="fade"
				  hideEffect="explode" modal="true">
			<h:form id="newProfilMetierId">
				<p:panel id="newProfilMetierPanel">
					<p:messages autoUpdate="true" />
					<h:panelGrid id="newProfilMetierDetail" columns="3" styleClass="grid"
								 columnClasses="label,value">
						<p:outputLabel styleClass="mode" for="profilMetier_code"
									   value="Code :" />
						<p:inputText id="profilMetier_code"
									 value="#{profilMetierBean.profilMetier.code}" required="true"
									 label="profilMetier_code" />
						<p:message for="profilMetier_code" />
						<p:outputLabel styleClass="mode" for="profilMetier_libelle"
									   value="Libellé :" />
						<p:inputText id="profilMetier_libelle"
									 value="#{profilMetierBean.profilMetier.libelle}" required="true"
									 label="profilMetier_libelle" />
						<p:message for="profilMetier_libelle" />
					</h:panelGrid>
					<f:facet name="footer">
						<p:outputPanel layout="block" style="text-align:right">
							<p:commandButton value="Save" ajax="true"
											 update=":absForm:accordion:profilMetiers :newProfilMetierDialog"
											 actionListener="#{profilMetierBean.saveProfilMetier}"
											 oncomplete="if (args &amp;&amp; !args.validationFailed) PF('newProfilMetierDialog').hide();"
											 icon="ui-icon-disk" />
							<p:commandButton value="Cancel"
											 onclick="PF('newProfilMetierDialog').hide();" type="button"
											 image="ui-icon ui-icon-close" />
						</p:outputPanel>
					</f:facet>
				</p:panel>
			</h:form>
		</p:dialog>

		<p:dialog header="Nouveau Compteur" widgetVar="newComDialog"
			width="400" resizable="false" id="newComDialog" showEffect="fade"
			hideEffect="explode" modal="true">
			<h:form id="newCompteurId">
				<p:panel id="panel">
					<p:messages autoUpdate="true" />
					<h:panelGrid id="detail" columns="3" styleClass="grid"
						columnClasses="label,value">
						<p:outputLabel styleClass="mode" for="annotation_code"
							value="Code :" />
						<p:inputText id="annotation_code"
							value="#{compteurBean.annotation.code}" required="true"
							label="annotation_code" />
						<p:message for="annotation_code" />
						<p:outputLabel styleClass="mode" for="typeAnnotation"
							value="Type :" />
						<p:selectOneMenu id="typeAnnotation"
							value="#{compteurBean.typeAnnotation}"
							converter="typeAnnotationConverter" effect="fold">
							<f:selectItem itemLabel="Select One" itemValue="" />
							<f:selectItems value="#{compteurBean.typesAnnotation}"
								var="typeAnnotation" itemLabel="#{typeAnnotation.libelle}"
								itemValue="#{typeAnnotation}" />
						</p:selectOneMenu>
						<h:outputText value="&lt;br/&gt;" escape="false" />
						<p:outputLabel styleClass="mode" for="annotation_taux"
							value="Taux :" />
						<p:inputText id="annotation_taux"
							value="#{compteurBean.annotation.taux}" required="true"
							label="annotation_taux" />
						<p:message for="annotation_taux" />
					</h:panelGrid>
					<f:facet name="footer">
						<p:outputPanel layout="block" style="text-align:right">
							<p:commandButton value="Save" ajax="false"
								update=":newCompteurId :absForm"
								actionListener="#{compteurBean.saveCompteur}"
								icon="ui-icon-disk"
								oncomplete="if (args &amp;&amp; !args.validationFailed) PF('newComDialog').hide();" />
							<p:commandButton value="Cancel"
								onclick="PF('newComDialog').hide();" type="button"
								image="ui-icon ui-icon-close" />
						</p:outputPanel>
					</f:facet>
				</p:panel>
			</h:form>
		</p:dialog>
		
		
		<!-- Les confirmation dialog -->
		
		<!-- Confirmation la suppression type absence -->
		<p:confirmDialog message="Êtes-vous sûr ?" width="200"
			showEffect="explode" hideEffect="explode"
			header="Confirmer la suppression" severity="alert"
			widgetVar="confirmationTypeAbs">
			<h:form id="deleteTypeAbsform">
				<p:commandButton value="Oui sûr" update=":absForm"
					actionListener="#{parametreAbsBean.deleteTypeAbsence}"
					oncomplete="PF('confirmationTypeAbs').hide();" />
				<p:commandButton value="Non"
					onclick="PF('confirmationTypeAbs').hide();" update=":absForm"
					style="margin-left:60px;" />
			</h:form>
		</p:confirmDialog>
		
		<!-- Confirmation la suppression parametre conge -->
		<p:confirmDialog message="Êtes-vous sûr ?" width="200"
			showEffect="explode" hideEffect="explode"
			header="Confirmer la suppression" severity="alert"
			widgetVar="confirmationPrConge">
			<h:form>
				<p:commandButton value="Oui sûr" update=":absForm"
					actionListener="#{parametreCongeBean.deleteParametrageConge}"
					oncomplete="PF('confirmationPrConge').hide();" />
				<p:commandButton value="Non"
					onclick="PF('confirmationPrConge').hide();" type="button"
					style="margin-left:60px;" />
			</h:form>
		</p:confirmDialog>
		
		<!-- Confirmation la suppression type conge -->
		<p:confirmDialog message="Êtes-vous sûr ?" width="200"
			showEffect="explode" hideEffect="explode"
			header="Confirmer la suppression" severity="alert"
			widgetVar="confirmationTypeConge">
			<h:form>
				<p:commandButton value="Oui sûr" update=":absForm"
					actionListener="#{parametreCongeBean.deleteTypeConge}"
					oncomplete="PF('confirmationTypeConge').hide();" />
				<p:commandButton value="Non"
					onclick="PF('confirmationTypeConge').hide();" update=":absForm"
					type="button" style="margin-left:60px;" />
			</h:form>
		</p:confirmDialog>
		
		<!-- Confirmation la suppression jour férie -->
		<p:confirmDialog message="Êtes-vous sûr ?" width="200"
			showEffect="explode" hideEffect="explode"
			header="Confirmer la suppression" severity="alert"
			widgetVar="confirmationJrFerie">
			<h:form>
				<p:commandButton value="Oui sûr" update=":absForm"
					actionListener="#{jrFerieBean.deleteferie}"
					oncomplete="PF('confirmationJrFerie').hide();" />
				<p:commandButton value="Non"
					onclick="PF('confirmationJrFerie').hide();" update=":absForm"
					type="button" style="margin-left:60px;" />
			</h:form>
		</p:confirmDialog>

		<!-- Confirmation la suppression de profil metier -->
		<p:confirmDialog message="Êtes-vous sûr ?" width="200"
						 showEffect="explode" hideEffect="explode"
						 header="Confirmer la suppression" severity="alert"
						 widgetVar="confirmationProfilMetier">
			<h:form>
				<p:commandButton value="Oui sûr" update=":absForm"
								 actionListener="#{profilMetierBean.deleteProfilMetier}"
								 oncomplete="PF('confirmationProfilMetier').hide();" />
				<p:commandButton value="Non"
								 onclick="PF('confirmationProfilMetier').hide();" update=":absForm "
								 type="button" style="margin-left:60px;" />
			</h:form>
		</p:confirmDialog>

		<!-- Confirmation la suppression compteur -->
		<p:confirmDialog message="Êtes-vous sûr ?" width="200"
			showEffect="explode" hideEffect="explode"
			header="Confirmer la suppression" severity="alert"
			widgetVar="confirmationCompteur">
			<h:form>
				<p:commandButton value="Oui sûr" update="@form :absForm"
					actionListener="#{compteurBean.deleteCompteur}"
					oncomplete="PF('confirmationCompteur').hide();"></p:commandButton>
				<p:commandButton value="Non"
					onclick="PF('confirmationCompteur').hide();" update="@form"
					type="button" style="margin-left:60px;" />
			</h:form>
		</p:confirmDialog>
		
		

		
		
		

		<h:outputScript target="head">
			$ = jQuery;
			$(document).ready(function(){
				window.onload = PF('paramsAccordion').unselect(0);
			});
		</h:outputScript>
	</ui:define>
</ui:composition>