<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
<rich:modalPanel id="about-panel" autosized="true">
			            	<f:facet name="header"><h:outputText value="#{msg.about_title}" /></f:facet>
			            	<f:facet name="controls">
		               		<h:panelGroup>
				                <h:graphicImage value="/images/modal/close.png" style="cursor:pointer" id="about_hidelink"/>
				                <rich:componentControl for="about-panel" attachTo="about_hidelink" operation="hide" event="onclick"/>
				            </h:panelGroup>
		               	</f:facet>
		               	<rich:panel >		                	
				          <DIV class="Popup_ContentPane_Client" style="overflow: auto;">
				          
				            <TABLE cellspacing="0" cellpadding="0"  class="Popup_Client_TablePopup">
		
		         
						         <TR>
						              <TD>
						              <P class="Wide_Paragraph"><img src="/checktime-web/resources/bitmap/navig/logo.gif" /></P> 
						              <P class="Wide_Paragraph"><SPAN class="Label_ReadOnly_Text"><h:outputText value="#{msg.about_product_name}"/> <SPAN id="paramVer"><h:outputText value="#{msg.about_product_version}"/> </SPAN></SPAN></P>
						              <P class="Wide_Paragraph"><h:outputText value="#{msg.about_copyright}"/></P>
						              <P class="Wide_Paragraph"><h:outputText value="#{msg.about_licence_detail}"/> <SPAN class="LabelText"><h:commandLink class="LabelLink_noicon" value="#{msg.about_licence_url}" target="_blank"><h:outputText value="#{msg.about_licence_name}"/></h:commandLink></SPAN> (<h:outputText value="#{msg.about_licence_url}"/>)</P>
						              <P class="Wide_Paragraph"><h:outputText value="#{msg.about_licence_soft_detail}"/></P>
						
						              <P class="Regular_Paragraph">        - <h:outputText value="#{msg.about_soft_name_1}"/></P>
						              <P class="Regular_Paragraph">        - <h:outputText value="#{msg.about_soft_name_2}"/></P>
						              <P class="Regular_Paragraph">        - <h:outputText value="#{msg.about_soft_name_3}"/></P>
						              <P class="Regular_Paragraph">        - <h:outputText value="#{msg.about_soft_name_4}"/></P>
						              <P class="Regular_Paragraph">        - <h:outputText value="#{msg.about_soft_name_5}"/></P>
						              <P class="Regular_Paragraph">        - <h:outputText value="#{msg.about_soft_name_6}"/></P>
						        
						              <P class="Wide_Paragraph"><h:outputText value="#{msg.about_product_trademark}"/></P>
						              <P class="Wide_Paragraph"><h:outputText value="#{msg.about_more_info}"/> <SPAN class="LabelText"><h:commandLink class="LabelLink_noicon" href="#{msg.about_licence_url}" target="_blank"></h:commandLink></SPAN><h:outputText value="#{msg.about_licence_url}"/></P>
						              <P class="Regular_Paragraph"><h:outputText value="#{msg.about_contibutor_thx}" /></P>
						
						              
						
						            </TD>
						          </TR>
						
						        </TABLE>
						        </DIV>
		
				            
				        </rich:panel>
			            </rich:modalPanel>
</ui:composition>