<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://sourceforge.net/projects/jsf-comp/acegijsf">
	<h:head>
		<link rel="shortcut icon" type="image/x-icon" href="#{facesContext.externalContext.requestContextPath}/resources/images/logo.png"/>
		<link type="text/css" rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/chartist.min.css"></link>
	</h:head>
	<h:form id="checktime_header">
		<!-- TABLEAU DE HAUT DE PAGE AVEC LIENS -->
		<table width="1000" border="0" cellpadding="0" cellspacing="0"
			class="templ-top">
			<tr>
				<td width="205" rowspan="2">
					<s:authorize ifAnyGranted="ROLE_ADMIN,ROLE_RH,ROLE_SUPH,ROLE_RP">
						<a
							href="#{facesContext.externalContext.requestContextPath}#{authenticationBean.userAuthenticated.profilApp.redirectPage}"
							target="_parent"><img
							src="#{facesContext.externalContext.requestContextPath}/resources/images/logo-menu.png"
							alt="A.R.G.O.S" border="0" /></a>
					</s:authorize> 
					<s:authorize ifAnyGranted="ROLE_GUEST">
						<a href="#" target="_parent"><img
							src="#{facesContext.externalContext.requestContextPath}/resources/images/logo-menu.png"
							alt="A.R.G.O.S" border="0" /></a>
					</s:authorize>
					</td>
				<td width="16" rowspan="2"><img
					src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/ban-grise-bleue.gif" /></td>
				<td width="20" align="right"><img
					src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/ban-grise-debut.gif" /></td>
				<td class="barregrise">
					<!-- LIENS SECTIONS ET SEPARATEURS --> <!-- La classe linkbarrenav : lien blanc  -->
					<!-- La classe linkbarrenavsel : lien bleu / section en cours  -->
					<table width="100%" border="0" cellpadding="0" cellspacing="0">
						<tr align="center">
							<td class="dropshadow">
								<s:authorize ifAnyGranted="ROLE_ADMIN,ROLE_RH">
									<p:commandLink id="compButton" value="#{msg['Menu.com.L1']}"
										styleClass="linkbarrenav" />
									<p:tieredMenu overlay="true" trigger="compButton" my="left top"
										at="left bottom">
										<p:menuitem value="#{msg['Menu.com.L3']}"
											url="/pages/compagnie/collabo/CLB-ACC.wit" />
											<!-- 
										<p:menuitem value="#{msg['Menu.com.L4']}"
											url="/pages/compagnie/visite/VIS-ACC.wit" />
											 -->
										<p:menuitem value="Self-service"
										url="/pages/selfservice/accueil.wit" />
									</p:tieredMenu>
								</s:authorize></td>
							<s:authorize ifAnyGranted="ROLE_ADMIN">
								<td class="separateur"></td>
								<td class="dropshadow"><p:commandLink id="confButton"
										value="#{msg['Menu.conf.L1']}" styleClass="linkbarrenav" /> <p:tieredMenu
										overlay="true" trigger="confButton" my="left top"
										at="left bottom">
										<p:menuitem value="#{msg['Menu.conf.L2']}"
											url="/pages/config/horaire/HOR-ACC.wit" />
										<p:menuitem value="#{msg['Menu.conf.L3']}"
											url="/pages/config/planning/PLA-ACC.wit" />
										<p:separator />
											<p:menuitem value="#{msg['Menu.conf.L4']}"
												url="/pages/config/locaux/LOC-ACC.wit" />
											<p:submenu label="#{msg['Menu.conf.L5']}">
												<p:menuitem value="#{msg['Menu.conf.L6']}"
													url="/pages/config/dispositif/TER-ACC.wit" />
												<p:menuitem value="#{msg['Menu.conf.L7']}" update="messages"
													ajax="false" rendered="false" />
												<p:menuitem value="#{msg['Menu.conf.L8']}" update="messages"
													ajax="false" rendered="false" />
											</p:submenu>
											<p:separator />
											<p:menuitem value="#{msg['Menu.conf.L9']}"
												url="/pages/config/parametres/PRM-ACC.wit" />
											<p:separator />
									</p:tieredMenu></td>
							</s:authorize>
							<s:authorize ifAnyGranted="ROLE_RH">
								<td class="separateur"></td>
								<td class="dropshadow"><p:commandLink id="confRHButton"
										value="#{msg['Menu.conf.L1']}" styleClass="linkbarrenav" /> <p:tieredMenu
										overlay="true" trigger="confRHButton" my="left top"
										at="left bottom">
										<p:menuitem value="#{msg['Menu.conf.L2']}"
											url="/pages/config/horaire/HOR-ACC.wit" />
										<p:menuitem value="#{msg['Menu.conf.L3']}"
											url="/pages/config/planning/PLA-ACC.wit" />
										<p:separator />
										<p:menuitem value="#{msg['Menu.conf.L9']}"
											url="/pages/config/parametres/PRM-ACC.wit" />
									</p:tieredMenu></td>
							</s:authorize>
							<s:authorize ifAnyGranted="ROLE_ADMIN,ROLE_RH">
								<td class="separateur"></td>
								<td class="dropshadow"><p:commandLink id="dynaButtonrh"
										value="#{msg['Menu.suivi.L1']}" styleClass="linkbarrenav" />
									<p:tieredMenu overlay="true" trigger="dynaButtonrh"
										my="left top" at="left bottom">
										<p:menuitem value="#{msg['Menu.suivi.L2']}"
											url="/pages/suivirh/SVRH-ACC.wit" />
										<p:menuitem value="#{msg['Menu.suivi.L3']}"
											url="/pages/suivirh/absence/ABS-ACC.wit" />
										<p:menuitem value="#{msg['Menu.suivi.L4']}"
											url="/pages/suivirh/conge/CON-ACC.wit" />
										<p:menuitem value="#{msg['Menu.suivi.L5']}"
											url="/pages/suivirh/retard/RTR-ACC.wit" />
										<p:menuitem value="#{msg['Menu.suivi.L6']}"
											url="/pages/suivirh/pointage/POINT_MOV.wit" />
										<p:menuitem value="#{msg['Menu.suivi.L7']}" url="/pages/journal/JRN-ACC.wit" />
										<!-- 
										<p:menuitem value="#{msg['Menu.suivi.L8']}"
											url="/pages/share/IMP-ACC.wit" />
										 -->
									</p:tieredMenu></td>
							</s:authorize>
							<s:authorize ifAnyGranted="ROLE_SUPH">
								<td class="separateur"></td>
								<td class="dropshadow"><p:commandLink id="dynaSHButtonrh"
										value="#{msg['Menu.suivi.L1']}" styleClass="linkbarrenav" />
									<p:tieredMenu overlay="true" trigger="dynaSHButtonrh"
										my="left top" at="left bottom">
										<p:menuitem value="#{msg['Menu.suivi.L2']}"
											url="/pages/suivirh/SVRH-ACC.wit" />
										<p:menuitem value="#{msg['Menu.suivi.L6']}"
											url="/pages/suivirh/pointage/POINT_MOV.wit" />
										<p:menuitem value="#{msg['Menu.suivi.L7']}" url="/pages/journal/JRN-ACC.wit" />
										<!-- 
										<p:menuitem value="#{msg['Menu.suivi.L8']}"
											url="/pages/share/IMP-ACC.wit" />
										 -->
									</p:tieredMenu></td>
								<!-- 
								<td class="separateur"></td>
								<td class="dropshadow"><a
									href="#{facesContext.externalContext.requestContextPath}/pages/manager/MGR-ACC.wit"
									target="_parent" class="linkbarrenav">Suivi MG</a></td>

								<td class="separateur"></td>
								 -->
							</s:authorize>
							<s:authorize ifAnyGranted="ROLE_RP">
								<td class="separateur"></td>
								<td class="dropshadow"><p:commandLink id="dynaButtonrp"
										value="#{msg['Menu.suivi.L1']}" styleClass="linkbarrenav" />
									<p:tieredMenu overlay="true" trigger="dynaButtonrp"
										my="left top" at="left bottom">
										<p:menuitem value="#{msg['Menu.suivi.L3']}"
											url="/pages/suivirh/absence/ABS-ACC.wit" />
										<!-- 
										<p:menuitem value="#{msg['Menu.suivi.L8']}"
											url="/pages/share/IMP-ACC.wit" />
										 -->
									</p:tieredMenu></td>
							</s:authorize>
							<!-- 
							<s:authorize ifAnyGranted="ROLE_ADMIN">
								<td class="separateur"></td>
								<td class="dropshadow"><a
									href="#{facesContext.externalContext.requestContextPath}/pages/checkaccess/CAS-ACC.wit"
									target="_parent" class="linkbarrenav">Check Access</a></td>
								<td class="separateur"></td>
							</s:authorize>
							-->
							<td><a
								href="#{facesContext.externalContext.requestContextPath}/pages/mainHelp.wit"
								target="_parent" class="linkbarrenav"> <img
									src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/bt-aide.gif"
									border="0" />
							</a></td>
							<td class="separateur">&nbsp;</td>
							<td><a href="${request.contextPath}/j_acegi_logout"
								target="_parent"><img
									src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/bt-close.gif"
									border="0" /></a></td>
						</tr>
					</table> <!-- FIN LIENS SECTIONS ET SEPARATEURS -->
				</td>
				<td width="10" align="right" class="barregrise"><img
					src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/ban-grise-fin.gif" /></td>
			</tr>
			<tr>
				<td class="barrebleuepoints"><img
					src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/ban-bleue-points.gif" /></td>
				<td class="barrebleue">
					<!-- Zone d'affichage du login + profil + date du jour   --> <img
					src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/user.gif"
					align="absmiddle" /> <h:outputText
						value="#{authenticationBean.userAuthenticated.nom} #{authenticationBean.userAuthenticated.prenom}" />
					- <span class="txtprofil"><h:outputText
							value="#{authenticationBean.userAuthenticated.profilApp.libelle}" /></span><b>
						- </b><img
					src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/time.gif"
					align="absmiddle" /> <h:outputText value="#{userBean.date}">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm"></f:convertDateTime>
					</h:outputText>
				</td>
				<td align="right" class="barrebleue"><img
					src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/ban-bleue-fin.gif" /></td>
			</tr>
		</table>
	</h:form>
</ui:composition>
