<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">
<h:form id="checktime_header">	
	<!-- TABLEAU DE HAUT DE PAGE AVEC LIENS -->	
	<table width="1000" border="0" cellpadding="0" cellspacing="0" class="templ-top">
		<tr>
		<td width="205" rowspan="2"><a href="/checktime-web/pages/accueil.wit" target="_parent"><img src="/checktime-web/resources/bitmap/navig/logo.gif" alt="A.R.G.O.S" border="0"/></a></td>
		<td width="16" rowspan="2"><img src="/checktime-web/resources/bitmap/navig/ban-grise-bleue.gif"/></td>
		<td width="20" align="right"><img src="/checktime-web/resources/bitmap/navig/ban-grise-debut.gif"/></td>
		<td class="barregrise">
		
		<!-- LIENS SECTIONS ET SEPARATEURS -->
		<!-- La classe linkbarrenav : lien blanc  -->
		<!-- La classe linkbarrenavsel : lien bleu / section en cours  -->
		<table width="70px" border="0" cellpadding="0" cellspacing="0" align="right">
		<tr align="right" >
		<td>&nbsp;</td>
		<td class="separateur">&nbsp;</td>
		<td><a href="Aide/accueil.html" target="_parent" class="linkbarrenav"><img src="/checktime-web/resources/bitmap/navig/bt-aide.gif" border="0"/></a></td>
		<td class="separateur">&nbsp;</td>
		<td><a href="${request.contextPath}/j_spring_security_logout" target="_parent"><img src="/checktime-web/resources/bitmap/navig/bt-close.gif" border="0"/></a></td>
		</tr>
		</table>
		<!-- FIN LIENS SECTIONS ET SEPARATEURS -->
		</td>
		<td width="10" align="right" class="barregrise"><img src="/checktime-web/resources/bitmap/navig/ban-grise-fin.gif"/></td>
		</tr>
		<tr >
		<td class="barrebleuepoints" ><img src="/checktime-web/resources/bitmap/navig/ban-bleue-points.gif" /></td>
		<td class="barrebleue">
		<!-- Zone d'affichage du login + profil + date du jour   -->
		<img src="/checktime-web/resources/bitmap/navig/user.gif" align="absmiddle"/>Marouane Attabae - <span class="txtprofil">Utilisateur normal</span><b> - </b><img src="/checktime-web/resources/bitmap/navig/time.gif" align="absmiddle"/>
		
		</td>
		<td align="right" class="barrebleue"><img src="/checktime-web/resources/bitmap/navig/ban-bleue-fin.gif"/></td>
		</tr>
	  	</table>
</h:form>
</ui:composition>
