<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:acegijsf="http://sourceforge.net/projects/jsf-comp/acegijsf"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
	
		<div class="footer-User">
		<div class="footer-Login"><h:outputText value="#{authenticationBean.userAuthenticated.nom} #{authenticationBean.userAuthenticated.prenom}"/></div>
		</div>
		<ui:insert name="footer">Page Footer</ui:insert>
</ui:composition>
