<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
	xml:lang="en">
	<h:head>
		<title><h:outputText value="#{msg['project.title']}"/></title>
		<link href="/checktime-web/resources/inc/style.css" rel="stylesheet" type="text/css"/>
		<script language="javascript" type="text/javascript" src="/checktime-web/resources/inc/scripts.js"></script>
	</h:head>
	
	<body>
	<center>		
	<h:panelGrid columns="1" style="height:100%; border:0; cellpadding:0; cellspacing:0">
		<p:dialog modal="true" widgetVar="statusDialog" header="Status" draggable="false" closable="false" resizable="false">  
		    <img src="/checktime-web/resources/bitmap/barre/ajaxloadingbar.gif" />  
		</p:dialog>
		<ui:include src="entete-selfservice.xhtml" />
		<h:panelGrid columns="2" style="border:0;" columnClasses="panelGrid-top,panelGrid-top">
			<h:panelGroup layout="block" columns="1" styleClass="templ-right" style="border:0;">
				<!-- TITRE DE PAGE -->
				<table width="100%" height="60"  border="0" cellpadding="0" cellspacing="5">
					<tr>
					<td class="txttitre_section">
					<a href="#" onclick="openfenetre('Aide/main-help-detail.html','A','810','500','yes','center')"><img src="/checktime-web/resources/bitmap/pictos/picto-small-help.gif" alt="Aide rapide..." border="0" align="absmiddle"/></a>
							<ui:insert name="title"/>
						</td>
					</tr>
					<tr>
					<td class="boutonsactionsbg">
						<!-- Table des 3 boutons -->		  
					</td>
					</tr>
				</table>
				<!-- FIN TITRE DE PAGE -->
				<ui:insert name="body"></ui:insert>
			</h:panelGroup>
		</h:panelGrid>
	</h:panelGrid>	
		
				
		</center>
	</body>
	
</html>
