<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">
	
	<h:head>
	    <title><h:outputText value="#{msg['project.title']}"/></title>
		<h:outputStylesheet library="inc" name="style.css"/>
		<h:outputScript library="inc" name="scripts.js"/>
		<h:outputScript library="js" name="primefaces.js"/>
	</h:head>
	
	<body>	
		<center>
			<ui:include src="entete.xhtml" />
		
				<!-- TITRE DE PAGE -->
				<table width="75%"  border="0" cellpadding="0" cellspacing="5">
					<tr>
						<td class="txttitre_section">
					
							<p:graphicImage id="critBtn" name="pictos/picto-small-help.gif" library="bitmap" title="Aide rapide..." style="cursor: pointer;" onclick="PF('helpDialog').show()" />
							<ui:insert name="title"/>
						</td>
					</tr>
					<tr>
					<td class="boutonsactionsbg">
						<!-- Table des 3 boutons -->		  
					</td>
					</tr>
				</table>
				<!-- FIN TITRE DE PAGE -->
			
				<ui:insert name="body"></ui:insert>
			
			</center>
				
		
	</body>
</html>
