<ui:composition  
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:form id="checktime_menu">					
     	<!-- Tableau d'infos complémentaires -->
		<!-- Fin Tableau d'infos complémentaires -->
        <!-- Tableau d'infos complémentaires -->
        <!-- FIN CONTENU Infos complémentaires -->
        <!-- TITRE NAVIGATION -->
	<table border="0" cellpadding="0" cellspacing="0">
		<tr><td class="sectionbg">Navigation : </td>
		</tr>
		<tr><td>
		
			<!-- Table des liens de consultation -->
			<table width="200"  border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
			  <td colspan="2" class="treelinklight">&nbsp;<img src="/checktime-web/resources/bitmap/treeview/puce-bleue.gif" align="absmiddle"/><a href="main-maquette.html" class="linktreelight">Avancement maquette ARGOS </a></td>
			</tr>
			<tr><td colspan="2" class="templ-separ-nav"></td>
			</tr>
			<tr>
			  <td  class="treelink"><img src="/checktime-web/resources/bitmap/treeview/puce-blanche2.gif"/>&nbsp;<a href="TDB-1.htm" target="_parent" class="linktree">TDB ARD DC </a></td>
			</tr>
			<tr>
			  <td class="treelink"><img src="/checktime-web/resources/bitmap/treeview/puce-blanche2.gif"/>&nbsp;<a href="TDB-2.htm" target="_parent" class="linktree">TDB CATEGORIE </a></td>
			</tr>
			<tr>
			  <td class="treelink"><img src="/checktime-web/resources/bitmap/treeview/puce-blanche2.gif"/>&nbsp;<a href="TDB-3.htm" target="_parent" class="linktree">TDB CHEF DE MARCHE </a></td>
			</tr>
			<tr>
			  <td class="treelink"><img src="/checktime-web/resources/bitmap/treeview/puce-blanche2.gif"/>&nbsp;<a href="TDB-4.htm" target="_parent" class="linktree">TDB APPROS </a></td>
			</tr>
			</table>
			<!-- Fin Table des liens de consultation -->
		
		
		</td></tr>
	  </table>
		<!-- FIN TITRE NAVIGATION -->
	
</h:form>
</ui:composition>
