<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:form id="checktime_search">				
	<table border="0" cellpadding="0" cellspacing="0">
		<tr><td class="titre-moteur">Rechercher</td></tr>
		<tr><td class="bg-moteur">		
			<!-- CONTENU MOTEUR DE RECHERCHE -->
			<table width="95%" border="0" align="center" cellpadding="2" cellspacing="1">
			<tr valign="bottom"><td colspan="2"><input type="text" style="width:96%" class="moteur"/></td></tr>
			<tr valign="top"><td width="140">
			<select style="width:150px" class="listemoteur">
			<option>Rechercher dans : </option>
			<option>Articles</option>
			<option>Fournisseurs</option>
			<option>Points de vente</option>
			<option>Soci&eacute;t&eacute;s</option>
			</select>
			</td>
				<td><a href="Search/accueil-results.html" target="_top"><img src="/checktime-web/resources/bitmap/navig/bt-ok.gif" border="0" align="absmiddle" alt="Lancer la recherche"/></a></td>
			</tr>
			
			<tr>
				<td colspan="2">
					<img src="/checktime-web/resources/bitmap/navig/puce.gif" align="absmiddle"/>
					<!-- a href="Search/accueil.html" target="_top" class="linkgrey"/>Recherche avancée</a -->
				</td>
			</tr>
			</table>		
			<!-- FIN CONTENU MOTEUR DE RECHERCHE -->
		</td>
		</tr>
		<tr>
		<td valign="top"><img src="/checktime-web/resources/bitmap/navig/bottom-moteur.gif"/></td>
		</tr>
		<!-- CE TR EST PREVU POUR LAISSER UN LEGER ESPACE ENTRE LE MOTEUR ET LES ELEMENTS EN DESSOUS - NE PAS ENLEVER -->
		<tr>
		<td height="3" class="templ-bg"></td>
		</tr>
		</table> 
		<!-- FIN MOTEUR DE RECHERCHE -->	
     	
	
</h:form>
</ui:composition>
