<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	
	<p:dialog header="AIDE - DISPOSITIFS" widgetVar="helpDialog" modal="true" height="600px" width="80%">
	<link rel="stylesheet" type="text/css" href="../../../resources/css/HelpStyle.css"/>
	<div class="backColor">
		<div class="container">
			<div>
				<h2>Présentation</h2>
				<div>
					<li class="ListItem">
						L’écran de consultation des dispositifs existants dans le référentiel est accessible par le lien « Terminaux».
					</li>
					<div class="imageStyle">
						<img src="../../../resources/images/TER-HELP/TER-INTRO.PNG" />
					</div>
				</div>
				<div>
					<div>
						Le tableau des terminaux contient les informations suivantes :
						<ul>
							<li>Code</li>
							<li>Type</li>
							<li>Date d’installation</li>
							<li>Libellé</li>
							<li>Unité où il est installé</li>
							<li>Adresse IP</li>
						</ul>
					</div>
					<div class="imageStyle">
						<img src="../../../resources/images/TER-HELP/TER-VIEW.PNG" />
					</div>
					<div>
						Cet écran permet d’effectuer les opérations d’ajout, modification et suppression sur les terminaux enregistrés.
					</div>
				</div>
			</div>
		</div>
	</div>
	</p:dialog>
	</ui:composition>