<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">CHECKTIME - Dispositifs<ui:include
			src="TER-HELP.xhtml" />
	</ui:define>

	<ui:define name="body">

		<table width="1000" border="0" cellspacing="0" cellpadding="0"
			class="onglet-bg">
			<tr>
				<td width="200">
					<!-- Onglet selectionné -->
					<table border="0" cellpadding="0" cellspacing="0"
						class="onglet-sel">
						<tr>
							<td class="onglet-border"></td>
							<td class="onglet-center">Liste des dispositifs</td>
							<td class="onglet-border"></td>
						</tr>
					</table> <!-- Fin Onglet selectionné -->

				</td>
				<td>
					<!-- Onglet non selectionné --> <!-- Fin Onglet non selectionné -->
				</td>
				<td>&nbsp;</td>
			</tr>
		</table>
		<table width="1000" style="height: 400px" border="0" cellpadding="0"
			cellspacing="10" class="boxtour-onglets">

			<tr>
				<td class="templ-main"><h:form id="table">
						<p:toolbar>
							<p:toolbarGroup align="left">
								<p:commandButton value="Nouveau"
									action="#{terminauxBean.loadAdd}"
									update=":#{p:component('params2')}" icon="ui-icon-document"
									onclick="PF('addForm').show();" />
							</p:toolbarGroup>
						</p:toolbar>

						<p:dataTable var="terminal" id="content"
							value="#{terminauxBean.listeTerminals}" sortMode="multiple">
							<p:column headerText="Active">
								<h:selectBooleanCheckbox value="#{terminal.enabled}">
									<p:ajax event="change" update=":table:content" />
								</h:selectBooleanCheckbox>
							</p:column>
							<p:column headerText="Code">
								<h:outputText value="#{terminal.code}" />
							</p:column>

							<p:column headerText="Type">
								<h:outputText value="#{terminal.type.libelle}" />
							</p:column>

							<p:column headerText="Date Installation">
								<h:outputText value="#{terminal.dateInstallation}">
									<f:convertDateTime pattern="dd MMM yyyy"></f:convertDateTime>
								</h:outputText>
							</p:column>

							<p:column headerText="Libelle">
								<h:outputText value="#{terminal.libelle}" />
							</p:column>
							<p:column headerText="Location">
								<h:outputText value="#{terminal.pointageLocation}" />
							</p:column>
							<p:column headerText="Adresse IP">
								<h:outputText value="#{terminal.ipAdress}" />
							</p:column>
							<p:column headerText="Affectation" sortBy="#{terminal.unit.id}">
								<h:outputText value="#{terminal.unit.libelle}" />
							</p:column>

							<p:column headerText="Opérations">
								<p:commandButton id="editButton" value=""
									action="#{terminauxBean.loadUpdate}"
									update=":#{p:component('updateDialog')} :#{p:component('params')}"
									icon="ui-icon-pencil" oncomplete="PF('updateForm').show()"
									style="width:30px;height:30px">
									<f:param name="id" value="#{terminal.id}" />
								</p:commandButton>
								<p:commandButton id="deleteButton" value=""
									action="#{terminauxBean.loadDelete}" icon="ui-icon-close"
									oncomplete="PF('confirmation').show()"
									style="width:30px;height:30px">
									<f:param name="id" value="#{terminal.id}" />
								</p:commandButton>
							</p:column>

							<h:messages id="editMsg" autoUpdate="true" />

						</p:dataTable>
					</h:form></td>
			</tr>

		</table>

		<p:dialog header="Ajout de terminaux" widgetVar="addForm" modal="true"
			width="700px">
			<h:form id="addDialog">
				<p:growl id="growl" />
				<p:tabView>
					<p:tab title="Terminal">
						<p:outputPanel id="pointPanel">
							<h:panelGrid columns="2" cellpadding="5">

								<h:panelGroup style="display:block; text-align:left">
									<p:outputLabel styleClass="mode" for="code" value="Code :" />
								</h:panelGroup>
								<p:inputMask required="true" id="code"
									value="#{terminauxBean.terminal.code}" mask="9?999" />

								<h:panelGroup style="display:block; text-align:left">
									<p:outputLabel styleClass="mode" for="type" value="Type :" />
								</h:panelGroup>
								<h:selectOneMenu id="type" required="true"
									value="#{terminauxBean.terminal.type.id}">
									<f:selectItems value="#{terminauxBean.types}" var="c"
										itemLabel="#{c.libelle}" itemValue="#{c.id}" />
								</h:selectOneMenu>

								<h:panelGroup style="display:block; text-align:left">
									<p:outputLabel styleClass="mode" for="dateinst"
										value="Date d'installation :" />
								</h:panelGroup>
								<p:calendar id="dateinst" pattern="yyyy/MM/dd HH:mm:ss"
									value="#{terminauxBean.terminal.dateInstallation}" />

								<h:panelGroup style="display:block; text-align:left">
									<p:outputLabel styleClass="mode" for="lib" value="Libellé :" />
								</h:panelGroup>
								<p:inputText required="true" id="lib"
									value="#{terminauxBean.terminal.libelle}" />

								<h:panelGroup style="display:block; text-align:left">
									<p:outputLabel styleClass="mode" for="adrip"
										value="Adresse IP :" />
								</h:panelGroup>
								<p:inputText required="true" id="adrip"
									value="#{terminauxBean.terminal.ipAdress}" />

								<h:panelGroup style="display:block; text-align:left">
									<p:outputLabel styleClass="mode" for="unit" value="Unité :" />
								</h:panelGroup>
								<h:selectOneMenu id="unit"
									value="#{terminauxBean.terminal.unit.id}">
									<f:selectItems value="#{terminauxBean.units}" var="c"
										itemLabel="#{c.libelle}" itemValue="#{c.id}" />
								</h:selectOneMenu>

								<h:panelGroup style="display:block; text-align:left">
									<p:outputLabel styleClass="mode" for="location"
										value="Location du fichier de pointage :" />
								</h:panelGroup>
								<p:inputText required="true" id="location"
									value="#{terminauxBean.terminal.pointageLocation}" />

								<!--<p:fileUpload id="fichier" fileUploadListener="#{terminauxBean.upload}" allowTypes="/(\.|\/)(txt)$/" sizeLimit="100000" description="Selectionez le fichier de pointage"/> -->
							</h:panelGrid>
						</p:outputPanel>
					</p:tab>

					<p:tab id="tab22" title="Paramètres">
						<p:dataTable id="params2" var="paramm"
							value="#{terminauxBean.terminal.terminalParams}" editable="true"
							editMode="cell" widgetVar="paramTable2">
							<f:facet name="header">
            		Liste des paramètres de la terminal
        		</f:facet>
							<p:column headerText="Nom" style="width:25%">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{paramm.name}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{paramm.name}" style="width:96%"
											label="Nom" />
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column headerText="Description" style="width:25%">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{paramm.description}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{paramm.description}" style="width:96%"
											label="Description" />
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column headerText="Position" style="width:25%">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{paramm.position}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{paramm.position}" style="width:96%"
											label="Position" />
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column headerText="Longueur" style="width:25%">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{paramm.length}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{paramm.length}" style="width:96%"
											label="Longueur" />
									</f:facet>
								</p:cellEditor>
							</p:column>

							<p:column headerText="Opérations">
								<p:commandButton id="editButton2" value=""
									action="#{terminauxBean.deleteParam}"
									update=":#{p:component('params2')}" icon="ui-icon-close"
									style="width:30px;height:30px">
									<f:param name="id" value="#{paramm.id}" />
								</p:commandButton>
							</p:column>

						</p:dataTable>
						<p:commandButton value="Ajouter"
							action="#{terminauxBean.addParameter}"
							update=":#{p:component('params2')}" icon="ui-icon-document" />
					</p:tab>

				</p:tabView>
				<h:panelGroup style="display:block; text-align:right">
					<p:commandButton value="Enregistrer"
						actionListener="#{terminauxBean.saveTerminalListener}"
						oncomplete="if (args &amp;&amp; !args.validationFailed) PF('addForm').hide()"
						update="growl :table:content" icon="ui-icon-check" />
				</h:panelGroup>
			</h:form>
		</p:dialog>





		<p:dialog header="Modification" widgetVar="updateForm" modal="true"
			width="700px">
			<h:form id="updateDialog">
				<p:tabView id="tabView">
					<p:tab title="Terminal">

						<p:outputPanel id="pointPanel">
							<h:panelGrid columns="2" cellpadding="5">

								<h:panelGroup style="display:block; text-align:left">
									<p:outputLabel styleClass="mode" for="code" value="Code :" />
								</h:panelGroup>
								<p:inputText required="false" id="code"
									value="#{terminauxBean.terminal.code}" disabled="true" />

								<h:panelGroup style="display:block; text-align:left">
									<p:outputLabel styleClass="mode" for="type" value="Type :" />
								</h:panelGroup>
								<p:inputText required="true" id="type"
									value="#{terminauxBean.terminal.type}" />

								<h:panelGroup style="display:block; text-align:left">
									<p:outputLabel styleClass="mode" for="dateinst"
										value="Date d'installation :" />
								</h:panelGroup>
								<p:calendar id="dateinst" pattern="yyyy/MM/dd HH:mm:ss"
									value="#{terminauxBean.terminal.dateInstallation}" />

								<h:panelGroup style="display:block; text-align:left">
									<p:outputLabel styleClass="mode" for="lib" value="Libellé :" />
								</h:panelGroup>
								<p:inputText required="true" id="lib"
									value="#{terminauxBean.terminal.libelle}" />

								<h:panelGroup style="display:block; text-align:left">
									<p:outputLabel styleClass="mode" for="adrip"
										value="Adresse IP :" />
								</h:panelGroup>
								<p:inputText required="true" id="adrip"
									value="#{terminauxBean.terminal.ipAdress}" />

								<h:panelGroup style="display:block; text-align:left">
									<p:outputLabel styleClass="mode" for="unit" value="Unité :" />
								</h:panelGroup>
								<h:selectOneMenu id="unit"
									value="#{terminauxBean.terminal.unit.id}">
									<f:selectItems value="#{terminauxBean.units}" var="c"
										itemLabel="#{c.libelle}" itemValue="#{c.id}" />
								</h:selectOneMenu>

								<h:panelGroup style="display:block; text-align:left">
									<p:outputLabel styleClass="mode" for="location"
										value="Location du fichier de pointage :" />
								</h:panelGroup>
								<p:inputText required="true" id="location"
									value="#{terminauxBean.terminal.pointageLocation}" />


							</h:panelGrid>
						</p:outputPanel>

					</p:tab>

					<p:tab id="tab2" title="Paramètres">
						<p:contextMenu for="params">
							<p:menuitem value="Supprimer" icon="ui-icon-search" />

						</p:contextMenu>

						<p:dataTable id="params" var="paramm"
							value="#{terminauxBean.terminal.terminalParams}" editable="true"
							editMode="cell" widgetVar="paramTable">
							<f:facet name="header">
            		Liste des paramètres de la terminal
        		</f:facet>


							<p:column headerText="Nom" style="width:25%">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{paramm.name}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{paramm.name}" style="width:96%"
											label="Nom" />
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column headerText="Description" style="width:25%">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{paramm.description}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{paramm.description}" style="width:96%"
											label="Description" />
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column headerText="Position" style="width:25%">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{paramm.position}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{paramm.position}" style="width:96%"
											label="Position" />
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column headerText="Longueur" style="width:25%">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{paramm.length}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{paramm.length}" style="width:96%"
											label="Longueur" />
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column headerText="Opérations">
								<p:commandButton id="editButton" value=""
									action="#{terminauxBean.deleteParam}"
									update=":#{p:component('params')}" icon="ui-icon-close"
									style="width:30px;height:30px">
									<f:param name="id" value="#{paramm.id}" />
								</p:commandButton>
							</p:column>

						</p:dataTable>
						<p:commandButton value="Ajouter"
							action="#{terminauxBean.addParameter}"
							update=":#{p:component('params')}" icon="ui-icon-document" />


					</p:tab>

				</p:tabView>
				<h:panelGroup style="display:block; text-align:right">
					<p:commandButton value="Enregistrer"
						action="#{terminauxBean.editTerminal}"
						oncomplete="PF('updateForm').hide()" update=":table:content"
						icon="ui-icon-check" />
				</h:panelGroup>

			</h:form>
		</p:dialog>

		<p:confirmDialog
			message="Etes vous sur de vouloir supprimer ce dispositif ?"
			width="200" showEffect="explode" hideEffect="explode"
			header="Confirmation" severity="alert" widgetVar="confirmation">

			<p:commandButton value="Supprimer"
				action="#{terminauxBean.deleteTerminal}" update=":table:content"
				oncomplete="PF('confirmation').hide()" />
			<p:commandButton value="Annuler" onclick="PF('confirmation').hide()"
				type="button" />

		</p:confirmDialog>
	</ui:define>

</ui:composition>
