<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:t="http://myfaces.apache.org/tomahawk">


	<ui:define name="title">#{msg['SuiviMG.titre']}</ui:define>

	<ui:define name="body">			
			<h:form id="suiviForm">
				<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" /> 
				<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
				    <img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/barre/ajaxloadingbar.gif" alt="" />
				</p:dialog>
				<p:toolbar id="toolsId" style="width:1000px"> 
	            	<f:facet name="left">
	            		<h:panelGrid columns="7">
							<p:calendar id="date1" placeholder="Date du" value="#{managerBean.criteria.dateDebut}" locale="fr" navigator="true"></p:calendar>
							<p:calendar id="date2" placeholder="au" value="#{managerBean.criteria.dateFin}" locale="fr" navigator="true"></p:calendar>
							<p:commandButton value="OK" update=":suiviForm:dataTable" oncomplete="rc()" actionListener="#{managerBean.initlDataModel}"></p:commandButton>
						</h:panelGrid>
	            	</f:facet>
	            	<f:facet name="right">
				        <p:commandButton id="printBtId" title="#{msg['share.title1']}" icon="ui-icon-print">
				        </p:commandButton>
		            	<p:separator />
		            	<p:commandButton id="resetBtn" process="@this" title="#{msg['share.btn9']}" icon="ui-icon-arrowrefresh-1-s" resetValues="true"
		            		update=":suiviForm:dataTable :suiviForm:orgmId">
		            		<p:resetInput target=":dataTable" />
		            	</p:commandButton>
	            	</f:facet>
		        </p:toolbar>
			    <p:layout style="width:1000px;height:600px;" id="layout" >  
			        <p:layoutUnit position="west" resizable="true" collapsible="true" header="Mes entêtés" size="250" minSize="40" maxSize="460">
						<p:tree id="orgmId" value="#{managerBean.treeNode}" var="node" animate="true" cache="false" highlight="true" selectionMode="single"
							style="text-align: left;" 
							selection="#{managerSelectionBean.selectedNode}">
							<p:ajax event="select" update=":suiviForm:dataTable" listener="#{managerSelectionBean.handleNodeSelection}" oncomplete="rc()"/>  
							<p:treeNode>
								<h:outputText value="#{node.libelle}"/>
							</p:treeNode>
						</p:tree>
					</p:layoutUnit>
					<p:layoutUnit position="center" id="dashboard" resizable="true">
						<p:remoteCommand name="rc" autoRun="true" update=":suiviForm:lineChart"></p:remoteCommand>
						<p:chart id="lineChart" type="line" model="#{managerBean.lineModel}" ></p:chart> 
					</p:layoutUnit>
					<p:layoutUnit position="east" resizable="true" collapsible="true" header="Mes subordonnés" size="250" minSize="40" maxSize="460">
						<p:dataTable var="user" binding="#{managerSelectionBean.usersTable}" value="#{managerBean.dataModel}" filterEvent="blur" filteredValue="#{userBean.filtredUsers}"
								id="dataTable" paginator="true" rows="10" paginatorPosition="bottom" rowIndexVar="index"
								paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
								lazy="true" widgetVar="dataTableWidget" selectionMode="single" disabledSelection="#{user.left}" rowKey="#{user.id}">
								<p:ajax event="filter" oncomplete="rc()"></p:ajax>
								<f:facet name="header">
									<h:outputText value="Total HTM : "></h:outputText>
									<h:outputText value="#{managerBean.dataModel.totalHTM}">
										<f:converter converterId="dateTimeConverter"/>
									</h:outputText>
								</f:facet>
								<p:column width="15" headerText="MAT">
										<t:outputText value="#{user.matricule}" onclick="alert(#{index})"/>
								</p:column>
								<p:column headerText="#{msg['Collabo.L7']}" sortBy="#{user.nom}" width="110"
									filterBy="#{user.nom}" filterMatchMode="contains">
									<h:outputText value="#{user.nom} #{user.prenom}"/>
								</p:column>
								<p:column width="15" headerText="HTM">
										<t:outputText value="#{user.hrTMoy}">
											<f:converter converterId="dateTimeConverter"/>
										</t:outputText>
								</p:column>
							</p:dataTable>
					</p:layoutUnit>
					<p:layoutUnit position="south" size="1"/>
				</p:layout>
				</h:form>
	</ui:define>

</ui:composition>
