<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">   #{msg['Horaire.titre']}</ui:define>

	<ui:define name="body">

		<h:form id="formUpdate">
			<p:growl id="msgs" showDetail="true" />

			<p:dataTable id="updatehoraires" rows="10" var="horaire" paginator="true" 
				dynamic="true" value="#{horaireBean.horaires}">

				<p:column headerText="Libelle">
					<h:outputText value="#{horaire.libelle}" />
				</p:column>
				<p:column headerText="Temps contractuel :">
					<h:outputText value="#{horaire.tmContract}" />
				</p:column>
				<p:column headerText="Taux d'un JT :">
					<h:outputText value="#{horaire.tauxFull}" />
				</p:column>
				<p:column headerText="Taux d'un JT/2 :">
					<h:outputText value="#{horaire.tauxHalf}" />
				</p:column>
				<p:column style="width:100px" headerText="Afficher - Modifier - Supprimer " >
					<h:panelGrid columns="3" styleClass="actions" cellpadding="2" >
						<p:commandButton update=":formUpdate:display"
							oncomplete="horaireDialog.show()" image="ui-icon ui-icon-search"
							title="View">
							<f:setPropertyActionListener value="#{horaire}"
								target="#{horaireBean.selectedHoraire}" />
							<f:setPropertyActionListener value="#{false}"
								target="#{horaireBean.editMode}" />
						</p:commandButton>
						<p:commandButton update=":formUpdate:display"
							oncomplete="horaireDialog.show()" image="ui-icon ui-icon-pencil"
							title="Edit">
							<f:setPropertyActionListener value="#{horaire}"
								target="#{horaireBean.selectedHoraire}" />
							<f:setPropertyActionListener value="#{true}"
								target="#{horaireBean.editMode}" />
						</p:commandButton>
						<p:commandButton update=":formUpdate:display"
							oncomplete="confirmation.show()" image="ui-icon ui-icon-close"
							title="Delete">
							<f:setPropertyActionListener value="#{horaire}"
								target="#{horaireBean.selectedHoraire}" />
						</p:commandButton>
					</h:panelGrid>
				</p:column>
			</p:dataTable>

			<p:dialog header="Horaire Detail" widgetVar="horaireDialog"
				resizable="false" id="horaireDlg" width="300" showEffect="fade"
				hideEffect="explode" modal="true">

				<h:panelGrid id="display" columns="2" cellpadding="4"
					style="margin:0 auto;">

					<f:facet name="header">
					</f:facet>

					<h:outputText value="Libelle :" />
					<h:panelGroup>
						<h:outputText value="#{horaireBean.selectedHoraire.libelle}"
							style="font-weight:bold" rendered="#{!horaireBean.editMode}"/>
						<p:inputText value="#{horaireBean.selectedHoraire.libelle}"
						rendered="#{horaireBean.editMode}" required="true" label="Libelle" />	
					</h:panelGroup>

					<h:outputText value="Temps contractuel :" />
					<h:panelGroup>
						<h:outputText value="#{horaireBean.selectedHoraire.tmContract}"
							style="font-weight:bold" rendered="#{!horaireBean.editMode}" />
						<p:inputText value="#{horaireBean.selectedHoraire.tmContract}"
						rendered="#{horaireBean.editMode}" required="true" label="Type" />							
					</h:panelGroup>
					
					<h:outputText value="Taux d'un JT :" />
					<h:panelGroup>
						<h:outputText value="#{horaireBean.selectedHoraire.tauxFull}"
							style="font-weight:bold" rendered="#{!horaireBean.editMode}" />
						<p:inputText value="#{horaireBean.selectedHoraire.tauxFull}"
						rendered="#{horaireBean.editMode}" required="true" label="Type" />							
					</h:panelGroup>	
					
					<h:outputText value="Taux d'un JT/2 :" />
					<h:panelGroup>
						<h:outputText value="#{horaireBean.selectedHoraire.tauxHalf}"
							style="font-weight:bold" rendered="#{!horaireBean.editMode}" />
						<p:inputText value="#{horaireBean.selectedHoraire.tauxHalf}"
						rendered="#{horaireBean.editMode}" required="true" label="Type" />							
					</h:panelGroup>										

					<f:facet name="footer">
						<p:outputPanel rendered="#{horaireBean.editMode}" layout="block"
							style="text-align:right">
							<p:commandButton value="Save" 
								actionListener="#{horaireBean.updateSelecthoraire}"
								oncomplete="onEditComplete(xhr,status,args)"
								image="ui-icon ui-icon-check" />
							<p:commandButton value="Cancel" onclick="horaireDialog.hide()"
								type="button" image="ui-icon ui-icon-close" />

						</p:outputPanel>
					</f:facet>
				</h:panelGrid>

			</p:dialog>

			<p:confirmDialog message="Are you sure?" width="200"
				showEffect="explode" hideEffect="explode" header="Confirm"
				severity="alert" widgetVar="confirmation">

				<p:commandButton value="Yes sure" update="updatehoraires"
					actionListener="#{horaireBean.deleteSelectedhoraire}"
					oncomplete="confirmation.hide()" />
				<p:commandButton value="Not yet" onclick="confirmation.hide()"
					type="button" />

			</p:confirmDialog>

		</h:form>
	</ui:define>
</ui:composition>