<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">   #{msg['Horaire.titre']} <ui:include src="HOR-HELP.xhtml" /></ui:define>

	<ui:define name="body">

		<h:form id="horaireForm">
			<p:growl id="growl" />
			<p:confirmDialog message="#{msg['Horaire.M2']}"
				showEffect="explode" hideEffect="explode" header="#{msg['checktime.confirm.delete']}"
				severity="alert" widgetVar="confirmation">
				<p:commandButton value="#{msg['share.boolean.yes']}" action="#{horaireBean.deletehoraire}"
					update="@form" oncomplete="PF('confirmation').hide()" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
				<p:commandButton value="#{msg['share.boolean.no']}" onclick="PF('confirmation').hide()"
					type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
			</p:confirmDialog> 
			<h:panelGrid columns="2" columnClasses="panelGrid-top,panelGrid-top" style="width:1025px;">
			
				<h:panelGrid columns="1">
				
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton image="ui-icon-close" update="@form" oncomplete="PF('confirmation').show()">
							</p:commandButton>
							<p:commandButton oncomplete="PF('newHoraireDialog').show()"
								action="#{horaireBean.clear}"
								update=":newHoraireDialog" icon="ui-icon-plus" />
						</f:facet>						
					</p:toolbar>
					<p:dataTable var="smpHoraire" value="#{horaireBean.horaires}"
						id="dataTable" paginator="true" rows="8"
						paginatorPosition="bottom" rowIndexVar="index"
						paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
						rowsPerPageTemplate="5,10,15" rowKey="#{smpHoraire.id}"
						selectionMode="single" selection="#{horaireBean.horaire}" >
						<f:facet name="header">  
		                	#{msg['Horaire.L1']}  
		            	</f:facet>
		            	<p:ajax event="rowSelect" listener="#{horaireBean.viewHoraireAction}" oncomplete="rc()"/>
		            	<p:ajax event="rowDblselect" oncomplete="PF('newHoraireDialog').show()" update=":newHoraireDialog" />
						<p:column>
							<h:outputText value="#{smpHoraire.libelle}"
								style="margin-left:10px" />
						</p:column>
					</p:dataTable>



					<p:panel id="horaireDetailsPanelId" header="#{msg['Horaire.L2']}  "
						style="width: 500;">
						<h:panelGrid columns="2" cellpadding="2" id="userUpdateForm"
							border="0">
							<h:outputLabel for="libelle" value="#{msg['Horaire.L3']}" />
							<h:outputText id="libelle"
								value="#{horaireBean.horaire.libelle}"
								style="width: 200;"></h:outputText>

							<h:outputLabel for="tmcont" value="#{msg['Horaire.L4']}" />
							<h:outputText id="tmcont"
								value="#{horaireBean.horaire.tmContract}"
								style="width: 200;"></h:outputText>

							<h:outputLabel for="tauxfull" value="#{msg['Horaire.L5']}" />
							<h:outputText id="tauxfull"
								value="#{horaireBean.horaire.tauxFull}"
								style="width: 200;"></h:outputText>

							<h:outputLabel for="tauxhalf" value="#{msg['Horaire.L6']}" />
							<h:outputText id="tauxhalf"
								value="#{horaireBean.horaire.tauxHalf}"
								style="width: 200;"></h:outputText>

						</h:panelGrid>
					</p:panel>

				</h:panelGrid>
				<h:panelGrid style="width:665px;height:400px;" columns="1" 
					columnClasses="panelGrid-top" id="panelScheduleId">
				<p:remoteCommand name="rc" update="@form"></p:remoteCommand>
					<p:schedule id="scheduleId" value="#{horaireBean.eventModel}" locale="fr" resizable="false" draggable="false"
						widgetVar="myschedule" view="agendaDay" showHeader="false" ignoreTimezone="false">
						<p:ajax disabled="#{horaireBean.editMode}" event="dateSelect" listener="#{horaireBean.onDateSelect}"
							update=":checkConfigForm"
							oncomplete="PF('eventDialog').show()" />
						<p:ajax event="eventSelect" 
							listener="#{horaireBean.onEventSelect}"
							update=":checkConfigForm"
							oncomplete="PF('eventDialog').show()" />
					</p:schedule>
				</h:panelGrid>
			</h:panelGrid>
		</h:form>

		<p:dialog header="#{msg['Horaire.L7']}" widgetVar="newHoraireDialog"
			resizable="false" id="newHoraireDialog" width="360" showEffect="fade"
			hideEffect="explode" modal="true">
			<h:form>
				<p:growl id="growl" /> 
					<h:panelGrid id="détail" columns="3" styleClass="grid"
						columnClasses=",label,value">
						<img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif" alt="" />
						<h:panelGroup style="display:block; text-align:left"><p:outputLabel styleClass="mode" for="horaire_libelle"	value="#{msg['Horaire.L3']}" /></h:panelGroup>
						<p:inputText id="horaire_libelle"
							value="#{horaireBean.horaire.libelle}" required="true"
							label="horaire_libelle" >
							<f:validateLength maximum="130" minimum="5"/>
							<f:validateRegex pattern="[a-zA-Zéàèùôûçêâ\s-_0-9]+"></f:validateRegex>
						</p:inputText>
						<img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif" alt="" />
						<h:panelGroup style="display:block; text-align:left"><p:outputLabel styleClass="mode" for="horaire_tmcontract" value="#{msg['Horaire.L4']}" /></h:panelGroup>
						<p:inputText id="horaire_tmcontract"
							value="#{horaireBean.horaire.tmContract}" required="true"
							label="horaire_tmcontract" >
								<f:validateLongRange maximum="24" minimum="1" />
								<f:convertNumber minFractionDigits="2" maxIntegerDigits="2"/>
						</p:inputText>
						<img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif" alt="" />
						<h:panelGroup style="display:block; text-align:left"><p:outputLabel styleClass="mode" for="horaire_tauxfull" value="#{msg['Horaire.L5']}" /></h:panelGroup>
						<p:inputText id="horaire_tauxfull"
							value="#{horaireBean.horaire.tauxFull}" required="true"
							label="horaire_tauxfull" >							
								<f:validateLongRange maximum="24" minimum="1" />
								<f:convertNumber minFractionDigits="2" maxIntegerDigits="2"/>
						</p:inputText>
						<img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif" alt="" />
						<h:panelGroup style="display:block; text-align:left"><p:outputLabel styleClass="mode" for="horaire_tauxhalf" value="#{msg['Horaire.L6']}" /></h:panelGroup>
						<p:inputText id="horaire_tauxhalf"
							value="#{horaireBean.horaire.tauxHalf}" required="true"
							label="horaire_tauxhalf" >
								<f:validateLongRange maximum="24" minimum="1" />
								<f:convertNumber minFractionDigits="2" maxIntegerDigits="2"/>
						</p:inputText>
					</h:panelGrid>
					<p:spacer height="12"></p:spacer>
					<p:outputPanel layout="block" style="text-align:right">
						<p:commandButton value="#{msg['share.btn7']}" icon="ui-icon-disk"
							actionListener="#{horaireBean.savehoraire}"
							oncomplete="if (args &amp;&amp; !args.validationFailed) PF('newHoraireDialog').hide()"
							update="growl :horaireForm" />
					</p:outputPanel>
			</h:form>
		</p:dialog>

			<p:dialog widgetVar="eventDialog" header="#{msg['Horaire.L8']}" resizable="true"
				showEffect="clip" hideEffect="clip">
				<h:form id="checkConfigForm">
				<p:growl id="growl" /> 
				<h:panelGrid id="eventDetails" columns="3">
					<img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif" alt="" />
					<h:panelGroup style="display:block; text-align:left"><p:outputLabel styleClass="mode" for="horaire_debut" value="#{msg['Horaire.L9']}" /></h:panelGroup>
					<p:inputText id="horaire_debut"
						value="#{horaireBean.plageHoraire.debut}" required="true"
						label="horaire_debut">
						<f:validateLongRange maximum="24" minimum="0" />
						<f:convertNumber minFractionDigits="2" maxIntegerDigits="2"/>
					</p:inputText>
					<img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif" alt="" />
					<h:panelGroup style="display:block; text-align:left"><p:outputLabel styleClass="mode" for="horaire_fin" value="#{msg['Horaire.L10']}" /></h:panelGroup>
					<p:inputText id="horaire_fin"
						value="#{horaireBean.plageHoraire.fin}" required="true"
						label="horaire_fin" >
						<f:validateLongRange maximum="24" minimum="0" />
						<f:convertNumber minFractionDigits="2" maxIntegerDigits="2"/>
						<f:validateLongRange maximum="24" minimum="0" />
					</p:inputText>
					<img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif" alt="" />
					<h:panelGroup style="display:block; text-align:left"><p:outputLabel styleClass="mode" for="horaire_flexdebut" value="#{msg['Horaire.L11']}" /></h:panelGroup>
					<p:inputText id="horaire_flexdebut"
						value="#{horaireBean.plageHoraire.flexDebut}" required="true"
						label="horaire_flexdebut" >
						<f:validateLongRange maximum="24" minimum="0" />
						<f:convertNumber minFractionDigits="2" maxIntegerDigits="2"/>
					</p:inputText>
					<img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif" alt="" />
					<h:panelGroup style="display:block; text-align:left"><p:outputLabel styleClass="mode" for="horaire_flexfin"	value="#{msg['Horaire.L12']}" /></h:panelGroup>
					<p:inputText id="horaire_flexfin"
						value="#{horaireBean.plageHoraire.flexFin}" required="true"
						label="horaire_flexfin" >
						<f:validateLongRange maximum="24" minimum="0" />
						<f:convertNumber minFractionDigits="2" maxIntegerDigits="2"/>
					</p:inputText>
					<img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif" alt="" />
					<h:panelGroup style="display:block; text-align:left"><p:outputLabel styleClass="mode" for="horaire_tolentree" value="#{msg['Horaire.L13']}" /></h:panelGroup>
					<p:inputText id="horaire_tolentree"
						value="#{horaireBean.plageHoraire.tolEntree}" required="true"
						label="horaire_tolentree" >
						<f:validateLongRange maximum="60" minimum="0"/>
					</p:inputText>
					<img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif" alt="" />
					<h:panelGroup style="display:block; text-align:left"><p:outputLabel styleClass="mode" for="horaire_tolentree" value="#{msg['Horaire.L14']}" /></h:panelGroup>
					<p:inputText id="horaire_tolsortie"
						value="#{horaireBean.plageHoraire.tolSortie}" required="true"
						label="horaire_tolsortie" >
						<f:validateLongRange maximum="60" minimum="0"/>
					</p:inputText>
					<img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif" alt="" />
					<h:panelGroup style="display:block; text-align:left"><p:outputLabel styleClass="mode" for="horaire_pause" value="#{msg['Horaire.L15']}" /></h:panelGroup>
					<p:inputText id="horaire_pause"
						value="#{horaireBean.plageHoraire.pause}" required="true"
						label="horaire_pause" >
						<f:validateLongRange maximum="90" minimum="0"/>
					</p:inputText>
					<img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif" alt="" />
					<h:panelGroup style="display:block; text-align:left"><p:outputLabel styleClass="mode" for="horaire_annotation" value="#{msg['Horaire.L16']}" /></h:panelGroup>
					<h:selectOneMenu id="horaire_annotation" value="#{horaireBean.plageHoraire.annotation.id}" required="true">
						<f:selectItem itemLabel="#{msg['select.choice']}" itemValue=""/>
						<f:selectItems value="#{horaireBean.annotations}" var="annotation"
							itemLabel="#{annotation.description}" itemValue="#{annotation.id}" />
					</h:selectOneMenu>
					<p:spacer/><p:spacer/>
				</h:panelGrid>
				<p:spacer height="12"></p:spacer>
					<p:outputPanel layout="block" style="text-align:right">
						<p:commandButton id="addButton" value="#{msg['share.btn7']}" icon="ui-icon-disk"
							actionListener="#{horaireBean.addEvent}" update="growl :horaireForm"
							oncomplete="if (args &amp;&amp; !args.validationFailed) {PF('myschedule').update();PF('eventDialog').hide();}" />
						<p:commandButton value="#{msg['share.btn4']}" icon="ui-icon-close" update="growl :horaireForm"
								actionListener="#{horaireBean.deleteEvent}" rendered="#{horaireBean.plageHoraire.id != 0}"
								oncomplete="PF('eventDialog').hide()" immediate="true"/>
					</p:outputPanel>
		</h:form>
			</p:dialog>
	</ui:define>
</ui:composition>