<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	
	<p:dialog header="AIDE - HORAIRES" widgetVar="helpDialog" modal="true" height="600px" width="80%">
	<link rel="stylesheet" type="text/css" href="../../../resources/css/HelpStyle.css"/>
	<div class="backColor">
		<div class="container">
			<div>
				<h2>Présentation</h2>
				<div>
					<li class="ListItem">
						Cette fonctionnalité permet de gérer les horaires).
						Elle est accessible depuis le lien « Horaires » dans
						le menu Configuration.
					</li>
					<div class="imageStyle">
									<img src="../../../resources/images/HOR-HELP/HOR-Presentation.png" />
					</div>
				</div>
				<div>
					<div class="imageStyle">
						<img src="../../../resources/images/HOR-HELP/HOR-Affichage.png" />
					</div>
					<div>
						<p>La liste d’horaire n’affiche que le libelle, mais dans la section 2 le détail suivant :</p>
						<ul>
							<li>Libellé</li>
							<li>Temps contractuel</li>
							<li>Taux d’une journée de travail</li>
							<li>Taux d’une demi-journée</li>
						</ul>
					</div>
				</div>
				<br/>
			</div>
			<br/>
			<hr/>
			<br/>
			<div>
				<h2>Gestion de plages horaires</h2>
				<div>
					<li class="ListItem">
						La section 3 sert à éditer, supprimer ou ajouter une plage horaire, soit on clique sur une plage
						déjà programmée dans la journée pour l’éditer ou bien on clique sur une partie vide pour
						programme une nouvelle plage.
					</li>
					<div class="imageStyle">
						<img src="../../../resources/images/HOR-HELP/HOR-PLAGE-HORAIRE.PNG" />
					</div>
					<div>
						<p>Le détail d’une plage horaire contient les informations suivantes :</p>
						<ul>
						 	<li>Début</li>
							<li>Fin</li>
							<li>Flexibilité d’entrée</li>
							<li>Flexibilité de sortie</li>
							<li>Tolérance d’entrée</li>
							<li>Tolérance de sortie</li>
							<li>Pause</li>
							<li>Compteur</li>
						</ul>
					</div>
				</div>
			</div>	
		</div>
	</div>
	</p:dialog>
	</ui:composition>