<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">   #{msg['Horaire.titre']}</ui:define>

	<ui:define name="body">
		<h:form id="form">

			<p:tabView id="tabView" dynamic="true" cache="true">
				<p:tab id="tba1" title="Informations">

					<h:panelGrid id="detail" columns="2" styleClass="grid"
						columnClasses="label,value">
						<h:outputText value="Libelle :" />
						<h:inputText id="horaire_libelle"
							value="#{horaireBean.smpHoraire.libelle}" required="false"
							label="horaire_libelle" />
						<h:outputText value="Temps contractuel :" />
						<h:inputText id="horaire_tmcontract"
							value="#{horaireBean.smpHoraire.tmContract}" required="false"
							label="horaire_tmcontract" />
						<h:outputText value="Taux d'un JT :" />
						<h:inputText id="horaire_tauxfull"
							value="#{horaireBean.smpHoraire.tauxFull}" required="false"
							label="horaire_tauxfull" />
						<h:outputText value="Taux d'un JT/2 :" />
						<h:inputText id="horaire_tauxhalf"
							value="#{horaireBean.smpHoraire.tauxHalf}" required="false"
							label="horaire_tauxhalf" />
						<h:outputText value=" Metier :" />
						<h:selectBooleanCheckbox id="horaire_metier"
							value="#{horaireBean.smpHoraire.metier}" required="false"
							label="horaire_metier" />

					</h:panelGrid>
				</p:tab>
				<p:tab id="tba2" title="Ajouter une Plage Horaire">

					<h:panelGrid id="detailPlages" columns="2" styleClass="grid"
						style="margin-left:30px;" columnClasses="label,value">
						<h:outputText value="Debut :" />
						<h:inputText id="horaire_debut"
							value="#{horaireBean.plageHoraire.debut}" required="false"
							label="horaire_debut">
						</h:inputText>
						<h:outputText value="Fin :" />
						<h:inputText id="horaire_fin"
							value="#{horaireBean.plageHoraire.fin}" required="false"
							label="horaire_fin" />
						<h:outputText value="Flexibilite Entree :" />
						<h:inputText id="horaire_flexdebut"
							value="#{horaireBean.plageHoraire.flexDebut}" required="false"
							label="horaire_flexdebut" />

						<h:outputText value="Flexibilite Sortie :" />
						<h:inputText id="horaire_flexfin"
							value="#{horaireBean.plageHoraire.flexFin}" required="false"
							label="horaire_flexfin" />
						<h:outputText value="Tolerance d'entree :" />
						<h:inputText id="horaire_tolentree"
							value="#{horaireBean.plageHoraire.tolEntree}" required="false"
							label="horaire_tolentree" />
						<h:outputText value="Tolerance de sortie :" />
						<h:inputText id="horaire_tolsortie"
							value="#{horaireBean.plageHoraire.tolSortie}" required="false"
							label="horaire_tolsortie" />
						<h:outputText value="Pause :" />
						<h:inputText id="horaire_pause"
							value="#{horaireBean.plageHoraire.pause}" required="false"
							label="horaire_pause" />
					</h:panelGrid>

					<p:commandButton image="save" ajax="false"
						action="#{horaireBean.addPlageToList}" update=":plageList"
						style="margin-left:450px;margin-top:25px" value="Ajouter" />
				</p:tab>
				<p:tab id="plages" title="Plages Horaires">

					<p:growl id="messages" showDetail="true" />
					<p:dataTable var="plageHoraire" value="#{horaireBean.addPlageList}"
						id="plageList" editable="true">

						<f:facet name="header">Liste des Plages</f:facet>

						<p:ajax event="rowEdit" listener="#{horaireBean.onEdit}"
							update=":form:tabView:plageList" />
						<p:ajax event="rowEditCancel" listener="#{horaireBean.onCancel}"
							update=":form:tabView:plageList" />

						<p:column headerText="Debut" style="width:30%">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{plageHoraire.debut}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText value="#{plageHoraire.debut}" style="width:100%" />
								</f:facet>
							</p:cellEditor>
						</p:column>
						<p:column headerText="Fin" style="width:20%">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{plageHoraire.fin}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText value="#{plageHoraire.fin}" style="width:100%"
										label="Fin" />
								</f:facet>
							</p:cellEditor>
						</p:column>
						<p:column headerText="Flexibilite Entree" style="width:20%">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{plageHoraire.flexDebut}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText value="#{plageHoraire.flexDebut}"
										style="width:100%" label="Flexibilite Entree" />
								</f:facet>
							</p:cellEditor>
						</p:column>
						<p:column headerText="Flexibilite Sortie" style="width:20%">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{plageHoraire.flexFin}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText value="#{plageHoraire.flexFin}" style="width:100%"
										label="Flexibilite Sortie" />
								</f:facet>
							</p:cellEditor>
						</p:column>
						<p:column headerText="Tolerance d'entree" style="width:20%">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{plageHoraire.tolEntree}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText value="#{plageHoraire.tolEntree}"
										style="width:100%" label="Tolerance d'entree" />
								</f:facet>
							</p:cellEditor>
						</p:column>
						<p:column headerText="Tolerance de sortie" style="width:20%">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{plageHoraire.tolSortie}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText value="#{plageHoraire.tolSortie}"
										style="width:100%" label="Tolerance de sortie" />
								</f:facet>
							</p:cellEditor>
						</p:column>
						<p:column headerText="Pause" style="width:24%">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{plageHoraire.pause}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText value="#{plageHoraire.pause}" style="width:100%"
										label="Pause" />
								</f:facet>
							</p:cellEditor>
						</p:column>
						<p:column style="width:6%">
							<p:rowEditor />
						</p:column>
					</p:dataTable>

					<p:separator />

				</p:tab>
			</p:tabView>
		</h:form>

		<script type="text/javascript">
			function handlePlageRequest(xhr, status) {
				PF('dlg').hide();
				$('#dynamicDialogButton').fadeOut();
			}
		</script>

	</ui:define>
</ui:composition>