<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<h:form id="imgForm">
		<p:dialog id="imgDialog" width="80%" height="60%" resizable="true"
			widgetVar="imageDilog"
			header="Image de #{pointageBean.pointage.matricule} - #{pointageBean.pointage.nom} #{pointageBean.pointage.prenom} du (#{pointageBean.pointage.datePointage})"
			showEffect="fade" modal="true">
			<div style="text-align: -webkit-center;">
				<img width="200px" height="200px"
				src="#{pointageBean.mouvementImage}" />
			</div>
		</p:dialog>
	</h:form>
</ui:composition>