<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<h:form id="detailsForm">
		<p:dialog header="Photo pour #{pointageBean.pointage.nom}" widgetVar="photopanel" modal="true">
			<p:outputPanel id="photoshowid">
			<div style="text-align: -webkit-center;">
				<img width="800px" height="450px"
					src="#{pointageBean.mouvementImage}" />
			</div>
			</p:outputPanel>
		</p:dialog>
						
		<p:dialog id="detailsDialog" resizable="true"
			widgetVar="details" 
			header="Enregistrement des mouvements pour #{pointageBean.pointage.nom} #{pointageBean.pointage.prenom} (matricule : #{pointageBean.pointage.matricule}) du #{pointageBean.pointage.datePointage}"
			showEffect="fade">
			<p:outputPanel>
				<p:remoteCommand name="refreshThisPanel" update="@parent"></p:remoteCommand>
				<h:panelGrid columns="2"
					columnClasses="panelGrid-top, panelGrid-top">
					<p:dataTable id="mvtDatatableId" style="width:550px"
						rows="4" paginator="true" rowIndexVar="indexvar"
						paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
						value="#{pointageBean.pointage.mouvements}" var="mvt"
						editable="true">
						<f:facet name="header">
							Liste des mouvements 
						</f:facet>
						<p:ajax event="rowEdit"
							listener="#{pointageBean.updatePointageListener}"
							oncomplete="refreshThisPanel()" />
						<p:ajax event="rowEditCancel"
							listener="#{pointageBean.deletePointageListener}"
							oncomplete="refreshThisPanel()" />
						<p:column headerText="Type mvt" style="width:6px" groupRow="true">
							<img class="#{mvt.type eq null?'hand':(mvt.type=='IN'? 'in':'out')}" src="#{mvt.type eq null?'':(mvt.type=='IN'? '../../../resources/images/IN.png':'../../../resources/images/OUT.png')}"></img>
						</p:column>
						<p:column headerText="Heure" style="width:6px">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{mvt.date}">
										<f:convertDateTime pattern="HH:mm:ss"></f:convertDateTime>
									</h:outputText>
								</f:facet>
								<f:facet name="input">
									<p:calendar id="time" value="#{mvt.date}" pattern="HH:mm a"
										timeOnly="true" locale="fr" />
								</f:facet>
							</p:cellEditor>
						</p:column>
						<p:column headerText="Type ptg" style="width:10px">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{mvt.typeMouvement}">
									</h:outputText>
								</f:facet>
								<f:facet name="input">
									<p:selectOneMenu id="listTypePointage"
										value="#{mvt.typeMouvement}" style="width:100%;">
										<f:selectItem itemLabel="VIRTUEL" itemValue="VIRTUEL" />
									</p:selectOneMenu>
								</f:facet>
							</p:cellEditor>
						</p:column>
						<p:column headerText="Position" style="width:40px">
							<h:outputText value="#{ mvt.date == null ? '' : pointageBean.readMouvementLocation(mvt.terminalCode)}">
									</h:outputText>
						</p:column>
						<p:column headerText="Photo" style="width:3px">
							<p:outputPanel autoUpdate="true">
								<p:commandButton icon="ui-icon-search" id="photoID"
									actionListener="#{pointageBean.showMouvementImage(mvt)}"
									ajax="true" oncomplete="PF('photopanel').show()" update=":detailsForm:photoshowid"/>
							</p:outputPanel>
						</p:column>
						<p:column style="width:3px">
							<p:rowEditor />
						</p:column>
					</p:dataTable>
					<p:dataTable id="anomalieTable" style="width:450px"
						value="#{pointageBean.pointage.anomalies}" var="ano"
						rendered="#{(pointageBean.pointage.anomalies != null) and (not empty pointageBean.pointage.anomalies)}">
						<f:facet name="header">
							Liste des anomalies
						</f:facet>
						<p:column headerText="Date" style="width:25px">
							<h:outputText value="#{ano.dateAnomalie}">
								<f:convertDateTime pattern="dd/MM/yyyy"></f:convertDateTime>
							</h:outputText>
						</p:column>
						<p:column headerText="Description" style="width:120px">
							<h:outputText value="#{ano.description}">
							</h:outputText>
						</p:column>
						<p:column headerText="Actions" style="width:25px">
							<p:commandButton icon="ui-icon-check" update="@form"
								title="Corriger" rendered="#{ano.type != 'NIP'}"
								actionListener="#{pointageBean.correctAnomalieListener(ano)}"></p:commandButton>
							<p:commandButton icon="ui-icon-close" title="Supprimer"
								actionListener="#{pointageBean.deleteAnomalieListener(ano)}"
								update="anomalieTable"></p:commandButton>
						</p:column>
					</p:dataTable>
				</h:panelGrid>
			</p:outputPanel>
		</p:dialog>
	</h:form>
</ui:composition>