<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	
	<p:dialog header="AIDE - POINTAGE" widgetVar="helpDialog" modal="true" height="600px" width="60%">
	<link rel="stylesheet" type="text/css" href="../../../resources/css/HelpStyle.css"/>
	<div class="backColor">
		<div class="container">
			<h2>Présentation</h2>
			<div>
				<li class="ListItem">
					Cette fonctionnalité permet de lister et traiter les pointages
					enregistrés et les anomalies en relation et détectées par le
					système. Elle est accessible à partir du lien « Pointage » dans
					le menu Suivi RH.
				</li>
				<div class="imageStyle">
					<img src="../../../resources/images/POINT-HELP/POINT-PRESENTATION.PNG" />
				</div>
				<div class="imageStyle">
					<img src="../../../resources/images/POINT-HELP/POINT-AFFICHAGE.PNG" />
				</div>
			</div>
		</div>
	</div>
	</p:dialog>
	</ui:composition>