<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:t="http://myfaces.apache.org/tomahawk">

	<ui:define name="title">SUIVI RH - POINTAGES <ui:include
			src="POINT-HELP.xhtml" />
		<ui:include src="POINT-DETAILS.xhtml" />
		<ui:include src="IMG-DIALOG.xhtml" />
	</ui:define>

	<ui:define name="body">
		<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
			closable="true" resizable="false" showHeader="false">
			<img
				src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/barre/ajaxloadingbar.gif"
				alt="" />
		</p:dialog>
		<p:tabView id="tabView" style="width:1000px;">
			<p:tab id="monthlyPointageTab" title="Pointage mensuel">
				<h:form id="pointageForm">
					<p:ajaxStatus onstart="PF('statusDialog').show()"
						onsuccess="PF('statusDialog').hide()" />
					<h:panelGrid columns="6"
						columnClasses="panelGrid-top,panelGrid-top">
						<h:panelGrid columns="4"
							columnClasses="panelGrid-top,panelGrid-top,panelGrid-top">
							<p:panel header="Organigramme">
								<p:tree id="orgmIdModel" value="#{userBean.treeNode}" var="node"
									immediate="true" selectionMode="single"
									style="height:170px; width:240px; overflow: auto;"
									selection="#{pointageBean.selectedNoeud}" dynamic="true">
									<p:treeNode>
										<h:outputText value="#{node.libelle}" />
									</p:treeNode>
								</p:tree>
							</p:panel>
							<p:panel header="Unité">
								<p:tree id="unitMvnId" value="#{unitBean.treeNode}"
									var="unitnode" immediate="true"
									style="height:170px; width:220px; overflow: auto;" selectionMode="single"
									selection="#{pointageBean.selectedUnit}" dynamic="true">
									<p:treeNode>
										<h:outputText value="#{unitnode.libelle}" />
									</p:treeNode>
								</p:tree>
							</p:panel>
							<p:panel header="Groupes">
								<p:selectOneListbox id="groupList" immediate="true"
									value="#{pointageBean.selectedGroup}"
									scrollHeight="165" style="height:165px; width:180px;">
									<f:selectItems value="#{userBean.groups}" var="group"
										itemLabel="#{group.name}" itemValue="#{group.id}" />
								</p:selectOneListbox>
							</p:panel>
							<p:panel header="Intervalle de temps" style="width: 200px;">
								<h:panelGrid columns="3" cellpadding="5" cellspacing="5" style="height:170px;">
									<img
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" />
									<h:panelGroup style="display:block; text-align:left">
										<p:outputLabel styleClass="mode" for="moisPointage"
											value="Mois:" />
									</h:panelGroup>
									<p:selectOneMenu id="moisPointage"
										value="#{pointageBean.moisSelected}" style="width:80px;">
										<f:selectItems value="#{pointageBean.mois}" var="mois"
											itemLabel="#{mois}" itemValue="#{mois}" />
									</p:selectOneMenu>

									<img
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" />
									<h:panelGroup style="display:block; text-align:left">
										<p:outputLabel styleClass="mode" for="anneePointage"
											value="Année:" />
									</h:panelGroup>
									<p:selectOneMenu id="anneePointage"
										value="#{pointageBean.anneeSelected}" style="width:80px;">
										<f:selectItem itemLabel="2016" itemValue="2016" />
										<f:selectItem itemLabel="2017" itemValue="2017" />
										<f:selectItem itemLabel="2018" itemValue="2018" />
										<f:selectItem itemLabel="2019" itemValue="2019" />
										<f:selectItem itemLabel="2020" itemValue="2020" />
										<f:selectItem itemLabel="2021" itemValue="2021" />
										<f:selectItem itemLabel="2022" itemValue="2022" />
										<f:selectItem itemLabel="2023" itemValue="2023" />
										<f:selectItem itemLabel="2024" itemValue="2024" />
										<f:selectItem itemLabel="2025" itemValue="2025" />
									</p:selectOneMenu>

									<p:spacer />
									<p:spacer />
									<!--  
									<p:outputPanel layout="block" style="text-align:right">
										<p:commandButton id="btn_valider" value="Valider"
											action="#{pointageBean.chargerPointages}"
											update=":tabView:pointageTable" icon="ui-icon-search" />
									</p:outputPanel>
									-->
								</h:panelGrid>
							
							</p:panel>
						</h:panelGrid>
						<h:panelGrid style="display:block; text-align:center" columns="2"
							columnClasses="panelGrid-top,panelGrid-top">
						</h:panelGrid>
					</h:panelGrid>
					<p:toolbar id="toolsIdPointageModel">
						<f:facet name="left">
							<h:panelGrid columns="8" cellspacing="5">
								<h:panelGroup id="omp"
									style="display:block;width:15px;height:15px;background-color:rgb(237,28,36);"></h:panelGroup>
								<div style="text-align: left; font-weight: bold;">-
									Omission de pointage</div>
								<h:panelGroup id="tjr"
									style="display:block;width:15px;height:15px;background-color:rgb(163,73,164);"></h:panelGroup>
								<div style="text-align: left; font-weight: bold;">
									- Non autorisé aux heures supps <br />- Travail jour de repos
								</div>
								<h:panelGroup id="nrt"
									style="display:block;width:15px;height:15px;background-color:rgb(195,195,195);"></h:panelGroup>
								<div style="text-align: left; font-weight: bold;">- Non
									respect de temps constractuel</div>
								<h:panelGroup id="nip"
									style="display:block;width:15px;height:15px;background-color:rgb(250,250,175);"></h:panelGroup>
								<div style="text-align: left; font-weight: bold;">- Nombre
									impaire de pointage</div>
							</h:panelGrid>
						</f:facet>
						<f:facet name="right">
							<h:panelGrid columns="8" cellspacing="5">
							<p:commandButton id="btn_valider" value="Valider"
											action="#{pointageBean.chargerPointages}"
											update=":tabView:pointageTable" icon="ui-icon-search" />
							</h:panelGrid>
						</f:facet>
					</p:toolbar>
					<p:spacer height="10"></p:spacer>
				</h:form>
				<h:form id="pointageTable">
					<p:remoteCommand name="desactiver_activer_omp"
						action="#{pointageBean.desactiver_activer_omp}" />
					<p:remoteCommand name="desactiver_activer_tjr"
						action="#{pointageBean.desactiver_activer_tjr}" />
					<p:remoteCommand name="desactiver_activer_nrt"
						action="#{pointageBean.desactiver_activer_nrt}" />
					<p:remoteCommand name="desactiver_activer_nip"
						action="#{pointageBean.desactiver_activer_nip}" />
					<p:remoteCommand name="afficher_details"
						action="#{pointageBean.afficherDetails}" update=":detailsForm"
						oncomplete="PF('details').show()" />
					<p:outputPanel id="Panel" style="width:100%;">
						<p:dataTable id="tableAnomalies" var="pointage"
							value="#{pointageBean.pointages}" paginator="true" rows="14"
							paginatorPosition="bottom" rowIndexVar="rowIndex"
							rowStyleClass="#{rowIndex%2==0 ? 'row-color' : null}"
							rowKey="rowKey"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}">
							<p:column headerText="Collaborateur"
								filterBy="#{pointage[0].matricule} #{pointage[0].nom} #{pointage[0].prenom}"
								filterMatchMode="contains" filterStyle="width:74px;" >
								<h:outputText
									value="#{pointage[0].matricule} - #{pointage[0].nom} #{pointage[0].prenom}"
									style="font: bold 8px arial;" />
							</p:column>
							<p:columns value="#{pointageBean.colonnes}" var="col"
								columnIndexVar="colIndex"
								style="padding:0;margin:0;border-spacing:0px;border-collapse: separate;width:27px;height:28px; text-align: center;">
								<f:facet name="header">
									<h:panelGroup>
										<h:outputText value="#{col}" style="font: 12px arial;">
											<f:convertDateTime pattern="dd"></f:convertDateTime>
										</h:outputText>
										<br />
										<h:outputText value="#{col}" style="font: 12px arial;">
											<f:convertDateTime pattern="E"></f:convertDateTime>
										</h:outputText>
									</h:panelGroup>
								</f:facet>
								<ui:repeat var="color" value="#{pointage[colIndex].colors}">
								<div style="background-color:#{color}; padding-top: 25%; height: 100%;">
									<h:outputText
										class="cellTable_#{pointage[0].matricule}_#{colIndex}"
										value="#{fn:length(pointage[colIndex].mouvements)}"
										rendered="#{pointageBean.isColorAccepted(color)}"
										style="cursor: pointer; font: bold 10px arial;" />
										<!--style="background-color:#{color};display:block;width:#{27/fn:length(pointage[colIndex].colors)}px;height:28px;float:left;" />-->
									<h:outputText
										class="cellTable_#{pointage[0].matricule}_#{colIndex}"
										value="#{fn:length(pointage[colIndex].mouvements)}"
										rendered="#{not_pointageBean.isColorAccepted(color)}"
										style="cursor: pointer; font: bold 10px arial;" />
								</div>
								</ui:repeat>
								<h:outputText
									class="cellTable_#{pointage[0].matricule}_#{colIndex}"
									value="#{fn:length(pointage[colIndex].mouvements)}"
									rendered="#{(empty pointage[colIndex].colors) || (pointage[colIndex].colors == null)}"
									style="cursor: pointer; font: bold 10px arial;" />
							</p:columns>
						</p:dataTable>
					</p:outputPanel>
				</h:form>
			</p:tab>
			<!-- <p:tab id="customPointageModelTab" title="Pointage personnalisé">
				<h:form id="customPointageModelForm">
					<p:growl id="customPointageModelGrowl" showDetail="true"
						life="3000" />
					<p:ajaxStatus onstart="PF('statusDialog').show()"
						onsuccess="PF('statusDialog').hide()" />
					<h:panelGrid columns="4">
						<p:panel header="Organigramme">
							<p:tree id="orgmId" value="#{userBean.treeNode}" var="node"
								immediate="true" selectionMode="single"
								style="height:180px; width:240px; overflow: auto;"
								selection="#{pointageBean.selectedNoeudNode}" dynamic="true">
								<p:treeNode>
									<h:outputText value="#{node.libelle}" />
								</p:treeNode>
							</p:tree>
						</p:panel>
						<p:panel header="Unité">
							<p:tree id="unitId" value="#{unitBean.treeNode}" var="unitnode"
								immediate="true" style="height:180px; width:200px; overflow: auto;"
								selectionMode="single"
								selection="#{pointageBean.selectedUnitNode}" dynamic="true">
								<p:treeNode>
									<h:outputText value="#{unitnode.libelle}" />
								</p:treeNode>
							</p:tree>
						</p:panel>
						<p:panel header="Groupes">
							<p:selectOneListbox id="groupListId" immediate="true"
								scrollHeight="164" style="height:177px; width:170px;"
								value="#{pointageBean.selectedGroupId}">
								<f:selectItems value="#{userBean.groups}" var="group"
									itemLabel="#{group.name}" itemValue="#{group.id}" />
							</p:selectOneListbox>
						</p:panel>
						<p:panel>
							<p:panel header="Intervalle de temps">
								<h:panelGrid columns="2">
									<h:outputLabel  styleClass="mode" value="Du:"></h:outputLabel>
									<p:calendar id="txtDateDebut" value="#{pointageBean.dateDebut}"
										required="true"></p:calendar>
									<h:outputLabel  styleClass="mode" value="Au:"></h:outputLabel>
									<p:calendar id="txtDateFin" value="#{pointageBean.dateFin}"
										required="true"></p:calendar>
								</h:panelGrid>
							</p:panel>
							<p:spacer height="10"></p:spacer>
							<p:panel header="Intervalle de matricules">
								<h:panelGrid columns="2">
									<h:outputLabel styleClass="mode" value="Du:"></h:outputLabel>
									<p:inputMask id="txtMatriculeInf"
										value="#{pointageBean.matriculeInf}" mask="9?999"></p:inputMask>
									<h:outputLabel  styleClass="mode" value="Au:"></h:outputLabel>
									<p:inputMask id="txtMatriculeSup"
										value="#{pointageBean.matriculeSup}" mask="9?999"></p:inputMask>
								</h:panelGrid>
							</p:panel>
						</p:panel>
					</h:panelGrid>
					
					<p:toolbar id="toolsIdModel">
						<f:facet name="left">
							<h:panelGrid columns="5" cellpadding="5">
								<h:panelGroup style="display:flex;">
									<h:panelGroup id="mvnLabs" styleClass="mouvement">
									</h:panelGroup>
									<div class="label-override">&nbsp;&nbsp;- Nombre des
										mouvements</div>
								</h:panelGroup>
								<h:panelGroup style="display:flex;">
									<h:panelGroup id="retardsLabs" styleClass="retard">
									</h:panelGroup>
									<div class="label-override">&nbsp;&nbsp;- Nombre des
										retards</div>
								</h:panelGroup>
								<h:panelGroup style="display:flex;">
									<h:panelGroup id="absenceLabs" styleClass="absence"></h:panelGroup>
									<div class="label-override">&nbsp;&nbsp;- Nombre des
										absences</div>
								</h:panelGroup>
								<h:panelGroup style="display:flex;">
									<h:panelGroup id="congeLabs" styleClass="conge"></h:panelGroup>
									<div class="label-override">&nbsp;&nbsp;- Nombre des
										conges</div>
								</h:panelGroup>
							</h:panelGrid>
						</f:facet>
					</p:toolbar>
					<p:spacer height="5"></p:spacer>
					<p:toolbar id="toolsIdModelSec">
						<f:facet name="left">
							<p:spacer width="20"></p:spacer>
							<h:outputText value="Retards " styleClass="label-override" />
							<p:selectBooleanCheckbox
								value="#{pointageBean.isRetardVisible}" />
							<p:spacer width="15"></p:spacer>
							<h:outputText styleClass="label-override" value="Absences " />
							<p:selectBooleanCheckbox
								value="#{pointageBean.isAbsenceVisible}" />
							<p:spacer width="15"></p:spacer>
							<h:outputText value="Congés " styleClass="label-override" />
							<p:selectBooleanCheckbox value="#{pointageBean.isCongeVisible}" />
						</f:facet>
						<f:facet name="right">
							<p:commandButton id="btnFillModel" icon="ui-icon-search"
								ajax="true"
								actionListener="#{pointageBean.loadCustomPointageModel}"
								update=":tabView:customPointageModelForm:customPointageModelTable :tabView:customPointageModelForm:customPointageModelGrowl">
							</p:commandButton>
							<p:tooltip id="toolTipBtnFill" for="btnFillModel"
								value="Afficher résultat du pointage demandée"
								position="bottom" />
							<p:commandButton id="btnresetModel" icon="ui-icon-close"
								ajax="true"
								actionListener="#{pointageBean.resetCustomPointageFilter}"
								update=":tabView:customPointageModelForm">
							</p:commandButton>
							<p:tooltip id="toolTipBtnRest" for="btnFillModel"
								value="Reset Filter" position="bottom" />
							<p:commandButton id="btnPrintModel" icon="ui-icon-print"
								ajax="true">
							</p:commandButton>
							<p:tooltip id="toolTipBtnPrint" for="btnPrintModel"
								value="Imprimer l'etat du pointage" position="bottom" />
							<p:commandButton id="btnPrintGlobalModel" icon="ui-icon-document-b" action="#{pointageBean.printGlobalPointageReport('pdf')}"
								update=":tabView:customPointageModelForm:customPointageModelTable :tabView:customPointageModelForm:customPointageModelGrowl" ajax="false" >
							</p:commandButton>
							<p:tooltip id="toolTipBtnPrintGlobal" for="btnPrintGlobalModel"
								value="Imprimer l'etat Global du pointage" position="bottom" />
						</f:facet>
					</p:toolbar>
					<p:overlayPanel id="printPanelModel" widgetVar="printPanelWidget"
						for=":tabView:customPointageModelForm:btnPrintModel"
						hideEffect="fade" my="right top">
						<h:panelGrid columns="2">
							<p:commandLink title="export" ajax="false"
								actionListener="#{pointageBean.printCustomPointage('pdf')}"
								update=":tabView:customPointageModelForm:customPointageModelGrowl">
								<h:graphicImage name="pdf.png" library="images"
									style="width:23px;height:23px;" />
							</p:commandLink>
							<p:commandLink title="#{msg['share.title1']}"
								actionListener="#{pointageBean.printCustomPointage('xls')}"
								ajax="false">
								<h:graphicImage name="excel.png" library="images"
									style="width:23px;height:23px;" />
							</p:commandLink>
						</h:panelGrid>
					</p:overlayPanel>
					<p:spacer height="5"></p:spacer>
					<p:dataTable id="customPointageModelTable" var="pnt"
						filteredValue="#{pointageBean.customPointagesModel}"
						value="#{pointageBean.customPointages}" filterEvent="blur"
						paginator="true" rows="20" paginatorPosition="bottom"
						paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
						widgetVar="dataTableWidget" sortBy="#{pnt.user.id}">
						<p:column style="width:16px">
							<p:rowToggler />
						</p:column>
						<p:column headerText="Matricule" filterBy="#{pnt.user.matricule}"
							filterMatchMode="contains">
							<h:outputText value="#{pnt.user.matricule}" />
						</p:column>
						<p:column headerText="Nom">
							<h:outputText value="#{pnt.user.nom}" />
						</p:column>
						<p:column headerText="Prénom">
							<h:outputText value="#{pnt.user.prenom}" />
						</p:column>
						<p:column headerText="Unité de travail" style="width:240px">
							<h:outputText value="#{pnt.user.unit.libelle}" />
						</p:column>
						<p:column filterBy="#{pnt.mouvements.size()}"
							filterMatchMode="exact" headerText="Mvt" style="width:30px"
							filterStyle="width: 25px; text-align:center;">
							<h:outputText styleClass="mouvement"
								value="#{pnt.mouvements.size()}" />
						</p:column>
						<p:column filterBy="#{pnt.retards.size()}" filterMatchMode="exact"
							headerText="Rtr" style="width:30px"
							filterStyle="width: 25px; text-align:center;">
							<h:outputText styleClass="retard" value="#{pnt.retards.size()}" />
						</p:column>
						<p:column filterBy="#{pnt.absences.size()}"
							filterMatchMode="exact" headerText="Abs" style="width:30px"
							filterStyle="width: 25px; text-align:center;">
							<h:outputText styleClass="absence" value="#{pnt.absences.size()}" />
						</p:column>
						<p:column filterBy="#{pnt.conges.size()}" filterMatchMode="exact"
							headerText="Cng" style="width:30px"
							filterStyle="width: 25px; text-align:center;">
							<h:outputText styleClass="conge" value="#{pnt.conges.size()}" />
						</p:column>
						<p:rowExpansion>
							<p:outputPanel id="outputPanelID" layout="block">
								<p:remoteCommand name="processUpdate" update="@parent"></p:remoteCommand>
								Mouvements table
								<p:dataTable id="mouvementsDatas" var="mvn"
									value="#{pnt.mouvements}"
									styleClass="#{(pnt.mouvements==null || pnt.mouvements.size()==0)? 'hiddenTable': ''}"
									rowIndexVar="index" rowStyleClass="#{index%2==0 ? 'row-color' : null}" rows="7" widgetVar="mouvementsDatasWidget"
									paginator="true" paginatorPosition="bottom"
									sortBy="#{mvn.date}"
									paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
									<f:facet name="header">
								        Mouvements
								    </f:facet>
								    <p:column headerText="TYPE" style="width:20px" groupRow="true">
										<img class="#{mvn.type eq null?'':(mvn.type=='IN'? 'in':'out')}" src="#{mvn.type eq null?'':(mvn.type=='IN'? '../../../resources/images/IN.png':'../../../resources/images/OUT.png')}"/>
									</p:column>
									<p:column headerText="Date" style="width:100px" groupRow="true">
										<h:outputText value="#{mvn.date}">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
									</p:column>
									<p:column headerText="Mouvements" style="width:80px">
										<h:outputText value="#{mvn.date}">
											<f:convertDateTime pattern="HH:mm:ss" />
										</h:outputText>
									</p:column>
									<p:column headerText="Type" style="width:100px">
										<h:outputText value="#{mvn.typeMouvement}" />
									</p:column>
									<p:column headerText="Location" style="width:370px;">
										<ui:param name="location"
											value="#{pointageBean.readMouvementLocation(mvn.terminalCode)}" />
										<li
											class="#{location eq pnt.user.unit.libelle ? 'ui-icon ui-icon-check validated' : 'ui-icon ui-icon-minus elapsed'}"
											style="display: inline-block;"></li>
										<p:spacer width="4"></p:spacer>
										<h:outputText value="#{location}" ></h:outputText>
									</p:column>
								</p:dataTable>
								<p:spacer height="10"></p:spacer>
								<p:dataTable id="retardsDatas" var="rtr" value="#{pnt.retards}"
									styleClass="#{(pnt.retards==null || pnt.retards.size()==0)? 'hiddenTable': ''}"
									rowIndexVar="index" rowStyleClass="#{index%2==0 ? 'row-color' : null}" rows="7" widgetVar="retardsDatasWidget"
									paginator="true" paginatorPosition="bottom"
									sortBy="#{rtr.date}"
									paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
									<f:facet name="header">
								        Retards
								    </f:facet>
									<p:column headerText="Date" style="width:100%" groupRow="true">
										<h:outputText value="#{rtr.date}">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
									</p:column>
									<p:column headerText="Durée" style="width:100%">
										<h:outputText
											value="#{pointageBean.converMinToTime(rtr.retardTolere+rtr.retardNonTolere)}">
										</h:outputText>
									</p:column>
									<p:column headerText="Description" style="width:100%">
										<h:outputText value="#{rtr.description}" />
									</p:column>
									<p:column headerText="Statut" style="width:100%">
										<h:outputText
											value="#{rtr.statut eq 'workflow_status_validated' ? 'Autorisée' : 'Non autorisée'}" />
									</p:column>
								</p:dataTable>
								<p:spacer height="10"></p:spacer>
								Absences Table
								<p:dataTable id="absencesDatas" var="abs"
									value="#{pnt.absences}"
									styleClass="#{(pnt.absences==null || pnt.absences.size()==0)? 'hiddenTable': ''}"
									rowIndexVar="index" rowStyleClass="#{index%2==0 ? 'row-color' : null}" rows="7" widgetVar="absencesDatasWidget"
									paginator="true" paginatorPosition="bottom"
									sortBy="#{abs.dateDebut}"
									paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
									<f:facet name="header">
								        Absences
								    </f:facet>
									<p:column headerText="Date" style="width:100%" groupRow="true">
										<h:outputText value="#{abs.dateDebut}">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
									</p:column>
									<p:column headerText="Durée" style="width:100%">
										<h:outputText value="#{abs.duree}">
											<f:convertNumber pattern="## H" />
										</h:outputText>
									</p:column>
									<p:column headerText="Motif Absence" style="width:100%">
										<h:outputText
											value="#{pointageBean.typeAbsenceService.load(abs.typeAbsence.id).libelle}" />
									</p:column>
									<p:column headerText="Statut" style="width:100%">
										<h:outputText
											value="#{abs.statut eq 'workflow_status_init' ? 'Demandée' : abs.statut eq 'workflow_status_rejected' ? 'Rejoutée' : abs.statut eq 'workflow_status_validated' ? 'Validée' : 'Effectuée'}" />
									</p:column>
								</p:dataTable>
								<p:spacer height="10"></p:spacer>
								Conges Table
								<p:dataTable id="congesDatas" var="cng" value="#{pnt.conges}"
									styleClass="#{(pnt.conges==null || pnt.conges.size()==0)? 'hiddenTable': ''}"
									rowIndexVar="index" rowStyleClass="#{index%2==0 ? 'row-color' : null}" rows="7" widgetVar="congeesDatasWidget"
									paginator="true" paginatorPosition="bottom"
									sortBy="#{cng.dateDebut}"
									paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
									<f:facet name="header">
								        Conges
								    </f:facet>
									<p:column headerText="Date" style="width:100%" groupRow="true">
										<h:outputText value="#{cng.dateDebut}">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
									</p:column>
									<p:column headerText="Durée (jour)" style="width:100%">
										<h:outputText value="#{cng.nbrJour}">
											<f:convertNumber pattern="#####00" />
										</h:outputText>
									</p:column>
									<p:column headerText="Motif Absence" style="width:100%">
										<h:outputText
											value="#{pointageBean.typeCongeService.load(cng.typeConge.id).libelle}" />
									</p:column>
									<p:column headerText="Statut" style="width:100%">
										<h:outputText
											value="#{cng.statut eq 'workflow_status_init' ? 'Demandée' : cng.statut eq 'workflow_status_rejected' ? 'Rejoutée' : cng.statut eq 'workflow_status_validated' ? 'Validée' : 'Effectuée'}" />
									</p:column>
								</p:dataTable>
							</p:outputPanel>
						</p:rowExpansion>
					</p:dataTable>
				</h:form>
			</p:tab> -->
		</p:tabView>

		<script>
			$('body').on('click', '[id$=omp]', function() {
				if ($(this).css("opacity") == 1) {
					$(this).css("opacity", 0.7);
					$('[id$=omp]').css("box-shadow", "none");
				} else {
					$(this).css("opacity", 1);
					$('[id$=omp]').css("box-shadow", "1px 1px 5px green");
				}
				desactiver_activer_omp();
			});

			$('body').on('click', '[id$=tjr]', function() {
				if ($(this).css("opacity") == 1) {
					$(this).css("opacity", 0.7);
					$('[id$=tjr]').css("box-shadow", "none");
				} else {
					$(this).css("opacity", 1);
					$('[id$=tjr]').css("box-shadow", "1px 1px 5px green");
				}
				desactiver_activer_tjr();
			});

			$('body').on('click', '[id$=nrt]', function() {
				if ($(this).css("opacity") == 1) {
					$(this).css("opacity", 0.7);
					$('[id$=nrt]').css("box-shadow", "none");
				} else {
					$(this).css("opacity", 1);
					$('[id$=nrt]').css("box-shadow", "1px 1px 5px green");
				}
				desactiver_activer_nrt();
			});

			$('body').on('click', '[id$=nip]', function() {
				if ($(this).css("opacity") == 1) {
					$(this).css("opacity", 0.7);
					$('[id$=nip]').css("box-shadow", "none");
				} else {
					$(this).css("opacity", 1);
					$('[id$=nip]').css("box-shadow", "1px 1px 5px green");
				}
				desactiver_activer_nip();
			});

			$('body').on('click', '[id$=btn_valider]', function() {
				$('[id$=omp]').css("opacity", 1);
				$('[id$=tjr]').css("opacity", 1);
				$('[id$=nrt]').css("opacity", 1);
				$('[id$=nip]').css("opacity", 1);
			});

			$(document).ready(function() {
				$('[id$=omp]').css("cursor", "pointer");
				$('[id$=tjr]').css("cursor", "pointer");
				$('[id$=nrt]').css("cursor", "pointer");
				$('[id$=nip]').css("cursor", "pointer");
				$('[id$=omp]').css("box-shadow", "1px 1px 5px green");
				$('[id$=tjr]').css("box-shadow", "1px 1px 5px green");
				$('[id$=nrt]').css("box-shadow", "1px 1px 5px green");
				$('[id$=nip]').css("box-shadow", "1px 1px 5px green");

			});

			$('body').on('click', '[class^=cellTable]', function() {
				//alert('Ligne : '+$(this).context.className.split("_")[1]+' , colonne : '+$(this).context.className.split("_")[2]);
				afficher_details([ {
					name : 'ligne',
					value : $(this).context.className.split("_")[1]
				}, {
					name : 'colonne',
					value : $(this).context.className.split("_")[2]
				} ]);
			});
		</script>
<style>

.companyHeaderGrid.ui-panelgrid>*>tr, .companyHeaderGrid.ui-panelgrid .ui-panelgrid-cell
	{
		border: none;
	}

	.hiddenTable {
		display: none;
	}
.in{
	display: inherit;
    background-color: #5cb85c;
    padding: 4px 4px 4px 4px;
    border-radius: 10%;
    width: 12px;
}
.out{
	display: inherit;
    background-color: #f96464;
    padding: 4px 4px 4px 4px;
    border-radius: 10%;
    width: 12px;
}
.hand{
	display: inherit;
    background-color: #6188e2;
    padding: 4px 4px 4px 4px;
    border-radius: 10%;
    width: 12px;
}
	
</style>
	</ui:define>
</ui:composition>