<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">


	<ui:define name="title">JBPM HOW TO</ui:define>

	<ui:define name="body">
			<h:panelGrid columns="2" columnClasses="panelGrid-top,panelGrid-top">
				
				<h:form id="jbpmForm">
				<h:panelGrid columns="1">
					<p:toolbar id="toolsId">           
		            	<p:toolbarGroup align="left">  
					        <p:menuButton value="Options">  
					            <p:menuitem value="Create JBPM Object" actionListener="#{jbpmBean.createJbpmObjectActionListner}" icon="ui-icon-plus" update="list,mnglist,hrlist"/>
					            <p:menuitem value="Manager Action" actionListener="#{jbpmBean.managerTakeDecisionActionListner}" icon="ui-icon-pencil" update="list,mnglist,hrlist"/>
					            <p:menuitem value="HR Action"   actionListener="#{jbpmBean.hrTakeDecisionActionListner}" icon="ui-icon-pencil" update="list,mnglist,hrlist"/> 
					        </p:menuButton>
					        
					    
			            </p:toolbarGroup>
			            
			        </p:toolbar>
			        Data MODELS 
					<p:dataTable var="abs" value="#{jbpmBean.dataModel}" filterEvent="blur" 
						id="list" paginator="true" rows="10" paginatorAlwaysVisible="false" paginatorPosition="bottom"
						paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
						rowsPerPageTemplate="5,10,15" lazy="true" rowStyleClass="#{userBean.rowClasses}"
						selection="#{jbpmBean.absence}" selectionMode="single" rowKey="#{abs.id}">
						<p:ajax event="rowSelect" >
						</p:ajax>
						<p:column headerText="Début"  >
								<h:outputText value="#{abs.dateDebut}" />
						</p:column>
						<p:column headerText="Reprise"  >
								<h:outputText value="#{abs.dateReprise}" />
						</p:column>
						<p:column headerText="Statut"  >
								<h:outputText value="#{abs.statut}" />
						</p:column>	
						<p:column headerText="Comment"  >
								<h:outputText value="#{abs.workflowVariable}" />
						</p:column>					
					</p:dataTable>
					MANAGER DATA MODEL
					<p:dataTable var="abs" value="#{jbpmBean.managerDataModel}" filterEvent="blur" 
						id="mnglist" paginator="true" rows="10" paginatorAlwaysVisible="false" paginatorPosition="bottom"
						paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
						rowsPerPageTemplate="5,10,15" lazy="true" rowStyleClass="#{userBean.rowClasses}"
						selection="#{jbpmBean.absence}" selectionMode="single" rowKey="#{abs.id}">
						<p:ajax event="rowSelect" >
						</p:ajax>
						<p:column headerText="Début"  >
								<h:outputText value="#{abs.dateDebut}" />
						</p:column>
						<p:column headerText="Reprise"  >
								<h:outputText value="#{abs.dateReprise}" />
						</p:column>
						<p:column headerText="Statut"  >
								<h:outputText value="#{abs.statut}" />
						</p:column>	
						<p:column headerText="Comment"  >
								<h:outputText value="#{abs.workflowVariable}" />
						</p:column>					
					</p:dataTable>	
					HR DATA MODEL
					<p:dataTable var="abs" value="#{jbpmBean.hrDataModel}" filterEvent="blur" 
						id="hrlist" paginator="true" rows="10" paginatorAlwaysVisible="false" paginatorPosition="bottom"
						paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
						rowsPerPageTemplate="5,10,15" lazy="true" rowStyleClass="#{userBean.rowClasses}"
						selection="#{jbpmBean.absence}" selectionMode="single" rowKey="#{abs.id}">
						<p:ajax event="rowSelect" >
						</p:ajax>
						<p:column headerText="Début"  >
								<h:outputText value="#{abs.dateDebut}" />
						</p:column>
						<p:column headerText="Reprise"  >
								<h:outputText value="#{abs.dateReprise}" />
						</p:column>
						<p:column headerText="Statut"  >
								<h:outputText value="#{abs.statut}" />
						</p:column>	
						<p:column headerText="Comment"  >
								<h:outputText value="#{abs.workflowVariable}" />
						</p:column>					
					</p:dataTable>
					
				</h:panelGrid>
				</h:form>
			</h:panelGrid>
			
	</ui:define>

</ui:composition>
