<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://sourceforge.net/projects/jsf-comp/acegijsf">

	<ui:define name="title">   #{msg['Absence.titre']} <ui:include
			src="ABS-HELP.xhtml" />
	</ui:define>

	<ui:define name="body">
		<style type="text/css">
.thumbs-up-icon {
	width: 16px;
	height: 16px;
	background-image: url("#{resource['btn-icon/thumbs-up-icon.png']}")
		!important;
	background-position: center !important;
}

.thumbs-down-icon {
	background-image: url("#{resource['btn-icon/thumbs-down-icon.png']}")
		!important;
	background-position: center !important;
}
</style>
		
			<h:panelGrid id="panelGrid" style="width:850px;" columns="1">
			<h:form>
				<h:panelGrid columns="4">
					<p:panel header="Organigramme">
						<p:tree id="orgmId" value="#{userBean.treeNode}" var="node"
							immediate="true" selectionMode="single"
							style="height:180px; width:240px; overflow: auto;"
							selection="#{jbpmBean.selectedNoeudNode}" dynamic="true">
							<p:ajax event="select" listener="#{jbpmBean.refreshData('absence')}" update=":tableForm:absenceListId" />
							<p:treeNode>
								<h:outputText value="#{node.libelle}" />
							</p:treeNode>
						</p:tree>
					</p:panel>
					<p:panel header="Unité">
						<p:tree id="unitId" value="#{unitBean.treeNode}" var="unitnode"
							immediate="true"
							style="height:180px; width:200px; overflow: auto;"
							selectionMode="single" selection="#{jbpmBean.selectedUnitNode}"
							dynamic="true">
							<p:ajax event="select" listener="#{jbpmBean.refreshData('absence')}" update=":tableForm:absenceListId" />
							<p:treeNode>
								<h:outputText value="#{unitnode.libelle}" />
							</p:treeNode>
						</p:tree>
					</p:panel>
					<p:panel header="Groupes">
						<p:selectOneListbox id="groupListId" immediate="true"
							scrollHeight="164" style="height:177px; width:170px;"
							value="#{jbpmBean.criteria.group}">
							<p:ajax event="select" listener="#{jbpmBean.refreshData('absence')}" update=":tableForm:absenceListId" />
							<f:selectItems value="#{userBean.groups}" var="group"
								itemLabel="#{group.name}" itemValue="#{group.id}" />
						</p:selectOneListbox>
					</p:panel>
					<p:panel header="Statut">
						<p:selectOneRadio id="statut" layout="grid"
							value="#{jbpmBean.criteria.statut}" columns="1"
							style="height:180px; width:140px; overflow: auto;"
							styleClass="label-override">
							<f:selectItem itemLabel="Demandée"
								itemValue="workflow_status_init" />
							<f:selectItem itemLabel="Validé"
								itemValue="workflow_status_validated" />
							<f:selectItem itemLabel="Refusé"
								itemValue="workflow_status_rejected" />
							<f:selectItem itemLabel="Effectué"
								itemValue="workflow_status_elapsed" />
						</p:selectOneRadio>
					</p:panel>
				</h:panelGrid>
				<p:toolbar id="toolsIdPointageModel">
					<f:facet name="right">
						<p:commandButton id="btn_valider" value="Valider"
							action="#{jbpmBean.refreshData('absence')}" update=":tableForm:absenceListId"
							icon="ui-icon-search" />
					</f:facet>
				</p:toolbar>
				</h:form>
				<h:form  id="tableForm">
				<h:panelGrid id="panelListGrid" columns="1">
					<p:dataTable var="absence" value="#{jbpmBean.hrDataModel}"
						rowIndexVar="index" paginator="true" rows="10" id="absenceListId"
						editable="true"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15">
						<p:ajax event="rowEdit"
							listener="#{jbpmBean.hrTakeDecisionActionListner}">
						</p:ajax>
						<p:ajax event="rowEditCancel" update="@form"
							listener="#{jbpmBean.hrTakeDecisionActionListner}">
						</p:ajax>
						<p:columnGroup type="header">
							<p:row>
								<p:column headerText="#{msg['Absence.L12']}" width="30" />
								<p:column headerText="#{msg['Collabo.L6']}" width="35" />
								<p:column headerText="#{msg['Collabo.L7']}" width="90" />
								<p:column headerText="#{msg['Absence.L1']}" width="45" />
								<p:column headerText="#{msg['Absence.L2']}" width="45" />
								<p:column headerText="#{msg['Absence.L4']}" width="160" />
								<p:column headerText="#{msg['Absence.L5']}" width="30" />
								<p:column headerText="Remarque" width="160" />
								<p:column headerText="#{msg['Absence.L6']}" width="35" />
							</p:row>
						</p:columnGroup>
						<p:column ilterBy="#{absence.statut}" filterMatchMode="in">
							<h:graphicImage name="thumbs-up-icon.png"
								title="#{msg['Absence.L8']}"
								rendered="#{absence.statut == 'workflow_status_validated'}"
								library="btn-icon" style="width:15px;height:15px;" />
							<h:graphicImage name="thumbs-down-icon.png"
								title="#{msg['Absence.L9']}"
								rendered="#{absence.statut == 'workflow_status_rejected'}"
								library="btn-icon" style="width:15px;height:15px;" />
							<h:outputText styleClass="ui-icon ui-icon-check"
								title="#{msg['Absence.L10']}"
								rendered="#{absence.statut == 'workflow_status_elapsed'}"
								style="width:15px;height:15px;" />
							<h:outputText styleClass="ui-icon ui-icon-star"
								title="#{msg['Absence.L11']}"
								rendered="#{absence.statut == 'workflow_status_init'}"
								style="width:15px;height:15px;" />
						</p:column>
						<p:column>
							<h:outputText value="#{absence.collaborateur.matricule}" />
						</p:column>
						<p:column>
							<h:outputText
								value="#{absence.collaborateur.nom} #{absence.collaborateur.prenom}" />
						</p:column>
						<p:column>
							<h:outputText value="#{absence.dateDebut}">
								<f:convertDateTime pattern="dd-MM-yy"></f:convertDateTime>
							</h:outputText>
						</p:column>
						<p:column>
							<h:outputText value="#{absence.dateReprise}">
								<f:convertDateTime pattern="dd-MM-yy"></f:convertDateTime>
							</h:outputText>
						</p:column>
						<p:column>
							<h:outputText
								value="#{absenceBean.typeAbsenceService.load(absence.typeAbsence.id).libelle}" />
						</p:column>
						<p:column>
							<h:outputText value="#{absence.duree}">
								<f:converter converterId="dateTimeConverter" />
							</h:outputText>
						</p:column>
						<p:column>
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{absence.workflowVariable}" />
								</f:facet>
								<f:facet name="input">
									<h:inputTextarea value="#{absence.workflowVariable}" />
								</f:facet>
							</p:cellEditor>
						</p:column>
						<p:column style="width:6px" >
							<p:rowEditor/>
						</p:column>
					</p:dataTable>
				</h:panelGrid>
				</h:form>
			</h:panelGrid>
			<!--  
			<p:spacer height="5"></p:spacer>
			<h:form id="table2Form">
				<p:dataTable var="absence" value="#{jbpmBean.acceptedDataModel}"
					rowIndexVar="index" paginator="true" rows="10" id="acceptedListId"
					rowKey="#{absence.id}">
					<f:facet name="header">Demandes acceptées</f:facet>
					<p:columnGroup type="header">
						<p:row>
							<p:column headerText="#{msg['Collabo.L6']}" width="35" />
							<p:column headerText="#{msg['Collabo.L7']}" width="100" />
							<p:column headerText="#{msg['Absence.L1']}" width="45" />
							<p:column headerText="#{msg['Absence.L2']}" width="45" />
							<p:column headerText="#{msg['Absence.L4']}" width="160" />
							<p:column headerText="#{msg['Absence.L5']}" width="30" />
							<p:column headerText="Remarque" width="160" />
						</p:row>
					</p:columnGroup>
					<p:column>
						<h:outputText value="#{absence.collaborateur.matricule}" />
					</p:column>
					<p:column>
						<h:outputText
							value="#{absence.collaborateur.nom} #{absence.collaborateur.prenom}" />
					</p:column>
					<p:column>
						<h:outputText value="#{absence.dateDebut}">
							<f:convertDateTime pattern="dd-MM-yy"></f:convertDateTime>
						</h:outputText>
					</p:column>
					<p:column>
						<h:outputText value="#{absence.dateReprise}">
							<f:convertDateTime pattern="dd-MM-yy"></f:convertDateTime>
						</h:outputText>
					</p:column>
					<p:column>
						<h:outputText
							value="#{absenceBean.typeAbsenceService.load(absence.typeAbsence.id).libelle}" />
					</p:column>
					<p:column>
						<h:outputText value="#{absence.duree}">
							<f:converter converterId="dateTimeConverter" />
						</h:outputText>
					</p:column>
					<p:column>
						<h:outputText value="#{absence.workflowVariable}" />
					</p:column>
				</p:dataTable>
			</h:form>
			<p:spacer height="5"></p:spacer>
			<h:form id="table3Form">
				<p:dataTable var="absence" value="#{jbpmBean.rejectedDataModel}"
					rowIndexVar="index" paginator="true" rows="10" id="rejectedListId"
					rowKey="#{absence.id}">
					<f:facet name="header">Demandes refusées</f:facet>
					<p:columnGroup type="header">
						<p:row>
							<p:column headerText="#{msg['Collabo.L6']}" width="35" />
							<p:column headerText="#{msg['Collabo.L7']}" width="100" />
							<p:column headerText="#{msg['Absence.L1']}" width="45" />
							<p:column headerText="#{msg['Absence.L2']}" width="45" />
							<p:column headerText="#{msg['Absence.L4']}" width="160" />
							<p:column headerText="#{msg['Absence.L5']}" width="30" />
							<p:column headerText="Remarque" width="160" />
						</p:row>
					</p:columnGroup>
					<p:column>
						<h:outputText value="#{absence.collaborateur.matricule}" />
					</p:column>
					<p:column>
						<h:outputText
							value="#{absence.collaborateur.nom} #{absence.collaborateur.prenom}" />
					</p:column>
					<p:column>
						<h:outputText value="#{absence.dateDebut}">
							<f:convertDateTime pattern="dd-MM-yy"></f:convertDateTime>
						</h:outputText>
					</p:column>
					<p:column>
						<h:outputText value="#{absence.dateReprise}">
							<f:convertDateTime pattern="dd-MM-yy"></f:convertDateTime>
						</h:outputText>
					</p:column>
					<p:column>
						<h:outputText
							value="#{absenceBean.typeAbsenceService.load(absence.typeAbsence.id).libelle}" />
					</p:column>
					<p:column>
						<h:outputText value="#{absence.duree}">
							<f:converter converterId="dateTimeConverter" />
						</h:outputText>
					</p:column>
					<p:column>
						<h:outputText value="#{absence.workflowVariable}" />
					</p:column>
				</p:dataTable>
			</h:form>
			-->
		
<!--
		<h:panelGrid id="panelListGrid" style="width:750px;" columns="1">
			<h:form id="tableForm">
			<p:dataTable var="absence" value="#{jbpmBean.hrDataModel}"
				rowIndexVar="index" paginator="true" rows="10" id="absenceListId"
				editable="true" selectionMode="single"
				paginatorPosition="bottom" binding="#{jbpmBean.absencesTable}"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" rowKey="#{absence.id}"
				selection="#{jbpmBean.jbpmEntitie}" lazy="true"
				filteredValue="#{jbpmBean.jbpmEntities}">
				<f:facet name="header">Nouvelles demandes</f:facet>
				<p:ajax event="rowEdit" update="@form"
					listener="#{jbpmBean.hrTakeDecisionActionListner(true)}">
				</p:ajax>
				<p:ajax event="rowEditCancel" update="@form"
					listener="#{jbpmBean.hrTakeDecisionActionListner(false)}">
				</p:ajax>
				<p:columnGroup type="header">
					<p:row>
						<p:column headerText="#{msg['Absence.L12']}" width="30" />
						<p:column headerText="#{msg['Collabo.L6']}" width="35" />
						<p:column headerText="#{msg['Collabo.L7']}" width="90" />
						<p:column headerText="#{msg['Absence.L1']}" width="45" />
						<p:column headerText="#{msg['Absence.L2']}" width="45" />
						<p:column headerText="#{msg['Absence.L4']}" width="160" />
						<p:column headerText="#{msg['Absence.L5']}" width="30" />
						<p:column headerText="Remarque" width="160" />
						<p:column headerText="#{msg['Absence.L6']}" width="35" />
					</p:row>
				</p:columnGroup>
				<p:column ilterBy="#{absence.statut}" filterMatchMode="in">
					<h:graphicImage name="thumbs-up-icon.png"
						title="#{msg['Absence.L8']}"
						rendered="#{absence.statut == 'workflow_status_accepted'}"
						library="btn-icon" style="width:15px;height:15px;" />
					<h:graphicImage name="thumbs-down-icon.png"
						title="#{msg['Absence.L9']}"
						rendered="#{absence.statut == 'workflow_status_rejected'}"
						library="btn-icon" style="width:15px;height:15px;" />
					<h:outputText styleClass="ui-icon ui-icon-check"
						title="#{msg['Absence.L10']}"
						rendered="#{absence.statut == 'workflow_status_elapsed'}"
						style="width:15px;height:15px;" />
					<h:outputText styleClass="ui-icon ui-icon-star"
						title="#{msg['Absence.L11']}"
						rendered="#{absence.statut == 'workflow_status_init'}"
						style="width:15px;height:15px;" />
				</p:column>
				<p:column>
					<h:outputText value="#{absence.collaborateur.matricule}"/>
				</p:column>
				<p:column>
					<h:outputText value="#{absence.collaborateur.nom} #{absence.collaborateur.prenom}"/>
				</p:column>
				<p:column>
					<h:outputText value="#{absence.dateDebut}">
						<f:convertDateTime pattern="dd-MM-yy"></f:convertDateTime>
					</h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{absence.dateReprise}">
						<f:convertDateTime pattern="dd-MM-yy"></f:convertDateTime>
					</h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{absenceBean.typeAbsenceService.load(absence.typeAbsence.id).libelle}" />
				</p:column>
				<p:column>
					<h:outputText value="#{absence.duree}">
						<f:converter converterId="dateTimeConverter" />
					</h:outputText>
				</p:column>
				<p:column>
					<p:cellEditor>
						<f:facet name="output">
							<h:outputText value="#{absence.workflowVariable}"/>
						</f:facet>
						<f:facet name="input">
							<h:inputTextarea value="#{absence.workflowVariable}"/>
						</f:facet>
					</p:cellEditor>
				</p:column>
				<p:column style="width:6px" >
					<p:rowEditor rendered="#{absence.statut == 'workflow_status_init'}"/>
				</p:column>
			</p:dataTable>
			</h:form>
			<p:spacer height="5"></p:spacer>
			<h:form id="table2Form">
			<p:dataTable var="absence" value="#{jbpmBean.acceptedDataModel}"
				rowIndexVar="index2" paginator="true" rows="10" id="absenceListId"
				paginatorPosition="bottom" 
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" rowKey="#{absence.id}"
				lazy="true">
				<f:facet name="header">Demandes acceptées</f:facet>
				<p:columnGroup type="header">
					<p:row>
						<p:column headerText="#{msg['Collabo.L6']}" width="35" />
						<p:column headerText="#{msg['Collabo.L7']}" width="100" />
						<p:column headerText="#{msg['Absence.L1']}" width="45" />
						<p:column headerText="#{msg['Absence.L2']}" width="45" />
						<p:column headerText="#{msg['Absence.L4']}" width="160" />
						<p:column headerText="#{msg['Absence.L5']}" width="30" />
						<p:column headerText="Remarque" width="160" />
					</p:row>
				</p:columnGroup>
				<p:column>
					<h:outputText value="#{absence.collaborateur.matricule}"/>
				</p:column>
				<p:column>
					<h:outputText value="#{absence.collaborateur.nom} #{absence.collaborateur.prenom}"/>
				</p:column>
				<p:column>
					<h:outputText value="#{absence.dateDebut}">
						<f:convertDateTime pattern="dd-MM-yy"></f:convertDateTime>
					</h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{absence.dateReprise}">
						<f:convertDateTime pattern="dd-MM-yy"></f:convertDateTime>
					</h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{absenceBean.typeAbsenceService.load(absence.typeAbsence.id).libelle}" />
				</p:column>
				<p:column>
					<h:outputText value="#{absence.duree}">
						<f:converter converterId="dateTimeConverter" />
					</h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{absence.workflowVariable}"/>
				</p:column>
			</p:dataTable>
			</h:form>
			<p:spacer height="5"></p:spacer>
			<h:form id="table3Form">
			<p:dataTable var="absence" value="#{jbpmBean.rejectedDataModel}"
				rowIndexVar="index3" paginator="true" rows="10" id="rejectedListId"
				rowKey="#{absence.id}" lazy="true">
				<f:facet name="header">Demandes refusées</f:facet>
				<p:columnGroup type="header">
					<p:row>
						<p:column headerText="#{msg['Collabo.L6']}" width="35" />
						<p:column headerText="#{msg['Collabo.L7']}" width="100" />
						<p:column headerText="#{msg['Absence.L1']}" width="45" />
						<p:column headerText="#{msg['Absence.L2']}" width="45" />
						<p:column headerText="#{msg['Absence.L4']}" width="160" />
						<p:column headerText="#{msg['Absence.L5']}" width="30" />
						<p:column headerText="Remarque" width="160" />
					</p:row>
				</p:columnGroup>
				<p:column>
					<h:outputText value="#{absence.collaborateur.matricule}"/>
				</p:column>
				<p:column>
					<h:outputText value="#{absence.collaborateur.nom} #{absence.collaborateur.prenom}"/>
				</p:column>
				<p:column>
					<h:outputText value="#{absence.dateDebut}">
						<f:convertDateTime pattern="dd-MM-yy"></f:convertDateTime>
					</h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{absence.dateReprise}">
						<f:convertDateTime pattern="dd-MM-yy"></f:convertDateTime>
					</h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{absenceBean.typeAbsenceService.load(absence.typeAbsence.id).libelle}" />
				</p:column>
				<p:column>
					<h:outputText value="#{absence.duree}">
						<f:converter converterId="dateTimeConverter" />
					</h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{absence.workflowVariable}"/>
				</p:column>
			</p:dataTable>
			</h:form>
		</h:panelGrid>
		-->
	</ui:define>
</ui:composition>