<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://sourceforge.net/projects/jsf-comp/acegijsf">

	<ui:define name="title">   #{msg['Absence.titre']} <ui:include
			src="ABS-HELP.xhtml" />
	</ui:define>

	<ui:define name="body">
		<style type="text/css">
.thumbs-up-icon {
	width: 16px;
	height: 16px;
	background-image: url("#{resource['btn-icon/thumbs-up-icon.png']}")
		!important;
	background-position: center !important;
}

.thumbs-down-icon {
	background-image: url("#{resource['btn-icon/thumbs-down-icon.png']}")
		!important;
	background-position: center !important;
}
</style>
		<h:form id="absenceForm">
			<p:hotkey bind="esc" process="@this" resetValues="true"
				update="@parent" action="#{userBean.resetSearchAction}"
				actionListener="#{absenceBean.resetSearchActionListener}">
				<p:resetInput target=":absenceForm" />
			</p:hotkey>
			<s:authorize ifAnyGranted="ROLE_RH,ROLE_ADMIN">
				<h:panelGrid columns="7"
					columnClasses="panelGrid-top,, panelGrid-top">
					<p:panel header="Managers">
						<h:form id="mngrForm">
							<p:selectOneListbox id="groupListId" immediate="true"
								valueChangeListener="#{userBean.managerValueChangeListener}"
								scrollHeight="130" style="width:200px;">
								<f:selectItems value="#{userBean.managers}" var="m"
									itemLabel="#{m.matricule} - #{m.nom} #{m.prenom}"
									itemValue="#{m.id}" />
								<p:ajax event="change" update=":absenceForm:dataTable"
									immediate="true"></p:ajax>
							</p:selectOneListbox>
						</h:form>
						
					</p:panel>
					<p:spacer width="2"></p:spacer>
					<p:panel header="Groupes">
						<p:selectOneListbox id="groupListId" immediate="true"
							valueChangeListener="#{userBean.groupValueChangeListener}"
							style="height:130px;width:170px;" scrollHeight="130">
							<f:selectItems value="#{userBean.groups}" var="group"
								itemLabel="#{group.name}" itemValue="#{group.id}" />
							<p:ajax event="change" update=":absenceForm:dataTable"
								immediate="true"></p:ajax>
						</p:selectOneListbox>
					</p:panel>
					<p:spacer width="2"></p:spacer>
					<p:panel header="Organigramme">
						<p:tree id="orgmId" value="#{userBean.treeNode}" var="node"
							selectionMode="single"
							style="width:280px;height:130px;overflow: auto;"
							selection="#{userBean.selectedNode}">
							<p:ajax event="select" update=":absenceForm:dataTable"
								listener="#{userBean.handleNodeSelection}" />
							<p:treeNode>
								<h:outputText value="#{node.libelle}" />
							</p:treeNode>
						</p:tree>
					</p:panel>
				</h:panelGrid>
			</s:authorize>
			<h:panelGrid style="width:850px;" columns="1">
				<p:toolbar id="toolsId">
					<f:facet name="left">
						<s:authorize ifAnyGranted="ROLE_RH,ROLE_SUPH,ROLE_RP,ROLE_ADMIN">
							<p:commandButton id="dummy" process="@none" global="false" style="display: none;"/>
						<p:commandButton title="#{msg['share.btn1']}"
							oncomplete="PF('addAbsenceDialog').show()" icon="ui-icon-plus" disabled="#{(absenceBean.user eq null?true:false)}"
							actionListener="#{absenceBean.cleanAbsence}"
							update=":addAbsenceDialog" />
						<p:separator />
						</s:authorize>
						<p:commandButton id="btnPrint" title="#{msg['share.title1']}"
							icon="ui-icon-print" ajax="true" />
					</f:facet>
					<f:facet name="right">
						<p:commandButton id="searchBtn" type="button"
							title="#{msg['share.btn6']}" icon="ui-icon-search" />
						<p:commandButton id="resetBtn" process="@this"
							title="#{msg['share.btn9']}" icon="ui-icon-arrowrefresh-1-s"
							resetValues="true" update="@form"
							action="#{absenceBean.resetSearchAction}">
							<p:resetInput target=":absenceForm" />
						</p:commandButton>
					</f:facet>
				</p:toolbar>
				<p:overlayPanel id="printPanel" widgetVar="printPanelWidget"
					for=":absenceForm:btnPrint" hideEffect="fade" my="right top">
					<h:panelGrid columns="2">
						<p:commandLink title="#{msg['share.title1']}" ajax="false"
							actionListener="#{reportingBean.generateAbsenceReportAction('pdf')}" >
							<h:graphicImage name="pdf.png" library="images"
								style="width:23px;height:23px;" />
						</p:commandLink>
						<p:commandLink title="export" immediate="true"
							actionListener="#{reportingBean.generateAbsenceReportAction('xls')}"
							ajax="false">
							<h:graphicImage name="excel.png" library="images"
								style="width:23px;height:23px;" />
						</p:commandLink>
					</h:panelGrid>
				</p:overlayPanel>
				<p:panelGrid columns="2"
					columnClasses="panelGrid-top, panelGrid-top">
					<p:dataTable var="user" value="#{userBean.dataModel}"
						filterEvent="keyup" filteredValue="#{absenceBean.filteredUsers}"
						id="dataTable" paginator="true" rows="15"
						paginatorPosition="bottom" rowIndexVar="index" rowStyleClass="#{index%2==0 ? 'row-color' : null}"
						selectionMode="single"
						paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
						lazy="true" widgetVar="dataTableWidget"
						rowKey="#{user.id}">
						<f:facet name="header">Liste collaborateurs</f:facet>
						<p:ajax event="rowSelect" listener="#{absenceBean.onUserSelected}"
							update=":absenceForm:absenceListId" />
							
						<p:column headerText="#{msg['Collabo.L6']}"
							sortBy="#{user.matricule}" width="60"
							filterBy="#{user.matricule}" filterMatchMode="contains"
							filterStyle="width: 50px;">
							<h:outputText value="#{user.matricule}" />
						</p:column>
						<p:column headerText="#{msg['Collabo.L7']}" sortBy="#{user.nom}" 
							filterStyle="width: 80px;" filterBy="#{user.nom}" width="150"
							filterMatchMode="contains">
							<h:outputText value="#{user.nom} #{user.prenom}" />
						</p:column>
						<p:column headerText="Absences/statut" width="75">
							<p:menuButton value="Options">
								<p:menuitem value="#{msg['share.wrkflw.1']}"
									actionListener="#{absenceBean.refreshAbsListAction('dem', user)}"
									update=":absenceForm:absenceListId" icon="ui-icon-star" />
								<p:menuitem value="#{msg['share.wrkflw.3']}"
									actionListener="#{absenceBean.refreshAbsListAction('val', user)}"
									update=":absenceForm:absenceListId" icon="thumbs-up-icon" />
								<p:menuitem value="#{msg['share.wrkflw.4']}"
									actionListener="#{absenceBean.refreshAbsListAction('ref', user)}"
									update=":absenceForm:absenceListId" icon="thumbs-down-icon" />
								<p:separator />
								<p:menuitem value="#{msg['share.wrkflw.2']}"
									actionListener="#{absenceBean.refreshAbsListAction('eff', user)}"
									update=":absenceForm:absenceListId" icon="ui-icon-check" />
							</p:menuButton>
						</p:column>
					</p:dataTable>
					<p:panelGrid style="width:550px;" columns="1">
						<h:panelGrid columns="2">
							<p:panel style="width:160px;">
								<h:panelGrid columns="3">
									<img
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" />
									<h:panelGroup style="display:block; text-align:left">
										<h:outputLabel for="date1" styleClass="mode"
											value="#{msg['share.start.instant']}"></h:outputLabel>
									</h:panelGroup>
									<p:calendar id="date1"
										value="#{absenceBean.criteria.dateDebut}" locale="fr"
										navigator="true" size="8"></p:calendar>
									<img
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" />
									<h:panelGroup style="display:block; text-align:left">
										<h:outputLabel for="date2" styleClass="mode"
											value="#{msg['share.end.instant']}"></h:outputLabel>
									</h:panelGroup>
									<p:calendar id="date2" value="#{absenceBean.criteria.dateFin}"
										locale="fr" navigator="true" size="8"></p:calendar>
								</h:panelGrid>
								<p:separator></p:separator>
								<h:panelGrid columns="3">
									<p:selectOneRadio id="jrListId"
										value="#{absenceBean.unitTemps}" styleClass="mode">
										<f:selectItem itemLabel="Hr" itemValue="hr" />
										<f:selectItem itemLabel="Jr" itemValue="jr" />
									</p:selectOneRadio>
									<p:spacer width="4" />
									<p:commandButton
										action="#{absenceBean.refreshAbsListAction(null,null)}"
										update=":absenceForm:absenceListId"
										icon="ui-icon-arrowrefresh-1-w" />
								</h:panelGrid>
							</p:panel>
							<p:panel>
								<h:panelGrid columns="4" columnClasses="panelGrid-top,, panelGrid-top,">
									<h:panelGrid columns="2">
										<img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif" />
										<h:outputText styleClass="mode" value="Motif:" style="width:90px;"/>
											<h:outputText></h:outputText>
									</h:panelGrid>
									<p:selectOneListbox id="typeListId" immediate="true"
										valueChangeListener="#{absenceBean.typeValueChangeListener}"
										scrollHeight="105" style="width:170px; font: bold 8px arial;">
										<f:selectItems value="#{absenceBean.typesAbsence}" var="t"
											itemLabel="#{t.code} - #{t.libelle}" itemValue="#{t.libelle}"
											style="font: bold 8px arial;" />
										<p:ajax event="change" update=":absenceForm:absenceListId"
											immediate="true"></p:ajax>
									</p:selectOneListbox>
									<h:panelGrid columns="2">
										<img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif" />
										<h:outputText styleClass="mode"
											value="Statut:"/>
											<h:outputText></h:outputText>
									</h:panelGrid>
									<p:selectOneRadio id="statut" layout="grid"
										value="#{absenceBean.criteria.statut}" columns="1"
										style="width:40px; overflow: auto;"
										styleClass="label-override"
										valueChangeListener="#{absenceBean.stutatValueChangeListener}">
										<f:selectItem itemLabel="Demandée"
											itemValue="workflow_status_init" />
										<f:selectItem itemLabel="Validé"
											itemValue="workflow_status_validated" />
										<f:selectItem itemLabel="Refusé"
											itemValue="workflow_status_rejected" />
										<p:ajax event="change" update=":absenceForm:absenceListId"
											immediate="true"></p:ajax>
									</p:selectOneRadio>
								</h:panelGrid>
							</p:panel>
						</h:panelGrid>
						<p:dataTable var="absence" value="#{absenceBean.absences}"
							rowIndexVar="index" rowStyleClass="#{index%2==0 ? 'row-color' : null}" paginator="true" rows="10" id="absenceListId"
							editable="true" paginatorAlwaysVisible="false"
							paginatorPosition="bottom"
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="5,10,15" lazy="true" rowKey="#{absence.id}">
							<f:facet name="header">#{msg['Absence.stitre']}</f:facet>
							<p:columnGroup type="header">
								<p:row>
									<p:column width="20" />
									<p:column headerText="#{msg['Collabo.L6']}" width="60" />
									<p:column headerText="#{msg['Collabo.L7']}" width="160" />
									<p:column headerText="#{msg['Absence.L1']}" width="60" />
									<p:column headerText="#{msg['Absence.L2']}" width="60" />
									<p:column headerText="#{msg['Absence.L4']}" width="90" />
									<p:column headerText="#{msg['Absence.L5']}" width="30" />
									<!-- <p:column headerText="#{msg['Absence.L6']}" width="60" /> -->
								</p:row>
								<p:row>
									<p:column headerText="Total :" colspan="5" />
									<p:column>
										<f:facet name="header">
											<h:outputText value="#{absenceBean.total}">
												<f:converter converterId="dateTimeConverter" />
											</h:outputText>
										</f:facet>
									</p:column>
									<p:column />
								</p:row>
							</p:columnGroup>
							<p:column>
								<h:graphicImage name="thumbs-up-icon.png"
									title="#{msg['Absence.L8']}"
									rendered="#{absence.statut == 'workflow_status_validated'}"
									library="btn-icon" style="width:15px;height:15px;" />
								<h:graphicImage name="thumbs-down-icon.png"
									title="#{msg['Absence.L9']}"
									rendered="#{absence.statut == 'workflow_status_rejected'}"
									library="btn-icon" style="width:15px;height:15px;" />
								<h:outputText styleClass="ui-icon ui-icon-check"
									title="#{msg['Absence.L10']}"
									rendered="#{absence.statut == 'workflow_status_elapsed'}"
									style="width:15px;height:15px;" />
								<h:outputText styleClass="ui-icon ui-icon-star"
									title="#{msg['Absence.L11']}"
									rendered="#{absence.statut == 'workflow_status_init'}"
									style="width:15px;height:15px;" />
							</p:column>
							<p:column>
								<h:outputText value="#{absence.collaborateur.matricule}" />
							</p:column>
							<p:column>
								<h:outputText value="#{absence.collaborateur.nom} #{absence.collaborateur.prenom}" />
							</p:column>
							<p:column>
								<h:outputText value="#{absence.dateDebut}">
									<f:convertDateTime pattern="dd-MM-yy"></f:convertDateTime>
								</h:outputText>
							</p:column>
							<p:column>
								<h:outputText value="#{absence.dateReprise}">
									<f:convertDateTime pattern="dd-MM-yy"></f:convertDateTime>
								</h:outputText>
							</p:column>
							<p:column>
								<h:outputText value="#{absenceBean.typeAbsenceService.load(absence.typeAbsence.id).libelle}" />
							</p:column>
							<p:column>
								<h:outputText value="#{absence.duree}">
									<f:converter converterId="dateTimeConverter" />
								</h:outputText>
							</p:column>
							<!-- 
							<p:column>
								<p:menuButton value="#{msg['Absence.L7']}"
									rendered="#{absence.statut == 'workflow_status_init' || absence.statut == 'workflow_status_elapsed'}">
									<p:menuitem value="#{msg['share.btn2']}"
										oncomplete="PF('addAbsenceDialog').show()"
										update=":addAbsenceDialog" icon="ui-icon-pencil">
										<f:setPropertyActionListener value="#{absence}"
											target="#{absenceBean.absence}" />
									</p:menuitem>
									<p:menuitem value="#{msg['share.btn4']}"
										update=":absenceForm:absenceListId" icon="ui-icon-close"
										oncomplete="PF('confirmation').show()">
										<f:setPropertyActionListener value="#{absence}"
											target="#{absenceBean.absence}" />
									</p:menuitem>
									<p:menuitem value="#{msg['share.wrkflw.5']}"
										update=":absenceForm:absenceListId" icon="thumbs-up-icon"
										action="#{absenceBean.updateAbsence('workflow_status_validated')}">
										<f:setPropertyActionListener value="#{absence}"
											target="#{absenceBean.absence}" />
									</p:menuitem>
									<p:menuitem value="#{msg['share.wrkflw.6']}"
										update=":absenceForm:absenceListId" icon="thumbs-down-icon"
										action="#{absenceBean.updateAbsence('workflow_status_rejected')}">
										<f:setPropertyActionListener value="#{absence}"
											target="#{absenceBean.absence}" />
									</p:menuitem>
								</p:menuButton>
							</p:column>
							 -->
						</p:dataTable>
					</p:panelGrid>
				</p:panelGrid>

			</h:panelGrid>
			<p:confirmDialog message="#{msg['Absence.M2']}" showEffect="explode"
				hideEffect="explode" header="#{msg['checktime.confirm.delete']}"
				severity="alert" widgetVar="confirmation">
				<p:commandButton value="#{msg['share.boolean.yes']}"
					action="#{absenceBean.deleteAbsence}" update="@form"
					oncomplete="PF('confirmation').hide()"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="#{msg['share.boolean.no']}"
					onclick="PF('confirmation').hide()" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>
		</h:form>

		<p:overlayPanel id="searchPanel" widgetVar="searchPanelWidget"
			for=":absenceForm:searchBtn" hideEffect="fade" my="right top">
			<h:form>
				<h:panelGrid columns="2">
					<p:inputText placeholder="#{msg['Collabo.search.L1']}"
						value="#{absenceBean.criteria.matriculeInf}"></p:inputText>
					<p:spacer></p:spacer>
					<p:inputText placeholder="#{msg['Collabo.search.L2']}"
						value="#{absenceBean.criteria.matriculeSup}"></p:inputText>
					<p:commandButton icon="ui-icon-check"
						update=":absenceForm:dataTable"
						action="{absenceBean.searchUsersAction}"
						oncomplete="PF('searchPanelWidget').hide()" />
				</h:panelGrid>
			</h:form>
		</p:overlayPanel>

		<p:dialog id="addAbsenceDialog" widgetVar="addAbsenceDialog"
			width="470" header="#{msg['Absence.L3']}#{absenceBean.user.nom}"
			resizable="true" showEffect="explode" hideEffect="explode">
			<h:form id="addabsenceform">
				<p:panel id="panel">
					<p:growl id="growl"></p:growl>
					<h:panelGrid id="grid" columns="3" cellpadding="5"
						columnClasses=",label, value">
						<img
							src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
							alt="" />
						<p:outputLabel styleClass="mode" for="absence_debut"
							value="#{msg['Absence.L1']} :" />
						<p:calendar id="absence_debut" pattern="dd/MM//yyyy HH:mm:ss"
							navigator="true" value="#{absenceBean.absence.dateDebut}"
							required="true" label="absence_debut" />

						<img
							src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
							alt="" />
						<p:outputLabel styleClass="mode" for="absence_reprise"
							value="#{msg['Absence.L2']} :" />
						<p:calendar id="absence_reprise" pattern="dd/MM//yyyy HH:mm:ss"
							navigator="true" value="#{absenceBean.absence.dateReprise}"
							required="true" label="absence_fin" />
						</h:panelGrid>
							<h:panelGrid columns="3" cellpadding="5"
								columnClasses=",label, value">
								<img
									src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
									alt="" />
								<p:outputLabel styleClass="mode" for="motif"
									value="#{msg['Absence.L4']} :" />
								<p:selectOneMenu id="motif" value="#{absenceBean.typeAbsence}"
									converter="typeAbsenceConverter" effect="fold"
									panelStyle="width:100px">
									<f:selectItem itemLabel="Select One ..." itemValue=""/>
									<f:selectItems value="#{absenceBean.typesAbsence}"
										var="typeAbsence" itemLabel="#{typeAbsence.libelle}"
										itemValue="#{typeAbsence}" />
								</p:selectOneMenu>
							</h:panelGrid>
					<f:facet name="footer">
						<p:outputPanel layout="block" style="text-align:right">
							<p:commandButton value="#{msg['share.btn7']}"
								update=":addabsenceform:growl" icon="ui-icon-disk"
								actionListener="#{absenceBean.saveAbsence}" ajax="true"
								oncomplete="if (args &amp;&amp; !args.validationFailed) PF('addAbsenceDialog').hide()" />
							<p:commandButton value="Cancel"
								onclick="PF('addAbsenceDialog').hide()" type="button"
								image="ui-icon ui-icon-close" />
						</p:outputPanel>
					</f:facet>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>