<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	
	<p:dialog header="AIDE - ABSENCES" widgetVar="helpDialog" modal="true" height="600px" width="80%">
	<link rel="stylesheet" type="text/css" href="../../../resources/css/HelpStyle.css"/>
	<div class="backColor">
		<div class="container">
			<div>
				<h2>Présentation</h2>
				<div>
					<li class="ListItem">
						Cette fonctionnalité permet de gérer les demandes des
						absences. Elle est accessible à partir du lien « Absences »
						dans le menu Suivi RH.
					</li>
					<div class="imageStyle">
						<img src="../../../resources/images/ABS-HELP/ABS-PRESENTATION.PNG" />
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<br/>
			<hr/>
			<br/>
			<div>
				<h2>Afficher la liste des absences</h2>
				<div>
					<div>
						<li class="ListItem">
							Les absences sont groupées par collaborateur, le tableau de liste contient les informations
							suivantes :
						</li>
						<ul>
							<li>Motif</li>
							<li>Date début</li>
							<li>Date reprise</li>
							<li>Durée</li>
							<li>Etat du workflow</li>
						</ul>
					</div>
					<div class="imageStyle">
						<img src="../../../resources/images/ABS-HELP/ABS-AFFICHAGE.PNG" />
					</div>
					<div>
						<p>
							Les demandes d’absence suivent un processus de workflow. On peut distinguer alors 4 types
							d’absences :
						</p>
						<ul>
							<li>Demandées</li>
							<li>Rejetées</li>
							<li>Validées</li>
							<li>Effectuées</li>
						</ul>
						<p>
							L’ajout d’une nouvelle demande d’absence est accessible à partir de bouton « + » dans la
							barre d’outils.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</p:dialog>
	</ui:composition>