<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://sourceforge.net/projects/jsf-comp/acegijsf">

	<ui:define name="title">   #{msg['Absence.titre']} <ui:include
			src="ABS-HELP.xhtml" />
	</ui:define>

	<ui:define name="body">
		<style type="text/css">
.thumbs-up-icon {
	width: 16px;
	height: 16px;
	background-image: url("#{resource['btn-icon/thumbs-up-icon.png']}")
		!important;
	background-position: center !important;
}

.thumbs-down-icon {
	background-image: url("#{resource['btn-icon/thumbs-down-icon.png']}")
		!important;
	background-position: center !important;
}
</style>

	<p:tabView id="tabview" style="width:1000px;">

		<p:tab id="listedabsId" title="Liste des demandes absences">
		<h:form id="absenceForm">
			<h:panelGrid style="width:1000px;" columns="1">
					<p:panelGrid style="width:550px;" columns="1">
						<h:panelGrid columns="2">
							<p:panel style="width:160px;">
								<h:panelGrid columns="3">
									<img
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" />
									<h:panelGroup style="display:block; text-align:left">
										<h:outputLabel for="date1" styleClass="mode"
											value="#{msg['share.start.instant']}"></h:outputLabel>
									</h:panelGroup>
									<p:calendar id="date1"
										value="#{absenceBean.criteria.dateDebut}" locale="fr"
										navigator="true" size="8"></p:calendar>
									<img
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" />
									<h:panelGroup style="display:block; text-align:left">
										<h:outputLabel for="date2" styleClass="mode"
											value="#{msg['share.end.instant']}"></h:outputLabel>
									</h:panelGroup>
									<p:calendar id="date2" value="#{absenceBean.criteria.dateFin}"
										locale="fr" navigator="true" size="8"></p:calendar>
								</h:panelGrid>
								<p:separator></p:separator>
								<h:panelGrid columns="3">
									<p:selectOneRadio id="jrListId"
										value="#{absenceBean.unitTemps}" styleClass="mode">
										<f:selectItem itemLabel="Hr" itemValue="hr" />
										<f:selectItem itemLabel="Jr" itemValue="jr" />
									</p:selectOneRadio>
									<p:spacer width="4" />
									<p:commandButton
										action="#{absenceBean.refreshAbsListAction(null,null)}"
										update=":tabview:absenceForm:absenceListId"
										icon="ui-icon-arrowrefresh-1-w" />
								</h:panelGrid>
							</p:panel>
							<p:panel>
								<h:panelGrid columns="5" columnClasses="panelGrid-top,,, panelGrid-top,">
									<h:panelGrid columns="2">
										<img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif" />
										<h:outputText styleClass="mode" value="Motif:" style="width:90px;"/>
											<h:outputText></h:outputText>
									</h:panelGrid>
									<p:selectOneListbox id="typeListId" immediate="true"
										valueChangeListener="#{absenceBean.typeValueChangeListener}"
										scrollHeight="105" style="width:240px; font: bold 8px arial;">
										<f:selectItems value="#{absenceBean.typesAbsence}" var="t"
											itemLabel="#{t.code} - #{t.libelle}" itemValue="#{t.libelle}"
											style="font: bold 8px arial;" />
										<p:ajax event="change" update=":tabview:absenceForm:absenceListId"
											immediate="true"></p:ajax>
									</p:selectOneListbox>
									<p:spacer width="7"></p:spacer>
									<h:panelGrid columns="2">
										<img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif" />
										<h:outputText styleClass="mode"
											value="Statut:"/>
											<h:outputText></h:outputText>
									</h:panelGrid>
									<p:selectOneRadio id="statut" layout="grid"
										value="#{jbpmBean.criteria.statut}" columns="1"
										style="width:40px; overflow: auto;"
										styleClass="label-override"
										valueChangeListener="#{absenceBean.stutatValueChangeListener}">
										<f:selectItem itemLabel="Demandée"
											itemValue="workflow_status_init" />
										<f:selectItem itemLabel="Validé"
											itemValue="workflow_status_validated" />
										<f:selectItem itemLabel="Refusé"
											itemValue="workflow_status_rejected" />
										<p:ajax event="change" update=":tabview:absenceForm:absenceListId"
											immediate="true"></p:ajax>
									</p:selectOneRadio>
								</h:panelGrid>
							</p:panel>
						</h:panelGrid>
						<p:dataTable var="absence" value="#{absenceBean.absences}"
							rowIndexVar="index" rowStyleClass="#{index%2==0 ? 'row-color' : null}" paginator="true" rows="10" id="absenceListId"
							editable="true" paginatorAlwaysVisible="false"
							paginatorPosition="bottom"
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="5,10,15" lazy="true" rowKey="#{absence.id}">
							<f:facet name="header">#{msg['Absence.stitre']}</f:facet>
							<p:columnGroup type="header">
								<p:row>
									<p:column width="20" />
									<p:column headerText="#{msg['Collabo.L6']}" width="60" />
									<p:column headerText="#{msg['Collabo.L7']}" width="160" />
									<p:column headerText="#{msg['Absence.L1']}" width="60" />
									<p:column headerText="#{msg['Absence.L2']}" width="60" />
									<p:column headerText="#{msg['Absence.L4']}" width="160" />
									<p:column headerText="#{msg['Absence.L5']}" width="50" />
									<p:column headerText="#{msg['Absence.L6']}" width="90" />
								</p:row>
								<p:row>
									<p:column headerText="Total :" colspan="6" />
									<p:column>
										<f:facet name="header">
											<h:outputText value="#{absenceBean.total}">
												<f:converter converterId="dateTimeConverter" />
											</h:outputText>
										</f:facet>
									</p:column>
									<p:column />
								</p:row>
							</p:columnGroup>
							<p:column>
								<h:graphicImage name="thumbs-up-icon.png"
									title="#{msg['Absence.L8']}"
									rendered="#{absence.statut == 'workflow_status_validated'}"
									library="btn-icon" style="width:15px;height:15px;" />
								<h:graphicImage name="thumbs-down-icon.png"
									title="#{msg['Absence.L9']}"
									rendered="#{absence.statut == 'workflow_status_rejected'}"
									library="btn-icon" style="width:15px;height:15px;" />
								<h:outputText styleClass="ui-icon ui-icon-check"
									title="#{msg['Absence.L10']}"
									rendered="#{absence.statut == 'workflow_status_elapsed'}"
									style="width:15px;height:15px;" />
								<h:outputText styleClass="ui-icon ui-icon-star"
									title="#{msg['Absence.L11']}"
									rendered="#{absence.statut == 'workflow_status_init'}"
									style="width:15px;height:15px;" />
							</p:column>
							<p:column>
								<h:outputText value="#{absence.collaborateur.matricule}" />
							</p:column>
							<p:column>
								<h:outputText value="#{absence.collaborateur.nom} #{absence.collaborateur.prenom}" />
							</p:column>
							<p:column>
								<h:outputText value="#{absence.dateDebut}">
									<f:convertDateTime pattern="dd-MM-yy"></f:convertDateTime>
								</h:outputText>
							</p:column>
							<p:column>
								<h:outputText value="#{absence.dateReprise}">
									<f:convertDateTime pattern="dd-MM-yy"></f:convertDateTime>
								</h:outputText>
							</p:column>
							<p:column>
								<h:outputText value="#{absenceBean.typeAbsenceService.load(absence.typeAbsence.id).libelle}" />
							</p:column>
							<p:column>
								<h:outputText value="#{absence.duree}">
									<f:converter converterId="dateTimeConverter" />
								</h:outputText>
							</p:column>
							<p:column>
								<p:menuButton value="#{msg['Absence.L7']}"
									rendered="#{(jbpmBean.isAdmin() and absence.statut != 'workflow_status_elapsed')
										or absence.statut == 'workflow_status_init' or absence.statut == 'workflow_status_validated'}">
									
									<p:menuitem value="#{msg['share.wrkflw.5']}"
												rendered="#{absence.statut == 'workflow_status_init'}"
										update=":tabview:absenceForm:absenceListId" icon="thumbs-up-icon"
										action="#{jbpmBean.hrTakeDecisionActionListner(true)}">
										<f:setPropertyActionListener value="#{absence}"
											target="#{jbpmBean.absence}" />
									</p:menuitem>
									<p:menuitem value="#{msg['share.wrkflw.6']}"
												rendered="#{absence.statut == 'workflow_status_init'}"
										update=":tabview:absenceForm:absenceListId" icon="thumbs-down-icon"
										action="#{jbpmBean.hrTakeDecisionActionListner(false)}">
										<f:setPropertyActionListener value="#{absence}"
											target="#{jbpmBean.absence}" />
									</p:menuitem>
									<p:menuitem value="#{msg['share.btn4']}"
										rendered="#{(jbpmBean.isAdmin() and absence.statut != 'workflow_status_elapsed')
										or absence.statut == 'workflow_status_init' or absence.statut == 'workflow_status_validated'}"
												update=":tabview:absenceForm" icon="ui-icon-close"
												action="#{jbpmBean.deleteAbsence()}">
										<f:setPropertyActionListener value="#{absence}" target="#{jbpmBean.absence}" />
									</p:menuitem>
								</p:menuButton>
							</p:column>
						</p:dataTable>
					</p:panelGrid>

			</h:panelGrid>
			<p:confirmDialog message="#{msg['Absence.M2']}" showEffect="explode"
				hideEffect="explode" header="#{msg['checktime.confirm.delete']}"
				severity="alert" widgetVar="confirmation">
				<p:commandButton value="#{msg['share.boolean.yes']}"
					action="#{absenceBean.deleteAbsence}" update="@form"
					oncomplete="PF('confirmation').hide()"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="#{msg['share.boolean.no']}"
					onclick="PF('confirmation').hide()" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>
		</h:form>
		</p:tab>
		<p:tab id="listedcngId" title="Liste des demande de conges">
		<h:form id="congeForm">
			<h:panelGrid style="width:1000px;" columns="1">
					<p:panelGrid style="width:550px;" columns="1">
						<h:panelGrid columns="2">
							<p:panel style="width:160px;">
								<h:panelGrid columns="3">
									<img
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" />
									<h:panelGroup style="display:block; text-align:left">
										<h:outputLabel for="date1" styleClass="mode"
											value="#{msg['share.start.instant']}"></h:outputLabel>
									</h:panelGroup>
									<p:calendar id="date1"
										value="#{congeBean.criteria.dateDebut}" locale="fr"
										navigator="true" size="8"></p:calendar>
									<img
										src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
										alt="" />
									<h:panelGroup style="display:block; text-align:left">
										<h:outputLabel for="date2" styleClass="mode"
											value="#{msg['share.end.instant']}"></h:outputLabel>
									</h:panelGroup>
									<p:calendar id="date2" value="#{congeBean.criteria.dateFin}"
										locale="fr" navigator="true" size="8"></p:calendar>
								</h:panelGrid>
								<p:separator></p:separator>
								<h:panelGrid columns="3">
									<p:selectOneRadio id="jrListId"
										value="#{congeBean.unitTemps}" styleClass="mode">
										<f:selectItem itemLabel="Hr" itemValue="hr" />
										<f:selectItem itemLabel="Jr" itemValue="jr" />
									</p:selectOneRadio>
									<p:spacer width="4" />
									<p:commandButton
										action="#{congeBean.refreshAbsListAction(null,null)}"
										update=":tabview:congeForm:congeListId"
										icon="ui-icon-arrowrefresh-1-w" />
								</h:panelGrid>
							</p:panel>
							<p:panel>
								<h:panelGrid columns="5" columnClasses="panelGrid-top,,, panelGrid-top,">
									<h:panelGrid columns="2">
										<img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif" />
										<h:outputText styleClass="mode" value="Motif:" style="width:90px;"/>
											<h:outputText></h:outputText>
									</h:panelGrid>
									<p:selectOneListbox id="typeListId" immediate="true"
										valueChangeListener="#{congeBean.typeValueChangeListener}"
										scrollHeight="105" style="width:240px; font: bold 8px arial;">
										<f:selectItems value="#{congeBean.typesConge}" var="t"
											itemLabel="#{t.code} - #{t.libelle}" itemValue="#{t.libelle}"
											style="font: bold 8px arial;" />
										<p:ajax event="change" update=":tabview:congeForm:congeListId"
											immediate="true"></p:ajax>
									</p:selectOneListbox>
									<p:spacer width="7"></p:spacer>
									<h:panelGrid columns="2">
										<img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif" />
										<h:outputText styleClass="mode"
											value="Statut:"/>
											<h:outputText></h:outputText>
									</h:panelGrid>
									<p:selectOneRadio id="statut" layout="grid"
										value="#{jbpmBean.criteria.statut}" columns="1"
										style="width:40px; overflow: auto;"
										styleClass="label-override"
										valueChangeListener="#{congeBean.statutChangeListener}">
										<f:selectItem itemLabel="Demandée"
											itemValue="workflow_status_init" />
										<f:selectItem itemLabel="Validé"
											itemValue="workflow_status_validated" />
										<f:selectItem itemLabel="Refusé"
											itemValue="workflow_status_rejected" />
										<p:ajax event="change" update=":tabview:congeForm:congeListId"
											immediate="true"></p:ajax>
									</p:selectOneRadio>
								</h:panelGrid>
							</p:panel>
						</h:panelGrid>
						<p:dataTable var="conge" value="#{congeBean.conges}"
							rowIndexVar="index" rowStyleClass="#{index%2==0 ? 'row-color' : null}" paginator="true" rows="10" id="congeListId"
							editable="true" paginatorAlwaysVisible="false"
							paginatorPosition="bottom"
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="5,10,15" lazy="true" rowKey="#{conge.id}">
							<f:facet name="header">#{msg['Conge.stitre']}</f:facet>
							<p:columnGroup type="header">
								<p:row>
									<p:column width="20" />
									<p:column headerText="#{msg['Collabo.L6']}" width="60" />
									<p:column headerText="#{msg['Collabo.L7']}" width="160" />
									<p:column headerText="#{msg['Conge.L1']}" width="60" />
									<p:column headerText="#{msg['Conge.L2']}" width="60" />
									<p:column headerText="#{msg['Conge.L4']}" width="160" />
									<p:column headerText="#{msg['Conge.L5']}" width="50" />
									<p:column headerText="#{msg['Conge.L6']}" width="90" />
								</p:row>
								<p:row>
									<p:column headerText="Total :" colspan="6" />
									<p:column>
										<f:facet name="header">
											<h:outputText value="#{congeBean.total}">
												<f:converter converterId="dateTimeConverter" />
											</h:outputText>
										</f:facet>
									</p:column>
									<p:column />
								</p:row>
							</p:columnGroup>
							<p:column>
								<h:graphicImage name="thumbs-up-icon.png"
									title="#{msg['Conge.L8']}"
									rendered="#{conge.statut == 'workflow_status_validated'}"
									library="btn-icon" style="width:15px;height:15px;" />
								<h:graphicImage name="thumbs-down-icon.png"
									title="#{msg['Conge.L9']}"
									rendered="#{conge.statut == 'workflow_status_rejected'}"
									library="btn-icon" style="width:15px;height:15px;" />
								<h:outputText styleClass="ui-icon ui-icon-check"
									title="#{msg['Conge.L10']}"
									rendered="#{conge.statut == 'workflow_status_elapsed'}"
									style="width:15px;height:15px;" />
								<h:outputText styleClass="ui-icon ui-icon-star"
									title="#{msg['Conge.L11']}"
									rendered="#{conge.statut == 'workflow_status_init'}"
									style="width:15px;height:15px;" />
							</p:column>
							<p:column>
								<h:outputText value="#{conge.collaborateur.matricule}" />
							</p:column>
							<p:column>
								<h:outputText value="#{conge.collaborateur.nom} #{conge.collaborateur.prenom}" />
							</p:column>
							<p:column>
								<h:outputText value="#{conge.dateDebut}">
									<f:convertDateTime pattern="dd-MM-yy"></f:convertDateTime>
								</h:outputText>
							</p:column>
							<p:column>
								<h:outputText value="#{conge.dateReprise}">
									<f:convertDateTime pattern="dd-MM-yy"></f:convertDateTime>
								</h:outputText>
							</p:column>
							<p:column>
								<h:outputText value="#{congeBean.typeCongeService.load(conge.typeConge.id).libelle}" />
							</p:column>
							<p:column>
								<h:outputText value="#{conge.nbrJour}">
								</h:outputText>
							</p:column>
							<p:column>
								<p:menuButton value="#{msg['Conge.L7']}"
									rendered="#{(jbpmBean.isAdmin() and conge.statut != 'workflow_status_elapsed')
										or conge.statut == 'workflow_status_init' or conge.statut == 'workflow_status_validated' }">
									
									<p:menuitem value="#{msg['share.wrkflw.5']}"
										rendered="#{conge.statut == 'workflow_status_init'}"
										update=":tabview:congeForm:congeListId" icon="thumbs-up-icon"
										action="#{jbpmBean.hrTakeCongeDecisionListner(true)}">
										<f:setPropertyActionListener value="#{conge}"
											target="#{jbpmBean.conge}" />
									</p:menuitem>
									<p:menuitem value="#{msg['share.wrkflw.6']}"
										rendered="#{conge.statut == 'workflow_status_init'}"
										update=":tabview:congeForm:congeListId" icon="thumbs-down-icon"
										action="#{jbpmBean.hrTakeCongeDecisionListner(false)}">
										<f:setPropertyActionListener value="#{conge}"
											target="#{jbpmBean.conge}" />
									</p:menuitem>
									<p:menuitem value="#{msg['share.btn4']}"
												rendered="#{(jbpmBean.isAdmin() and conge.statut != 'workflow_status_elapsed')
										or conge.statut == 'workflow_status_init' or conge.statut == 'workflow_status_validated'}"
												update=":tabview:congeForm:congeListId" icon="ui-icon-close"
												action="#{jbpmBean.deleteConge()}">
										<f:setPropertyActionListener value="#{conge}" target="#{jbpmBean.conge}" />
									</p:menuitem>
								</p:menuButton>
							</p:column>
						</p:dataTable>
					</p:panelGrid>

			</h:panelGrid>
			<p:confirmDialog message="#{msg['Conge.M2']}" showEffect="explode"
				hideEffect="explode" header="#{msg['checktime.confirm.delete']}"
				severity="alert" widgetVar="confirmation">
				<p:commandButton value="#{msg['share.boolean.yes']}"
					action="#{congeBean.deleteConge}" update="@form"
					oncomplete="PF('confirmation').hide()"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="#{msg['share.boolean.no']}"
					onclick="PF('confirmation').hide()" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>
		</h:form>
		</p:tab>
		
		</p:tabView>

	</ui:define>
</ui:composition>