<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	
	<p:dialog header="AIDE - ACCUEIL" widgetVar="helpDialog" modal="true" height="600px" width="80%">
	<link rel="stylesheet" type="text/css" href="../resources/css/HelpStyle.css"/>
	<div class="backColor">
		<div class="container">
			<div>
				<h2>Accès à la page d’accueil de CHECKTIME</h2>
				<div>
					<li class="ListItem">
						En cas de succès du processus d’authentification, l’utilisateur est dirigé vers la page d’accueil.
						L’accès aux fonctionnalités se fait selon le profil utilisateur authentifié :
						Page d’accueil Administrateur :
					</li>
					<h3>Page d’accueil Administrateur :</h3>
					<div class="imageStyle">
						<img src="../resources/images/ACC-HELP/ACC-INTRO.PNG" />
					</div>
					<h3>Page d’accueil Manager :</h3>
					<div class="imageStyle">
						<img src="../resources/images/ACC-HELP/ACC-MANAGER.PNG" />
					</div>
				</div>
			</div>
		</div>
	</div>
	</p:dialog>
	</ui:composition>