<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://sourceforge.net/projects/jsf-comp/acegijsf">

	<ui:define name="title">${msg['Accueil.titre']} <ui:include
			src="ACC-HELP.xhtml" />
	</ui:define>

	<ui:define name="body">
		<h:form>
			<!-- Menu Admin -->
			<s:authorize ifAnyGranted="ROLE_ADMIN">
				<p:panelMenu style="width:1000px" toggleable="true">
					<p:submenu label="COMPAGNIE">
						<p:menuitem value="Collaborateurs"
							url="/pages/compagnie/collabo/CLB-ACC.wit" />
						<p:menuitem value="Gestion visites"
							url="/pages/compagnie/visite/VIS-ACC.wit" />
						<p:menuitem value="Self service"
									url="/pages/selfservice/accueil.wit" />
					</p:submenu>
					<p:submenu label="CONFIGURATION	">
						<p:menuitem value="Horaire"
							url="/pages/config/horaire/HOR-ACC.wit" />
						<p:menuitem value="Planning"
							url="/pages/config/planning/PLA-ACC.wit" />
						<p:separator />
						<p:menuitem value="Locaux" url="/pages/config/locaux/LOC-ACC.wit" />
						<p:submenu label="Dispositifs" toggleable="true">
							<p:menuitem value="Terminaux"
								url="/pages/config/dispositif/TER-ACC.wit" />
						</p:submenu>
						<p:separator />
						<p:menuitem value="Paramètrage"
							url="/pages/config/parametres/PRM-ACC.wit" />
					</p:submenu>
					<p:separator />
					<p:submenu label="SUIVI RH">
						<p:menuitem value="Rapports" url="/pages/suivirh/SVRH-ACC.wit" />
						<p:menuitem value="Absences"
							url="/pages/suivirh/absence/ABS-ACC.wit" />
						<p:menuitem value="Congés" url="/pages/suivirh/conge/CON-ACC.wit" />
						<p:menuitem value="Retards"
							url="/pages/suivirh/retard/RTR-ACC.wit" />
						<p:menuitem value="Pointage"
							url="/pages/suivirh/pointage/POINT_MOV.wit" />
						<p:menuitem value="Journal"
						url="/pages/journal/JRN-ACC.wit" />
					</p:submenu>
					<p:submenu label="CHECK ACCESS">
						<p:menuitem value="CHECK ACCESS"
							url="/pages/checkaccess/CAS-ACC.wit" />
					</p:submenu>
				</p:panelMenu>
			</s:authorize>
			<!-- Menu RH  -->

			<s:authorize ifAnyGranted="ROLE_RH">
				<p:panelMenu style="width:1000px" toggleable="true">
					<p:submenu label="COMPAGNIE">
						<p:menuitem value="Collaborateurs"
							url="/pages/compagnie/collabo/CLB-ACC.wit" />
					</p:submenu>
					<p:menuitem value="Self service"
							url="/pages/selfservice/accueil.wit" />
					<p:submenu label="CONFIGURATION	">
						<p:menuitem value="Horaire"
							url="/pages/config/horaire/HOR-ACC.wit" />
						<p:menuitem value="Planning"
							url="/pages/config/planning/PLA-ACC.wit" />
					</p:submenu>
					<p:separator />
					<p:submenu label="SUIVI RH">
						<p:menuitem value="Rapports" url="/pages/suivirh/SVRH-ACC.wit" />
						<p:menuitem value="Absences"
							url="/pages/suivirh/absence/ABS-ACC.wit" />
						<p:menuitem value="Congés" url="/pages/suivirh/conge/CON-ACC.wit" />
						<p:menuitem value="Retards"
							url="/pages/suivirh/retard/RTR-ACC.wit" />
						<p:menuitem value="Pointage"
							url="/pages/suivirh/pointage/POINT_MOV.wit" />
					</p:submenu>
					<p:submenu label="Check access">
						<p:menuitem value="Check access"
							url="/pages/checkaccess/CAS-ACC.wit" />
					</p:submenu>
				</p:panelMenu>
			</s:authorize>
		</h:form>
	</ui:define>

</ui:composition>
