<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"
      >

<h:head>  
<title>Configuration</title>
</h:head> 
 
 <h:body>
 <!-- header -->
	<header>
		<ui:insert name="header" > 
			<ui:include src="/templates/commHeader.xhtml" />
		</ui:insert>
		
		<div id="divi">
				<ul class="lavaLampWithImage" id="1">
				    <li><a href="/checktime-suite/pages/societe.xhtml">Societe</a></li>
				    <li><a href="/checktime-suite/pages/gestion_profiles.xhtml">Configuration</a></li>
				    <li><a href="#">Suivi RH</a></li>
				    <li class="current"><a href="/checktime-suite/pages/doorConf.xhtml">Access Time</a></li>
				</ul>
		</div>
			
	</header>
<!-- / header -->

<!-- content -->
<div id="n1" >
<div id="pad_left" >

<ul class="sf-menu sf-navbar">
			<li class="current">
				<a href="/checktime-suite/pages/doorConf.xhtml" id="main_menu">Porte</a>
				<ul>
					<li class="current" >
						<a href="/checktime-suite/pages/doorConf.xhtml" id="sub_menu">Configuration</a>
					</li>
					<li>
						<a href="#ab" id="sub_menu">menu item</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="/checktime-suite/pages/gestion_devices.xhtml" id="main_menu">Device</a>
			</li>	
			<li>
				<a href="/checktime-suite/pages/profile3.xhtml" id="main_menu">menu item</a>
			</li>
			<li>
				<a href="/checktime-suite/pages/profile3.xhtml" id="main_menu">menu item</a>
			</li>
			<li>
				<a href="/checktime-suite/pages/profile3.xhtml" id="main_menu">menu item</a>
			</li>
		</ul>
</div>
</div>
<div id="n2" />

		
<!-- / content -->

 <h:form id="editForm">
 
<p:panel header="Liste des dispositifs"   id="edit_dlg" style="margin-top:6%;margin-left:5%; width:90%;"> 

    
	
<p:dataTable id="tabId" var="device" value="#{deviceBean.list_device}">


 
			<p:column><p:rowToggler /></p:column>
			
			<p:column headerText="Nom du dispositif">
				<h:outputText value="#{device.libelle}" />	
			</p:column>
			
			 <p:column headerText="Type du dispositif">
				<h:outputText value="#{deviceBean.type}" />
			 </p:column>
			 
			  <p:column headerText="Mode de Communication">
				<h:outputText value="#{deviceBean.nameMode(device.comMode)}" />
			 </p:column>
			
			<p:column headerText="Nom de la zone"> 
				<h:outputText value="#{device.zone.libelle}" /> 
			</p:column>
 
	         
	    
       <p:rowExpansion id="rw">
       <br/> 
       
        <p:dataTable var="porte" value="#{device.portes}" id="tabId1" style="margin-left:25%;width:400px" styleClass="tab_door_conf">
  
            <p:column headerText="Nom de la porte">  
               <h:outputText value="#{porteBean.getName(porte.id)}" />  
            </p:column> 
            
             <p:column headerText="Type de détecteur">  
               <h:outputText value="#{porteBean.type_detecteur(porte.id)}" />  
            </p:column>
            
            <p:column headerText="Mode de vérification">  
               <h:outputText value="#{porteBean.mode_verification(porte.id)}" />  
            </p:column>
            
            <p:column style="text-align:center">  
				<p:commandLink actionListener="#{porteBean.update(porte.id)}" update=":updateForm:upd" onclick="update_dlg.show()" ><h:graphicImage name="icn_edit.png" library="images" /></p:commandLink>
	 		</p:column> 
  
     
      </p:dataTable>
     <br/> 
    </p:rowExpansion>   
	 
</p:dataTable>

</p:panel>
 
</h:form>  


<h:form id="updateForm">

<p:dialog header="Modifier une porte" width="600" height="400" widgetVar="update_dlg" position="bottom" showEffect="clip" hideEffect="clip" > 

	<h:panelGrid columns="2" cellpadding="9" id="upd">
	
		<h:outputText value="Nom du dispositif" />
		<p:inputText value="#{porteBean.porte.dispositif.libelle}" disabled="true"/>
		
		<h:outputText value="Nom de la porte" />
		<p:inputText value="#{porteBean.porte.libelle}"/>
		
		<h:outputText value="Type de détecteur" />
		<h:selectOneMenu value="#{porteBean.sType}">
				<f:selectItem itemLabel="aucun" itemValue="1" />
				<f:selectItem itemLabel="ouverture normale" itemValue="2" />
				<f:selectItem itemLabel="fermeture normale" itemValue="3" />
		</h:selectOneMenu>
		
		<h:outputText value="Mode de vérification" />
		<h:selectOneMenu value="#{porteBean.vMode}">
				<f:selectItem itemLabel="carte" itemValue="1" />
				<f:selectItem itemLabel="carte plus password" itemValue="2" />
				<f:selectItem itemLabel="emprinte digitale" itemValue="3" />
				<f:selectItem itemLabel="carte ou emprinte digitale" itemValue="4" />
				<f:selectItem itemLabel="carte plus emprinte digitale" itemValue="5" />
		</h:selectOneMenu>
		
		<h:outputText value="Mot de passe principale" />
		<p:password value="#{porteBean.porte.dPwd}"/>
	
		<h:outputText value="Mot de passe permanent" />
		<p:password value="#{porteBean.porte.emPwd}"/>
        
        
	</h:panelGrid>
			
			<br/><br/>
			<p:commandButton value="Valider" action="#{porteBean.updatePorte}" update=":editForm:tabId" oncomplete="update_dlg.hide();" style="margin-left:40%;" icon="valid"/>    
        	<p:commandButton value="Annuler" type="button" onclick="update_dlg.hide();" style="margin-left:15px;" icon="annuler"/> 
        
</p:dialog>

</h:form>
<!-- footer -->

<!-- / footer -->
 	  
		   
 </h:body> 
    
</html>
