<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"
      >

<h:head>  
<title>Configuration</title>  
</h:head> 
 
 <h:body>
 <!-- header -->
	<header>
		<ui:insert name="header" > 
			<ui:include src="/templates/commHeader.xhtml" />
		</ui:insert>
		
		<div id="divi">
				<ul class="lavaLampWithImage" id="1">
				    <li><a href="/checktime-suite/pages/societe.xhtml">Societe</a></li>
				    <li class="current"><a href="/checktime-suite/pages/gestion_profiles.xhtml">Configuration</a></li>
				    <li><a href="#">Suivi RH</a></li>
				    <li><a href="/checktime-suite/pages/doorConf.xhtml">Access Time</a></li>
				</ul>
			</div>
			
	</header>
<!-- / header -->

<!-- content -->
<div id="n1" >
<div id="pad_left" >

<ul class="sf-menu sf-navbar">
			<li class="current">
				<a href="/checktime-suite/pages/gestion_profiles.xhtml" id="main_menu">Profile</a>
				<ul>
					<li class="current" >
						<a href="/checktime-suite/pages/gestion_profiles.xhtml" id="sub_menu">Gestion</a>
					</li>
					<li>
						<a href="#ab" id="sub_menu">menu item</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="/checktime-suite/pages/gestion_devices.xhtml" id="main_menu">Device</a>
			</li>	
			<li>
				<a href="/checktime-suite/pages/profile3.xhtml" id="main_menu">menu item</a>
			</li>
			<li>
				<a href="/checktime-suite/pages/profile3.xhtml" id="main_menu">menu item</a>
			</li>
			<li>
				<a href="/checktime-suite/pages/profile3.xhtml" id="main_menu">menu item</a>
			</li>
		</ul>
</div>
</div>
<div id="n2" />

		
<!-- / content -->

<p:layout style="width:95%;height:100%;min-height:450px;margin-top:30px;" id="lay2">

<p:layoutUnit position="west" size="80">

<h:form>
<p:toolbar  style="margin-left:10px;">

	<p:toolbarGroup align="left">
		
		<p:commandButton  title="Visualiser" styleClass="toolbar_btn" icon="ic1" actionListener="#{profileBean.changeView('view')}" update=":lay2" />
		
		<p:commandButton  title="Ajouter" styleClass="toolbar_btn" icon="ic2" actionListener="#{profileBean.changeView('add')}" update=":lay2,:addForm:addLibelle,:addForm:addCode,:addForm:checkboxTree">
		 <f:actionListener binding="#{profileBean.clear()}" />
		</p:commandButton> 
	     
	    <p:commandButton  title="Modifier" styleClass="toolbar_btn" icon="ic3" actionListener="#{profileBean.changeView('edit')}" update=":lay2"/> 
	    
	    <p:commandButton  title="Affecter" styleClass="toolbar_btn" icon="ic4" actionListener="#{profileBean.changeView('affect')}" update=":lay2" /> 
	    
	</p:toolbarGroup>

</p:toolbar>
</h:form>

</p:layoutUnit>

<p:layoutUnit position="center">

<h:form id="viewForm">
 
<p:panel header="Liste de profiles"   id="view_dlg" rendered="#{profileBean.view_dlg}" style="margin-left:40px;"> 

    
	
<p:dataTable var="profile" value="#{profileBean.list_profile}" id="tabId1" >


 
	<p:columnGroup type="header">
		<p:row>
			<p:column headerText="Libelle"/>
			<p:column headerText="Code"/>
		</p:row>
	</p:columnGroup>
	
	

	 <p:column>
		<h:outputText value="#{profile.libelle}" />
	 </p:column>
	 <p:column>
		<h:outputText value="#{profile.code}" />
	 </p:column>
	 
</p:dataTable>

 

</p:panel>
	
</h:form>

<h:form id="addForm">
<p:panel header="Ajouter nouveau profile" id="add_dlg" rendered="#{profileBean.add_dlg}" style="margin-left:40px;"> 


<p:panelGrid styleClass="tab1" id="pan1">  

	<p:row>
		<p:column>
		<h:outputLabel  value="Libelle" />
		<br/><br/>
		<h:outputLabel  value="Code " />
		</p:column>
		
		<p:column>
		<p:inputText value="#{profileBean.libelle}" id="addLibelle"/>
		<br/><br/>
		<p:inputText value="#{profileBean.code}" id="addCode"/>
		</p:column>
		
		<p:column style="padding-left:100px;"/>
		
		<p:column rowspan="3">
		<br/>
		<h:outputLabel  value="Choix des liens" />
		<br/><br/>
		
		<p:scrollPanel style="width:350px;height:200px;padding-left:5px;" mode="native" id="scrl1">
			<p:tree value="#{profileBean.root}" var="node" id="checkboxTree"
		            selectionMode="checkbox"
		            selection="#{profileBean.selectedNodes}" style="border:none;">
		
		        <p:treeNode>
		            <h:outputText value="#{node.libelle}" />
		        </p:treeNode>
		 	</p:tree>
		</p:scrollPanel>
		 	
		</p:column>
		
		  

	</p:row>
	
	<p:row>
		<p:column/>
		<p:column/>
		<p:column/>
		<p:column/>
		
	</p:row>
 
 

 	<p:row>
		<p:column><h:outputLabel  value="" /></p:column>
 	 
	   <p:column> 
	   
	   <p:commandButton  value="Valider" actionListener="#{profileBean.saveProfile}" update=":editForm:tabId2,:viewForm:tabId1,:lay2" icon="valid">
	       <f:actionListener binding="#{profileBean.changeView('view')}"/>
	    </p:commandButton>
	    
	    <p:commandButton  value="Reset" style="padding-left:5px;padding-right:5px;margin-left:30px;" actionListener="#{profileBean.clear}" update=":lay2" icon="reset"/>

	      
	    </p:column>
	    
	    <p:column/><p:column/>
 	</p:row>

</p:panelGrid>
</p:panel>

</h:form>

<h:form id="editForm">
 
<p:panel header="Liste de profiles"   id="edit_dlg" rendered="#{profileBean.edit_dlg}" style="margin-left:40px;"> 

    
	
<p:dataTable var="profile" value="#{profileBean.list_profile}" id="tabId2" >


 
	<p:columnGroup type="header">
		<p:row>
			<p:column headerText="Libelle"/>
			<p:column headerText="Code"/>
			<p:column headerText="" colspan="3"/>
		</p:row>
	</p:columnGroup>
	
	

	 <p:column>
		<h:outputText value="#{profile.libelle}" />
	 </p:column>
	 <p:column>
		<h:outputText value="#{profile.code}" />
	 </p:column>
	 
	 <p:column style="text-align:center">  
		<p:commandLink actionListener="#{profileBean.update}"  update=":updateForm:libId,:updateForm:codId,:updateForm:checkboxTree" oncomplete="update_dlg.show()"><h:graphicImage name="icn_edit.png" library="images" /></p:commandLink>
	 	<h:inputHidden value="#{profile.id}" binding="#{profileBean.profileId}"/>
	 </p:column>
	 <p:column style="text-align:center">
		<p:commandLink actionListener="#{profileBean.update}" onclick="confirmation.show()"><h:graphicImage name="icn_trash.png" library="images"/></p:commandLink>
	 </p:column>
	 
	 
</p:dataTable>

 

</p:panel>
	
</h:form>

<h:form id="affectForm">



	<p:panel header="Affectation"  id="affect_dlg" rendered="#{profileBean.affect_dlg}" style="height:350px;margin-left:40px;">
	
	<h:panelGrid columns="2">
	
	
	
	  <h:column>
		<p:fieldset legend="Liste des utilisateurs" style="margin-left: 18%; width: 300px;height:200px;" widgetVar="users_dlg" styleClass="myfield" >
		
	<p:scrollPanel style="width:290px;height:150px;padding-left:5px;" mode="native" >	
		<p:selectManyCheckbox value="#{affectBean.selectedUsers}" layout="pageDirection">  
		            
		     <f:selectItems value="#{affectBean.users}" /> 
		             
		</p:selectManyCheckbox>
		
	</p:scrollPanel>	
		
		</p:fieldset>
		</h:column>
		
		<h:column>
		<p:fieldset legend="Liste des profiles" style="margin-left: 30%; width: 300px;height:200px; text-align:center;" widgetVar="profiles_dlg" styleClass="myfield">
				
				<h:selectOneMenu value="#{affectBean.selectedProfile}"  var="p" style="margin-top:30px">
				
				       <f:selectItem itemLabel="selectionner un profile" itemValue="0" /> 
				       <f:selectItems value="#{affectBean.profiles}" />
							
				</h:selectOneMenu>
	
		</p:fieldset>
		</h:column>
		<h:column/>
		<h:column>
		
			<p:commandButton value="Valider" action="#{affectBean.affecter}" style="margin-left: 30%; margin-top:6%;" icon="valid"/>
			<p:commandButton value="Reset" type="reset" style="padding-left:5px;padding-right:5px;margin-left: 10%; margin-top:6%;" icon="reset" />
		
		</h:column>
		
		

		
		

</h:panelGrid>
	    </p:panel>
	
</h:form>

</p:layoutUnit>

</p:layout>

<h:form id="updateForm">

<p:dialog header="Modifier un profile" width="600" height="400" widgetVar="update_dlg" position="bottom" showEffect="clip" hideEffect="clip" > 
<h:panelGrid columns="2" cellpadding="9" >  
<h:outputLabel  value="Libelle" /> 
<p:inputText   value="#{profileBean.libelle}" id="libId"/>

<h:outputLabel  value="Code " />
<p:inputText  value="#{profileBean.code}" id="codId"/>

<h:outputLabel  value="Choix des liens" />
<h:outputLabel  value="" /><h:outputLabel  value="" />

 <p:tree value="#{profileBean.root}" var="node" id="checkboxTree"
            selectionMode="checkbox"
            selection="#{profileBean.selectedNodes}">
 
        <p:treeNode>
            <h:outputText value="#{node.libelle}" />
        </p:treeNode>
 </p:tree>
 

 	  <br/>
</h:panelGrid>

	 <p:commandButton  value="Valider" actionListener="#{profileBean.updateProfile}" update=":editForm:tabId2" oncomplete="update_dlg.hide()" icon="valid" style="margin-left:30%;"/>
 	 <p:commandButton  value="Annuler"  onclick="update_dlg.hide()" icon="annuler" style="margin-left:20px;"/>
	
	<br/><br/>
</p:dialog>

</h:form>

<p:dialog header="Confirmation" widgetVar="confirmation" resizable="false" modal="true" showEffect="clip" hideEffect="clip" id="confirm_dlg">  
        <h:panelGroup layout="block" style="padding: 5px;">  
            <h:outputText value="Voulez vous supprimer ce profile?"/>  
        </h:panelGroup>  
        <p:commandButton value="Supprimer" action="#{profileBean.deleteProfile}" update=":editForm:tabId2" oncomplete="confirmation.hide();" style="margin-top: 10px;" icon="valid"/>    
        <p:commandButton value="Annuler" type="button" onclick="confirmation.hide();" style="margin-top: 10px;margin-left:20px;" icon="annuler"/>  
</p:dialog>






<!-- footer -->

<!-- / footer -->
 	  
		   
 </h:body> 
    
</html>

