<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"
      >

<h:head>  
<title>Configuration</title>  
</h:head> 
 
 <h:body>
 <!-- header -->
	<header>
		<ui:insert name="header" > 
			<ui:include src="/templates/commHeader.xhtml" />
		</ui:insert>
		
		<div id="divi">
				<ul class="lavaLampWithImage" id="1">
				    <li><a href="/checktime-suite/pages/societe.xhtml">Societe</a></li>
				    <li class="current"><a href="/checktime-suite/pages/gestion_profiles.xhtml">Configuration</a></li>
				    <li><a href="#">Suivi RH</a></li>
				    <li><a href="/checktime-suite/pages/doorConf.xhtml">Access Time</a></li>
				</ul>
			</div>
			
	</header>
<!-- / header -->

<!-- content -->
<div id="n1" >
<div id="pad_left" >

<ul class="sf-menu sf-navbar">
			<li>
				<a href="/checktime-suite/pages/gestion_profiles.xhtml" id="main_menu">Profile</a>
				<ul>
					<li>
						<a href="/checktime-suite/pages/gestion_profiles.xhtml" id="sub_menu">Gestion</a>
					</li>
					<li>
						<a href="/checktime-suite/pages/gestion_profiles.xhtml" id="sub_menu">Configuration</a>
					</li>
				</ul>
			</li>
			<li class="current">
				<a href="/checktime-suite/pages/gestion_devices.xhtml" id="main_menu">Device</a>
				<ul>
					<li>
						<a href="/checktime-suite/pages/gestion_area.xhtml" id="sub_menu">Site_Zone</a>
					</li>
					<li class="current">
						<a href="#" id="sub_menu">Gestion</a>
					</li>
					<li>
						<a href="#" id="sub_menu">Configuration</a>
					</li>
				</ul>
			</li>
		</ul>
</div>
</div>
<div id="n2" />

		
<!-- / content -->

<p:layout style="width:95%;height:100%;min-height:400px;margin-top:30px;" id="lay2">

<p:layoutUnit position="west" size="80">

<h:form>
<p:toolbar style="margin-left:10px;">

	<p:toolbarGroup align="left">
		
		<p:commandButton  title="Visualiser" styleClass="toolbar_btn3" icon="ic8" actionListener="#{deviceBean.changeView('view')}" update=":lay2" />
		
		<p:commandButton  title="Ajouter" styleClass="toolbar_btn3" icon="ic9" actionListener="#{deviceBean.changeView('add')}" update=":lay2,:addForm:addLibelle,:addForm:ModeOptions,:addForm:ip,:addForm:IPPort,:addForm:CommunicationPwd,:addForm:acp,:addForm:cb1,:addForm:zone,:addForm:cb2">
		 <f:actionListener binding="#{deviceBean.clear()}" />
		</p:commandButton> 
	     
	    <p:commandButton  title="Modifier" styleClass="toolbar_btn3" icon="ic10" actionListener="#{deviceBean.changeView('edit')}" update=":lay2"/> 
	    
	</p:toolbarGroup>

</p:toolbar>
</h:form>

</p:layoutUnit>

<p:layoutUnit position="center">

<h:form id="viewForm">
 
<p:panel header="Liste de dispositifs"   id="view_dlg" rendered="#{deviceBean.view_dlg}" style="margin-left:40px;"> 

    
	
<p:dataTable var="dispositif" value="#{deviceBean.list_device}" id="tabId" >


 
	<p:columnGroup type="header">
		<p:row>
			<p:column headerText="Libelle"/>
			<p:column headerText="Type du dispositif"/>
			<p:column headerText="Mode de Communication"/>
			<p:column headerText="Adresse IP"/>
			<p:column headerText="Zone"/>
			<p:column headerText="Parametres RS485"/>
		</p:row>
	</p:columnGroup>
	
	

	 <p:column>
		<h:outputText value="#{dispositif.libelle}" />
	 </p:column>
	 <p:column>
		<h:outputText value="#{deviceBean.type}" />
	 </p:column>
	 <p:column>
		<h:outputText value="#{deviceBean.nameMode(dispositif.comMode)}" />
	 </p:column>
	 <p:column>
		<h:outputText value="#{dispositif.ipAddress}" />
	 </p:column>
	 <p:column>
		<h:outputText value="#{dispositif.zone.libelle}" />
	 </p:column>
	 <p:column>
		<h:outputText value="#{deviceBean.sParam}" />
	 </p:column>
 
	 
</p:dataTable>

 

</p:panel>
	
</h:form>

<h:form id="addForm">
<p:panel header="Ajouter un Dispositif" id="add_dlg" rendered="#{deviceBean.add_dlg}" style="margin-left:40px;"> 

<p:panelGrid styleClass="tab1">
	<p:row/>
	<p:row>
		<p:column/><p:column/>
		<p:column><h:outputLabel  value="Libelle"/> </p:column>
		<p:column><p:inputText value="#{deviceBean.libelle}" id="addLibelle" required="true"/></p:column>
	</p:row>
	<p:row>
		<p:column/><p:column/>
		<p:column><h:outputLabel  value="Mode de Communication" /> </p:column>
		<p:column>
	        <p:selectOneRadio value="#{deviceBean.comMode}"  id="ModeOptions">
	            <f:selectItem itemLabel="TCP/IP" itemValue="1" />
	            <f:selectItem itemLabel="RS485" itemValue="0" />
	        </p:selectOneRadio>
  		</p:column>
	</p:row>
	
	<p:row>
		<p:column/><p:column/>
		<p:column><h:outputLabel  value="Adresse IP" /></p:column>
		<p:column><p:inputText id="ip" value="#{deviceBean.addressIP}" required="true"/></p:column>
	</p:row>
 
	<p:row>
		<p:column/><p:column/>
		<p:column><h:outputLabel  value="Port IP" /></p:column>
		<p:column><p:inputText value="#{deviceBean.portIP}" id="IPPort" required="true"/></p:column>
	</p:row>
	
	<p:row>
		<p:column/><p:column/>
		<p:column><h:outputLabel  value="Mot de passe" /></p:column>
		<p:column><p:inputText value="#{deviceBean.comPwd}" id="CommunicationPwd"/></p:column>
	</p:row>
	
	<p:row>
		<p:column/><p:column/>
		<p:column><h:outputLabel  value="Type de panneau de control d'acces" /></p:column>
		<p:column>
			<h:selectOneMenu value="#{deviceBean.selectedAcpType}" id="acp">
				<f:selectItem itemLabel="-----------" itemValue="0" noSelectionOption="true"/>
				<f:selectItem itemLabel="Panneau de controle d'acces une-porte" itemValue="1"/>
				<f:selectItem itemLabel="Panneau de controle d'acces deux-porte" itemValue="2" />
				<f:selectItem itemLabel="Panneau de controle d'acces quatre-porte" itemValue="3" />
			</h:selectOneMenu>
		</p:column>
	</p:row>
	
	<p:row>
		<p:column/><p:column/>
		<p:column><h:outputLabel  value="Synchronisation automatique du temps du dispositif" /></p:column>
		<p:column><p:selectBooleanCheckbox value="#{deviceBean.syncTime}" id="cb1"/></p:column>
	</p:row>
	
	<p:row>
		<p:column/><p:column/>
		<p:column><h:outputLabel  value="Zone" id="zone"/></p:column>
		<p:column>
			<h:selectOneMenu value="#{deviceBean.selectedZone}">
				<f:selectItem itemLabel="-----------" itemValue="-1" noSelectionOption="true"/>
				<f:selectItems value="#{deviceBean.list_zone}"/>
			</h:selectOneMenu>
		</p:column>
	</p:row>
	
	<p:row>
		<p:column/><p:column/>
		<p:column><h:outputLabel  value="Supprimer les données du dispositif en l'ajoutant" /></p:column>
		<p:column><p:selectBooleanCheckbox value="#{deviceBean.clrData}" id="cb2"/></p:column>
	</p:row>

 	<p:row>
 		<p:column/><p:column/>
 		<p:column/><p:column/>
		<p:column><h:outputLabel  value="" /></p:column>
 	 
	   <p:column> <p:commandButton  value="Valider" actionListener="#{deviceBean.saveDevice}" update=":editForm:tabId,:lay2" icon="valid">
	       <f:actionListener binding="#{deviceBean.changeView('view')}"/>
	    </p:commandButton>  </p:column>
	    <p:column/><p:column/><p:column/>
 	</p:row>

</p:panelGrid>
</p:panel>

</h:form>

<h:form id="editForm">
 
<p:panel header="Liste des dispositifs"   id="edit_dlg" rendered="#{deviceBean.edit_dlg}" style="margin-left:40px;"> 

    
	
<p:dataTable var="dispositif" value="#{deviceBean.list_device}" id="tabId" >


 
	<p:columnGroup type="header">
		<p:row>
			<p:column headerText="Libelle"/>
			<p:column headerText="Type du dispositif"/>
			<p:column headerText="Mode de Communication"/>
			<p:column headerText="Adresse IP"/>
			<p:column headerText="Zone"/>
			<p:column headerText="Parametres RS485"/>
			<p:column headerText="" colspan="3"/>
		</p:row>
	</p:columnGroup>
	
	

	 <p:column>
		<h:outputText value="#{dispositif.libelle}" />
	 </p:column>
	 <p:column>
		<h:outputText value="#{deviceBean.type}" />
	 </p:column>
	 <p:column>
		<h:outputText value="#{deviceBean.nameMode(dispositif.comMode)}" />
	 </p:column>
	 <p:column>
		<h:outputText value="#{dispositif.ipAddress}" />
	 </p:column>
	 <p:column>
		<h:outputText value="#{dispositif.zone.libelle}" />
	 </p:column>
	 <p:column>
		<h:outputText value="" />
	 </p:column>
	 <p:column style="text-align:center">  
		<p:commandLink actionListener="#{deviceBean.update}"  update=":updateForm:editLibelle,:updateForm:ModeOptions,:updateForm:ip,:updateForm:IPPort,:updateForm:CommunicationPwd,:updateForm:acp,:updateForm:cb1,:updateForm:zone,:updateForm:cb2" oncomplete="update_dlg.show()"><h:graphicImage name="icn_edit.png" library="images" /></p:commandLink>
	 	<h:inputHidden value="#{dispositif.id}" binding="#{deviceBean.deviceId}"/>
	 </p:column>
	 <p:column style="text-align:center">
		<p:commandLink actionListener="#{deviceBean.update}" onclick="confirmation.show()"><h:graphicImage name="icn_trash.png" library="images"/></p:commandLink>
	 </p:column>
	 
	 
</p:dataTable>

</p:panel>
	
</h:form>

</p:layoutUnit>

</p:layout>

<h:form id="updateForm">

<p:dialog header="Modifier un dispositif" width="800" height="400" widgetVar="update_dlg" position="bottom"  showEffect="clip" hideEffect="clip"> 
<p:panelGrid styleClass="tab1">
	<p:row/>
	<p:row>
		<p:column />
		<p:column><h:outputLabel  value="Libelle" /> </p:column>
		<p:column><p:inputText value="#{deviceBean.libelle}" id="editLibelle"/></p:column>
	</p:row>
	<p:row>
		<p:column/>
		<p:column><h:outputLabel  value="Mode de Communication" /> </p:column>
		<p:column>
	        <h:selectOneRadio value="#{deviceBean.comMode}"  id="ModeOptions" >
	            <f:selectItem itemLabel="TCP/IP" itemValue="1" />
	            <f:selectItem itemLabel="RS485" itemValue="0" />
	        </h:selectOneRadio>
  		</p:column>
	</p:row>
	
	<p:row>
		<p:column/>
		<p:column><h:outputLabel  value="Adresse IP" /></p:column>
		<p:column><p:inputText id="ip" value="#{deviceBean.addressIP}"/></p:column>
	</p:row>
 
	<p:row>
		<p:column/>
		<p:column><h:outputLabel  value="Port IP" /></p:column>
		<p:column><p:inputText value="#{deviceBean.portIP}" id="IPPort"/></p:column>
	</p:row>
	
	<p:row>
		<p:column/>
		<p:column><h:outputLabel  value="Mot de passe" /></p:column>
		<p:column><p:inputText value="#{deviceBean.comPwd}" id="CommunicationPwd"/></p:column>
	</p:row>
	
	<p:row>
		<p:column/>
		<p:column ><h:outputLabel  value="Type de panneau de control d'acces" /></p:column>
		<p:column>
			<h:selectOneMenu value="#{deviceBean.selectedAcpType}" id="acp">
				<f:selectItem itemLabel="-----------" itemValue="0" />
				<f:selectItem itemLabel="Panneau de controle d'acces une-porte" itemValue="1" />
				<f:selectItem itemLabel="Panneau de controle d'acces deux-porte" itemValue="2" />
				<f:selectItem itemLabel="Panneau de controle d'acces quatre-porte" itemValue="3" />
			</h:selectOneMenu>
		</p:column>
	</p:row>
	
	<p:row>
		<p:column/>
		<p:column><h:outputLabel  value="Synchronisation automatique du temps du dispositif" /></p:column>
		<p:column><p:selectBooleanCheckbox value="#{deviceBean.syncTime}" id="cb1"/></p:column>
	</p:row>
	
	<p:row>
		<p:column/>
		<p:column><h:outputLabel  value="Zone" /></p:column>
		<p:column>
			<h:selectOneMenu value="#{deviceBean.selectedZone}" id="zone">
				<f:selectItem itemLabel="-----------" itemValue="0" />
				<f:selectItems value="#{deviceBean.list_zone}"/>
			</h:selectOneMenu>
		</p:column>
	</p:row>
	
	<p:row>
		<p:column/>
		<p:column><h:outputLabel  value="Supprimer les données du dispositif en l'ajoutant" /></p:column>
		<p:column><p:selectBooleanCheckbox value="#{deviceBean.clrData}" id="cb2"/></p:column>
	</p:row>

</p:panelGrid>

<br/>
		<p:commandButton  value="Valider" actionListener="#{deviceBean.updateDevice}" update=":editForm:tabId" oncomplete="update_dlg.hide()" icon="valid" style="margin-left:50%;">
	       <f:actionListener binding="#{deviceBean.changeView('edit')}"/>
	    </p:commandButton>
	    <p:commandButton  value="Annuler"  onclick="update_dlg.hide()" icon="annuler" style="margin-left:20px;" />
<br/><br/>
</p:dialog>

</h:form>

<p:dialog header="Confirmation" widgetVar="confirmation" resizable="false" modal="true" id="confirm_dlg" showEffect="clip" hideEffect="clip">  
        <h:panelGroup layout="block" style="padding: 5px;">  
            <h:outputText value="Voulez vous supprimer ce dispositif?"/>  
        </h:panelGroup>  
        <p:commandButton value="Supprimer" action="#{deviceBean.deleteDevice}" update=":editForm:tabId" oncomplete="confirmation.hide();" style="margin-top: 10px;" icon="valid" />    
        <p:commandButton value="Annuler" type="button" onclick="confirmation.hide();" style="margin-top: 10px;margin-left:20px;" icon="annuler" />  
</p:dialog>






<!-- footer -->

<!-- / footer -->
 	  
		   
 </h:body> 
    
</html>

