<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"
      >

<h:head>  
<title>Configuration</title>  
</h:head> 
 
 <h:body>
 <!-- header -->
	<header>
		<ui:insert name="header" > 
			<ui:include src="/templates/entete.xhtml" />
		</ui:insert>
		
		<div id="divi">
				<ul class="lavaLampWithImage" id="1">
				    <li><a href="/checktime-suite/pages/societe.xhtml">Societe</a></li>
				    <li class="current"><a href="/checktime-suite/pages/gestion_profiles.xhtml">Configuration</a></li>
				    <li><a href="#">Suivi RH</a></li>
				    <li><a href="#">Access Time</a></li>
				</ul>
			</div>
			
	</header>
<!-- / header -->

<!-- content -->
<div id="n1" >
<div id="pad_left" >

<ul class="sf-menu sf-navbar">
			<li>
				<a href="#a" id="main_menu">Profile</a>
				<ul>
					<li>
						<a href="#aa" id="sub_menu">Gestion</a>
					</li>
					<li>
						<a href="#ab" id="sub_menu">Affectation</a>
					</li>
				</ul>
			</li>
			<li class="current">
				<a href="/checktime-suite/pages/gestion_devices.xhtml" id="main_menu">Device</a>
				<ul>
					<li class="current">
						<a href="/checktime-suite/pages/gestion_area.xhtml" id="sub_menu">Site_Zone</a>
					</li>
					<li>
						<a href="/checktime-suite/pages/gestion_devices.xhtml" id="sub_menu">Gestion</a>
					</li>
					<li>
						<a href="#" id="sub_menu">Configuration</a>
					</li>
				</ul>
			</li>	
			<li>
				<a href="#" id="main_menu">menu item</a>
			</li>
			<li>
				<a href="#" id="main_menu">menu item</a>
			</li>
			<li>
				<a href="#" id="main_menu">menu item</a>
			</li>
		</ul>
</div>
</div>
<div id="n2" />

<p:layout style="width:100%;height:100%;min-height:400px;margin-top:20px;" id="lay2">
<p:layoutUnit position="west" size="70">
<h:form>
<p:toolbar>
	<p:toolbarGroup align="left">
		
		<p:commandButton  title="Visualiser" styleClass="toolbar_btn3" icon="ic11" actionListener="#{areaBean.changeView('view')}" update=":lay2" />
		
		<p:commandButton  title="Ajouter" styleClass="toolbar_btn3" icon="ic12" actionListener="#{areaBean.changeView('add')}" update=":lay2">
			<f:actionListener binding="#{areaBean.clear()}" />
		</p:commandButton> 
	     
	    <p:commandButton  title="Modifier" styleClass="toolbar_btn3" icon="ic13" actionListener="#{areaBean.changeView('edit')}" update=":lay2"/> 
	    
	</p:toolbarGroup>
</p:toolbar>
</h:form>
</p:layoutUnit>

<p:layoutUnit position="center">
	<h:form id="viewForm">
	<p:panel header="Liste des emplacements"   id="view_dlg" rendered="#{areaBean.view_dlg}">
		<p:dataTable id="tabId1" value="#{areaBean.list_site}" var="site">
			<p:column><p:rowToggler /></p:column>
			<p:column headerText="Libelle">
				<h:outputText value="#{site.libelle}" />	
			</p:column>
			<p:column headerText="Code">
				<h:outputText value="#{site.code}" />
			</p:column>
			<p:column headerText="Description">
				<h:outputText value="#{site.description}" />
			</p:column>
		 	<p:rowExpansion id="rw">
		       <br/> 
		       <p:dataTable var="zone" value="#{areaBean.loadListZone(site.id)}" id="tabId2" style="margin-left:25%;width:400px" styleClass="tab_door_conf">
		  	     <p:column headerText="Libelle">  
		    	     <h:outputText value="#{zone.libelle}" />  
		         </p:column> 
		         <p:column headerText="Code">  
		        	 <h:outputText value="#{zone.code}" />  
		         </p:column>
		         <p:column headerText="Description">  
		         	<h:outputText value="#{zone.description}" />  
		         </p:column>
		      </p:dataTable>
		     <br/> 
		    </p:rowExpansion>   
		</p:dataTable>
		<br/>
	</p:panel>
	</h:form>
	
	<h:form id="editForm">
	<p:panel header="Liste des emplacements"   id="edit_dlg" rendered="#{areaBean.edit_dlg}">
		<br/>
		<p:fieldset legend="Liste des sites" style="margin-left: 5%; margin-right: 5%;height:200px;" widgetVar="site_dlg" styleClass="myfield">
		<p:dataTable var="site" value="#{areaBean.list_site}" id="tabId1">
			<p:columnGroup type="header">
				<p:row>
					<p:column headerText="Libelle"/>
					<p:column headerText="Code"/>
					<p:column headerText="Description"/>
					<p:column headerText="" colspan="3"/>
				</p:row>
			</p:columnGroup>
			<p:column>
				<h:outputText value="#{site.libelle}" />
			</p:column>
			<p:column>
				<h:outputText value="#{site.code}" />
			</p:column>
			<p:column>
				<h:outputText value="#{site.description}" />
			</p:column>
			<p:column style="text-align:center">  
				<p:commandLink actionListener="#{areaBean.updateS}"  oncomplete="updateS_dlg.show()" update=":updatesForm:uLibelle,:updatesForm:uCode,:updatesForm:uDescription"><h:graphicImage name="icn_edit.png" library="images" /></p:commandLink>
			 	<h:inputHidden value="#{site.id}" binding="#{areaBean.siteId}"/>
			 </p:column>
			 <p:column style="text-align:center">
				<p:commandLink actionListener="#{areaBean.updateS}" onclick="confirmation.show()"><h:graphicImage name="icn_trash.png" library="images"/></p:commandLink>
			 </p:column>
		</p:dataTable>
		</p:fieldset>
		
		<br/>
		<p:separator style="height:10px;width:1264px;margin-left:-21px;background-color: #56b2f3;"/>
		<br/>
		
		<p:fieldset legend="Liste des zones" style="margin-left: 5%; margin-right: 5%;height:200px;" widgetVar="zone_dlg" styleClass="myfield">
		<p:dataTable var="zone" value="#{areaBean.list_zone}" id="tabId2">
			<p:columnGroup type="header">
				<p:row>
					<p:column headerText="Libelle"/>
					<p:column headerText="Code"/>
					<p:column headerText="Site"/>
					<p:column headerText="Description"/>
					<p:column headerText="" colspan="3"/>
				</p:row>
			</p:columnGroup>
			<p:column>
				<h:outputText value="#{zone.libelle}" />
			</p:column>
			<p:column>
				<h:outputText value="#{zone.code}" />
			</p:column>
			<p:column>
				<h:outputText value="#{zone.site.libelle}" />
			</p:column>
			<p:column>
				<h:outputText value="#{zone.description}" />
			</p:column>
			<p:column style="text-align:center">  
				<p:commandLink actionListener="#{areaBean.updateZ}"  oncomplete="updateZ_dlg.show()" update=":updatezForm:uLibelle,:updatezForm:uCode,:updatezForm:uSite,:updatezForm:uDescription"><h:graphicImage name="icn_edit.png" library="images" /></p:commandLink>
			 	<h:inputHidden value="#{zone.id}" binding="#{areaBean.zoneId}"/>
			 </p:column>
			 <p:column style="text-align:center">
				<p:commandLink actionListener="#{areaBean.updateZ}" onclick="confirmation.show()"><h:graphicImage name="icn_trash.png" library="images"/></p:commandLink>
			 </p:column>
		</p:dataTable>
		</p:fieldset>
	</p:panel>
	</h:form>
	
	<h:form id="addForm">
	<p:panel header="Ajouter un emplacement"   id="add_dlg" rendered="#{areaBean.add_dlg}">
		<p:column>
		<p:panelGrid styleClass="tab1" id="pan1-1" style="margin-left:25px;margin-top:20px;">
			<p:row>
				<p:column>
				<h:outputLabel  value="Libelle" />
				</p:column>
				<p:column>
				<p:inputText value="#{areaBean.lib}" id="addsLibelle" />
				</p:column>
			</p:row>
			<p:row>
				<p:column>
				<h:outputLabel  value="Code" />
				</p:column>
				<p:column>
				<p:inputText value="#{areaBean.cd}" id="addsCode"/>
				</p:column>
			</p:row>
			<p:row>
				<p:column>
				<h:outputLabel  value="Type" />
				</p:column>
				<p:column>
				<p:selectOneRadio value="#{areaBean.type}" id="ModeOption" onchange="if(document.getElementById('addForm:hd').disabled == false) document.getElementById('addForm:hd').disabled =true; else document.getElementById('addForm:hd').disabled =false;">
					<f:selectItem itemLabel="Site" itemValue="true" />
					<f:selectItem itemLabel="Zone" itemValue="false"/>
				</p:selectOneRadio>
				</p:column>
			</p:row>
			<p:row>
				<p:column>
				<h:outputLabel  value="Site" />
				</p:column>
				<p:column>
					<h:selectOneMenu value="#{areaBean.selectedSite}" id="hd">
						<f:selectItem itemLabel="----------------------------" itemValue="-1" noSelectionOption="true"/>
						<f:selectItems value="#{areaBean.listS}"/>
					</h:selectOneMenu>
				</p:column>
			</p:row>
			<p:row>
				<p:column>
				<h:outputLabel  value="Description" />
				</p:column>
				<p:column>
				<p:inputTextarea value="#{areaBean.desc}" id="addsDescription"/>
				</p:column>
			</p:row>
			<p:row/>
			<p:row>
				<p:column/>
				
				
				<p:column>
				<br/>
				<p:commandButton  value="Valider" actionListener="#{areaBean.saveArea}" update=":viewForm:tabId2,:viewForm:tabId1,:lay2" icon="valid">
			       <f:actionListener binding="#{areaBean.changeView('view')}"/>
			    </p:commandButton>
				</p:column>
				<p:column/>
				<p:column/>
			</p:row>
		</p:panelGrid>
		</p:column>
		
	</p:panel>
	</h:form>
	
	<h:form id="updatesForm">
	<p:dialog header="Modifier un site" width="600" height="400" widgetVar="updateS_dlg" position="bottom" showEffect="clip" hideEffect="clip">
		<p:panelGrid styleClass="tab1" id="pan1" style="margin-top:30px;margin-left:20px">
			<p:row>
				<p:column>
				<h:outputLabel  value="Libelle" />
				</p:column>
				<p:column>
				<p:inputText value="#{areaBean.site.libelle}" id="uLibelle" />
				</p:column>
			</p:row>
			<p:row>
				<p:column>
				<h:outputLabel  value="Code" />
				</p:column>
				<p:column>
				<p:inputText value="#{areaBean.site.code}" id="uCode"/>
				</p:column>
			</p:row>
			<p:row>
				<p:column>
				<h:outputLabel  value="Description" />
				</p:column>
				<p:column>
				<p:inputTextarea value="#{areaBean.site.description}" id="uDescription"/>
				</p:column>
			</p:row>
			  
		</p:panelGrid>
		 <br/><br/>
		 <p:commandButton  value="Valider" actionListener="#{areaBean.editArea}" update=":editForm:tabId1" oncomplete="updateS_dlg.hide()" icon="valid" style="margin-left:25%;"/>
		 <p:commandButton  value="Annuler"  onclick="updateS_dlg.hide()" icon="annuler" style="margin-left:10px;"/>
	</p:dialog>
	</h:form>
	
	<h:form id="updatezForm">
	<p:dialog header="Modifier une zone" width="600" height="400" widgetVar="updateZ_dlg" position="bottom" showEffect="clip" hideEffect="clip">
		<p:panelGrid styleClass="tab1" id="pan1" style="margin-top:30px;margin-left:20px">
			<p:row>
				<p:column>
				<h:outputLabel  value="Libelle" />
				</p:column>
				<p:column>
				<p:inputText value="#{areaBean.zone.libelle}" id="uLibelle" />
				</p:column>
			</p:row>
			<p:row>
				<p:column>
				<h:outputLabel  value="Code" />
				</p:column>
				<p:column>
				<p:inputText value="#{areaBean.zone.code}" id="uCode"/>
				</p:column>
			</p:row>
			<p:row id="r">
				<p:column>
				<h:outputLabel  value="Site" />
				</p:column>
				<p:column>
				<h:selectOneMenu value="#{areaBean.selectedSite}" id="uSite">
					<f:selectItem itemLabel="-----------" itemValue="0" noSelectionOption="true"/>
					<f:selectItems value="#{areaBean.listS}"/>
				</h:selectOneMenu>
				</p:column>
			</p:row>
			<p:row>
				<p:column>
				<h:outputLabel  value="Description" />
				</p:column>
				<p:column>
				<p:inputTextarea value="#{areaBean.zone.description}" id="uDescription"/>
				</p:column>
			</p:row>
			
		</p:panelGrid>
			<br/><br/>
			<p:commandButton  value="Valider" actionListener="#{areaBean.editArea}" update=":editForm:tabId2" oncomplete="updateZ_dlg.hide()" icon="valid" style="margin-left:25%;"/>
			<p:commandButton  value="Annuler"  onclick="updateZ_dlg.hide()" icon="annuler" style="margin-left:10px;"/>
		
	</p:dialog>
	</h:form>
</p:layoutUnit>

</p:layout>

<p:dialog header="Confirmation" widgetVar="confirmation" resizable="false" modal="true" id="confirm_dlg" showEffect="clip" hideEffect="clip">  
       <h:panelGroup layout="block" style="padding: 5px;">  
           <h:outputText value="Voulez vous supprimer cet emplacement?"/>  
       </h:panelGroup>  
       <p:commandButton value="Supprimer" action="#{areaBean.deleteArea}" update=":editForm:tabId1,:editForm:tabId2" oncomplete="confirmation.hide();" style="margin-top: 10px;" icon="valid"/>
       <p:commandButton value="Annuler" type="button" onclick="confirmation.hide();" style="margin-top: 10px;margin-left:20px;" icon="annuler" />  
</p:dialog>
<!-- / content -->


<!-- footer -->

<!-- / footer -->ic
 	  
		   
 </h:body> 
    
</html>