<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="title"> guide d'utilisateur</ui:define>
	<ui:define name="body">
		<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/resources/css/HelpStyle.css"/>
		<div class="backColor">
			<p:media value="#{facesContext.externalContext.requestContextPath}/../resources/files/CheckTimeUserGuide.pdf" height="580px" width="100%"/> 
		</div>
	</ui:define>
</ui:composition>