<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"
      >

<h:head>  
<title>Societé</title> 
</h:head> 
 
 <h:body>
 

 <!-- header -->
	<header>
		<ui:insert name="header" > 
			<ui:include src="/templates/commHeader.xhtml" />
		</ui:insert>
		
		<div id="divi">
				<ul class="lavaLampWithImage" id="1">
				    <li class="current"><a href="/checktime-suite/pages/societe.xhtml">Societe</a></li>
				    <li><a href="/checktime-suite/pages/gestion_profiles.xhtml">Configuration</a></li>
				    <li><a href="#">Suivi RH</a></li>
				    <li><a href="/checktime-suite/pages/doorConf.xhtml">Access Time</a></li>
				</ul>
			</div>
			
	</header>
<!-- / header -->

<!-- content -->
<div id="n1" >
<div id="pad_left" >

<ul class="sf-menu sf-navbar">
			<li class="current">
				<a href="#a" id="main_menu">Users</a>
				<sec:authorize ifAnyGranted="#{roleBean.find('conf')}" >
				<ul>
					<li class="current">
						<a href="#aa" id="sub_menu">Gestion</a>
					</li>
					<li>
						<a href="#ab" id="sub_menu">Configuration</a>
					</li>
				</ul>
				</sec:authorize>
			</li>
			<li>
				<a href="/checktime-suite/pages/profile1.xhtml" id="main_menu">Profile Métier</a>
			</li>
			<li>
				<a href="/checktime-suite/pages/profile1.xhtml" id="main_menu">Organisme</a>
				<ul>
					<li>
						<a href="#" id="sub_menu">menu items</a>
					</li>
					<li>
						<a href="#" id="sub_menu">menu item</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="/checktime-suite/pages/profile3.xhtml" id="main_menu">Organigram</a>
			</li>	
		</ul>
</div>
</div>
<div id="n2" />

		
<!-- / content -->

<p:layout style="width:95%;height:100%;min-height:450px;margin-top:30px;" id="lay3">

<p:layoutUnit position="west" size="80" >
<h:form>
<p:toolbar  style="margin-left:10px;">

	<p:toolbarGroup align="left">
		<p:commandButton  title="Visualiser" styleClass="toolbar_btn1" icon="ic5" actionListener="#{userBean.changeView('view')}" update=":lay3,:tab1" />
		
		<p:commandButton  title="Ajouter" styleClass="toolbar_btn1" icon="ic6" actionListener="#{userBean.changeView('add')}" update=":lay3">
		<f:actionListener binding="#{userBean.clear()}"/>
		</p:commandButton>
	     
	    <p:commandButton  title="Modifier" styleClass="toolbar_btn1" icon="ic7" actionListener="#{userBean.changeView('edit')}" update=":lay3"/>		
</p:toolbarGroup>
</p:toolbar>
</h:form>
</p:layoutUnit>
	
<p:layoutUnit position="center">
		
	<p:panel header="Liste des collaborateurs" rendered="#{userBean.view_dlg}" style="margin-left:40px;" id="user_view_pan">
		<br/>
		<p:dataTable var="user" value="#{userBean.users}" id="tab1">

			<p:columnGroup type="header">
				<p:row>
					<p:column headerText="Nom"/>
					<p:column headerText="Prenom"/>
					<p:column headerText="CIN"/>
					<p:column headerText="Badge"/>
					<p:column headerText="Matricule"/>
					<p:column/>
				</p:row>
			</p:columnGroup>
	
	
		 <p:column>
			<h:outputText value="#{user.nom}" />
		 </p:column>
		 <p:column>
			<h:outputText value="#{user.prenom}" />
		 </p:column>
			 <p:column>
				<h:outputText value="#{user.cinNum}" />
			 </p:column>
		 <p:column>
			<h:outputText value="#{user.badge}" />
		 </p:column>
		 <p:column>
			<h:outputText value="#{user.matricule}" />
		 </p:column>
		 
		 <p:column style="text-align:center;">
			<p:commandLink action="#{userBean.update(user.id)}" update=":lay3"><h:graphicImage name="detail.png" library="images" title="détail"/>
				<f:actionListener binding="#{userBean.changeView('detail')}"/>
			</p:commandLink>
		 </p:column>
	 
		</p:dataTable>
	</p:panel>
	
	<p:panel header="Détails du membre" rendered="#{userBean.detail_dlg}"  style="margin-left:40px;" id="user_detail_pan">
		
		<br/>
		<p:fieldset legend="Information de connexion" toggleable="true" styleClass="myfield">
			<h:panelGrid columns="2" cellpadding="8" >
				 <h:column><h:outputLabel  value="Identifiant" /></h:column>	
				 <h:column><p:inputText id="identifiant" value="#{userBean.user.login}" required="true" readonly="true"/>
				 <p:message for="identifiant" />
				 </h:column>
			</h:panelGrid>
		</p:fieldset>
		<br/>
		<p:fieldset legend="Information personnelle" toggleable="true" styleClass="myfield">
		
			<h:panelGrid columns="2" cellpadding="8" >
			
				<h:panelGrid columns="2" cellpadding="8" >
					 <h:column><h:outputLabel  value="Nom" /></h:column>	
					 <h:column><p:inputText  value="#{userBean.user.nom}" readonly="true"/></h:column>
					 	
					 <h:column><h:outputLabel  value="Prénom" /></h:column>	
					 <h:column><p:inputText  value="#{userBean.user.prenom}" readonly="true"/></h:column>		
					 			
					 
					 
					 <h:column><h:outputLabel  value="Numéro CIN" /></h:column>	
					 <h:column><p:inputText  value="#{userBean.user.cinNum}" readonly="true"/></h:column>
					 
					 <h:column><h:outputLabel  value="Numéro CNSS" /></h:column>	
					 <h:column><p:inputText  value="#{userBean.user.cnssNum}" readonly="true"/></h:column>	
					 
					 
					
				</h:panelGrid>
				
				<h:panelGrid columns="2" cellpadding="8" style="margin-left:80px;" >
				
					<h:column><h:outputLabel  value="Lieu de naissance" /></h:column>	
					 <h:column>
					 <p:inputText  value="#{userBean.user.locNaiss}" readonly="true"/>
					 </h:column>
					 			
					 <h:column><h:outputLabel  value="Date de naissance" /></h:column>	
					 <h:column>
					 <p:inputText id="date2" value="#{userBean.user.dateNaiss}" readonly="true">
					 <f:convertDateTime type="date" pattern="d-M-yyyy" />
					 </p:inputText>
					 <p:message id="msg1" for="date2" />
					 </h:column>
					 
					 <h:column><h:outputLabel  value="Adresse Postale" /></h:column>	
					 <h:column><p:inputText  value="#{userBean.user.adressPostale}" readonly="true"/></h:column>	
					 
					 <h:column><h:outputLabel  value="Email" /></h:column>	
					 <h:column><p:inputText  value="#{userBean.user.mail}" readonly="true"/></h:column>	
				
				</h:panelGrid>
			
			</h:panelGrid>
		</p:fieldset>
		<br/>
		<p:fieldset legend="Information professionnel" toggleable="true" styleClass="myfield">
		
		<h:panelGrid columns="2" cellpadding="8" >
		
			<h:panelGrid columns="2" cellpadding="8" >
				 <h:column><h:outputLabel  value="Matricule" /></h:column>	
				 <h:column><p:inputText  value="#{userBean.user.matricule}" readonly="true"/></h:column>
				 	
				 <h:column><h:outputLabel  value="Badge" /></h:column>	
				 <h:column><p:inputText  value="#{userBean.user.badge}" readonly="true"/></h:column>		
				 			
				 
				 
				 <h:column><h:outputLabel  value="Type de contrat" /></h:column>	
				 <h:column><p:inputText  value="#{userBean.user.typeContrat}" readonly="true"/></h:column>
				 
				 <h:column><h:outputLabel  value="Nombre de congé initial" /></h:column>	
				 <h:column><p:inputText id="nb1" value="#{userBean.user.nbCongeInitial}" readonly="true">
				 <f:convertNumber type="number" integerOnly="true" />
				 </p:inputText>
				 <p:message id="msg4" for="nb1" showDetail="true"  />
				 </h:column>	
				 
				
				
			</h:panelGrid>
			
			<h:panelGrid columns="2" cellpadding="8" style="margin-left:80px;">
				
				<h:column><h:outputLabel  value="Date d'embauche" /></h:column>	
				 <h:column><p:inputText id="date3" value="#{userBean.user.dateEmb}" readonly="true">
				 <f:convertDateTime type="date" pattern="d-M-yyyy" />
				 <p:message id="msg2" for="date3" showDetail="true" />
				 </p:inputText>
				 </h:column>
				 			
				 <h:column><h:outputLabel  value="Date de quite" /></h:column>	
				 <h:column><p:inputText id="date4" value="#{userBean.user.dateQuit}" readonly="true">
				 <f:convertDateTime type="date" pattern="d-M-yyyy" />
				 </p:inputText>
				 <p:message id="msg3" for="date4" showDetail="true" />
				 </h:column>
				 
				  <h:column><h:outputLabel  value="Mode de paiment" /></h:column>	
				 <h:column><p:inputText  value="#{userBean.user.modePaiement}" readonly="true"/></h:column>
				 
				  <h:column><h:outputLabel  value="Observations" /></h:column>	
				 <h:column><p:inputText  value="#{userBean.user.obserations}" readonly="true"/></h:column>		
				 
				 <h:column><h:outputLabel  value="Droit de paie" /></h:column>	
				 <h:column><p:selectBooleanCheckbox  value="#{userBean.droitPaie}" /></h:column>
				 
				
			
			</h:panelGrid>
			
		</h:panelGrid>
		</p:fieldset>
		
		<br/><br/>
		
		<p:commandButton value="Retour" style="margin-left : 90%;"  action="#{userBean.changeView('view')}" update=":lay3" icon="retour" />
		
	</p:panel>
	
	
	

	<p:panel header="Ajouter un nouveau utilisateur" rendered="#{userBean.add_dlg}"  style="margin-left:40px;" id="user_add_pan">
		
		<h:form id="addForm">
		<br/>
		<p:fieldset legend="Information de connexion" toggleable="true" styleClass="myfield">
			<h:panelGrid columns="2" cellpadding="8" >
				 <h:column><h:outputLabel  value="Identifiant" /></h:column>	
				 <h:column><p:inputText id="identifiant" value="#{userBean.user.login}" required="true" />
				 <p:message for="identifiant" />
				 </h:column>
				 
				 	
				 <h:column><h:outputLabel  value="Mot de passe" /></h:column>	
				 <h:column><p:password id="pass1" match="pass2" value="#{userBean.user.password}" />
				 <p:message for="pass1" />
				 </h:column>		
				 	
				 <h:column><h:outputLabel  value="Confirmation" /></h:column>	
				 <h:column><p:password id="pass2" value="#{userBean.user.password}" /></h:column>			
				
			</h:panelGrid>
		</p:fieldset>
		<br/>
		<p:fieldset legend="Information personnelle" toggleable="true" styleClass="myfield"> 
		
			<h:panelGrid columns="2" cellpadding="8" >
			
				<h:panelGrid columns="2" cellpadding="8" >
					 <h:column><h:outputLabel  value="Nom" /></h:column>	
					 <h:column><p:inputText  value="#{userBean.user.nom}" /></h:column>
					 	
					 <h:column><h:outputLabel  value="Prénom" /></h:column>	
					 <h:column><p:inputText  value="#{userBean.user.prenom}" /></h:column>		
					 			
					 
					 
					 <h:column><h:outputLabel  value="Numéro CIN" /></h:column>	
					 <h:column><p:inputText  value="#{userBean.user.cinNum}" /></h:column>
					 
					 <h:column><h:outputLabel  value="Numéro CNSS" /></h:column>	
					 <h:column><p:inputText  value="#{userBean.user.cnssNum}" /></h:column>	
					 
					 
					
				</h:panelGrid>
				
				<h:panelGrid columns="2" cellpadding="8" style="margin-left:80px;" >
				
					<h:column><h:outputLabel  value="Lieu de naissance" /></h:column>	
					 <h:column>
					 <p:inputText  value="#{userBean.user.locNaiss}"/>
					 </h:column>
					 			
					 <h:column><h:outputLabel  value="Date de naissance" /></h:column>	
					 <h:column>
					 <p:inputText id="date2" value="#{userBean.user.dateNaiss}" >
					 <f:convertDateTime type="date" pattern="d-M-yyyy" />
					 </p:inputText>
					 <p:message id="msg1" for="date2" />
					 </h:column>
					 
					 <h:column><h:outputLabel  value="Adresse Postale" /></h:column>	
					 <h:column><p:inputText  value="#{userBean.user.adressPostale}" /></h:column>	
					 
					 <h:column><h:outputLabel  value="Email" /></h:column>	
					 <h:column><p:inputText  value="#{userBean.user.mail}" /></h:column>	
				
				</h:panelGrid>
			
			</h:panelGrid>
		</p:fieldset>
		<br/>
		<p:fieldset legend="Information professionnel" toggleable="true" styleClass="myfield">
		
		<h:panelGrid columns="2" cellpadding="8" >
		
			<h:panelGrid columns="2" cellpadding="8" >
				 <h:column><h:outputLabel  value="Matricule" /></h:column>	
				 <h:column><p:inputText  value="#{userBean.user.matricule}" /></h:column>
				 	
				 <h:column><h:outputLabel  value="Badge" /></h:column>	
				 <h:column><p:inputText  value="#{userBean.user.badge}" /></h:column>		
				 			
				 
				 
				 <h:column><h:outputLabel  value="Type de contrat" /></h:column>	
				 <h:column><p:inputText  value="#{userBean.user.typeContrat}" /></h:column>
				 
				 <h:column><h:outputLabel  value="Nombre de congé initial" /></h:column>	
				 <h:column><p:inputText id="nb1" value="#{userBean.user.nbCongeInitial}">
				 <f:convertNumber type="number" integerOnly="true" />
				 </p:inputText>
				 <p:message id="msg4" for="nb1" showDetail="true"  />
				 </h:column>	
				 
				
				
			</h:panelGrid>
			
			<h:panelGrid columns="2" cellpadding="8" style="margin-left:80px;">
				
				<h:column><h:outputLabel  value="Date d'embauche" /></h:column>	
				 <h:column><p:inputText id="date3" value="#{userBean.user.dateEmb}">
				 <f:convertDateTime type="date" pattern="d-M-yyyy" />
				 <p:message id="msg2" for="date3" showDetail="true" />
				 </p:inputText>
				 </h:column>
				 			
				 <h:column><h:outputLabel  value="Date de quite" /></h:column>	
				 <h:column><p:inputText id="date4" value="#{userBean.user.dateQuit}">
				 <f:convertDateTime type="date" pattern="d-M-yyyy" />
				 </p:inputText>
				 <p:message id="msg3" for="date4" showDetail="true" />
				 </h:column>
				 
				  <h:column><h:outputLabel  value="Mode de paiment" /></h:column>	
				 <h:column><p:inputText  value="#{userBean.user.modePaiement}" /></h:column>
				 
				  <h:column><h:outputLabel  value="Observations" /></h:column>	
				 <h:column><p:inputText  value="#{userBean.user.obserations}" /></h:column>		
				 
				 <h:column><h:outputLabel  value="Droit de paie" /></h:column>	
				 <h:column><p:selectBooleanCheckbox  value="#{userBean.droitPaie}" /></h:column>
				 
				
			
			</h:panelGrid>
			
		</h:panelGrid>
		</p:fieldset>
		
		
		<p:commandButton value="Valider"  action="#{userBean.saveUser}" update=":lay3" icon="valid" style="margin-left: 68%;">
			<f:actionListener binding="#{userBean.changeView('view')}"/>
		</p:commandButton>
		<p:commandButton type="reset" value="Reset" style="padding-left:5px;padding-right:5px;margin-left: 8%; margin-top:6%;" icon="reset"/>
		</h:form>
	</p:panel>
	
	
	<p:panel header="Liste des collaborateurs" rendered="#{userBean.edit_dlg}"  style="margin-left:40px;" id="user_edit_pan">
		
		<p:dataTable var="user" value="#{userBean.users}" id="tab2">

			<p:columnGroup type="header">
				<p:row>
					<p:column headerText="Nom"/>
					<p:column headerText="Prenom"/>
					<p:column headerText="CIN"/>
					<p:column headerText="Badge"/>
					<p:column headerText="Matricule"/>
					<p:column headerText="" colspan="2"/>
				</p:row>
			</p:columnGroup>
	
	
		 <p:column>
			<h:outputText value="#{user.nom}" />
		 </p:column>
		 <p:column>
			<h:outputText value="#{user.prenom}" />
		 </p:column>
			 <p:column>
				<h:outputText value="#{user.cinNum}" />
			 </p:column>
		 <p:column>
			<h:outputText value="#{user.badge}" />
		 </p:column>
		 <p:column>
			<h:outputText value="#{user.matricule}" />
		 </p:column>
		 
		 <p:column style="text-align:center">  
			<p:commandLink actionListener="#{userBean.update(user.id)}" update=":updateForm:f1,:updateForm:f2,:updateForm:f3" onclick="update_dlg.show()" ><h:graphicImage name="icn_edit.png" library="images" /></p:commandLink>
	 	</p:column>
	 	
		 <p:column style="text-align:center">
			<p:commandLink actionListener="#{userBean.update(user.id)}" onclick="confirmation.show()"><h:graphicImage name="icn_trash.png" library="images"/></p:commandLink>
		 </p:column>
	 
		</p:dataTable>
	</p:panel>
	
</p:layoutUnit>

</p:layout>

<p:dialog header="Confirmation" widgetVar="confirmation" resizable="false" modal="true" id="confirm_dlg" showEffect="clip" hideEffect="clip">  
        <h:panelGroup layout="block" style="padding: 5px;">  
            <h:outputText value="Voulez vous supprimer ce collaborateur"/>  
        </h:panelGroup>  
        <p:commandButton value="Supprimer" action="#{userBean.deleteUser}" update=":tab2,:lay3" oncomplete="confirmation.hide();" style="margin-top: 10px;" icon="valid" />    
        <p:commandButton value="Annuler" type="button" onclick="confirmation.hide();" style="margin-top: 10px;margin-left:20px;" icon="annuler" />  
</p:dialog>

<h:form id="updateForm">

	<p:dialog header="Modifier un collaborateur" width="600" height="400" widgetVar="update_dlg" position="bottom" showEffect="clip" hideEffect="clip"> 

 		<p:fieldset legend="Information de connexion" id="f1" toggleable="true" styleClass="myfield">
			<h:panelGrid columns="2" cellpadding="8" >
				 <h:column><h:outputLabel  value="Identifiant" /></h:column>	
				 <h:column><p:inputText  value="#{userBean.user.login}" /></h:column>
				 	
				 <h:column><h:outputLabel  value="Mot de passe" /></h:column>	
				 <h:column><p:password  value="#{userBean.user.password}" /></h:column>		
				 	
				 <h:column><h:outputLabel  value="Confirmation" /></h:column>	
				 <h:column><p:password  value="#{userBean.user.password}" /></h:column>			
				
			</h:panelGrid>
		</p:fieldset>
		<br/>
		<p:fieldset legend="Information personnelle" id="f2" toggleable="true" styleClass="myfield">
			<h:panelGrid columns="2" cellpadding="8" >
				 <h:column><h:outputLabel  value="Nom" /></h:column>	
				 <h:column><p:inputText  value="#{userBean.user.nom}" /></h:column>
				 	
				 <h:column><h:outputLabel  value="Prénom" /></h:column>	
				 <h:column><p:inputText  value="#{userBean.user.prenom}" /></h:column>		
				 			
				 <h:column><h:outputLabel  value="Lieu de naissance" /></h:column>	
				 <h:column>
				 <p:inputText  value="#{userBean.user.locNaiss}"/>
				 </h:column>
				 			
				 <h:column><h:outputLabel  value="Date de naissance" /></h:column>	
				 <h:column>
				 <p:inputText id="date2" value="#{userBean.user.dateNaiss}">
				 <f:convertDateTime type="date" pattern="d-M-yyyy" />
				 </p:inputText>
				 <h:message for="date2" style="color:red" />
				 </h:column>	
				 
				 <h:column><h:outputLabel  value="Numéro CIN" /></h:column>	
				 <h:column><p:inputText  value="#{userBean.user.cinNum}" /></h:column>
				 
				 <h:column><h:outputLabel  value="Numéro CNSS" /></h:column>	
				 <h:column><p:inputText  value="#{userBean.user.cnssNum}" /></h:column>	
				 
				 <h:column><h:outputLabel  value="Adresse Postale" /></h:column>	
				 <h:column><p:inputText  value="#{userBean.user.adressPostale}" /></h:column>	
				 
				 <h:column><h:outputLabel  value="Email" /></h:column>	
				 <h:column><p:inputText  value="#{userBean.user.mail}" /></h:column>
				
			</h:panelGrid>
		</p:fieldset>
		<br/>
		<p:fieldset legend="Information professionnel" id="f3" toggleable="true" styleClass="myfield">
			<h:panelGrid columns="2" cellpadding="8" >
				 <h:column><h:outputLabel  value="Matricule" /></h:column>	
				 <h:column><p:inputText  value="#{userBean.user.matricule}" /></h:column>
				 	
				 <h:column><h:outputLabel  value="Badge" /></h:column>	
				 <h:column><p:inputText  value="#{userBean.user.badge}" /></h:column>		
				 			
				 <h:column><h:outputLabel  value="Date d'embauche" /></h:column>	
				 <h:column><p:inputText id="date3" value="#{userBean.user.dateEmb}" >
				 <f:convertDateTime type="date" pattern="d-M-yyyy" />
				 <h:message for="date3" style="color:red" />
				 </p:inputText>
				 </h:column>
				 			
				 <h:column><h:outputLabel  value="Date de quite" /></h:column>	
				 <h:column><p:inputText id="date4" value="#{userBean.user.dateQuit}">
				 <f:convertDateTime type="date" pattern="d-M-yyyy" />
				 </p:inputText>
				 <h:message for="date4" style="color:red" />
				 </h:column>	
				 
				 <h:column><h:outputLabel  value="Type de contrat" /></h:column>	
				 <h:column><p:inputText  value="#{userBean.user.typeContrat}" /></h:column>
				 
				 <h:column><h:outputLabel  value="Nombre de congé initial" /></h:column>	
				 <h:column><p:inputText id="nb1" value="#{userBean.user.nbCongeInitial}" >
				 <f:convertNumber type="number" integerOnly="true" />
				 </p:inputText>
				 <h:message for="nb1" style="color:red" />
				 </h:column>	
				 
				 <h:column><h:outputLabel  value="Mode de paiment" /></h:column>	
				 <h:column><p:inputText  value="#{userBean.user.modePaiement}" /></h:column>	
				 
				 <h:column><h:outputLabel  value="Droit de paie" /></h:column>	
				 <h:column><p:selectBooleanCheckbox  value="#{userBean.droitPaie}" /></h:column>
				 
				 <h:column><h:outputLabel  value="Observations" /></h:column>	
				 <h:column><p:inputText  value="#{userBean.user.obserations}" /></h:column>
				
			</h:panelGrid>
		</p:fieldset>
	
 	  <br/><br/>
      <p:commandButton  value="Valider" actionListener="#{userBean.updateUser}" update=":tab2,:tab1,:lay3" oncomplete="update_dlg.hide()" style="margin-left:5%;" icon="valid"/>
 	  <p:commandButton  value="Annuler"  onclick="update_dlg.hide()" icon="annuler" style="margin-left:20px;"/>
 	  <br/>
	</p:dialog>

</h:form>


<!-- footer -->

<!-- / footer -->
 	  
		   
 </h:body> 
    
</html>

