<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	
	<p:dialog header="AIDE - RETARDS" widgetVar="helpDialog" modal="true" height="600px" width="80%">
	<link rel="stylesheet" type="text/css" href="../../../resources/css/HelpStyle.css"/>
	<div class="backColor">
		<div class="container">
			<div>
				<h2>Présentation</h2>
				<div>
					<li class="ListItem">
						Cette fonctionnalité permet de consulter l’état des retards.
						Elle est accessible à partir du lien « Retards » dans le menu
						Suivi RH.
					</li>
					<div class="imageStyle">
						<img src="../../../resources/images/RET-HELP/RET-PRESENTATION.PNG" />
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<br/>
			<hr/>
			<br/>
			<div>
				<h2>Afficher la liste des retardataires</h2>
				<div>
					<div>
						<li class="ListItem">
							La liste des retards est regroupée par collaborateur. Ainsi pour chaque collaborateur on
							renseigne les informations suivantes :
						</li>
						<ul>
							<li>Date</li>
							<li>Description du retard (durée + toléré ou non + heure d’entrée normale)</li>
						</ul>
					</div>
					<div class="imageStyle">
						<img src="../../../resources/images/RET-HELP/RET-AFFICHAGE.PNG" />
					</div>
				</div>
			</div>
		</div>
	</div>
	</p:dialog>
	</ui:composition>