<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://sourceforge.net/projects/jsf-comp/acegijsf">

	<ui:define name="title">   #{msg['Retard.titre']} <ui:include src="RET-HELP.xhtml" /></ui:define>

	<ui:define name="body">
		<h:panelGrid columns="2" columnClasses="panelGrid-top,panelGrid-top">

			<h:form id="retardForm">
				<h:panelGrid columns="1">
					<s:authorize ifAnyGranted="ROLE_ADMIN" >
					<h:panelGrid columns="3" columnClasses="panelGrid-top,, panelGrid-top">
						<p:panel header="Groupes">
							<p:selectOneListbox id="groupListId" immediate="true" valueChangeListener="#{userBean.groupValueChangeListener}" style="height:125px;width:200px;">  
						        	<f:selectItems value="#{userBean.groups}" var="group" itemLabel="#{group.name}" itemValue="#{group.id}" />
						        	<p:ajax event="change" update=":retardForm:dataTable" immediate="true"></p:ajax>
						        </p:selectOneListbox>
					        </p:panel>
				        <p:spacer width="2"></p:spacer>
				        <p:panel header="Organigramme">
							<p:tree id="orgmId" value="#{userBean.treeNode}" var="node" selectionMode="single"
								style="width:220px;height:130px;overflow: auto;"
								selection="#{userBean.selectedNode}">
								<p:ajax event="select" update=":retardForm:dataTable" listener="#{userBean.handleNodeSelection}"/>  
								<p:treeNode>
									<h:outputText value="#{node.libelle}" />
								</p:treeNode>
							</p:tree>
						</p:panel>	
					</h:panelGrid>
					</s:authorize>
					<p:toolbar id="toolsId">
							<f:facet name="left">
								<p:commandButton title="#{msg['share.title1']}"
									icon="ui-icon-print">
									<p:dataExporter type="xls" target="dataTable"
										fileName="Les Absences" pageOnly="true" />
								</p:commandButton>
							</f:facet>
							<f:facet name="right">
								<p:commandButton id="searchBtn" type="button" title="#{msg['share.btn6']}" icon="ui-icon-search"/>
							</f:facet>
						</p:toolbar>
					<p:panelGrid columns="2" columnClasses="panelGrid-top, panelGrid-top">
						<p:dataTable var="user" value="#{userBean.dataModel}" filterEvent="blur" filteredValue="#{userBean.filtredUsers}"
								id="dataTable" paginator="true" rows="14" paginatorPosition="bottom" rowIndexVar="index" selectionMode="single"
								paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
								lazy="true" widgetVar="dataTableWidget" style="width:420px;" rowKey="#{user.id}">
								<f:facet name="header">Liste   collaborateurs</f:facet>
								<p:ajax event="rowSelect" listener="#{userBean.onUserSelected}" update=":retardForm:retardListId"/>
						
					       
					       	
								<p:column headerText="#{msg['Collabo.L6']}" sortBy="#{user.matricule}"
									filterBy="#{user.matricule}" filterMatchMode="contains"
									style="width:30px" rendered="#{not user.left}" filterStyle="width:70px;">
										<h:outputText value="#{user.matricule}" />
								</p:column>
								<p:column headerText="#{msg['Collabo.L7']}" sortBy="#{user.nom}" 
									filterBy="#{user.nom}" filterMatchMode="contains"
									style="width:60px" rendered="#{not user.left}">
									<h:outputText value="#{user.nom} #{user.prenom}"/>
								</p:column>		
								<p:column headerText="#{msg['Collabo.L8']}" sortBy="#{user.unit.libelle}"
									filterBy="#{user.unit.libelle}"
									style="width:40px" rendered="#{not user.left}">
									<h:outputText value="#{user.unit.libelle}" />
								</p:column>	
							</p:dataTable>
						<p:outputPanel style="width:400px;">
							<p:dataList var="retard" value="#{userBean.user.retards}" id="retardListId"
								type="definition" itemType="none" paginatorAlwaysVisible="false"
								style="width:315px;" 
								paginatorPosition="bottom" paginator="true" rows="10" styleClass="paginated">
								<f:facet name="header">Retards par collaborateur</f:facet>
						        <h:outputText value="#{retard.date}">
						        	<f:convertDateTime pattern="dd/MM/yyyy"></f:convertDateTime>
						        </h:outputText>
						        <h:outputText value=", #{retard.description}" style="display:inline-block"/>
						    </p:dataList>
					    </p:outputPanel>
					</p:panelGrid>
				</h:panelGrid>
			</h:form>
		</h:panelGrid>
		
		<p:overlayPanel id="searchPanel" widgetVar="searchPanelWidget" for=":retardForm:searchBtn" hideEffect="fade" my="right top">  
			<h:form>
		        <h:panelGrid columns="2">
		        	<p:inputText placeholder="#{msg['Collabo.search.L1']}" value="#{userBean.criteria.matriculeInf}"></p:inputText>
		        	<p:spacer></p:spacer>
		        	<p:inputText placeholder="#{msg['Collabo.search.L2']}" value="#{userBean.criteria.matriculeSup}"></p:inputText>
		        	<p:commandButton icon="ui-icon-check" update=":retardForm:dataTable" oncomplete="PF('searchPanelWidget').hide()"/>
		        </h:panelGrid>
			</h:form>
	    </p:overlayPanel>
	</ui:define>
</ui:composition>