<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://sourceforge.net/projects/jsf-comp/acegijsf">

	<ui:define name="title">   #{msg['Retard.titre']}</ui:define>

	<ui:define name="body">
		<link rel="stylesheet" type="text/css"
			href="#{facesContext.externalContext.requestContextPath}/resources/css/style.css" />
		<h:panelGrid columns="1" columnClasses="panelGrid-top,panelGrid-top">
			<h:panelGrid columns="1">
				<h:form id="filterForm">
					<p:growl id="growl" showDetail="true" life="3000" />
					<p:ajaxStatus onstart="PF('statusDialog').show()"
						onsuccess="PF('statusDialog').hide()" />
					<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
						closable="false" resizable="false" showHeader="false">
						<img
							src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/barre/ajaxloadingbar.gif"
							alt="" />
					</p:dialog>
					<p:panel header="Filter">
						<h:panelGrid columns="4" style="width:100%">
							<h:panelGrid columns="2" style="width:100%">
								<p:outputLabel styleClass="mode" for="dateDebut"
									value="Date Début :" />
								<h:panelGroup style="display:block; text-align:left">
									<p:spacer width="8" height="10" />
									<p:calendar id="dateDebut" value="#{retardBean.dateDebut}"
										locale="de" navigator="true" pattern="yyyy-MM-dd" />
								</h:panelGroup>
								<p:outputLabel styleClass="mode" for="dateFin"
									value="Date Fin :" />
								<h:panelGroup style="display:block; text-align:left">
									<p:spacer width="8" height="10" />
									<p:calendar id="dateFin" value="#{retardBean.dateFin}"
										locale="de" navigator="true" pattern="yyyy-MM-dd" />
								</h:panelGroup>
							</h:panelGrid>
							<h:panelGroup style="width:100%">
								<p:outputLabel styleClass="mode" for="durre"
									value="Durée  > à :" />
								<p:inputMask style="width:100px;" value="#{retardBean.duree}"
									id="durre" mask="?999"></p:inputMask>
								<span class="addon-spam">.MIN</span>
							</h:panelGroup>
							<h:panelGroup>
								<p:selectOneRadio id="recalculChoice" styleClass="mode"
									value="#{retardBean.reCalcul}" layout="grid" columns="1">
									<f:selectItem itemLabel="Sans calcul d'aujourd'hui"
										itemValue="false" />
									<f:selectItem itemLabel="Avec calcul d'aujourd'hui"
										itemValue="true" />
								</p:selectOneRadio>
							</h:panelGroup>
							<h:panelGroup style="width:100%">
								<h:panelGrid columns="2">
									<p:button style="text-align:right;" id="btnDisplay"
										value="Filter Avancer" binding="#{requestScope.btnDisplay}"
										onclick="toggle('#{requestScope.advancedFilter.clientId}'); return false;">
									</p:button>
									<p:commandButton id="applyFilterBtn"
										style="height:23px; width:30px;"
										action="#{retardBean.applyFilter}"
										icon="ui-icon-search" ajax="true"
										update="@form :retardForm:retardTable growl">
									</p:commandButton>
								</h:panelGrid>
							</h:panelGroup>
						</h:panelGrid>
						
						<h:panelGroup id="advFilterPanel"
							style="width: 100%; display:none;"
							binding="#{requestScope.advancedFilter}">
							<h:panelGrid id="filterAVS" columns="3" style="width: 100%"
								widgetVar="testPanel" closable="true" toggleable="true">
								<h:panelGrid columns="3" style="width: 270px; height: 100%;">
									
									
								<p:panel header="Groupes">
							<p:selectOneListbox id="groupListId"  
							 action="#{userBean.groupValueChangeListener}" 
							 style="height:125px;width:200px;">  
						        	<f:selectItems value="#{userBean.groups}" var="group" itemLabel="#{group.name}" itemValue="#{group.id}"/>
						        	<p:ajax event="change" update="@form" immediate="false"></p:ajax>
						        </p:selectOneListbox>
					        </p:panel>
					
					
				        <p:spacer width="2"></p:spacer>
				        <p:panel header="Organigramme">
							<p:tree id="orgmId" value="#{userBean.treeNode}" var="node" selectionMode="single"
								style="width:220px;height:130px;overflow: auto;"
								selection="#{userBean.selectedNode}">
								<p:ajax event="select" update="@form" listener="#{userBean.handleNodeSelection}"/>  
								<p:treeNode>
								<h:outputText value="#{node.libelle}" />
								</p:treeNode>
							</p:tree>
						</p:panel>
						
								</h:panelGrid>
								<h:panelGrid columns="1" style="width: 270px; height: 100%;">
									<p:panel header="Unité">
										<p:tree id="unitId" value="#{unitBean.treeNode}"
											var="unitnode" style="height:130px;overflow: auto;"
											selectionMode="single" selection="#{userBean.selectedNode}"
											dynamic="true">
											<p:ajax event="select"
												listener="#{userBean.handleUnitNodeSelection}"   />
											<p:treeNode>
												<h:outputText value="#{unitnode.libelle}" />
											</p:treeNode>
										</p:tree>
									</p:panel>
								</h:panelGrid>
							</h:panelGrid>
						</h:panelGroup>
					</p:panel>
				</h:form>
				<h:form id="retardForm">
				<p:hotkey bind="esc" process="@this" resetValues="true"
					update="@parent" action="#{userBean.resetSearchAction}">
					<p:resetInput target="@form :retardForm" />
				</p:hotkey>
					<p:toolbar id="toolsId">
						<f:facet name="right">
							<p:commandButton id="btnPrint"  title="print"  action="#{retardBean.generateRetardReport('pdf')}" icon="ui-icon-print" ajax="false">
							</p:commandButton>
						
							<p:commandButton id="bntValidate" title ="validate Retard" listener="#{retardBean.retardValidated}" icon="ui-icon-check" ajax="false">
							</p:commandButton>
						</f:facet>
					</p:toolbar>
					<p:panelGrid columns="1"
						columnClasses="panelGrid-top, panelGrid-top">
						<p:dataTable id="retardTable" var="rtr"
							value="#{retardBean.retardsList}" filterEvent="blur"
							paginator="true" rows="14" paginatorPosition="bottom" 
							rowIndexVar="index" rowStyleClass="#{index%2==0 ? 'row-color' : null}" 
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							widgetVar="dataTableWidget" style="width:1000px;"
							rowKey="#{rtr.id}" editable="true"
							filteredValue="#{retardBean.filtredRetards}"  selection="#{retardBean.selectedRetards}"
							sortBy="#{rtr.user.matricule}" expandableRowGroups="true">
							<p:ajax event="rowEdit"
								listener="#{retardBean.updateRetardListner}"
								oncomplete="refreshThisPanel()" />
							<p:ajax event="rowEditCancel" oncomplete="refreshThisPanel()" />
							
							<f:facet name="header">Liste   retards</f:facet>
						<p:ajax event="rowDblselect"
								listener="#{retardBean.onRetardSelected}" update=":details"
								oncomplete="PF('detailsDilog').show()" />
						
				       	<p:column selectionMode="multiple" 	style="width:13px;text-align:center"/>
				       	
							<p:column headerText="#{msg['Collabo.L6']}"
								onchange="PF('dataTableWidget').filter()"
								filterBy="#{rtr.user.matricule}" filterMatchMode="contains" sortBy="#{rtr.user.matricule}"
								style="width:100px" filterStyle="width:70px;">
								<h:outputText value="#{rtr.user.matricule}" />
							</p:column>
						
							<p:column headerText="#{msg['Collabo.L7']}" style="width:100%">
								<h:outputText value="#{rtr.user.nom} #{rtr.user.prenom}" />
							</p:column>
							<p:column headerText="Date" style="width:100%">
								<h:outputText value="#{rtr.date}">
									<f:convertDateTime pattern="yyyy-MM-dd" />
								</h:outputText>
							</p:column>
							<p:column headerText="Description" style="width:100%">
								<h:outputText value="#{rtr.description}" />
							</p:column>
							<p:column headerText="Durée" style="width:100%">
								<h:outputText value="#{rtr.retardTolere + rtr.retardNonTolere}" />
							</p:column>
							<p:column headerText="Statut"
								style="width:100%; text-align:center;" filterBy="#{rtr.statut}"
								filterMatchMode="exact" exportable="false" >
								<f:facet name="filter">
									<p:selectOneMenu onchange="PF('dataTableWidget').filter()"
										style="width:80px;">
										<f:selectItem itemLabel="Tous" itemValue="#{null}"
											noSelectionOption="true" />
										<f:selectItem style="width:100%;" itemLabel="Autorisé"
											itemValue="workflow_status_validated" />
										<f:selectItem style="width:100%;" itemLabel="Non Autorisé"
											itemValue="workflow_status_elapsed" />
									</p:selectOneMenu>
								</f:facet>
								<span
									class="#{rtr.statut eq 'workflow_status_validated' ? 'ui-icon ui-icon-check validated' : 'ui-icon ui-icon-minus elapsed'}"
									style="display: inline-block;"></span>
							</p:column>
							<p:column headerText="Statut" style="width:60px; display:none">
								<h:outputText
									value="#{rtr.statut eq 'workflow_status_validated' ? 'Autorisé' : 'Non autorisé'}" />
							</p:column>
						</p:dataTable>
					</p:panelGrid>
				</h:form>
			</h:panelGrid>
		</h:panelGrid>
		<!-- Dialog details pointage d'un employe et un jour selectionner -->
		<h:form id="details">
			<p:dialog id="detailsDialog" width="550px" resizable="false"
				widgetVar="detailsDilog" header="Pointages" showEffect="fade"
				modal="true">
				<p:outputPanel>
					<p:remoteCommand name="refreshThisPanel" update="@parent"></p:remoteCommand>
					<h:panelGrid columns="2"
						columnClasses="panelGrid-top, panelGrid-top">
						<p:dataTable id="mvtDatatableId" value="#{retardBean.pointage}"
							var="mvt" editable="true">
							<p:column headerText="Mouvements" style="width:68px">
								<h:outputText value="#{mvt.date}">
									<f:convertDateTime pattern="HH:mm:ss"></f:convertDateTime>
								</h:outputText>
							</p:column>
							<p:column headerText="Type" style="width:68px">
								<h:outputText value="#{mvt.typeMouvement}">
								</h:outputText>
							</p:column>
							<p:column headerText="Unité" style="width:68px">
								<h:outputText value="#{mvt.terminalCode}">
								</h:outputText>
							</p:column>
						</p:dataTable>
					</h:panelGrid>
				</p:outputPanel>
			</p:dialog>
		</h:form>


		
		<!-- Scripts that hide and show advanced filter -->
		<script type="text/javascript">
			function toggle(id) {
				var element = document.getElementById(id);
				if (element.style.display == 'block') {
					element.style.display = 'none';
				} else {
					element.style.display = 'block'
				}
			}
		</script>
	</ui:define>
</ui:composition>