<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:s="http://sourceforge.net/projects/jsf-comp/acegijsf">
	<ui:define name="title">Import</ui:define>
	<ui:define name="body">
		<p:panel style="width:1000px;">

			<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
				closable="true" resizable="false" showHeader="false">
				<img
					src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/barre/ajaxloadingbar.gif"
					alt="" />
			</p:dialog>
			<h:form id="impuserform" enctype="multipart/form-data">
				<h:panelGrid columns="1">
					<h:panelGroup>
						<h:panelGrid columns="4" cellpadding="5">
							<p:fileUpload fileUploadListener="#{importBean.handleFileUpload}"
								mode="advanced" dragDropSupport="false" ajax="true"
								update=":impuserform:uploadedModelId" fileLimit="1"
								allowTypes="/(\.|\/)(csv)$/" />
							<p:outputLabel styleClass="mode" for="type_import"
								value="Type Import:" />
							<p:selectOneRadio id="type_import"
								value="#{importBean.importType}">
								<f:selectItem itemLabel="Absence" itemValue="ABS" />
								<f:selectItem itemLabel="Conge" itemValue="CNG" />
							</p:selectOneRadio>
							<p:commandButton value="Importer"
								actionListener="#{importBean.importData}" onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()" icon=" ui-icon-arrowreturn-1-s" />
						</h:panelGrid>
					</h:panelGroup>

					<p:dataTable var="model" value="#{importBean.importModels}"
						id="uploadedModelId" paginator="true" rows="30"
						paginatorPosition="bottom" rowIndexVar="index"
						paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}">
						<p:column headerText="#{msg['Collabo.L6']}"
							sortBy="#{model.matricule}" filterBy="#{model.matricule}"
							filterMatchMode="contains">
							<h:outputText value="#{model.matricule}" />
						</p:column>
						<p:column headerText="Date">
							<h:outputText value="#{model.date}">
								<f:convertDateTime type="date" pattern="dd-MM-yyyy" />
							</h:outputText>
						</p:column>
						<p:column headerText="Durée">
							<h:outputText value="#{model.duree}" />
						</p:column>
						<p:column width="400" headerText="Motif">
							<h:outputText value="#{model.motif}" />
						</p:column>
					</p:dataTable>
				</h:panelGrid>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>