<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"	
	xmlns:s="http://sourceforge.net/projects/jsf-comp/acegijsf">

	<ui:define name="title">#{msg['Visite.titre']}</ui:define>

	<ui:define name="body">

		<table width="1000" border="0" cellspacing="0" cellpadding="0"
			class="onglet-bg">
			<tr>
				<td width="200">
					<!-- Onglet selectionné -->
					<table border="0" cellpadding="0" cellspacing="0"
						class="onglet-sel">
						<tr>
							<td class="onglet-border"></td>
							<td class="onglet-center">#{msg['Visite.stitre']}</td>
							<td class="onglet-border"></td>
						</tr>
					</table> <!-- Fin Onglet selectionné -->

				</td>
				<td>
					<!-- Onglet non selectionné --> <!-- Fin Onglet non selectionné -->
				</td>
				<td>&nbsp;</td>
			</tr>
		</table>
		<table width="1000" style="height: 400px" border="0" cellpadding="0"
			cellspacing="10" class="boxtour-onglets">

			<tr>
				<td class="templ-main">
				<h:form id="table">
						<p:toolbar>
							<f:facet name="left">
								<p:commandButton value="#{msg['share.btn1']}" icon="ui-icon-document"
									onclick="PF('addDialog').show();" />
							</f:facet>
						</p:toolbar>

						<p:dataTable var="visite" id="content"
							value="#{visiteBean.listeVisites}" sortMode="multiple">
							<p:column headerText="#{msg['Visite.L1']}">
								<h:outputText value="#{visite.code}" />
							</p:column>

							<p:column headerText="#{msg['Visite.L2']}">
								<h:outputText value="#{visite.objet}" />
							</p:column>

							<p:column headerText="#{msg['Visite.L3']}">
								<h:outputText value="#{visite.dateRdv}">
									<f:convertDateTime pattern="dd MMM yyyy"></f:convertDateTime>
								</h:outputText>
							</p:column>
							<p:column headerText="#{msg['Visite.L4']}">
								<h:outputText value="#{visite.motif}" />
							</p:column>
							<p:column headerText="#{msg['Visite.L5']}">
								<h:outputText value="#{visite.unit.libelle}" />
							</p:column>
							<p:column headerText="#{msg['Visite.L0']}" width="75">
								<h:graphicImage name="thumbs-up-icon.png" title="#{msg['Visite.L8']}" rendered="#{visite.statut == 'validated'}" library="btn-icon" style="width:15px;height:15px;"/>
    							<h:graphicImage name="thumbs-down-icon.png" title="#{msg['Visite.L9']}" rendered="#{visite.statut == 'rejected'}" library="btn-icon" style="width:15px;height:15px;"/>
    							<h:outputText styleClass="ui-icon ui-icon-check" title="#{msg['Visite.L10']}" rendered="#{visite.statut == 'elapsed'}" style="width:15px;height:15px;"/>
    							<h:outputText styleClass="ui-icon ui-icon-star" title="#{msg['Visite.L11']}" rendered="#{visite.statut == 'encours'}" style="width:15px;height:15px;"/>
							</p:column>

							<p:column headerText="#{msg['Visite.L6']}">
								<p:menuButton value="#{msg['Visite.L7']}">
							        <p:menuitem value="#{msg['share.wrkflw.0']}" rendered="#{visite.statut == 'rejected'}" actionListener="#{visiteBean.refreshVisAction('dem', visite)}" update=":table:content" icon="ui-icon-star"/>
							        <p:menuitem value="#{msg['share.wrkflw.5']}" rendered="#{visite.statut == 'encours' and authenticationBean.role == 'ROLE_SUPH'}" actionListener="#{visiteBean.refreshVisAction('val', visite)}" update=":table:content" icon="thumbs-up-icon"/>
							        <p:menuitem value="#{msg['share.wrkflw.6']}" rendered="#{visite.statut == 'encours' and authenticationBean.role == 'ROLE_SUPH'}" actionListener="#{visiteBean.refreshVisAction('ref', visite)}" update=":table:content" icon="thumbs-down-icon"/>
							        <p:separator />
							        <p:menuitem value="#{msg['share.wrkflw.7']}" rendered="#{visite.statut == 'validated'}" actionListener="#{visiteBean.refreshVisAction('eff', visite)}" update=":table:content" icon="ui-icon-check"/>
							        <p:separator />
							        <p:menuitem value="#{msg['share.btn2']}" action="#{visiteBean.loadUpdate(visite.id)}" 
										update=":#{p:component('addDialog')}"
										icon="ui-icon-pencil" oncomplete="PF('addDialog').show()" />
							        <p:menuitem value="#{msg['share.btn4']}" id="deleteButton" icon="ui-icon-close"
										oncomplete="PF('confirmation').show()" rendered="#{visite.statut == 'encours'}"/>
							    </p:menuButton>
							</p:column>
						</p:dataTable>
					</h:form></td>
			</tr>

		</table>
		<p:dialog id="addDialog" header="#{msg['Visite.L12']}" widgetVar="addDialog" modal="true"
			width="700px">
			<h:form id="addForm">
				<p:growl id="growl" />
				<h:inputHidden value="#{visiteBean.visite.id}" />
				<p:remoteCommand name="processVisite" immediate="true"
					update=":table:content" oncomplete="PF('addDialog').hide()"
					actionListener="#{visiteBean.saveVisiteListener}"></p:remoteCommand>
				<p:tabView>
					<p:tab id="tab1" title="Visite">
							<h:panelGrid columns="2" cellpadding="5">

								<h:panelGroup style="display:block; text-align:left">
									<p:outputLabel styleClass="mode" for="objet" value="Objet :" />
								</h:panelGroup>
								<p:inputText required="true" id="objet"
									value="#{visiteBean.visite.objet}" />

								<h:panelGroup style="display:block; text-align:left">
									<p:outputLabel styleClass="mode" for="dateVis"
										value="Date de visite :" />
								</h:panelGroup>
								<p:calendar id="dateVis" value="#{visiteBean.visite.dateRdv}" />

								<h:panelGroup style="display:block; text-align:left">
									<p:outputLabel styleClass="mode" for="motif" value="Motif :" />
								</h:panelGroup>
								<p:inputText required="true" id="motif"
									value="#{visiteBean.visite.motif}" />

								<h:panelGroup style="display:block; text-align:left">
									<p:outputLabel styleClass="mode" for="unit" value="Unité :" />
								</h:panelGroup>
								<h:selectOneMenu id="unit" value="#{visiteBean.visite.unit.id}" required="true">
									<f:selectItems value="#{visiteBean.units}" var="c"
										itemLabel="#{c.libelle}" itemValue="#{c.id}" />
								</h:selectOneMenu>

							</h:panelGrid>
					</p:tab>

					<p:tab id="tab2" title="Visiteurs">
						<p:dataTable id="params2" var="visiteur"
							value="#{visiteBean.visite.visiteurs}" editable="true"
							editMode="cell" rowIndexVar="index">
							<f:facet name="header">
			           		Liste des visiteurs
			       		</f:facet>
							<p:column headerText="Nom">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{visiteur.nom}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{visiteur.nom}" style="width:96%"
											label="Nom" />
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column headerText="Prenom">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{visiteur.prenom}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{visiteur.prenom}" style="width:96%"
											label="Prenom" />
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column headerText="Numéro d'identitée">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{visiteur.numIdent}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{visiteur.numIdent}" style="width:96%"
											label="Numéro d'identitée" />
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column headerText="Société">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{visiteur.societe}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{visiteur.societe}" style="width:96%"
											label="Société" />
									</f:facet>
								</p:cellEditor>
							</p:column>

							<p:column headerText="Opérations">
								<p:commandButton id="editButton2" immediate="true"
									action="#{visiteBean.deleteVisiteur(index)}"
									update=":#{p:component('params2')}" icon="ui-icon-close"
									style="width:30px;height:30px">
								</p:commandButton>
							</p:column>

						</p:dataTable>
						<p:commandButton value="Ajouter"
							action="#{visiteBean.addVisiteur}"
							update=":#{p:component('params2')}" icon="ui-icon-document"
							immediate="true" />
					</p:tab>
					<p:tab id="tab3" title="Vehicules">
						<p:dataTable id="vehs" var="vehicule"
							value="#{visiteBean.visite.vehicules}" editable="true"
							editMode="cell" rowIndexVar="index">
							<f:facet name="header">
			           		Liste des vehicules
			       		</f:facet>
							<p:column headerText="Marque">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{vehicule.marque}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{vehicule.marque}" style="width:96%"
											label="Marque" />
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column headerText="Modele">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{vehicule.modele}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{vehicule.modele}" style="width:96%"
											label="Modele" />
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column headerText="Matricule">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{vehicule.matricule}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{vehicule.matricule}" style="width:96%"
											label="Matricule" />
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column headerText="Couleur">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{vehicule.couleur}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{vehicule.couleur}" style="width:96%"
											label="Couleur" />
									</f:facet>
								</p:cellEditor>
							</p:column>

							<p:column headerText="Opérations">
								<p:commandButton id="editButton2" immediate="true"
									action="#{visiteBean.deleteVehicule(index)}"
									update=":#{p:component('vehs')}" icon="ui-icon-close"
									style="width:30px;height:30px">
								</p:commandButton>
							</p:column>

						</p:dataTable>
						<p:commandButton value="Ajouter"
							action="#{visiteBean.addVehicule}"
							update=":#{p:component('vehs')}" icon="ui-icon-document"
							immediate="true" />
					</p:tab>

				</p:tabView>
				<p:outputPanel layout="block" style="text-align:right">
					<br/>
					<p:commandButton value="Sauver"
						update="growl" icon="ui-icon-check" oncomplete="if (args &amp;&amp; !args.validationFailed) processVisite()"/>
				</p:outputPanel>
			</h:form>
		</p:dialog>



		<p:confirmDialog
			message="#{msg['Visite.M2']}" width="200"
			showEffect="explode" hideEffect="explode" header="Confirmation"
			severity="alert" widgetVar="confirmation">

			<p:commandButton value="Supprimer"
				action="#{visiteBean.deleteVisite}" update=":table:content"
				oncomplete="confirmation.hide()" />
			<p:commandButton value="Annuler" onclick="confirmation.hide()"
				type="button" />

		</p:confirmDialog>
	</ui:define>

</ui:composition>
