<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">CHECKTIME - Visite</ui:define>

	<ui:define name="body">

		<table width="1000" border="0" cellspacing="0" cellpadding="0"
			class="onglet-bg">
			<tr>
				<td width="200">
					<!-- Onglet selectionné -->
					<table border="0" cellpadding="0" cellspacing="0"
						class="onglet-sel">
						<tr>
							<td class="onglet-border"></td>
							<td class="onglet-center">Liste des visites</td>
							<td class="onglet-border"></td>
						</tr>
					</table> <!-- Fin Onglet selectionné -->

				</td>
				<td>
					<!-- Onglet non selectionné --> <!-- Fin Onglet non selectionné -->
				</td>
				<td>&nbsp;</td>
			</tr>
		</table>
		<table width="1000" style="height: 400px" border="0" cellpadding="0"
			cellspacing="10" class="boxtour-onglets">

			<tr>
				<td class="templ-main"><h:form id="table">
						

						<p:dataTable var="visite" id="content"
							value="#{visiteBean.listValidatedVisits}" sortMode="multiple">
							<p:column headerText="Active">
								<h:selectBooleanCheckbox value="#{visite.enabled}">
									<p:ajax event="change" update=":table:content" />
								</h:selectBooleanCheckbox>
							</p:column>
							<p:column headerText="Code">
								<h:outputText value="#{visite.code}" />
							</p:column>

							<p:column headerText="Objet">
								<h:outputText value="#{visite.objet}" />
							</p:column>

							<p:column headerText="Date visite">
								<h:outputText value="#{visite.dateRdv}">
									<f:convertDateTime pattern="dd MMM yyyy"></f:convertDateTime>
								</h:outputText>
							</p:column>
							<p:column headerText="Motif">
								<h:outputText value="#{visite.motif}" />
							</p:column>
							<p:column headerText="Unité à visiter" sortBy="#{visite.unit.id}">
								<h:outputText value="#{visite.unit.libelle}" />
							</p:column>
							
							<p:column headerText="Demandeur" sortBy="#{visite.user.id}">
								<h:outputText value="#{visite.user}" />
							</p:column>

							<p:column headerText="Opérations">
								<p:commandButton id="editButton" value=""
									action="#{visiteBean.loadUpdate}"
									update=":#{p:component('updateDialog')} :#{p:component('params')}"
									icon="ui-icon-pencil" oncomplete="PF('updateForm').show()"
									style="width:30px;height:30px">
									<f:param name="id" value="#{visite.id}" />
								</p:commandButton>
								<p:commandButton id="deleteButton" value=""
									action="#{visiteBean.deleteVisite}" icon="ui-icon-close"
									oncomplete="PF('confirmation').show()"
									style="width:30px;height:30px">
									<f:param name="id" value="#{visite.id}" />
								</p:commandButton>
							</p:column>

							<h:messages id="editMsg" autoUpdate="true" />

						</p:dataTable>
					</h:form></td>
			</tr>

		</table>

		<p:dialog header="Edition visite" widgetVar="addDialog" modal="true"
			width="700px">
			<h:form id="addForm">
				<p:growl id="growl" />
				<p:tabView>
					<p:tab id="tab1" title="Visite">
							<h:panelGrid columns="2" cellpadding="5">

								<h:panelGroup style="display:block; text-align:left">
									<p:outputLabel styleClass="mode" for="code" value="Code :" />
								</h:panelGroup>
								<p:inputText required="true" id="code"
									value="#{visiteBean.visite.code}" />

								<h:panelGroup style="display:block; text-align:left">
									<p:outputLabel styleClass="mode" for="objet" value="Objet :" />
								</h:panelGroup>
								<p:inputText required="true" id="objet"
									value="#{visiteBean.visite.objet}" />

								<h:panelGroup style="display:block; text-align:left">
									<p:outputLabel styleClass="mode" for="dateVis"
										value="Date de visite :" />
								</h:panelGroup>
								<p:calendar id="dateVis" pattern="yyyy/MM/dd HH:mm:ss" required="true"
									value="#{visiteBean.visite.dateRdv}" />

								<h:panelGroup style="display:block; text-align:left">
									<p:outputLabel styleClass="mode" for="motif" value="Motif :" />
								</h:panelGroup>
								<p:inputText required="true" id="motif"
									value="#{visiteBean.visite.motif}" />


								<h:panelGroup style="display:block; text-align:left">
									<p:outputLabel styleClass="mode" for="unit" value="Unité :" />
								</h:panelGroup>
								<h:selectOneMenu id="unit" value="#{visiteBean.visite.unit.id}" required="true">
									<f:selectItems value="#{visiteBean.units}" var="c"
										itemLabel="#{c.libelle}" itemValue="#{c.id}" />
								</h:selectOneMenu>

							</h:panelGrid>
					</p:tab>

					<p:tab id="tab2" title="Visiteurs">
						<p:dataTable id="params2" var="visiteur"
							value="#{visiteBean.visite.visiteurs}" editable="true"
							editMode="cell" rowIndexVar="index">
							<f:facet name="header">
			           		Liste des visiteurs
			       		</f:facet>
							<p:column headerText="Nom">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{visiteur.nom}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{visiteur.nom}" style="width:96%"
											label="Nom" />
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column headerText="Prenom">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{visiteur.prenom}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{visiteur.prenom}" style="width:96%"
											label="Prenom" />
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column headerText="Numéro d'identitée">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{visiteur.numIdent}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{visiteur.numIdent}" style="width:96%"
											label="Numéro d'identitée" />
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column headerText="Société">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{visiteur.societe}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{visiteur.societe}" style="width:96%"
											label="Société" />
									</f:facet>
								</p:cellEditor>
							</p:column>

							<p:column headerText="Opérations">
								<p:commandButton id="editButton2" immediate="true"
									action="#{visiteBean.deleteVisiteur(index)}"
									update=":#{p:component('params2')}" icon="ui-icon-close"
									style="width:30px;height:30px">
								</p:commandButton>
							</p:column>

						</p:dataTable>
						<p:commandButton value="Ajouter"
							action="#{visiteBean.addVisiteur}"
							update=":#{p:component('params2')}" icon="ui-icon-document"
							immediate="true" />
					</p:tab>
					<p:tab id="tab3" title="Vehicules">
						<p:dataTable id="vehs" var="vehicule"
							value="#{visiteBean.visite.vehicules}" editable="true"
							editMode="cell" rowIndexVar="index">
							<f:facet name="header">
			           		Liste des vehicules
			       		</f:facet>
							<p:column headerText="Marque">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{vehicule.marque}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{vehicule.marque}" style="width:96%"
											label="Marque" />
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column headerText="Modele">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{vehicule.modele}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{vehicule.modele}" style="width:96%"
											label="Modele" />
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column headerText="Matricule">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{vehicule.matricule}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{vehicule.matricule}" style="width:96%"
											label="Matricule" />
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column headerText="Couleur">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{vehicule.couleur}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{vehicule.couleur}" style="width:96%"
											label="Couleur" />
									</f:facet>
								</p:cellEditor>
							</p:column>

							<p:column headerText="Opérations">
								<p:commandButton id="editButton2" immediate="true"
									action="#{visiteBean.deleteVehicule(index)}"
									update=":#{p:component('vehs')}" icon="ui-icon-close"
									style="width:30px;height:30px">
								</p:commandButton>
							</p:column>

						</p:dataTable>
						<p:commandButton value="Ajouter"
							action="#{visiteBean.addVehicule}"
							update=":#{p:component('vehs')}" icon="ui-icon-document"
							immediate="true" />
					</p:tab>

				</p:tabView>
				<h:panelGroup style="display:block; text-align:right">
					<br/>
					<p:commandButton value="Sauver"
						actionListener="#{visiteBean.saveVisiteListener}" ajax="true"
						oncomplete="if (args &amp;&amp; !args.validationFailed) PF('addDialog').hide()"
						update=":addForm:growl :table:content" icon="ui-icon-check" />
				</h:panelGroup>
			</h:form>
		</p:dialog>



		<p:confirmDialog
			message="Etes vous sur de vouloir supprimer la visite ?" width="200"
			showEffect="explode" hideEffect="explode" header="Confirmation"
			severity="alert" widgetVar="confirmation">

			<p:commandButton value="Supprimer"
				action="#{visiteBean.deleteVisite}" update=":table:content"
				oncomplete="confirmation.hide()" />
			<p:commandButton value="Annuler" onclick="confirmation.hide()"
				type="button" />

		</p:confirmDialog>
	</ui:define>

</ui:composition>
