<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:p="http://primefaces.org/ui">
	
	<ui:define name="menu">
		<ui:include src="COM-NAVG.xhtml"/>
	</ui:define>
	
	<ui:define name="title">   #{msg['Societe.titre']}</ui:define>
	
	<ui:define name="body">
		<h:form id="compagnieForm">
			<h:panelGrid columns="2">
				<p:fieldset legend="Organigramme">
					<p:contextMenu for="orgmId">
						<p:menuitem value="#{msg['share.btn2']}" oncomplete="PF('nodeDialog').show()" icon="ui-icon-pencil" />
						<p:menuitem value="#{msg['Societe.L3']}" icon="ui-icon-document" />
						<p:menuitem value="#{msg['share.btn5']}" oncomplete="confirmDelete.show()" icon="ui-icon-close">
						</p:menuitem>
					</p:contextMenu>
	
					<p:tree id="orgmId" value="#{userBean.treeNode}" var="node" widgetVar="organigramme"
						style="width:280px;height:400px;overflow: auto;" selectionMode="single"
						selection="#{userBean.selectedNode}">
						<p:ajax event="select" update=":compagnieForm:orgmId" listener="#{userBean.handleNodeSelection}"/>  
						<p:treeNode>
							<h:outputText value="#{node.libelle}" />
						</p:treeNode>
					</p:tree>
				</p:fieldset>
				<h:panelGrid columns="1" width="680px" columnClasses="panelGrid-top">
					<p:fieldset legend="Présentation">
						<h:panelGrid columns="5">
							<h:outputLabel value="Nom de l'organisme :" for="compName"></h:outputLabel>
							<h:inputText id="compName" ></h:inputText>
							<p:spacer width="15px"></p:spacer>
							<h:outputLabel value="Logo :" for="logo"></h:outputLabel>
							<p:graphicImage id="logo" style="width:140px;height:55px;"/>
							
						</h:panelGrid>
					</p:fieldset>
				</h:panelGrid>
			</h:panelGrid>
		</h:form>
		<p:dialog id="nodeDialog" widgetVar="nodeDialog" 
			header="#{msg['Collabo.node.edite.titre']}" resizable="true"  
           	showEffect="explode" hideEffect="explode">
			<h:form>
				<h:inputHidden value="#{userBean.noeud.id}" />
				<h:messages errorClass="error"/> 
				<h:panelGrid columns="3">
					<img src="/checktime-suite/resources/bitmap/navig/puce.gif" alt="" /><p:outputLabel for="code" value="#{msg['Collabo.node.edite.L1']}"  styleClass="form-label"/>
					<p:inputText id="code" value="#{userBean.noeud.code}" />
					<img src="/checktime-suite/resources/bitmap/navig/puce.gif" alt="" /><p:outputLabel for="libelle" value="#{msg['Collabo.node.edite.L2']}"  styleClass="form-label"/>
					<p:inputText id="libelle" value="#{userBean.noeud.libelle}" />
					<img src="/checktime-suite/resources/bitmap/navig/puce.gif" alt="" /><p:outputLabel for="plg" value="#{msg['share.selected.planning']}"  styleClass="form-label"/>
					<p:inputText id="plg" value="#{userBean.noeud.planning.id}" />
				</h:panelGrid>
				<p:commandButton value="#{msg['share.btn7']}" action="#{userBean.saveUser}"/>
			</h:form>
		</p:dialog>
	</ui:define>
	
</ui:composition>
