<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">   ${msg['Accueil.titre']} <ui:include
			src="SLF-DTI.xhtml" />
		<ui:include src="SLF-DAB.xhtml" />
		<ui:include src="SLF-DCN.xhtml" />
	</ui:define>

	<ui:define name="body">
		<p:layout style="width:1000px;height:600px;" id="layout">
			<p:layoutUnit position="west" resizable="true" size="250"
				minSize="40" maxSize="460">
				<h:panelGrid style="display:block; text-align:center" columns="1"
					columnClasses="panelGrid-top,panelGrid-top">
					<p:accordionPanel>
						<p:tab title="#{msg['SelfService.profile.L1']}">
							<h:form id="profileform">
								<p:growl id="growl" showDetail="true" life="4000" />
								<h:panelGrid columns="1"
									columnClasses="panelGrid-top,panelGrid-top">
									<h:panelGroup style="display:block; text-align:left">
										<p:outputLabel styleClass="mode" for="login"
											value="Identifant :" />
									</h:panelGroup>
									<p:inputText id="login" value="#{userBean.login}" />
									<h:panelGroup style="display:block; text-align:left">
										<p:outputLabel styleClass="mode" for="passwd"
											value="#{msg['Collabo.add.L17']}" />
									</h:panelGroup>
									<p:password id="passwd" redisplay="true"
										value="#{userBean.password}" match="repasswd">
										<p:ajax event="change" immediate="true"
											listener="#{userBean.resetPasswordListener('true')}"
											update="btnChangePassword">
										</p:ajax>
									</p:password>
									<h:panelGroup style="display:block; text-align:left">
										<p:outputLabel styleClass="mode" for="repasswd"
											value="#{msg['Collabo.add.L18']}" />
									</h:panelGroup>
									<p:password id="repasswd" redisplay="true"
										value="#{userBean.rePassword}"></p:password>
									<p:commandButton id="btnChangePassword"
										disabled="#{(!userBean.resetPassword) }" update="@form growl"
										style="width:170px" ajax="false" value="Valider"
										actionListener="#{userBean.savePassword}" icon="ui-icon-check" />
									<!--  
									<p:commandButton id="btnSetPassword" update="@form growl"
									style="width:170px" ajax="false" value="change"
									actionListener="#{userBean.setPasswordForAllUsers}" icon="ui-icon-check" />
									-->
								</h:panelGrid>
							</h:form>
						</p:tab>
						<p:tab title="#{msg['SelfService.profile.L2']}">
							<h:form id="informationform">
								<h:panelGrid columns="1"
									columnClasses="panelGrid-top,panelGrid-top">
									<h:panelGroup style="display:block; text-align:left">
										<p:outputLabel styleClass="mode" for="mat"
											value="#{msg['Collabo.add.L13']}" />
									</h:panelGroup>
									<p:inputText required="true" id="mat"
										value="#{authenticationBean.userAuthenticated.matricule}"
										readonly="true" />
									<h:panelGroup style="display:block; text-align:left">
										<p:outputLabel styleClass="mode" for="badge"
											value="#{msg['Collabo.add.L14']}" />
									</h:panelGroup>
									<p:inputText required="true" id="badge"
										value="#{authenticationBean.userAuthenticated.badge}"
										readonly="true" />
									<h:panelGroup style="display:block; text-align:left">
										<p:outputLabel styleClass="mode" for="dateemb"
											value="#{msg['Collabo.add.L8']}" />
									</h:panelGroup>
									<p:inputText required="true" id="dateemb"
										value="#{authenticationBean.userAuthenticated.dateEmb}"
										readonly="true" />
									<h:panelGroup style="display:block; text-align:left">
										<p:outputLabel styleClass="mode" for="unit"
											value="#{msg['Collabo.add.L11']}" />
									</h:panelGroup>
									<p:inputText required="true" id="unit"
										value="#{authenticationBean.userAuthenticated.unit.libelle}"
										readonly="true" />
									<h:panelGroup style="display:block; text-align:left">
										<p:outputLabel styleClass="mode" for="manager"
											value="#{msg['Collabo.add.L20']}" />
									</h:panelGroup>
									<p:inputText required="true" id="manager"
										value="#{authenticationBean.userAuthenticated.supH.matricule} #{authenticationBean.userAuthenticated.supH.nom}"
										readonly="true" />
								</h:panelGrid>
							</h:form>
						</p:tab>
						<p:tab title="#{msg['SelfService.profile.L3']}">
							<h:form id="demandesform">
								<h:panelGrid columns="1"
									columnClasses="panelGrid-top,panelGrid-top">
									<p:commandButton style="width:100%"
										value="#{msg['SelfService.demandes.L1']}"
										actionListener="#{absenceBean.onDemandeAbsence}" ajax="true"
										oncomplete="PF('demandeAbsence').show()"
										update=":demandAbsForm" />
									<p:commandButton style="width:170px"
										actionListener="#{congeBean.onDemandeConge}" ajax="true"
										value="#{msg['SelfService.demandes.L2']}"
										update=":demandcongeform"
										oncomplete="PF('demandeConge').show()" />
								</h:panelGrid>
							</h:form>
						</p:tab>
						<p:tab title="#{msg['SelfService.mvt.L1']}">
							<h:form id="pointform">
								<h:panelGrid columns="1">
									<h:panelGrid columns="1" style="margin-bottom:10px" cellpadding="5">
								        <p:outputLabel for="typepointage" value="#{msg['SelfService.mvt.L2']}" />
								        <p:selectOneRadio id="typepointage" value="#{pointageBean.mouvement.type}">
								            <f:selectItem itemLabel="Entrée" itemValue="IN" />
								            <f:selectItem itemLabel="Sortie" itemValue="OUT" />
								        </p:selectOneRadio>
								    </h:panelGrid>
									<p:commandButton style="width:100%"
										value="#{msg['SelfService.mvt.L3']}"
										actionListener="#{pointageBean.saveVirtPointage}" ajax="true"
										update="@form" />
									<h:outputText rendered="#{pointageBean.mouvement.type eq 'IN'}" value="Vous avez pointer l'entrée à "></h:outputText>
									<h:outputText rendered="#{pointageBean.mouvement.type eq 'OUT'}" value="Vous avez pointer la sortier à "></h:outputText>
									<h:outputText value="#{pointageBean.mouvement.date}">
										<f:convertDateTime pattern="HH:mm:ss"></f:convertDateTime>
									</h:outputText>
								</h:panelGrid>
							</h:form>
						</p:tab>
					</p:accordionPanel>
				</h:panelGrid>
			</p:layoutUnit>

			<p:layoutUnit position="center" id="selfServiceId">
				<h:form id="planningform">
					<p:ajaxStatus onstart="PF('statusDialog').show()"
						onsuccess="PF('statusDialog').hide()" />
					<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
						closable="false" resizable="false" showHeader="false">
						<img
							src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/barre/ajaxloadingbar.gif"
							alt="" />
					</p:dialog>
					<p:tabView id="selfTabsId" style="width:670px;">
						<p:tab id="plgTabId" title="#{msg['SelfService.profile.L4']}">
							<h:panelGrid style="width:640px;height:490px;" columns="1"
								columnClasses="panelGrid-top">
								<p:schedule id="scheduleId" value="#{planningBean.myEventModel}" ignoreTimezone="false"
									draggable="false" locale="fr" binding="#{reportBean.schedule}"
									widgetVar="myschedule" view="month" showHeader="true"
									tooltip="true">
								</p:schedule>
							</h:panelGrid>
						</p:tab>
						<p:tab id="AttSheetId" title="#{msg['SelfService.profile.L5']}">
							<h:panelGrid style="width:100%;height:100%;" columns="1">
								<h:panelGroup>
									<h:panelGrid style="width:100%" columns="4">
										<h:panelGroup style="display:flex">
											<h:panelGroup id="mvnp" styleClass="mouvement"
												style="display:block;width:15px;height:15px;">
											</h:panelGroup>
											<div class="card">
												<h:outputLabel value="#{msg['SelfService.fiche.card.L1']}" />
											</div>
										</h:panelGroup>
										<h:panelGroup style="display:flex">
											<h:panelGroup id="cngp" styleClass="conge"
												style="display:block;width:15px;height:15px;">
											</h:panelGroup>
											<div class="card">
												<h:outputLabel value="#{msg['SelfService.fiche.card.L2']}" />
											</div>
										</h:panelGroup>
										<h:panelGroup style="display:flex">
											<h:panelGroup id="rtrp" styleClass="retard"
												style="display:block;width:15px;height:15px;">
											</h:panelGroup>
											<div class="card">
												<h:outputLabel value="#{msg['SelfService.fiche.card.L3']}" />
											</div>
										</h:panelGroup>
										<h:panelGroup style="display:flex">
											<h:panelGroup id="abnp" styleClass="absence"
												style="display:block;width:15px;height:15px;">
											</h:panelGroup>
											<div class="card">
												<h:outputLabel value="#{msg['SelfService.fiche.card.L4']}" />
											</div>
										</h:panelGroup>
									</h:panelGrid>
								</h:panelGroup>
								<hr/>
								<h:panelGroup>
									<p:schedule id="pointagescheduleId" ignoreTimezone="false"
										value="#{pointageBean.myMouvementModel}" draggable="false"
										locale="fr" widgetVar="pointageschedule" view="month"
										showHeader="true" tooltip="true" >
										<p:ajax event="dateSelect" update=":DaydetailsForm"
											listener="#{pointageBean.onDateSelect}"
											oncomplete="PF('dayDetails').show()" />
										<p:ajax event="eventSelect" update=":DaydetailsForm"
											listener="#{pointageBean.onEventSelect}"
											oncomplete="PF('dayDetails').show()" />
									</p:schedule>
								</h:panelGroup>
							</h:panelGrid>
						</p:tab>
					</p:tabView>
				</h:form>
			</p:layoutUnit>
		</p:layout>
		<style>
.mouvement {
	background-color: #0095ff;
}

.retard {
	background-color: #ffd27e;
}

.absence {
	background-color: #f96464;
}
.conge {
	background-color: #8ac300;
}

.card {
	padding-left: 3px;
	text-align: left;
	font-weight: bold;
}
</style>
	</ui:define>
</ui:composition>
