<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	<h:form id="DaydetailsForm">
		<p:dialog id="detailsDialog" width="700px" resizable="false"
			widgetVar="dayDetails"
			header="Details de #{pointageBean.user.matricule} - #{pointageBean.user.nom}"
			showEffect="fade" modal="true">

			<p:outputPanel>
				<h:panelGrid columns="1"
					columnClasses="panelGrid-top, panelGrid-top">
					<p:dataTable id="mvtDatatableId" emptyMessage="....."
						value="#{pointageBean.mouvementList}" var="mvt">
						<f:facet name="header">Mouvements</f:facet>
						<p:column headerText="Mouvements" style="width:68px">
							<h:outputText value="#{mvt.date}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"></f:convertDateTime>
							</h:outputText>
						</p:column>
						<p:column headerText="Type" style="width:68px">
							<h:outputText value="#{mvt.typeMouvement}"></h:outputText>
						</p:column>
					</p:dataTable>
					<p:spacer height="10" />
					<p:dataTable id="retardsTable" value="#{pointageBean.retardsList}"
						var="rtr" emptyMessage="....."
						rendered="#{(pointageBean.retardsList != null) and (not empty pointageBean.retardsList)}">
						<f:facet name="header">Retards</f:facet>
						<p:column headerText="Date" style="width:68px">
							<h:outputText value="#{rtr.date}">
								<f:convertDateTime pattern="dd/MM/yyyy"></f:convertDateTime>
							</h:outputText>
						</p:column>
						<p:column headerText="Durée" style="width:68px">
							<h:outputText value="#{rtr.retardTolere + rtr.retardNonTolere}" />
						</p:column>
						<p:column headerText="Description" style="width:200px">
							<h:outputText value="#{rtr.description}"></h:outputText>
						</p:column>
						<p:column headerText="Statut" style="width:200px">
							<h:outputText
								value="#{rtr.statut eq 'workflow_status_validated' ? 'Autorisé' : 'Non autorisé'}"></h:outputText>
						</p:column>
					</p:dataTable>
					<p:spacer height="10" />
					<p:dataTable id="absenceTable" emptyMessage="....."
						value="#{pointageBean.absencesList}" var="abs"
						rendered="#{(pointageBean.absencesList != null) and (not empty pointageBean.absencesList)}">
						<f:facet name="header">Absences</f:facet>
						<p:column headerText="Date" style="width:68px">
							<h:outputText value="#{abs.dateDebut}">
								<f:convertDateTime pattern="dd/MM/yyyy"></f:convertDateTime>
							</h:outputText>
						</p:column>
						<p:column headerText="Durée" style="width:68px">
							<h:outputText
								value="#{pointageBean.convertDurationFromDouble(abs.duree)}"></h:outputText>
						</p:column>
						<p:column headerText="Type" style="width:200px">
							<h:outputText value="#{abs.typeAbsence.libelle}"></h:outputText>
						</p:column>
						<p:column headerText="Statut" style="width:200px">
							<h:outputText
								value="#{abs.statut eq 'workflow_status_validated' ? 'Validé' : (abs.statut eq 'workflow_status_init' ? 'Demandé' : (abs.statut eq 'workflow_status_rejected' ? 'Rejouté' : 'Effectué'))}"></h:outputText>
						</p:column>
					</p:dataTable>
				</h:panelGrid>
			</p:outputPanel>

		</p:dialog>
	</h:form>
</ui:composition>
