<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions" >

	<p:dialog header="Demande Conge" widgetVar="demandeConge" width="60%">
		<h:form id="demandcongeform">
			<p:growl id="DMCgrowl" showDetail="true" life="4000" />
			<h:panelGrid columns="1">
				<h:panelGrid id="content" columns="2" style="width:100%;">
					<h:panelGrid columns="3">
						<img
							src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
							alt="" />
						<h:panelGroup style="display:block; text-align:left">
							<p:outputLabel styleClass="mode" for="DmdCngdateDebut"
								value="Date début" />
						</h:panelGroup>
						<p:calendar id="DmdCngdateDebut"
							value="#{congeBean.congeDemande.dateDebut}">
							<p:ajax event="dateSelect" listener="#{congeBean.onDateSelect}" update="DmndCongeNbrJour" />
						</p:calendar>
						<img
							src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
							alt="" />
						<h:panelGroup style="display:block; text-align:left">
							<p:outputLabel styleClass="mode" for="typeListId"
								value="Motif conge" />
						</h:panelGroup>
						<p:selectOneMenu  id="typeListId"  immediate="true" valueChangeListener="#{congeBean.typeCongeValueChangeListener}" >  
				        	<f:selectItems value="#{congeBean.typesConge}" var="t" itemLabel="#{t.libelle}" itemValue="#{t.id}"/>
				        	<p:ajax event="change" immediate="true"></p:ajax>
				        </p:selectOneMenu>
					</h:panelGrid>
					
					<h:panelGrid columns="3">
						<img
							src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
							alt="" />
						<h:panelGroup style="display:block; text-align:left">
							<p:outputLabel styleClass="mode" for="DmdCngdateDebut"
								value="Date fin" />
						</h:panelGroup>
						<p:calendar id="DmdCngdateFin"
							value="#{congeBean.congeDemande.dateReprise}">
							<p:ajax event="dateSelect" listener="#{congeBean.onDateSelect}" update="DmndCongeNbrJour" />
						</p:calendar>
						<img
							src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
							alt="" />
						<h:panelGroup style="display:block; text-align:left">
							<p:outputLabel styleClass="mode" for="DmndCongeNbrJour" value="Nombre de jours" />
						</h:panelGroup>
						<h:panelGroup style="display:block;">
							<pe:inputNumber readonly="true" id="DmndCongeNbrJour" value="#{congeBean.congeDemande.nbrJour}" minValue="00.00" maxValue="40.00"> 
			                </pe:inputNumber>
							<p:spacer width="2"></p:spacer>
							<p:commandButton id="btn_ajout_demandeCng" icon="ui-icon-plus" ajax="true" immediate="true" actionListener="#{congeBean.saveDemandeConge}" update=":demandcongeform" />
						</h:panelGroup>
					</h:panelGrid>
				</h:panelGrid>
				<p:spacer height="12"></p:spacer>
				<p:dataTable id="congeTable" 
					value="#{congeBean.userConges}" var="Cng"
					rows="10" paginator="true"
                    paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                    paginatorPosition="bottom"
                    rowsPerPageTemplate="5,10,15">
					<p:column headerText="Matricule">
						<h:outputText value="#{Cng.collaborateur.matricule}" />
					</p:column>
					<p:column headerText="Nom">
						<h:outputText value="#{Cng.collaborateur.nom} #{Cng.collaborateur.prenom}" />
					</p:column>
					<p:column headerText="Date début">
						<h:outputText value="#{Cng.dateDebut}">
							<f:convertDateTime pattern="dd/MM/yyyy"></f:convertDateTime>
						</h:outputText>
					</p:column>
					<p:column headerText="Date Fin">
						<h:outputText value="#{Cng.dateReprise}">
							<f:convertDateTime pattern="dd/MM/yyyy"></f:convertDateTime>
						</h:outputText>
					</p:column>
					<p:column headerText="Nombre de Jours">
						<h:outputText
							value="#{Cng.nbrJour}"></h:outputText>
					</p:column>
					<p:column headerText="Type">
						<h:outputText value="#{Cng.typeConge.libelle}"></h:outputText>
					</p:column>
					<p:column headerText="Statut">
						<h:outputText
							value="#{Cng.statut eq 'workflow_status_validated' ? 'Validé' : (Cng.statut eq 'workflow_status_init' ? 'Demandé' : (Cng.statut eq 'workflow_status_rejected' ? 'Rejouté' : 'Effectué'))}"></h:outputText>
					</p:column>
				</p:dataTable>
			</h:panelGrid>
		</h:form>
	</p:dialog>
</ui:composition>