<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<p:dialog header="Demande Absence" width="60%"
		widgetVar="demandeAbsence">
		<h:form id="demandAbsForm">
			<h:panelGrid columns="1">
				<p:panel id="panel">
					<p:growl id="growl"></p:growl>
					<h:panelGrid id="grid" columns="3" cellpadding="5"
						columnClasses=",label, value">
						<img
							src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
							alt="" />
						<p:outputLabel styleClass="mode" for="absence_debut"
							value="#{msg['Absence.L1']} :" />
						<p:calendar id="absence_debut" pattern="dd/MM//yyyy HH:mm:ss"
							navigator="true" value="#{absenceBean.absence.dateDebut}"
							required="true" label="absence_debut" />

						<img
							src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
							alt="" />
						<p:outputLabel styleClass="mode" for="absence_reprise"
							value="#{msg['Absence.L2']} :" />
						<p:calendar id="absence_reprise" pattern="dd/MM//yyyy HH:mm:ss"
							navigator="true" value="#{absenceBean.absence.dateReprise}"
							required="true" label="absence_fin" />

						<img
							src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
							alt="" />
						<p:outputLabel styleClass="mode" for="motif"
							value="#{msg['Absence.L4']} :" />
						<p:selectOneMenu id="motif" value="#{absenceBean.typeAbsence}"
							converter="typeAbsenceConverter" effect="fold" required="true"
							panelStyle="width:150px">
							<f:selectItem itemLabel="Select One ..." itemValue=""
								style="width: 500;" />
							<f:selectItems value="#{absenceBean.typesAbsence}"
								var="typeAbsence" itemLabel="#{typeAbsence.libelle}"
								itemValue="#{typeAbsence}" />
						</p:selectOneMenu>
					</h:panelGrid>
					<f:facet name="footer">
						<p:outputPanel layout="block" style="text-align:right">
							<p:commandButton value="#{msg['share.btn7']}"
								update=":demandAbsForm, :demandAbsForm:growl" icon="ui-icon-disk"
								actionListener="#{absenceBean.saveAbsence}" ajax="true" />
							<p:commandButton value="Cancel"
								onclick="PF('demandeAbsence').hide()" type="button"
								icon="ui-icon ui-icon-close" />
						</p:outputPanel>
					</f:facet>
				</p:panel>
				<p:spacer height="12"></p:spacer>
				
				<p:dataTable id="absenceTable" value="#{absenceBean.absences}"
					var="abs" rows="10" paginator="true"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					paginatorPosition="bottom" rowsPerPageTemplate="5,10,15">
					<p:column headerText="Matricule">
						<h:outputText value="#{abs.collaborateur.matricule}" />
					</p:column>
					<p:column headerText="Nom">
						<h:outputText
							value="#{abs.collaborateur.nom} #{abs.collaborateur.prenom}" />
					</p:column>
					<p:column headerText="Date début" sortBy="#{abs.dateDebut}" >
						<h:outputText value="#{abs.dateDebut}">
							<f:convertDateTime pattern="dd/MM/yyyy"></f:convertDateTime>
						</h:outputText>
					</p:column>
					<p:column headerText="Date Fin" sortBy="#{abs.dateReprise}">
						<h:outputText value="#{abs.dateReprise}">
							<f:convertDateTime pattern="dd/MM/yyyy"></f:convertDateTime>
						</h:outputText>
					</p:column>
					<p:column headerText="Durée" sortBy="#{abs.duree}" >
						<h:outputText
							value="#{pointageBean.convertDurationFromDouble(abs.duree)}"></h:outputText>
					</p:column>
					<p:column headerText="Type" sortBy="#{abs.typeAbsence.libelle}">
						<h:outputText value="#{abs.typeAbsence.libelle}"></h:outputText>
					</p:column>
					<p:column headerText="Statut" sortBy="#{abs.statut}">
						<!--  
						<f:facet name="filter">
							<p:selectOneMenu onchange="PF('absenceTable').filter()"
								style="width:100%;">
								<f:selectItem itemLabel="Tous" itemValue="#{null}"
									noSelectionOption="true" />
								<f:selectItem style="width:100%;" itemLabel="Autorisé"
									itemValue="workflow_status_validated" />
								<f:selectItem style="width:100%;" itemLabel="Non Autorisé"
									itemValue="workflow_status_elapsed" />
							</p:selectOneMenu>
						</f:facet>
						-->
						<h:outputText
							value="#{abs.statut eq 'workflow_status_validated' ? 'Validé' : (abs.statut eq 'workflow_status_init' ? 'Demandé' : (abs.statut eq 'workflow_status_rejected' ? 'Rejouté' : 'Effectué'))}"></h:outputText>
					</p:column>
				</p:dataTable>
			</h:panelGrid>
		</h:form>
	</p:dialog>
</ui:composition>