<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">#{msg['Unit.titre']} <ui:include src="LOC-HELP.xhtml" /></ui:define>
	
	<ui:define name="body">
		<h:form id="form">
		<!-- Table contenant les tableaux d'onglets-->
		<table width="1000" border="0" cellspacing="0" cellpadding="0"
			class="onglet-bg">
			<tr>
				<td width="200">
					<!-- Onglet selectionné -->
					<table border="0" cellpadding="0" cellspacing="0"
						class="onglet-sel">
						<tr>
							<td class="onglet-border"></td>
							<td class="onglet-center">#{msg['Unit.L1']}</td>
							<td class="onglet-border"></td>
						</tr>
					</table> <!-- Fin Onglet selectionné -->

				</td>
				<td>
					<!-- Onglet non selectionné --> <!-- Fin Onglet non selectionné -->
				</td>			<td>&nbsp;</td>
			</tr>
		</table>

		<!-- Contenu principal -->
		<!-- Le cellspacing de 10 sert à créer les marges  -->
		<table width="1000" style="height:400px" border="0" cellpadding="0" cellspacing="10"
			class="boxtour-onglets">
			<tr>
				<td class="templ-main">
					<p:contextMenu for="units">  
						<p:menuitem value="#{msg['Unit.L10']}" icon="ui-icon-plus" oncomplete="PF('unitDialogAdd').show()" /> 
				        <p:menuitem value="#{msg['share.btn2']}" actionListener="#{unitBean.update}" update=":unitDialogUpdate" icon="ui-icon-pencil" oncomplete="PF('unitDialogUpdate').show()" />  
				        <p:menuitem value="#{msg['share.btn4']}" oncomplete="PF('confirmation').show()"  icon="ui-icon-close"/>  
				    </p:contextMenu>  
				  
				    <p:treeTable value="#{unitBean.treeNode}" var="unit" id="units"   style="width:700px"
				        selectionMode="single" selection="#{unitBean.selectedNode}">  
				        <p:column style="width:60px">  
				            <f:facet name="header">  
				                #{msg['Unit.L2']}  
				            </f:facet>  
				            <h:outputText value="#{unit.code}" />  
				        </p:column>  
				  
				        <p:column style="width:40px">  
				            <f:facet name="header">  
				                #{msg['Unit.L3']}  
				            </f:facet>  
				            <h:outputText value="#{unit.libelle}" />  
				        </p:column>  
				  
				        <p:column style="width:120px">  
				            <f:facet name="header">  
				                #{msg['Unit.L4']}  
				            </f:facet>  
				            <h:outputText value="#{unit.description}" />  
				        </p:column>  
				    </p:treeTable>  
				  

				</td>
			</tr>
		</table>
		</h:form>
		
	    <p:dialog id="unitDialogAdd" header="#{msg['Unit.L9']}" showEffect="fade" widgetVar="unitDialogAdd" resizable="true" modal="true"> 
	    	<h:form id="unitAddForm"> 
	    	<p:growl id="growl" />
	        <p:outputPanel id="unitPanel">  
	            <h:panelGrid  columns="3" cellpadding="5">  
 	                <img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif" alt="" /> 
					<h:panelGroup style="display:block; text-align:left"><p:outputLabel styleClass="mode" for="code" value="#{msg['Unit.L5']}"/></h:panelGroup>
                    <p:inputText required="true" id="code" value="#{unitBean.unit.code}" />  
                     <img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif" alt="" /> 
					<h:panelGroup style="display:block; text-align:left"><p:outputLabel styleClass="mode" for="lib" value="#{msg['Unit.L6']}"/></h:panelGroup>
                    <p:inputText required="true" id="lib" value="#{unitBean.unit.libelle}" /> 
                     <img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif" alt="" /> 
					<h:panelGroup style="display:block; text-align:left"><p:outputLabel styleClass="mode" for="desc" value="#{msg['Unit.L7']}"/></h:panelGroup>
                    <p:inputTextarea required="true" id="desc" value="#{unitBean.unit.description}" /> 
	            </h:panelGrid>  
	            <h:panelGroup style="display:block; text-align:right">
	            	<p:commandButton value="#{msg['share.btn7']}" action="#{unitBean.saveUnit}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('unitDialogAdd').hide()" update="growl :form:units" icon="ui-icon-check"/>
	            </h:panelGroup>
	        </p:outputPanel>  
	        </h:form>
	    </p:dialog>
	    
	    <p:dialog id="unitDialogUpdate" header="#{msg['Unit.L8']}" showEffect="fade" widgetVar="unitDialogUpdate" resizable="true" modal="true"> 
	    	<h:form id="unitUpdateForm"> 
	    	<p:growl id="growl" />
	        <p:outputPanel id="unitPanel">  
	            <h:panelGrid  columns="3" cellpadding="5">  
 	                <img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce.gif" alt="" /> 
					<h:panelGroup style="display:block; text-align:left"><p:outputLabel styleClass="mode" for="code" value="#{msg['Unit.L5']}"/></h:panelGroup>
                    <p:inputText required="true" id="code" value="#{unitBean.unit.code}" />  
                     <img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce.gif" alt="" /> 
					<h:panelGroup style="display:block; text-align:left"><p:outputLabel styleClass="mode" for="lib" value="#{msg['Unit.L6']}"/></h:panelGroup>
                    <p:inputText required="true" id="lib" value="#{unitBean.unit.libelle}" /> 
                     <img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce.gif" alt="" /> 
					<h:panelGroup style="display:block; text-align:left"><p:outputLabel styleClass="mode" for="desc" value="#{msg['Unit.L7']}"/></h:panelGroup>
                    <p:inputTextarea required="true" id="desc" value="#{unitBean.unit.description}" /> 
	            </h:panelGrid>  
	            <p:messages id="messages2" autoUpdate="true" closable="true" showSummary="true" redisplay="false" />
	            <h:panelGroup style="display:block; text-align:right"><p:commandButton value="#{msg['share.btn7']}" action="#{unitBean.updateUnit}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('unitDialogUpdate').hide()" update="growl :form:units" icon="ui-icon-check"/></h:panelGroup>
	        </p:outputPanel>  
	        </h:form>
	    </p:dialog>  
	    
	    <p:confirmDialog message="Etes-vous sur de vouloir supprimer cet unité?"
				showEffect="explode" hideEffect="explode" header="Confirmation"
				severity="alert" widgetVar="confirmation">

				<p:commandButton value="#{msg['share.boolean.yes']}"
					action="#{unitBean.deleteUnit}"
					update=":form:units"
					oncomplete="PF('confirmation').hide()" />
				<p:commandButton value="#{msg['share.boolean.no']}" onclick="PF('confirmation').hide()"
					type="button" />

			</p:confirmDialog> 
	</ui:define>

</ui:composition>
