<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	
	<p:dialog header="AIDE - LOCAUX" widgetVar="helpDialog" modal="true" height="600px" width="80%">
	<link rel="stylesheet" type="text/css" href="../../../resources/css/HelpStyle.css"/>
	<div class="backColor">
		<div class="container">
			<div>
				<h2>Présentation</h2>
				<div>
					<li class="ListItem">
						L’écran de consultation des unités de travail existantes
						dans le référentiel est accessible par le lien « Locaux»
						dans le menu Configuration.
					</li>
					<div class="imageStyle">
						<img src="../../../resources/images/LOC-HELP/LOC-INTRO.PNG" />
					</div>
					<div>
						<p>Le tableau des locaux contient les informations suivantes :</p>
						<ul>
							<li>Code</li>
							<li>Libellé</li>
							<li>Description</li>
						</ul>
					</div>
					<div class="imageStyle">
						<img src="../../../resources/images/LOC-HELP/LOC-VIEW.PNG" />
					</div>
				</div>
			</div>
		</div>
	</div>
	</p:dialog>
	</ui:composition>