<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">SUIVI RH - POINTAGES</ui:define>
	<ui:define name="body">


		<!-- <table width="1000" border="0" cellspacing="0" cellpadding="0" -->
		<!-- 			class="onglet-bg"> -->


		<!-- 			<tr> -->
		<p:outputPanel id="Panel" style="width:1000px;">
			<h:form id="pointageForm">
				<h:panelGrid columns="12" cellpadding="5" cellspacing="5">

					<p:remoteCommand name="desactiver_activer_omp"
						action="#{pointageBean.desactiver_activer_omp}" />
					<p:remoteCommand name="desactiver_activer_tjr"
						action="#{pointageBean.desactiver_activer_tjr}" />
					<p:remoteCommand name="desactiver_activer_nrt"
						action="#{pointageBean.desactiver_activer_nrt}" />
					<p:remoteCommand name="afficher_details"
						action="#{pointageBean.afficher_details}" />

					<h:panelGroup style="display:block; text-align:left">
						<p:outputLabel styleClass="mode" for="moisPointage" value="Mois :" />
					</h:panelGroup>
					<p:selectOneMenu id="moisPointage"
						value="#{pointageBean.moisSelected}" style="width:150px;">
						<!--             		<f:selectItems value="#{pointageBean.mois}" -->
						<!--                         var="mois" itemLabel="#{mois}" -->
						<!--                         itemValue="#{mois}"/> -->
						<f:selectItem itemLabel="Janvier" itemValue="01" />
						<f:selectItem itemLabel="Février" itemValue="02" />
						<f:selectItem itemLabel="Mars" itemValue="03" />
						<f:selectItem itemLabel="Avril" itemValue="04" />
						<f:selectItem itemLabel="Mai" itemValue="05" />
						<f:selectItem itemLabel="Juin" itemValue="06" />
						<f:selectItem itemLabel="Juillet" itemValue="07" />
						<f:selectItem itemLabel="Août" itemValue="08" />
						<f:selectItem itemLabel="Septembre" itemValue="09" />
						<f:selectItem itemLabel="Octobre" itemValue="10" />
						<f:selectItem itemLabel="Novembre" itemValue="11" />
						<f:selectItem itemLabel="Décembre" itemValue="12" />

					</p:selectOneMenu>

					<h:panelGroup style="display:block; text-align:left">
						<p:outputLabel styleClass="mode" for="anneePointage"
							value="Année :" />
					</h:panelGroup>
					<p:selectOneMenu id="anneePointage"
						value="#{pointageBean.anneeSelected}" style="width:100px;">
						<f:selectItem itemLabel="2014" itemValue="2014" />
						<f:selectItem itemLabel="2013" itemValue="2013" />
						<f:selectItem itemLabel="2012" itemValue="2012" />
						<f:selectItem itemLabel="2011" itemValue="2011" />
					</p:selectOneMenu>

					<p:commandButton id="btn_valider" value="Valider"
						action="#{pointageBean.chargerPointages}" update=":pointageTable"
						icon="ui-icon-search" />
					<h:panelGroup style="display:block; text-align:center">
						<h:panelGrid columns="2" cellspacing="5">
							<h:panelGroup id="omp"
								style="display:block;width:25px;height:25px;background-color:rgb(237,28,36);"></h:panelGroup> Omission de pointage
        			<h:panelGroup id="tjr"
								style="display:block;width:25px;height:25px;background-color:rgb(163,73,164);"></h:panelGroup> Non autorisé aux heures supps - Travail jour de repos
        			<h:panelGroup id="nrt"
								style="display:block;width:25px;height:25px;background-color:rgb(195,195,195);"></h:panelGroup> Non respect de temps constractuel
        		</h:panelGrid>
					</h:panelGroup>

				</h:panelGrid>
			</h:form>
			<h:form id="pointageTable">
				<p:dataTable id="tableAnomalies" var="pointage"
					value="#{pointageBean.pointages}"
					rendered="#{pointageBean.rendered}" rowIndexVar="rowIndex">
					<p:column headerText="Matricule">
						<h:outputText value="#{pointage[0][0].matricule}"
							style="font-weight:bold;" />
					</p:column>
					<p:columns value="#{pointageBean.colonnes}" var="col"
						columnIndexVar="colIndex"
						style="padding:0;margin:0;border-spacing:0px;border-collapse: separate;width:27px;height:28px;">
						<f:facet name="header">
                	#{col}
            		</f:facet>

						<ui:repeat var="cell" value="#{pointage[colIndex]}">
							<h:outputText class="cellTable_#{rowIndex}_#{colIndex}" value=""
								style="background-color:#{cell.color};display:block;width:#{27/fn:length(pointage[colIndex])}px;height:28px;float:left;" />
						</ui:repeat>

					</p:columns>
				</p:dataTable>
			</h:form>
			<h:form id="details">
				<p:dialog id="detailsDialog" widgetVar="details"
					header="Détails pointage du #{pointageBean.jour}/#{pointageBean.moisCours}/#{pointageBean.anneeSelected} - #{pointageBean.nom} #{pointageBean.prenom}"
					showEffect="fade" modal="true" width="400px">
					<p:dataTable id="table_mob" var="mov"
						value="#{pointageBean.mouvements}" editable="true" editMode="cell"
						widgetVar="paramTable2">
						<f:facet name="header">
            		Liste des mouvements
        		</f:facet>
						<p:column headerText="Date Mouvement (HH:mm:ss)" style="width:90%">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{pointageBean.format(mov.date)}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText value="#{mov.date}" style="width:96%" label="Date" />
								</f:facet>
							</p:cellEditor>
						</p:column>
						<p:column headerText="Opérations">
							<p:commandButton id="editButton2" value=""
								action="#{terminauxBean.deleteParam}" update=""
								icon="ui-icon-close" style="width:30px;height:30px">
								<f:param name="id" value="#{paramm.id}" />
							</p:commandButton>
						</p:column>
					</p:dataTable>
				</p:dialog>
			</h:form>
		</p:outputPanel>

		<script>
			$('body').on('click', '[id$=omp]', function() {
				if ($(this).css("opacity") == 1) {
					$(this).css("opacity", 0.7);
					$('[id$=omp]').css("box-shadow", "none");
				} else {
					$(this).css("opacity", 1);
					$('[id$=omp]').css("box-shadow", "1px 1px 5px green");
				}
				desactiver_activer_omp();
			});

			$('body').on('click', '[id$=tjr]', function() {
				if ($(this).css("opacity") == 1) {
					$(this).css("opacity", 0.7);
					$('[id$=tjr]').css("box-shadow", "none");
				} else {
					$(this).css("opacity", 1);
					$('[id$=tjr]').css("box-shadow", "1px 1px 5px green");
				}
				desactiver_activer_tjr();
			});

			$('body').on('click', '[id$=nrt]', function() {
				if ($(this).css("opacity") == 1) {
					$(this).css("opacity", 0.7);
					$('[id$=nrt]').css("box-shadow", "none");
				} else {
					$(this).css("opacity", 1);
					$('[id$=nrt]').css("box-shadow", "1px 1px 5px green");
				}
				desactiver_activer_nrt();
			});

			$('body').on('click', '[id$=btn_valider]', function() {
				$('[id$=omp]').css("opacity", 1);
				$('[id$=tjr]').css("opacity", 1);
				$('[id$=nrt]').css("opacity", 1);

			});

			$(document).ready(function() {
				$('[id$=omp]').css("cursor", "pointer");
				$('[id$=tjr]').css("cursor", "pointer");
				$('[id$=nrt]').css("cursor", "pointer");
				$('[id$=omp]').css("box-shadow", "1px 1px 5px green");
				$('[id$=tjr]').css("box-shadow", "1px 1px 5px green");
				$('[id$=nrt]').css("box-shadow", "1px 1px 5px green");

			});

			$('body').on('click', '[class^=cellTable]', function() {
				//alert('Ligne : '+$(this).context.className.split("_")[1]+' , colonne : '+$(this).context.className.split("_")[2]);
				afficher_details([ {
					name : 'ligne',
					value : $(this).context.className.split("_")[1]
				}, {
					name : 'colonne',
					value : $(this).context.className.split("_")[2]
				} ]);
			});
		</script>
	</ui:define>
</ui:composition>