<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:t="http://myfaces.apache.org/tomahawk">

	<p:dataTable id="dataSyntId" var="userData"
		value="#{reportBean.userDatas}" rowIndexVar="userRowVar">
		<p:ajax event="rowToggle" onstart="collapseOthers();"
			listener="#{reportBean.onRowToggleListener(userData)}" />
		<f:facet name="header">
	            #{msg['SuiviRH.L5']}
	        </f:facet>
		<p:column style="width:16px">
			<p:rowToggler />
		</p:column>
		<p:column headerText="Matricule" style="width:40px">
			<h:outputText value="#{userData.user.matricule}" />
		</p:column>
		<p:column headerText="Nom" style="width:80px">
			<h:outputText value="#{userData.user.nom}" />
		</p:column>
		<p:column headerText="Prénom" style="width:80px">
			<h:outputText value="#{userData.user.prenom}"/>
		</p:column>
		<p:column headerText="Unité de travail" style="width:160px">
			<h:outputText value="#{userData.user.unit.libelle}" />
		</p:column>
		<p:column headerText="Total jours travalles" style="width:120px">
			<h:outputText value="#{userData.tcol2bis}" />
		</p:column>

		<p:rowExpansion>
			<p:outputPanel id="outputPanelID" layout="block" style="display:flex">
				<p:remoteCommand name="processUpdate" update="@parent"></p:remoteCommand>
				<p:dataTable id="dayDatas" var="dayData"
					value="#{userData.dayDatas}" rowIndexVar="index" rows="7"
					widgetVar="dayDatasWidget" paginator="true"
					paginatorPosition="bottom" style="width:80%"
					rowStyleClass="#{index%2==0 ? 'row-color' : null}"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
					<p:ajax event="page" onsuccess="processUpdate()"
						listener="#{reportBean.processWeekListener}" />
					<p:columnGroup type="header">
						<p:row>
							<p:column headerText="Détail" width="120" />
							<p:column headerText="Hr Nle" width="30" />
							<p:column headerText="Hr Trv" width="30" />
							<p:column headerText="Rrd Tol" width="30" />
							<p:column headerText="Rrd NTol" width="30" />
							<!--  <p:column headerText="Intr" width="28" />-->
							<p:column headerText="Abs P" width="28" />
							<p:column headerText="Abs NP" width="28" />
							<!--  <p:column headerText="HSp25" width="25" />
							<p:column headerText="HSp50" width="25" />
							<p:column headerText="HSp100" width="28" />-->
							<p:column headerText="Cng" width="28" />
							<p:column headerText="Motif" width="65" />
						</p:row>
						<p:row>
							<p:column headerText="Total :" width="120" />
							<p:column width="30">
								<f:facet name="header">
									<h:outputText value="#{userData.tcol1}">
										<f:converter converterId="dateTimeConverter" />
									</h:outputText>
								</f:facet>
							</p:column>
							<p:column width="30">
								<f:facet name="header">
									<h:outputText value="#{userData.tcol2ht}">
										<f:converter converterId="dateTimeConverter" />
									</h:outputText>
								</f:facet>
							</p:column>
							<p:column width="30">
								<f:facet name="header">
									<h:outputText value="#{userData.tcol3}">
										<f:converter converterId="dateTimeConverter" />
									</h:outputText>
								</f:facet>
							</p:column>
							<p:column width="30">
								<f:facet name="header">
									<h:outputText value="#{userData.tcol4}">
										<f:converter converterId="dateTimeConverter" />
									</h:outputText>
								</f:facet>
							</p:column>
							<!--
							<p:column width="28">
								<f:facet name="header">
									<h:outputText value="#{userData.tcol5}">
										<f:converter converterId="dateTimeConverter" />
									</h:outputText>
								</f:facet>
							</p:column>
							-->
							<p:column width="28">
								<f:facet name="header">
									<h:outputText value="#{userData.tcol8}">
										<f:converter converterId="dateTimeConverter" />
									</h:outputText>
								</f:facet>
							</p:column>
							<p:column width="28">
								<f:facet name="header">
									<h:outputText value="#{userData.tcol9}">
										<f:converter converterId="dateTimeConverter" />
									</h:outputText>
								</f:facet>
							</p:column>
							<!--
							<p:column width="25">
								<f:facet name="header">
									<h:outputText value="#{userData.tcol10}">
										<f:converter converterId="dateTimeConverter" />
									</h:outputText>
								</f:facet>
							</p:column>
							<p:column width="25">
								<f:facet name="header">
									<h:outputText value="#{userData.tcol11}">
										<f:converter converterId="dateTimeConverter" />
									</h:outputText>
								</f:facet>
							</p:column>
							<p:column width="28">
								<f:facet name="header">
									<h:outputText value="#{userData.tcol12}">
										<f:converter converterId="dateTimeConverter" />
									</h:outputText>
								</f:facet>
							</p:column>
							-->
							<p:column width="28">
								<f:facet name="header">
									<h:outputText value="#{userData.tcol7}">
									</h:outputText>
								</f:facet>
							</p:column>
							<p:column width="65">
								<f:facet name="header">
									<h:outputText value="">
									</h:outputText>
								</f:facet>
							</p:column>
						</p:row>
					</p:columnGroup>
					<p:column width="120">
						<p:outputPanel id="dayDetailID" autoUpdate="true">
							<h:outputText value="#{dayData.date}">
								<f:convertDateTime pattern="dd/MM"></f:convertDateTime>
							</h:outputText>
							<h:outputText value="  #{dayData.horaire.libelle}"></h:outputText>
							<p:overlayPanel id="myPanel" for="dayDetailID"
								showEvent="mouseover" hideEvent="mouseout">
								<p:dataList value="#{dayData.mouvements}" var="m" type="ordered">
									<h:outputText value="#{m.date}">
										<f:convertDateTime pattern="HH:mm:ss"></f:convertDateTime>
									</h:outputText>
								</p:dataList>
							</p:overlayPanel>

						</p:outputPanel>
						<f:facet name="footer">
							<h:outputText id="totalId"
								value="Total semaine #{reportBean.weekCount} :" />
						</f:facet>
					</p:column>
					<p:column width="30">
						<h:outputText value="#{dayData.col1}">
							<f:converter converterId="dateTimeConverter" />
						</h:outputText>
						<f:facet name="footer">
							<h:outputText value="#{reportBean.total.col1}">
								<f:converter converterId="dateTimeConverter" />
							</h:outputText>
						</f:facet>
					</p:column>
					<p:column width="30">
						<h:outputText value="#{dayData.col2ht}">
							<f:converter converterId="dateTimeConverter" />
						</h:outputText>
						<f:facet name="footer">
							<h:outputText value="#{reportBean.total.col2ht}">
								<f:converter converterId="dateTimeConverter" />
							</h:outputText>
						</f:facet>
					</p:column>
					<p:column width="30">
						<h:outputText value="#{dayData.col3}">
							<f:converter converterId="dateTimeConverter" />
						</h:outputText>
						<f:facet name="footer">
							<h:outputText value="#{reportBean.total.col3}">
								<f:converter converterId="dateTimeConverter" />
							</h:outputText>
						</f:facet>
					</p:column>
					<p:column width="30">
						<h:outputText value="#{dayData.col4}">
							<f:converter converterId="dateTimeConverter" />
						</h:outputText>
						<f:facet name="footer">
							<h:outputText value="#{reportBean.total.col4}">
								<f:converter converterId="dateTimeConverter" />
							</h:outputText>
						</f:facet>
					</p:column>
					<!--
					<p:column width="28">
						<h:outputText value="#{dayData.col5}">
							<f:converter converterId="dateTimeConverter" />
						</h:outputText>
						<f:facet name="footer">
							<h:outputText value="#{reportBean.total.col5}">
								<f:converter converterId="dateTimeConverter" />
							</h:outputText>
						</f:facet>
					</p:column>-->
					<p:column width="28">
						<h:outputText value="#{dayData.tcol8}">
							<f:converter converterId="dateTimeConverter" />
						</h:outputText>
						<f:facet name="footer">
							<h:outputText value="#{reportBean.total.tcol8}">
								<f:converter converterId="dateTimeConverter" />
							</h:outputText>
						</f:facet>
					</p:column>
					<p:column width="28">
						<h:outputText value="#{dayData.tcol9}">
							<f:converter converterId="dateTimeConverter" />
						</h:outputText>
						<f:facet name="footer">
							<h:outputText value="#{reportBean.total.tcol9}">
								<f:converter converterId="dateTimeConverter" />
							</h:outputText>
						</f:facet>
					</p:column>
					<!--
					<p:column width="25">
						<h:outputText value="#{dayData.col10}">
							<f:converter converterId="dateTimeConverter" />
						</h:outputText>
						<f:facet name="footer">
							<h:outputText value="#{reportBean.total.col10}">
								<f:converter converterId="dateTimeConverter" />
							</h:outputText>
						</f:facet>
					</p:column>
					<p:column width="25">
						<h:outputText value="#{dayData.col11}">
							<f:converter converterId="dateTimeConverter" />
						</h:outputText>
						<f:facet name="footer">
							<h:outputText value="#{reportBean.total.col11}">
								<f:converter converterId="dateTimeConverter" />
							</h:outputText>
						</f:facet>
					</p:column>
					<p:column width="28">
						<h:outputText value="#{dayData.col12}">
							<f:converter converterId="dateTimeConverter" />
						</h:outputText>
						<f:facet name="footer">
							<h:outputText value="#{reportBean.total.col12}">
								<f:converter converterId="dateTimeConverter" />
							</h:outputText>
						</f:facet>
					</p:column>
					  -->
					<p:column width="28">
						<h:outputText value="#{dayData.tcol7}">
						</h:outputText>
						<f:facet name="footer">
							<h:outputText value="#{reportBean.total.tcol7}">
							</h:outputText>
						</f:facet>
					</p:column>
					<p:column width="65">
						<h:outputText value="#{reportBean.loadAbsencejustif(dayData.getAbsencesEffectues())}">
						</h:outputText>
						<f:facet name="footer">
							<h:outputText value="">
							</h:outputText>
						</f:facet>
					</p:column>
				</p:dataTable>
				<p:panel style="width:45%; border: 0px; margin-top: auto; margin-bottom: auto;">
						<ui:param name="chartData"
						value="#{reportBean.getPieChartData(userData)}" />
					<script>
						fillChart(#{chartData});
					</script>
					<div class="chart">
						<div id="pieChart" class="ct-chart ct-golden-section chartStroke"></div>
					</div>
				</p:panel>
			</p:outputPanel>

		</p:rowExpansion>
	</p:dataTable>
	
	<script
		src="#{facesContext.externalContext.requestContextPath}/resources/js/chartist.min.js"></script>
		<script
		src="#{facesContext.externalContext.requestContextPath}/resources/js/chartist-plugin-legend.js"></script>
	<script type="text/javascript">

	var customObject=[];
		function collapseOthers() {
			var i = $('.ui-row-toggler.ui-icon-circle-triangle-s').length;
			if (i == 1) {
				return;
			}
			$('.ui-row-toggler.ui-icon-circle-triangle-s').trigger('click');
		}
		function updateHeader() {
			var val = $(PrimeFaces.escapeClientId('suiviForm:weekCountID'))
					.val();
			alert(val);
		}
		//Chart events
		function fillChart(data){
            var options = {
           		width: 300,
           		height: 200,
                labelInterpolationFnc: function(value) {
                    return value[0]
                },
                plugins: [
                	Chartist.plugins.legend()
                ]
            };
            var sum = function() { 
            	var s=0;
            	data.series.forEach(function(item, i){
            		s+=item.value;
            	})
            	return s;
            	};
            //get value by label
            var getlabelValue = function(lab){
            	var val=0;
            	data.labels.forEach(function(item, i){
            		if(lab==data.labels[i])
           			{
           				val=data.series[i];
           			}
            	});
            	return val.value;
            };
            var responsiveOptions = [
                ['screen and (min-width: 640px)', {
                    chartPadding: 30,
                    labelOffset: 10,
                    labelDirection: 'explode',
                    labelInterpolationFnc: function(value) {
                    	var val=getlabelValue(value);
                    	var s=sum();
                    	var temp=Math.round(val*100 / s) + '%';
                    	return temp;
                    }
                }],
                ['screen and (min-width: 1024px)', {
                    labelOffset: 10,
                    chartPadding: 30,
                    labelInterpolationFnc: function(value) {
                    	var val=getlabelValue(value);
                    	var s=sum();
                    	var temp=Math.round(val*100 / s) + '%';
                    	return temp;
                    }
                }]
            ];
            customObject=[];
            new Chartist.Pie('.ct-chart', data, options, responsiveOptions);
            count=0;
            timer=setInterval(fixClasses, 100);
		}
		var timer;
		var count=0;
		
		
	</script>
	<style>
	.chartStroke path{
	  	stroke: white;
		stroke-width: 2;
	}
	
	</style>

</ui:composition>
