<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<p:dialog header="AIDE - SUIVIRH" widgetVar="helpDialog" modal="true"
		height="600px" width="80%">
		<link rel="stylesheet" type="text/css"
			href="../../resources/css/HelpStyle.css" />
		<div class="backColor">
			<div class="container">
				<div>
					<h2>Présentation</h2>
					<div>
						<li class="ListItem">Cette fonctionnalité permet de
							visualiser le détail du rapport de synthèse. Elle est accessible
							à partir du lien « Rapports » dans le menu Suivi RH</li>
						<div class="imageStyle">
							<img src="../../resources/images/SVRH-HELP/SVRH-MENU.png" />
						</div>
					</div>
					<br/>
					<div>
						<li class="ListItem">Le rapport contient les informations
							suivantes :</li>
						<ul>
							<li>Matricule + Nom prénom du collaborateur</li>
							<li>Date du jour</li>
							<li>Détail des mouvements</li>
							<li>Temps contractuel</li>
							<li>Heures Travaillées</li>
							<li>Retard Toléré</li>
							<li>Retard non toléré</li>
							<li>Interruptions</li>
							<li>Détail des absences (payées et non payées)</li>
							<li>Détail des heures supplémentaires (25%, 50%, 100%)</li>
						</ul>
					</div>
					<br/>
					<div class="imageStyle">
						<img src="../../resources/images/SVRH-HELP/SVRH-PAGE1.png" />
					</div>
					<br/>
					<div>
						<li class="ListItem">On peut changer vers le mode rapport
							journalier :</li>
					</div>
					<br/>
					<div class="imageStyle">
						<img src="../../resources/images/SVRH-HELP/SVRH-PAGE2.png" />
					</div>
					<br/>
					<div>
						<li class="ListItem">Ci-dessous l’Etat d’impression d’un
							rapport de synthèse :</li>
					</div>
					<br/>
					<div class="imageStyle">
						<img src="../../resources/images/SVRH-HELP/SVRH-RPT.png" />
					</div>
				</div>
			</div>
		</div>
	</p:dialog>
</ui:composition>