<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:t="http://myfaces.apache.org/tomahawk">
	
	<p:dataTable id="dataMontId" var="userData" value="#{reportBean.userDatas}"
        		paginator="true" rows="10" paginatorPosition="bottom" rowIndexVar="rowIndex"
				paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}">
   		<f:facet name="header">
   			#{msg['SuiviRH.L6']} des heures travaillées du mois 
   			<h:outputText value="#{reportBean.columns[0]}">
   				<f:convertDateTime pattern="MMM-yyyy"></f:convertDateTime>
   			</h:outputText>
   		</f:facet>
   		<p:column headerText="Matricule" style="width:100px;" filterBy="#{userData.user.matricule}" filterMatchMode="contains">
       		<h:outputText value="#{userData.user.matricule} - #{userData.user.nom} #{userData.user.prenom}" style="font: 10px arial;" />
   		</p:column>
   		<p:columns var="col" value="#{reportBean.columns}" columnIndexVar="colIndex" style="padding:0;margin:0;border-spacing:0px;border-collapse: separate;width:30px;height:28px;">
       		<f:facet name="header">
       			<h:panelGroup>
               		<h:outputText value="#{col}" style="font: 12px arial;">
               			<f:convertDateTime pattern="dd"></f:convertDateTime>
               		</h:outputText><br/>
               		<h:outputText value="#{col}" style="font: 12px arial;">
               			<f:convertDateTime pattern="E"></f:convertDateTime>
               		</h:outputText>
             	</h:panelGroup>
       		</f:facet>
       		<h:panelGroup style="display:block; text-align:center;vertical-align:middle;">
	       		<h:outputText value="#{userData.dayDatas[colIndex].col2ht}" rendered="#{userData.dayDatas[colIndex].col2ht > 0}" style="font-size:9px;">
	            	<f:converter converterId="dateTimeConverter"/>
	            </h:outputText>
	            <h:outputText value="0" rendered="#{userData.dayDatas[colIndex].col2ht == 0}" style="font-size:9px;">
	            </h:outputText>
            </h:panelGroup>
   		</p:columns>
   		<p:column headerText="cumul HT" style="width:35px;">
   			<h:panelGroup style="display:block; text-align:center;vertical-align:middle;">
	       		<h:outputText value="#{userData.tcol2ht}" style="font-size:10px;font-weight:bold;" rendered="#{userData.tcol2ht > 0}">
	            	<f:converter converterId="dateTimeConverter"/>
	            </h:outputText>
	            <h:outputText value="0" rendered="#{userData.tcol2ht == 0}" style="font-size:10px;font-weight:bold;">
	            </h:outputText>
            </h:panelGroup>
   		</p:column>
   		<p:column headerText="cumul JT" style="width:35px;">
   			<h:panelGroup style="display:block; text-align:center;vertical-align:middle;">
	       		<h:outputText value="#{userData.tcol2bis}" style="font-size:10px;font-weight:bold;" rendered="#{userData.tcol2bis > 0}">
	            </h:outputText>
	            <h:outputText value="0" rendered="#{userData.tcol2bis == 0}" style="font-size:10px;font-weight:bold;">
	            </h:outputText>
            </h:panelGroup>
   		</p:column>
	</p:dataTable>
	
</ui:composition>