<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:t="http://myfaces.apache.org/tomahawk">


	<ui:define name="title">#{msg['SuiviRH.titre']} <ui:include
			src="SVRH-HELP.xhtml" />
	</ui:define>
	<ui:define name="body">

		<h:form id="suiviForm">
			<p:ajaxStatus onstart="PF('statusDialog').show()"
				onsuccess="PF('statusDialog').hide()" />
			<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
				closable="false" resizable="false" showHeader="false">
				<img
					src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/barre/ajaxloadingbar.gif"
					alt="" />
			</p:dialog>
			<t:saveState value="#{reportBean.total}"></t:saveState>
			<h:panelGrid columns="1">
				<p:toolbar id="toolsId">
					<f:facet name="right">
						<p:commandButton id="printBtId" title="#{msg['share.title1']}"
							icon="ui-icon-print">
						</p:commandButton>
						<p:separator />
						<p:commandButton id="hgenBtn" update=":suiviForm:reportId"
							title="#{msg['SuiviRH.L8']}" icon="ui-icon-refresh"
							action="#{reportBean.processAction}"/>
					</f:facet>
				</p:toolbar>
				<h:panelGrid columns="8"
					columnClasses="panelGrid-top,, panelGrid-top,, panelGrid-top,, panelGrid-top"  	width="100%">
					
					
					<p:spacer width="4"></p:spacer>	
						<p:panel header="#{msg['SuiviRH.L1']}">
							<h:panelGrid columns="2">
								<h:outputLabel for="date1" value="#{msg['share.start.instant']}"></h:outputLabel>
								<p:calendar id="date1" value="#{reportBean.criteria.dateDebut}" format="dd/MM/yyyy"
									locale="fr" navigator="true" size="10" required="true" readonlyInput="true"></p:calendar>
								<h:outputLabel for="date2" value="#{msg['share.end.instant']}"></h:outputLabel>
								<p:calendar id="date2" value="#{reportBean.criteria.dateFin}" format="dd/MM/yyyy"
									locale="fr" navigator="true" size="10" 
									maxdate="#{planningBean.intialDate}" required="true" readonlyInput="true" ></p:calendar>
							</h:panelGrid>
						</p:panel>
						
							<!-- <p:spacer width="4"></p:spacer>
						<p:panel header="Intervalle de matricules">
							<h:panelGrid columns="2">
								<h:outputLabel for="mat1" value="#{msg['share.start.instant']}"></h:outputLabel>
								<p:inputText id="mat1" size="10"
									value="#{reportBean.criteria.matriculeInf}"></p:inputText>
								<h:outputLabel for="mat2" value="#{msg['share.end.instant']}"></h:outputLabel>
								<p:inputText id="mat2" size="10"
									value="#{reportBean.criteria.matriculeSup}"></p:inputText>
							</h:panelGrid>
						</p:panel> -->
				
					<p:spacer size="4" />
					<p:panel header="Type de rapport ">
					<h:panelGrid columns="1">
								<p:selectOneRadio id="typeReportRadio"
									value="#{reportBean.criteria.typeReport}" layout="grid"
									columns="1">
									<p:ajax event="change" update=":suiviForm:reportId"></p:ajax>
									<f:selectItem itemLabel="#{msg['SuiviRH.L5']}"
										itemValue="RPT_GNL" />
									<f:selectItem itemLabel="#{msg['SuiviRH.L6']}"
										itemValue="RPT_MTL" />
								</p:selectOneRadio>
							</h:panelGrid>
							</p:panel>
					<p:spacer size="4" />
					<p:panel header="Type de traitement">
							<h:panelGrid columns="1">
								<p:selectOneRadio id="recalcule"
									value="#{reportBean.criteria.typeTreatment}" layout="grid"
									columns="1">
									<f:selectItem itemLabel="Rapport" itemValue="RPT" />
									<f:selectItem itemLabel="Recalcule"
										itemValue="RECL_RPT" />
								</p:selectOneRadio>
							</h:panelGrid>
					</p:panel>
				</h:panelGrid>
          <p:growl id="msgs" showDetail="true" />
			<p:accordionPanel  widgetVar="paramsAccordion" id="accordion" activeIndex="-1">
			<p:tab id="motifabs" title="Paramétres avancés de  Traitement" width="100%" >
			 <h:panelGrid columns="8" columnClasses="panelGrid-top,, panelGrid-top,, panelGrid-top,, panelGrid-top" width="100%" >
				<p:panel header="Retards">
							<h:panelGrid columns="2">
								<h:outputLabel for="mat1" value="Duré > i "></h:outputLabel>
								<p:inputText id="mat1" size="10"
									value="#{reportBean.criteria.matriculeInf}"></p:inputText>
							</h:panelGrid>
						</p:panel> 
							<p:spacer size="4" />
							<p:panel header="Heures Travail">
							<h:panelGrid columns="4">
								  <p:selectBooleanCheckbox value="#{selectBooleanView.value1}" />
							      <h:outputLabel for="mat1" value=" &lt; HT:" />
							      <p:inputText id="mat2" size="10"
									value="#{reportBean.criteria.matriculeSup}"></p:inputText>
							</h:panelGrid>
						</p:panel> 
						<p:spacer size="4" />
							<p:panel header="Heures Sup">
							<h:panelGrid columns="4">
							      <p:inputText  size="10" value="#{reportBean.criteria.matriculeSup}"></p:inputText>
							      <h:outputLabel for="mat1" value=" &lt; HS &lt;" />
							      <p:inputText  size="10" value="#{reportBean.criteria.matriculeSup}"></p:inputText>
							</h:panelGrid>
						</p:panel> 
						<p:spacer size="4" />
							<p:panel header="Absence">
							<h:panelGrid columns="4">
							      <h:outputLabel for="mat1" value="Nbre jours >" />
							      <p:inputText  size="10" value="#{reportBean.criteria.matriculeSup}"></p:inputText>
							</h:panelGrid>
						</p:panel> 
						</h:panelGrid>
			</p:tab>
			<p:tab  title="Paramétres  avancés du Rapport"  >
			 <h:panelGrid columns="8" columnClasses="panelGrid-top,, panelGrid-top,, panelGrid-top,, panelGrid-top" width="100%" >
			 	<p:panel header="#{msg['SuiviRH.L9']}"
						style="hei
						ght:195px;width:300px;">
						<p:tree id="orgmId" value="#{userBean.treeNode}" var="node"
							selectionMode="single"
							style="width:270px;height:160px;overflow: auto;"
							selection="#{reportBean.selectedNode}">
							<p:ajax event="select" update=":suiviForm:dataMontId :suiviForm:dataSyntId"/>
							<p:treeNode>
								<h:outputText value="#{node.libelle}" />
							</p:treeNode>
						</p:tree>
					</p:panel>
					<p:spacer size="4" />
			<p:panel header="#{msg['SuiviRH.L2']}">
						<h:panelGrid columns="1">
							<p:selectOneListbox id="groupListId" immediate="true"
								valueChangeListener="#{reportBean.groupValueChangeListener}"
								scrollHeight="120"
								style="height:149px;width:150px; overflow:auto;">
								<f:selectItems value="#{userBean.groups}" var="group"
									itemLabel="#{group.name}" itemValue="#{group.id}" />
								<p:ajax event="change" immediate="true"></p:ajax>
							</p:selectOneListbox>
						</h:panelGrid>
					</p:panel> 
					<p:spacer size="4" />
			       	<p:panel header="Unité du travail">
										<p:tree id="unitId" value="#{unitBean.treeNode}"
											var="unitnode" style="height:160px;overflow: auto;"
											selectionMode="single" selection="#{userBean.selectedNode}"
											dynamic="true">
											<p:ajax event="select"
												listener="#{userBean.handleUnitNodeSelection}"   />
											<p:treeNode>
												<h:outputText value="#{unitnode.libelle}" />
											</p:treeNode>
										</p:tree>
									</p:panel>
					</h:panelGrid>
						</p:tab>
			
			</p:accordionPanel>
			
				<p:overlayPanel id="printPanel" widgetVar="printPanelWidget"
					for=":suiviForm:printBtId" hideEffect="fade" my="right top">
					<h:panelGrid columns="2">
						<p:commandLink title="#{msg['share.export']}"
							actionListener="#{reportingBean.generateCustumReportAction('cumulReport', 'pdf')}"
							ajax="false">
							<h:graphicImage name="pdf.png" library="images"
								style="width:23px;height:23px;" />
						</p:commandLink>
						<p:commandLink title="#{msg['share.title1']}"
							actionListener="#{reportingBean.generateCustumReportAction('cumulReport', 'xls')}"
							ajax="false">
							<h:graphicImage name="excel.png" library="images"
								style="width:23px;height:23px;" />
						</p:commandLink>
					</h:panelGrid>
				</p:overlayPanel>

				<p:scrollPanel id="reportId" style="width:988px;" mode="native">
					<h:panelGrid columns="1"
						rendered="#{reportBean.criteria.typeReport == 'RPT_GNL'}">
						<ui:include src="SVRH-SYNT.xhtml" />
					</h:panelGrid>
					<h:panelGrid columns="1"
						rendered="#{reportBean.criteria.typeReport == 'RPT_MTL'}">
						<ui:include src="SVRH-MONT.xhtml" />
					</h:panelGrid>
				</p:scrollPanel>
			</h:panelGrid>

		</h:form>
	</ui:define>

</ui:composition>
