<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://sourceforge.net/projects/jsf-comp/acegijsf">

	<ui:define name="title">   #{msg['Conge.titre']} <ui:include
			src="CON-HELP.xhtml" />
	</ui:define>

	<ui:define name="body">
		<h:form id="tableForm">
			<h:panelGrid style="width:850px;" columns="1">
				<h:panelGrid columns="4">
					<p:panel header="Organigramme">
						<p:tree id="orgmId" value="#{userBean.treeNode}" var="node"
							immediate="true" selectionMode="single"
							style="height:180px; width:240px; overflow: auto;"
							selection="#{jbpmBean.selectedNoeudNode}" dynamic="true">
							<p:treeNode>
								<h:outputText value="#{node.libelle}" />
							</p:treeNode>
						</p:tree>
					</p:panel>
					<p:panel header="Unité">
						<p:tree id="unitId" value="#{unitBean.treeNode}" var="unitnode"
							immediate="true"
							style="height:180px; width:200px; overflow: auto;"
							selectionMode="single" selection="#{jbpmBean.selectedUnitNode}"
							dynamic="true">
							<p:treeNode>
								<h:outputText value="#{unitnode.libelle}" />
							</p:treeNode>
						</p:tree>
					</p:panel>
					<p:panel header="Groupes">
						<p:selectOneListbox id="groupListId" immediate="true"
							scrollHeight="164" style="height:177px; width:170px;"
							value="#{jbpmBean.criteria.group}">
							<f:selectItems value="#{userBean.groups}" var="group"
								itemLabel="#{group.name}" itemValue="#{group.id}" />
						</p:selectOneListbox>
					</p:panel>
					<p:panel header="Statut">
						<p:selectOneRadio id="statut" layout="grid" value="#{jbpmBean.criteria.statut}"
							columns="1"  style="height:180px; width:140px; overflow: auto;" styleClass="label-override">
							<f:selectItem itemLabel="Demandée"
								itemValue="workflow_status_init"/>
							<f:selectItem itemLabel="Validé"
								itemValue="workflow_status_validated" />
							<f:selectItem itemLabel="Refusé"
								itemValue="workflow_status_rejected" />
							<f:selectItem itemLabel="Effectué"
								itemValue="workflow_status_elapsed" />
						</p:selectOneRadio>
					</p:panel>
				</h:panelGrid>
				<p:toolbar id="toolsIdPointageModel">
					<f:facet name="right">
						<p:commandButton id="btn_valider" value="Valider"
							action="#{jbpmBean.refreshData('conge')}" update="congesListId"
							icon="ui-icon-search" />
					</f:facet>
				</p:toolbar>
				<h:panelGrid id="panelListGrid" columns="1">
					<p:dataTable var="conge" value="#{jbpmBean.hrCongesDataModel}"
						rowIndexVar="index" paginator="true" rows="10" id="congesListId"
						editable="true" selectionMode="single" paginatorPosition="bottom"
						binding="#{jbpmBean.congesTable}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15" rowKey="#{conge.id}"
						selection="#{jbpmBean.jbpmEntitie}" lazy="true"
						filteredValue="#{jbpmBean.jbpmEntities}">
						<p:ajax event="rowEdit" update="@form"
							listener="#{jbpmBean.hrTakeCongeDecisionListner(true)}">
						</p:ajax>
						<p:ajax event="rowEditCancel" update="@form"
							listener="#{jbpmBean.hrTakeCongeDecisionListner(false)}">
						</p:ajax>
						<p:columnGroup type="header">
							<p:row>
								<p:column width="50" headerText="Statut" />
								<p:column headerText="#{msg['Collabo.L6']}" width="60" />
								<p:column headerText="#{msg['Collabo.L7']}" width="90" />
								<p:column headerText="#{msg['Conge.L1']}" width="60" />
								<p:column headerText="#{msg['Conge.L2']}" width="60" />
								<p:column headerText="#{msg['Conge.L4']}" width="90" />
								<p:column headerText="#{msg['Conge.L5']}" width="30" />
								<p:column headerText="Remarque" width="160" />
								<p:column headerText="#{msg['Conge.L6']}" width="60" />
							</p:row>
						</p:columnGroup>
						<p:column>
							<h:graphicImage name="thumbs-up-icon.png"
								title="#{msg['Conge.L8']}"
								rendered="#{conge.statut == 'workflow_status_validated'}"
								library="btn-icon" style="width:15px;height:15px;" />
							<h:graphicImage name="thumbs-down-icon.png"
								title="#{msg['Conge.L9']}"
								rendered="#{conge.statut == 'workflow_status_rejected'}"
								library="btn-icon" style="width:15px;height:15px;" />
							<h:outputText styleClass="ui-icon ui-icon-check"
								title="#{msg['Conge.L10']}"
								rendered="#{conge.statut == 'workflow_status_elapsed'}"
								style="width:15px;height:15px;" />
							<h:outputText styleClass="ui-icon ui-icon-star"
								title="#{msg['Conge.L11']}"
								rendered="#{conge.statut == 'workflow_status_init'}"
								style="width:15px;height:15px;" />
						</p:column>
						<p:column>
							<h:outputText value="#{conge.collaborateur.matricule}" />
						</p:column>
						<p:column>
							<h:outputText
								value="#{conge.collaborateur.nom} #{conge.collaborateur.prenom}" />
						</p:column>
						<p:column>
							<h:outputText value="#{conge.dateDebut}">
								<f:convertDateTime pattern="dd-MM-yy"></f:convertDateTime>
							</h:outputText>
						</p:column>
						<p:column>
							<h:outputText value="#{conge.dateReprise}">
								<f:convertDateTime pattern="dd-MM-yy"></f:convertDateTime>
							</h:outputText>
						</p:column>
						<p:column>
							<h:outputText value="#{conge.typeConge.libelle}" />
						</p:column>
						<p:column>
							<h:outputText value="#{conge.nbrJour}" />
						</p:column>
						<p:column>
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{conge.workflowVariable}" />
								</f:facet>
								<f:facet name="input">
									<h:inputTextarea value="#{conge.workflowVariable}" />
								</f:facet>
							</p:cellEditor>
						</p:column>
						<p:column style="width:6px">
							<p:rowEditor rendered="#{conge.statut == 'workflow_status_init'}" />
						</p:column>
					</p:dataTable>
				</h:panelGrid>
			</h:panelGrid>
		</h:form>
		<style type="text/css">
.thumbs-up-icon {
	width: 16px;
	height: 16px;
	background-image: url("#{resource['btn-icon/thumbs-up-icon.png']}")
		!important;
	background-position: center !important;
}

.thumbs-down-icon {
	background-image: url("#{resource['btn-icon/thumbs-down-icon.png']}")
		!important;
	background-position: center !important;
}
</style>
	</ui:define>
</ui:composition>