<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://sourceforge.net/projects/jsf-comp/acegijsf">

	<ui:define name="title">   #{msg['Conge.titre']} <ui:include
			src="CON-HELP.xhtml" />
	</ui:define>
	<ui:define name="body">
		<h:panelGrid columns="2" columnClasses="panelGrid-top,panelGrid-top">

			<h:form id="congeForm">
				<p:hotkey bind="esc" process="@this" resetValues="true"
					update="@parent" action="#{userBean.resetSearchAction}"
					actionListener="#{congeBean.resetSearchActionListener}">
					<p:resetInput target=":congeForm" />
				</p:hotkey>
				<s:authorize ifAnyGranted="ROLE_ADMIN">
					
					<h:panelGrid columns="7"
						columnClasses="panelGrid-top,, panelGrid-top">
						<p:panel header="Managers">
							<h:form id="mngrForm">
								<p:selectOneListbox id="groupListId" immediate="true"
									valueChangeListener="#{userBean.managerValueChangeListener}"
									scrollHeight="130" style=" width:200px;">
									<f:selectItems value="#{userBean.managers}" var="m"
										itemLabel="#{m.matricule} - #{m.nom} #{m.prenom}"
										itemValue="#{m.id}" />
									<p:ajax event="change" update=":congeForm:dataTable"
										immediate="true"></p:ajax>
								</p:selectOneListbox>
							</h:form>
						</p:panel>
						
						
						<p:spacer width="2"></p:spacer>
						
						<p:panel header="Groupes">
							<p:selectOneListbox id="groupListId" immediate="true"
								valueChangeListener="#{userBean.groupValueChangeListener}"
								style="height:130px;width:170px;" scrollHeight="130">
								<f:selectItems value="#{userBean.groups}" var="group"
									itemLabel="#{group.name}" itemValue="#{group.id}" />
								<p:ajax event="change" update=":congeForm:dataTable"
									immediate="true"></p:ajax>
							</p:selectOneListbox>
						</p:panel>
						<p:spacer width="2"></p:spacer>
						
						<p:panel header="Organigramme">
							<p:tree id="orgmId" value="#{userBean.treeNode}" var="node"
								selectionMode="single"
								style="width:280px;height:130px;overflow: auto;"
								selection="#{userBean.selectedNode}">
								<p:ajax event="select" update=":congeForm:dataTable"
									listener="#{userBean.handleNodeSelection}" />
								<p:treeNode>
									<h:outputText value="#{node.libelle}" />
								</p:treeNode>
							</p:tree>
						</p:panel>
					</h:panelGrid>
					
				</s:authorize>
				<h:panelGrid style="width:850px;" columns="1">
					<p:toolbar id="toolsId">
						<f:facet name="left">
							<s:authorize ifAnyGranted="ROLE_SUPH,ROLE_RH">
							<p:commandButton title="#{msg['share.btn1']}"
								oncomplete="PF('addCongeDialog').show()" icon="ui-icon-plus"
								actionListener="#{congeBean.cleanConge}"
								update=":addCongeDialog" />
							<p:separator />
							</s:authorize>
							<p:commandButton title="#{msg['share.title1']}"
								icon="ui-icon-print">
								<p:dataExporter type="xls" target="dataTable"
									fileName="Les conges" pageOnly="true" />
							</p:commandButton>
						</f:facet>
						<f:facet name="right">
							<p:commandButton id="searchBtn" type="button"
								title="#{msg['share.btn6']}" icon="ui-icon-search" />
							<p:commandButton id="resetBtn" process="@this"
								title="#{msg['share.btn9']}" icon="ui-icon-arrowrefresh-1-s"
								resetValues="true" update="@form"
								action="#{userBean.resetSearchAction}">
								<p:resetInput target=":congeForm" />
							</p:commandButton>
						</f:facet>
					</p:toolbar>
					<p:panelGrid columns="2"
						columnClasses="panelGrid-top, panelGrid-top">
						<p:dataTable var="user" value="#{userBean.dataModel}"
							filterEvent="blur" filteredValue="#{congeBean.filtredUsers}"
							id="dataTable" paginator="true" rows="14"
							paginatorPosition="bottom" rowIndexVar="index"
							rowStyleClass="#{index%2==0 ? 'row-color' : null}"
							selectionMode="single" selection="#{congeBean.selectedUser}"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							lazy="true" widgetVar="dataTableWidget"
							rowKey="#{user.id}">
							<f:facet name="header">Liste collaborateurs</f:facet>
							<p:ajax event="rowSelect" listener="#{congeBean.onUserSelected}"
								update=":congeForm:congeListId" />
							<p:column headerText="#{msg['Collabo.L6']}"
								sortBy="#{user.matricule}" width="60"
								filterBy="#{user.matricule}" filterMatchMode="contains"
								filterStyle="width: 50px;">
								<h:outputText value="#{user.matricule}" />
							</p:column>
							<p:column headerText="#{msg['Collabo.L7']}" sortBy="#{user.nom}" 
								filterStyle="width: 80px;" filterBy="#{user.nom}" width="150"
								filterMatchMode="contains">
								<h:outputText value="#{user.nom} #{user.prenom}" />
							</p:column>
							<p:column headerText="Congés/statut" width="75">
								<p:menuButton value="Options">
									<p:menuitem value="#{msg['share.wrkflw.1']}"
										actionListener="#{congeBean.refreshAbsListAction('dem', user)}"
										update=":congeForm:congeListId" icon="ui-icon-star" />
									<p:menuitem value="#{msg['share.wrkflw.3']}"
										actionListener="#{congeBean.refreshAbsListAction('val', user)}"
										update=":congeForm:congeListId" icon="thumbs-up-icon" />
									<p:menuitem value="#{msg['share.wrkflw.4']}"
										actionListener="#{congeBean.refreshAbsListAction('ref', user)}"
										update=":congeForm:congeListId" icon="thumbs-down-icon" />
									<p:separator />
									<p:menuitem value="#{msg['share.wrkflw.2']}"
										actionListener="#{congeBean.refreshAbsListAction('eff', user)}"
										update=":congeForm:congeListId" icon="ui-icon-check" />
								</p:menuButton>
							</p:column>
						</p:dataTable>
						<p:panelGrid style="width:550px;" columns="1">
							<h:panelGrid columns="2">
								<p:panel style="width:160px;">
									<h:panelGrid columns="3">
										<img
											src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
											alt="" />
										<h:panelGroup style="display:block; text-align:left">
											<h:outputLabel for="date1" styleClass="mode"
												value="#{msg['share.start.instant']}"></h:outputLabel>
										</h:panelGroup>
										<p:calendar id="date1" value="#{congeBean.criteria.dateDebut}"
											locale="fr" navigator="true" size="8"></p:calendar>
										<img
											src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
											alt="" />
										<h:panelGroup style="display:block; text-align:left">
											<h:outputLabel for="date2" styleClass="mode"
												value="#{msg['share.end.instant']}"></h:outputLabel>
										</h:panelGroup>
										<p:calendar id="date2" value="#{congeBean.criteria.dateFin}"
											locale="fr" navigator="true" size="8"></p:calendar>
									</h:panelGrid>
									<p:separator></p:separator>
									<h:panelGrid columns="3">
										<p:selectOneRadio id="jrListId" value="#{congeBean.unitTemps}"
											styleClass="mode">
											<f:selectItem itemLabel="Hr" itemValue="hr" />
											<f:selectItem itemLabel="Jr" itemValue="jr" />
										</p:selectOneRadio>
										<p:spacer width="4" />
										<p:commandButton
											action="#{congeBean.refreshAbsListAction(null,null)}"
											update=":congeForm:congeListId"
											icon="ui-icon-arrowrefresh-1-w" />
									</h:panelGrid>
								</p:panel>
								<p:panel>
									<h:panelGrid columns="4" columnClasses="panelGrid-top,, panelGrid-top,">
										<h:panelGrid columns="2">
											<img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif" />
											<h:outputText styleClass="mode" value="Motif:" style="width:90px;"/>
												<h:outputText></h:outputText>
										</h:panelGrid>
										<p:selectOneListbox id="typeListId" immediate="true"
											valueChangeListener="#{congeBean.typeValueChangeListener}"
											scrollHeight="105" style="width:170px; font: bold 8px arial;">
											<f:selectItems value="#{congeBean.typesConge}" var="t"
												itemLabel="#{t.code} - #{t.libelle}" itemValue="#{t.libelle}"
												style="font: bold 8px arial;" />
											<p:ajax event="change" update=":congeForm:congeListId"
												immediate="true"></p:ajax>
										</p:selectOneListbox>
										<h:panelGrid columns="2">
											<img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif" />
											<h:outputText styleClass="mode"
												value="Statut:"/>
												<h:outputText></h:outputText>
										</h:panelGrid>
										<p:selectOneRadio id="statut" layout="grid"
											value="#{congeBean.criteria.statut}" columns="1"
											style="width:40px; overflow: auto;"
											styleClass="label-override"
											valueChangeListener="#{congeBean.stutatValueChangeListener}">
											<f:selectItem itemLabel="Demandée"
												itemValue="workflow_status_init" />
											<f:selectItem itemLabel="Validé"
												itemValue="workflow_status_validated" />
											<f:selectItem itemLabel="Refusé"
												itemValue="workflow_status_rejected" />
											<p:ajax event="change" update=":congeForm:congeListId"
												immediate="true"></p:ajax>
										</p:selectOneRadio>
									</h:panelGrid>
								</p:panel>
							</h:panelGrid>
							<p:dataTable var="conge" value="#{congeBean.conges}"
								rowIndexVar="index"
								rowStyleClass="#{index%2==0 ? 'row-color' : null}" paginator="true" rows="10" id="congeListId"
								editable="true" paginatorAlwaysVisible="false"
								paginatorPosition="bottom"
								paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								rowsPerPageTemplate="5,10,15" lazy="true" rowKey="#{conge.id}">
								<f:facet name="header">#{msg['Conge.stitre']}</f:facet>
								<p:columnGroup type="header">
									<p:row>
										<p:column width="20" />
										<p:column headerText="#{msg['Collabo.L6']}" width="60" />
										<p:column headerText="#{msg['Collabo.L7']}" width="160" />
										<p:column headerText="#{msg['Conge.L1']}" width="60" />
										<p:column headerText="#{msg['Conge.L2']}" width="60" />
										<p:column headerText="#{msg['Conge.L4']}" width="90" />
										<p:column headerText="#{msg['Conge.L5']}" width="30" />
									</p:row>
									<p:row>
										<p:column headerText="Total :" colspan="6" />
										<p:column>
											<f:facet name="header">
												<h:outputText value="#{congeBean.total}">
												</h:outputText>
											</f:facet>
										</p:column>
										<p:column />
									</p:row>
								</p:columnGroup>
								<p:column>
									<h:graphicImage name="thumbs-up-icon.png"
										title="#{msg['Conge.L8']}"
										rendered="#{conge.statut == 'workflow_status_validated'}"
										library="btn-icon" style="width:15px;height:15px;" />
									<h:graphicImage name="thumbs-down-icon.png"
										title="#{msg['Conge.L9']}"
										rendered="#{conge.statut == 'workflow_status_rejected'}"
										library="btn-icon" style="width:15px;height:15px;" />
									<h:outputText styleClass="ui-icon ui-icon-check"
										title="#{msg['Conge.L10']}"
										rendered="#{conge.statut == 'workflow_status_elapsed'}"
										style="width:15px;height:15px;" />
									<h:outputText styleClass="ui-icon ui-icon-star"
										title="#{msg['Conge.L11']}"
										rendered="#{conge.statut == 'workflow_status_init'}"
										style="width:15px;height:15px;" />
								</p:column>
								<p:column>
									<h:outputText value="#{conge.collaborateur.matricule}" />
								</p:column>
								<p:column>
									<h:outputText value="#{conge.collaborateur.nom} #{conge.collaborateur.prenom}" />
								</p:column>
								<p:column>
									<h:outputText value="#{conge.dateDebut}">
										<f:convertDateTime pattern="dd-MM-yy"></f:convertDateTime>
									</h:outputText>
								</p:column>
								<p:column>
									<h:outputText value="#{conge.dateReprise}">
										<f:convertDateTime pattern="dd-MM-yy"></f:convertDateTime>
									</h:outputText>
								</p:column>
								<p:column>
									<h:outputText value="#{conge.typeConge.libelle}" />
								</p:column>
								<p:column>
									<h:outputText value="#{conge.nbrJour}" />
								</p:column>
								<!-- 
								<p:column>
									<p:menuButton value="#{msg['Conge.L7']}"
										rendered="#{conge.statut == 'workflow_status_init'}">
										<p:menuitem value="#{msg['share.btn2']}"
											oncomplete="PF('addCongeDialog').show()"
											update=":addCongeDialog" icon="ui-icon-pencil">
											<f:setPropertyActionListener value="#{conge}"
												target="#{congeBean.conge}" />
										</p:menuitem>
										<p:menuitem value="#{msg['share.btn4']}"
											update=":congeForm:congeListId" icon="ui-icon-close"
											oncomplete="PF('confirmation').show()">
											<f:setPropertyActionListener value="#{conge}"
												target="#{congeBean.conge}" />
										</p:menuitem>
										<p:menuitem value="#{msg['share.wrkflw.5']}"
											update=":congeForm:congeListId" icon="thumbs-up-icon"
											action="#{congeBean.updateCongeStatut('workflow_status_validated')}">
											<f:setPropertyActionListener value="#{conge}"
												target="#{congeBean.conge}" />
										</p:menuitem>
										<p:menuitem value="#{msg['share.wrkflw.6']}"
											update=":congeForm:congeListId" icon="thumbs-down-icon"
											action="#{congeBean.updateCongeStatut('workflow_status_rejected')}">
											<f:setPropertyActionListener value="#{conge}"
												target="#{congeBean.conge}" />
										</p:menuitem>
									</p:menuButton>
								</p:column>
								-->
							</p:dataTable>
						</p:panelGrid>
					</p:panelGrid>

				</h:panelGrid>
				<p:confirmDialog message="#{msg['Conge.M2']}" showEffect="explode"
					hideEffect="explode" header="#{msg['checktime.confirm.delete']}"
					severity="alert" widgetVar="confirmation">
					<p:commandButton value="#{msg['share.boolean.yes']}"
						action="#{congeBean.deleteConge}" update="@form"
						oncomplete="PF('confirmation').hide()"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="#{msg['share.boolean.no']}"
						onclick="PF('confirmation').hide()" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</p:confirmDialog>
			</h:form>
		</h:panelGrid>

		<p:overlayPanel id="searchPanel" widgetVar="searchPanelWidget"
			for=":congeForm:searchBtn" hideEffect="fade" my="right top">
			<h:form>
				<h:panelGrid columns="2">
					<p:inputText placeholder="#{msg['Collabo.search.L1']}"
						value="#{userBean.criteria.matriculeInf}"></p:inputText>
					<p:spacer></p:spacer>
					<p:inputText placeholder="#{msg['Collabo.search.L2']}"
						value="#{userBean.criteria.matriculeSup}"></p:inputText>
					<p:commandButton icon="ui-icon-check" update=":congeForm:dataTable"
						oncomplete="PF('searchPanelWidget').hide()" />
				</h:panelGrid>
			</h:form>
		</p:overlayPanel>

		<p:dialog id="addCongeDialog" widgetVar="addCongeDialog" width="470"
			header="#{msg['Conge.L3']}#{congeBean.user.nom}" resizable="true"
			showEffect="explode" hideEffect="explode">
			<h:form id="addCongeform">
				<p:panel id="panel">
					<p:growl id="growl"></p:growl>
					<h:panelGrid id="grid" columns="3" cellpadding="5"
						columnClasses=",label, value">
						<img
							src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
							alt="" />
						<p:outputLabel styleClass="mode" for="conge_debut"
							value="Date Debut :" />
						<p:calendar id="conge_debut" pattern="dd/MM//yyyy"
							value="#{congeBean.conge.dateDebut}" required="true"
							label="conge_date" />

						<img
							src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
							alt="" />
						<p:outputLabel styleClass="mode" for="conge_fin"
							value="Date Fin :" />
						<p:calendar id="conge_fin" pattern="dd/MM//yyyy"
							value="#{congeBean.conge.dateReprise}" required="true"
							label="conge_fin" />

						<img
							src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce_oblig.gif"
							alt="" />
						<p:outputLabel styleClass="mode" for="conge_motif" value="Motif :" />
						<p:selectOneMenu id="conge_motif" value="#{congeBean.typeConge}"
							converter="typeCongeConverter" effect="fold" required="true"
							panelStyle="width:250px">
							<f:selectItem itemLabel="Select One ..." itemValue="" />
							<f:selectItems value="#{congeBean.typesConge}" var="typeConge"
								itemLabel="#{typeConge.libelle}" itemValue="#{typeConge}" />
						</p:selectOneMenu>
					</h:panelGrid>
					<f:facet name="footer">
						<p:outputPanel layout="block" style="text-align:right">
							<p:commandButton value="Save"
								update=":congeForm:dataTable :addCongeform:growl"
								icon="ui-icon-disk" actionListener="#{congeBean.saveConge}"
								ajax="true"
								oncomplete="if (args &amp;&amp; !args.validationFailed) PF('addCongeDialog').hide()" />
							<p:commandButton value="Cancel"
								onclick="PF('addCongeDialog').hide()" type="button"
								icon="ui-icon ui-icon-close" />
						</p:outputPanel>
					</f:facet>
				</p:panel>
			</h:form>
		</p:dialog>


	</ui:define>
</ui:composition>