<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	
	<p:dialog header="AIDE - CONGÉS " widgetVar="helpDialog" modal="true" height="600px" width="80%">
	<link rel="stylesheet" type="text/css" href="../../../resources/css/HelpStyle.css"/>
	<div class="backColor">
		<div class="container">
			<div>
				<h2>Présentation</h2>
				<div>
					<li class="ListItem">
						Cette fonctionnalité permet de gérer les demandes de congés.
						Elle est accessible à partir du lien « Congés » dans le menu
						Suivi RH.
					</li>
					<div class="imageStyle">
						<img src="../../../resources/images/CON-HELP/CON-PRESENTATION.PNG" />
					</div>
					<div>
						<li class="ListItem">
							Les congés sont groupés par collaborateur, le tableau de liste contient les informations
							suivantes :
						</li>
						<ul>
							<li>Motif</li>
							<li>Date début</li>
							<li>Date reprise</li>
							<li>Nombre de jours</li>
							<li>Statut</li>
						</ul>
					</div>
					<div class="imageStyle">
						<img src="../../../resources/images/CON-HELP/CON-AFFICHAGE.PNG" />
					</div>
					<div>
						<p>
							Les congés sont groupés par collaborateur, le tableau de liste contient les informations
							suivantes :
						</p>
						<ul>
							<li>Demandés</li>
							<li>Rejetés</li>
							<li>Validés</li>
							<li>Effectués</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	</p:dialog>
	</ui:composition>