
/***********************/
body 				{	margin-top:3px; margin-left:3px; margin-right:0px; margin-bottom:0px; background:#ECF1F8;	  font-family : Tahoma, Arial, Helvetica, sans-serif; font-size : 11px;	  SCROLLBAR-FACE-COLOR: #FFFFFF; SCROLLBAR-HIGHLIGHT-COLOR: #B6B6B6;  SCROLLBAR-SHADOW-COLOR: #B6B6B6;  SCROLLBAR-3DLIGHT-COLOR: #FFFFFF;  SCROLLBAR-ARROW-COLOR: #000000;  SCROLLBAR-TRACK-COLOR: #ECF1F8; SCROLLBAR-DARKSHADOW-COLOR: #FFFFFF; }  
body.nomargin 		{	margin-top:0px; margin-left:0px; margin-right:0px; margin-bottom:0px; background:#ECF1F8;	  font-family : Tahoma, Arial, Helvetica, sans-serif; font-size : 11px; color:#000000;	}
body.nomargin-blanc 		{	margin-top:0px; margin-left:0px; margin-right:0px; margin-bottom:0px; background:#FFFFFF;	  font-family : Tahoma, Arial, Helvetica, sans-serif; font-size : 11px; color:#000000;	}

.barregrise  		{ 	font-weight: bold; color: #FFFFFF;	text-align: center; text-indent: 10pt;	background-image: url(#{resource['bitmap/navig/bg-gris.gif']}); background-repeat: repeat-x; height: 28px;}
.barrebleue 			{	color: #FFFFFF; text-indent: 10pt; background-image: url(#{resource['bitmap/navig/bg-banniere-bleue.gif']}); background-repeat: repeat-x; height: 21px; font-family:Tahoma; font-size:9px; text-align:right}
.barrebleuepoints 		{	background-image: url(#{resource['bitmap/navig/bg-banniere-bleue.gif']}); background-repeat: repeat-x;	height: 21px;}
/***********************/

/***********************/
.bt					{	 color: #000000; height:29px; width:40px; background-image:url(#{resource['bitmap/boutonstxt/bt-pix.gif']}); background-repeat:repeat-x; text-align:center; padding-left:5px; }	
.btblanc			{	 color: #000000; height:29px; width:40px; background-image:url(#{resource['bitmap/boutonstxtblanc/bt-pix.gif']}); background-repeat:repeat-x; text-align:center; padding-left:5px; }	
.btblue			{	 color: #000000; height:29px; width:40px; background-image:url(#{resource['bitmap/boutonstxt/bt-pix-blue.gif']}); background-repeat:repeat-x; text-align:center; padding-left:5px; }	



/***********************/
td.erreur			{	font-size:11px; font-weight: bold; background-image:url(#{resource['bitmap/navig/pix-erreur.gif']}); color:#FFFFFF; height:20px;}	
td.titre-moteur		{	font-size:11px; font-weight: bold; font-family:Tahoma; padding-left:8px; background-image:url(#{resource['bitmap/navig/top-moteur.gif']}); width:203px; height:21px; color:#FFFFFF;}	
td.txtsoustitre		{	color: #8AABD3; font-size:11px; font-weight: bold; font-family:Tahoma; padding-bottom:5px;}	
td.board			{ 	width:780px; height:56px; background-image:url(#{resource['bitmap/board/fournisseur-board.jpg']}); text-align:center; padding-right:10px; font-size:10px; font-weight:bold; color:#FFFFFF; text-transform:uppercase;	}
td.board-help		{ 	width:780px; height:56px; background-image:url(#{resource['bitmap/board/fournisseur-board-help.jpg']}); text-align:center; padding-right:10px; font-size:10px; font-weight:bold; color:#FFFFFF; text-transform:uppercase;	}
td.board-error		{ 	width:780px; height:56px; background-image:url(#{resource['bitmap/board/board-error.jpg']}); text-align:center; padding-right:10px; font-size:10px; font-weight:bold; color:#FFFFFF; text-transform:uppercase;	}
td.board-param		{ 	width:780px; height:56px; background-image:url(#{resource['bitmap/board/fournisseur-board-param.jpg']}); text-align:center; padding-right:10px; font-size:10px; font-weight:bold; color:#FFFFFF; text-transform:uppercase;	}
table 				{	font-family: Tahoma, Verdana, Arial; font-size: 11px; font-weight: normal; color: #000000;}
.barre-titre		{ 	color: #E6EEF8; font-family:Tahoma; font-size:10px; font-weight:bold; border-left:1px solid #A1BBDC; border-right:1px solid #A1BBDC; border-bottom:0px solid #FFFFFF; border-top:1px solid #A1BBDC; background-image:url(#{resource['bitmap/barre/bg-barre.gif']}); height:21px;  text-transform:uppercase; }	
.barre-titre-light	{ 	color: #0F3460; font-family:Tahoma; font-size:11px; font-weight:bold;  background-image:url(#{resource['bitmap/barre/bg-barre-light.gif']}); height:22px; }	
.barre-titre-nongras	{ 	color: #0F3460; font-family:Tahoma; font-size:11px;   background-image:url(#{resource['bitmap/barre/bg-barre-light.gif']}); height:22px; }	

.barre-titre-light-blanc	{ 	color: #2A64AC; font-family:Tahoma; font-size:11px; font-weight:bold;  background-image:url(#{resource['bitmap/barre/bg-barre-light-blanc.gif']}); height:24px; }	
.barre-titre-light-small { 	color: #0F3460; font-family:tahoma; font-size:9px; font-weight:bold;  background-image:url(#{resource['bitmap/barre/bg-barre-light.gif']}); height:22px; }	
.barre-titre-light-small-black { 	color: #000000; font-family:tahoma; font-size:10px; font-weight:normal;  background-image:url(#{resource['bitmap/barre/bg-barre-light.gif']}); height:33px; }	


td.tableau-nom		{	padding-left:5px; padding-right:5px;}	
td.tableau-nom-titre{	padding-left:5px; padding-right:5px;}
.boxtour-fournisseur{ 	color: #5D87BA;   border: 1px solid #A1BBDC; padding-left:5px; padding-right:5px; padding-top:2px; padding-bottom:2px; background-image:url(#{resource['bitmap/navig/pix-fourn.gif']}); color:#2B5991; text-indent:2px;}	
.boxtour-mail	 	{ 	color: #5D87BA; border: 1px solid #A1BBDC; padding-left:5px; padding-right:5px; padding-top:2px; padding-bottom:2px; background-image:url(#{resource['bitmap/navig/pix-mail.gif']}); height:36px; background-repeat:repeat-x;}	
.boxtour-workflow 	{ 	color: #5D87BA; border: 1px solid #A1BBDC; padding-left:5px; padding-right:5px; background-image:url(#{resource['bitmap/navig/pix-mail.gif']}); background-repeat:repeat-x;}
.boxtour-accueil 	{ 	color: #5D87BA; border: 1px solid #A1BBDC; padding-left:5px; padding-right:0px; background-image:url(#{resource['bitmap/navig/pix-accueil.gif']}); background-repeat:repeat-x; height:78px}


.boxtour-tableau	{  border: 1px solid #A1BBDC; background-image:url(#{resource['bitmap/navig/pix-mail.gif']}); background-repeat:repeat-x;}
.boxtour-tableau-nom	{ 	color: #5D87BA; background-image:url(#{resource['bitmap/navig/pix-mail.gif']}); background-repeat:repeat-x;  font-size:11px; font-family:Arial, Helvetica, sans-serif;}
<!-- .boxtour-tables 	{ 	color: #000000; border: 1px solid #A1BBDC; padding-left:5px; padding-right:5px; padding-top:2px; padding-bottom:2px;	background-color: #FFFFFF;}	 -->

.boxtour-tables 	{ 	color: #000000; border:1px solid #D5E1EF; border-right:1px solid #D5E1EF; border-bottom:1px solid #D5E1EF; border-top:1px solid #D5E1EF; padding-left:5px; padding-right:2px; }	
.boxtour-tables-large 	{ 	color: #000000; border:1px solid #D5E1EF; border-right:1px solid #D5E1EF; border-bottom:1px solid #D5E1EF; border-top:1px solid #D5E1EF; padding-left:2px; padding-right:2px; }	



.boxtour-empty 	{ 	color: #000000; border: 0px solid #A1BBDC; padding-left:1px; padding-right:1px; padding-top:2px; padding-bottom:2px;	background-color: #FFFFFF;}	



.boxtour-tables-small 	{ 	color: #000000; border: 1px solid #A1BBDC; padding-left:2px; padding-right:2px; padding-top:2px; padding-bottom:2px;	background-color: #FFFFFF;}	
.boxtour-rappel 	{ 	color: #000000; border: 1px solid #A1BBDC; padding-left:5px; padding-right:5px; padding-top:2px; padding-bottom:2px; text-indent:5px; background-color: #ECF3FC; font-size:11px; font-family:Arial, Helvetica, sans-serif}	
.boxtour-aide	 	{ 	color: #000000; border: 1px solid #A1BBDC; padding-left:5px; padding-right:5px; padding-top:2px; padding-bottom:2px;  background-color: #ECF3FC; font-size:11px; font-family:Arial, Helvetica, sans-serif}	
.boxtour-onglets 	{ 	color: #000000; border-left:1px solid #A1BBDC; border-right:1px solid #A1BBDC; border-bottom:1px solid #A1BBDC;  text-indent: 5px;	background-color: #FFFFFF;}	
.boxtour-sous-onglets 	{ 	color: #000000; border-left:1px solid #A1BBDC; border-right:1px solid #A1BBDC; border-bottom:1px solid #A1BBDC;  background-color: #FFFFFF;}	



.boxtour-center 	{ 	color: #000000; border:1px solid #D5E1EF; border-right:1px solid #D5E1EF; border-bottom:1px solid #D5E1EF; border-top:1px solid #D5E1EF; padding-left:5px; padding-right:2px; }	
.boxtour-iframe 	{ 	color: #000000; border:1px solid #D5E1EF; border-right:1px solid #D5E1EF; border-bottom:1px solid #D5E1EF; border-top:0px solid #D5E1EF; padding-left:4px; padding-right:4px; padding-top:2px; padding-bottom:2px; }	
.boxtour-barre 		{ 	color: #000000; background-color:#8AABD3; border-left:1px solid #2A64AC; border-right:1px solid #2A64AC; border-bottom:1px solid #2A64AC; border-top:1px solid #2A64AC;  text-indent: 5px;}	
.boxtour-board	 	{ 	color: #000000; border-left:1px solid #A1BBDC; border-right:1px solid #A1BBDC; border-bottom:1px solid #A1BBDC; border-top:0px solid #A1BBDC; padding-left:5px; padding-right:5px; padding-top:2px; padding-bottom:2px;	background-color: #FFFFFF;}	

/***********************/
.txtprofil			{	color: #142D4F; }	
.txtbluelight		{	color: #3466A3; }	
.txtblue			{	color: #0F3460; font-weight: bold; }	
.txtbig				{	color: #000000; font-size:13px; }	
.txtmedium			{	color: #000000; font-size:11px;}	
.txtsmall			{	color: #000000; font-size:10px; font-family:Tahoma,Arial, Helvetica, sans-serif }	
.txtsmallblue		{	color: #3466A3; font-size:10px;   }	

.txttitre			{	color: #3466A3; font-weight: bold; }	
.txttitre-upper			{	color: #3466A3; font-weight: bold; text-transform:uppercase}	

.txttitrefournisseur {	color: #2A64AC; font-weight: bold; font-size:12px; }	
.txttitre_section	{	color: #3466A3; font-size:15px; font-weight: bold; text-transform:uppercase; font-family:Arial, Helvetica, sans-serif; height:25px; vertical-align:middle;}	
.txttitre_rub		{	color: #000000; font-size:14px; font-weight: normal;  font-family:Arial, Helvetica, sans-serif}	
.alert 				{	color: #EE0D0D; font-weight: bold; }	
.ok 				{	color: #59D12A; font-weight: bold; }	
.mode				{	color: #6993C7; font-size:9px !important; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase; padding-right:5px; font-weight:bold;}	
.login				{ 	color:#9DB9DB; font-size:9px; text-align:right; padding-right:10px;}

/******************/
.onglet-sel 	 	{ 	color: #0F3460; font-family:Arial, Helvetica, sans-serif; font-size:10px; font-weight:bold; border-left:1px solid #A1BBDC; border-right:1px solid #A1BBDC; border-bottom:0px solid #FFFFFF; border-top:1px solid #A1BBDC; background-image:url(#{resource['bitmap/onglets/bg-onglet.gif']}); height:23px;  text-transform:uppercase; text-align:center; padding-bottom:1px;}	
.onglet-nonsel	 	{ 	color: #000000; font-family:Arial, Helvetica, sans-serif; border-left:1px solid #A1BBDC; border-right:1px solid #A1BBDC; border-bottom:1px solid #A1BBDC; border-top:1px solid #A1BBDC; background-image:url(#{resource['bitmap/onglets/bg-onglet.gif']}); height:22px;   text-transform:uppercase; text-align:center; background-repeat:repeat-x}	
.onglet-bg	 		{ 	background-image:url(#{resource['bitmap/onglets/bg-table-onglet.gif']}); height:21px;  }	
.onglet-bg-blanc	 		{ 	background-image:url(#{resource['bitmap/onglets/bg-table-sousonglet.gif']}); height:21px;  }	
.onglet-border	 	{ 	width:1px; background-color:#FFFFFF; }	
.onglet-center	 	{ 	font-family:Arial; font-size:10px; background-image:url(#{resource['bitmap/onglets/bg-onglet.gif']}); height:21px;  padding-left:5px; padding-right:5px; text-transform:uppercase; text-align:center }	
a.ong-sel:link  	{	color: #77A3D9; text-decoration:none; font-size:10px; font-family: Arial;  }
a.ong-sel:hover  	{	color: #0F3460; text-decoration:none;  font-size:10px; font-family: Arial;  }
a.ong-sel:active 	{	color: #77A3D9; text-decoration:none; font-size:10px;  font-family: Arial;  }
a.ong-sel       	{	color: #77A3D9; font-family: Arial;  font-size:10px; text-decoration:none;   }

/******************/
.pagination		 	{ 	color: #2A64AC; background-color:#EEF3F9; border-left:1px solid #DEE7F3; border-right:1px solid #DEE7F3; border-bottom:1px solid #DEE7F3; border-top:1px solid #D5E1EF; padding-left:5px; padding-right:5px;}	

/******************/
a.linkbarrenav:link   {	color: #ffffff; text-decoration: none; font-size:10px; text-transform:uppercase }
a.linkbarrenav:hover  {	color: #CFDCED; text-decoration: none ; font-size:10px; text-transform:uppercase }
a.linkbarrenav:active {	color: #CFDCED; text-decoration: none ; font-size:10px; text-transform:uppercase }
a.linkbarrenav        {	color: #ffffff; font-size:10px; font-weight: bold; text-decoration: none; text-transform:uppercase}
/******************/
a.linkbarrenavsel:link   {	text-transform:uppercase; color: #CFDCED; font-size:10px; font-weight: bold; text-decoration: none;}
a.linkbarrenavsel:hover  {	text-transform:uppercase;  color: #CFDCED; font-size:10px; font-weight: bold; text-decoration: none;}
a.linkbarrenavsel:active {	text-transform:uppercase;  color: #CFDCED; font-size:10px; font-weight: bold; text-decoration: none;}
a.linkbarrenavsel        {	text-transform:uppercase;  color: #CFDCED; font-size:10px; font-weight: bold; text-decoration: none; }
/******************/
/******************/
a.linkalert:link   {	color: #EE0D0D; font-weight: normal; text-decoration: none; text-decoration: underline}
a.linkalert:hover  {	color: #EE0D0D; font-weight: normal; text-decoration: none; }
a.linkalert:active {	color: #EE0D0D; font-weight: normal; text-decoration: none; text-decoration: underline }
a.linkalert        {	color: #EE0D0D; font-weight: normal; text-decoration: none; text-decoration: underline}
/******************/
a:link   	{	color: #2A64AC; font-size:11px; text-decoration: none; font-weight:bold}
a:hover  	{	color: #2A64AC;  text-decoration: underline ; font-weight:bold}
a:active 	{	color: #2A64AC;  text-decoration: none ; font-weight:bold}
a 			{	color: #2A64AC;  text-decoration: none; font-weight:bold}
/******************/
a.linkbouton:link   	{}
a.linkbouton:hover  	{text-decoration: none;}
a.linkbouton:active 	{}
a.linkbouton 			{}
/******************/
a.underline:link   	{text-decoration: underline;}
a.underline:hover  	{text-decoration: none ;}
a.underline:active 	{}
a.underline 		{text-decoration: underline;}
/******************/
a.linkgrey:link   	{	color: #595C5F; text-decoration: none; font-weight:normal}
a.linkgrey:hover  	{	color: #000000; text-decoration: underline ;font-weight:normal}
a.linkgrey:active 	{	color: #595C5F; text-decoration: none ;font-weight:normal}
a.linkgrey        	{	color: #595C5F; font-size:10px; text-decoration: none;font-weight:normal}

/******************/
a.linkblack:link   {	color: #000000; text-decoration: underline; font-weight: normal;}
a.linkblack:hover  {	color: #000000; text-decoration: none ; font-weight: normal;}
a.linkblack:active {	color: #000000; text-decoration: underline ; font-weight: normal;}
a.linkblack        {	color: #000000;  font-size:11px; font-weight: normal; text-decoration: underline;}
/******************/
a.linktreelight:link   {	color: #2768B7; font-weight: normal;}
a.linktreelight:hover  {	color: #FFFFFF; text-decoration: none; font-weight: normal;}
a.linktreelight:active {	color: #FFFFFF; font-weight: normal;}
a.linktreelight        {	color: #2768B7; font-weight: normal;}
/******************/
a.linktree:link   {	color: #000000; font-weight: normal;}
a.linktree:hover  {	color: #FFFFFF; font-weight: normal; text-decoration: none;}
a.linktree:active {	color: #FFFFFF;  font-weight: normal;}
a.linktree        {	color: #000000; font-weight: normal; text-decoration: none;}
/******************/
a.linkblanc:link   {	color: #ffffff; text-decoration: none; font-weight: normal;}
a.linkblanc:hover  {	color: #FFFFFF; text-decoration: none ; font-weight: normal;}
a.linkblanc:active {	color: #FFFFFF; text-decoration: none ; font-weight: normal;}
a.linkblanc        {	color: #ffffff; font-family: Tahoma, Verdana, sans-serif; font-size:11px; font-weight: normal; text-decoration: none;}

/*******************/
input    			{	border-style: solid; border-width:1px; border-color:#A8C5E7;  color: #000000; font-size:11px; font-family:Tahoma,Arial;}
input.blue   		{	border-style: solid; border-width:0px;  font-size:12px;}
input.small    			{	border-style: solid; border-width:1px; border-color:#A8C5E7;  color: #000000; font-size:10px; font-family:Tahoma,Arial;}

input.nonactive 	{	border: 1px #4C77AD; background-color: #F9F9F9; border-style: solid; color: #838383; font-weight:bold}
input.moteur	 	{	border: 1px #FFFFFF; background-color: #F6F6F6; border-style: solid; font-weight:normal; color:#000000; font-family:tahoma, arial; font-size:11px;}
textarea     		{	font-size:11px; font-family:Tahoma, Arial;}
select     			{	border: 1px #4C77AD; background-color: #F9F9F9; border-style: solid; color: #000000;font-size:11px;font-weight:normal;font-family:tahoma,arial;}
select.listemoteur	{	border: 1px #FFFFFF; background-color: #3B75BB; border-style: solid; font-weight:normal; color:#FFFFFF; font-family:tahoma, arial; font-size:11px;}
.noborder  			{	 border-style: solid; border-width:0px; }
.boutonsactionsbg 	{	background-image: url(#{resource['bitmap/navig/bg-boutons.gif']}); background-repeat: repeat; height: 29px; text-align:right;}	

/*******************/
.treeviewbg 		{	background-image: url(#{resource['bitmap/navig/bg-menu.gif']}); background-repeat: repeat-y; height: 100%; vertical-align:top;}	
.treelink			{	background-image: url(#{resource['bitmap/treeview/pix-link.gif']}); background-repeat: repeat-x; height: 22px; }	
.treefast			{	background-image: url(#{resource['bitmap/treeview/pix-link-fast.gif']}); background-repeat: repeat-x; height: 22px; }	
.treelinklight		{	background-image: url(#{resource['bitmap/treeview/pix-treeviewlight.gif']}); background-repeat: repeat-x; height: 21px; }	
.sectionbg 			{	background-image: url(#{resource['bitmap/navig/bg-section.gif']}); background-repeat: no-repeat; height:21px; padding-left:8px; color:#E6EEF8; width:203px; font-weight:bold; }
.sectionbg-div 			{	background-image: url(#{resource['bitmap/navig/bg-section-div.gif']}); background-repeat: no-repeat; height:21px; padding-left:8px; color:#ffffff; width:203px; font-weight:bold; }
.soussectionbg 		{	background-image: url(#{resource['bitmap/navig/bg-soussection.gif']}); background-repeat: no-repeat; height:21px; padding-left:10px; font:Tahoma; color:#000000; font-weight:bold;}
div 				{	font-family: tahoma,Arial;	font-size: 11px; } 

 .dropshadow 		{	FILTER: DropShadow(Color=#838487, OffX=1, OffY=1, Positive=1);}  
td.bg-moteur		{	font-family:Tahoma; background-image:url(#{resource['bitmap/navig/bg-moteur-2.gif']}); width:203px; height:70px; color:#FFFFFF;}	



/*******************/
.templ-top 			{	height:51px; vertical-align:top;}
.templ-left			{	width:203px; vertical-align:top; background-image: url(#{resource['bitmap/navig/bg-menu.gif']});}	
.templ-right		{	width:100%; vertical-align:top; text-align:center;}
.separateur  		{	background-image: url(#{resource['bitmap/navig/separateur.gif']}); background-repeat: no-repeat; height: 28px; width:3px;} 
.txtsoustitre		{	color: #8AABD3; font-size:11px; font-weight: bold; font-family:Tahoma; padding-bottom:5px; background-color:#ECF1F8; padding-right:10px;}	
.templ-main			{	vertical-align:top; text-align:center; height:50px;}	
.templ-item			{	height:25px;}	
.templ-separ		{	height:1px; background-color:#D5E1EF;}	
.templ-separ-nav	{	height:1px; background-color:#B8CBE2;}	
.templ-item-nav		{	height:22px;}	
.templ-item-nav-box { 	padding-left:2px; padding-right:2px; padding-top:2px; padding-bottom:2px; background-image:url(#{resource['bitmap/navig/pix-fourn.gif']}); color:#2B5991; text-indent:2px; border: 1px solid #517EB5; border-bottom:1px solid #6993C7;}	
.templ-item-nav-frame { 	 color:#2B5991; background-color:#D5E1EF; }	

.templ-bg			{	background-color:#ECF1F8}	
.templ-br-tab		{ 	color: #0F3460; font-family:Tahoma; font-size:11px; font-weight:bold;  background-image:url(#{resource['bitmap/barre/bg-barre-light.gif']}); height:22px; font-weight:bold; }	
.templ-br-tab-separ	{ 	width:1px; color: #0F3460; font-family:Tahoma; font-size:11px; font-weight:bold;  background-image:url(#{resource['bitmap/barre/bg-barre-light-separ.gif']}); background-repeat:no-repeat; height:22px; }	
.templ-separ-pt		{	width:1px; background-image:url(#{resource['bitmap/navig/separ-pt.gif']}); background-repeat:no-repeat; background-position:center;}	
.templ-icons			{   text-align:center; height:27px; width:40px; }	
.templ-titre-section	{	color: #3466A3; font-size:15px; font-weight: bold; text-transform:uppercase; font-family:Arial, Helvetica, sans-serif; height:30px; vertical-align:middle;}	
.templ-txt-small	{	font-size:10px; font-family:Verdana,Arial, Helvetica, sans-serif; }	
.form-label         {	text-align: left;}
.panelGrid-top 		{	vertical-align:top;}
.panelGrid-low 		{	vertical-align:bottom;}
.leftRowColor		{	background-color: #EE0D0D;}





/******************/
.sousonglet-sel 	 	{ 	color: #FFFFFF; font-family:Arial, Helvetica, sans-serif; font-size:10px; font-weight:bold; border-left:1px solid #A1BBDC; border-right:1px solid #A1BBDC; border-bottom:0px solid #FFFFFF; border-top:1px solid #A1BBDC; height:23px;   background-image:url(#{resource['bitmap/sousonglets/bg-onglet.gif']});   text-transform:uppercase; text-align:center; padding-bottom:1px;}	
.sousonglet-nonsel	 	{ 	color: #000000; font-family:Arial, Helvetica, sans-serif; border-left:1px solid #A1BBDC; border-right:1px solid #A1BBDC; border-top:1px solid #A1BBDC; background-image:url(#{resource['bitmap/sousonglets/bg-onglet-nonsel.gif']}); height:21px;   text-transform:uppercase; text-align:center; background-repeat:repeat-x}	
.sousonglet-bg	 		{ 	background-image:url(#{resource['bitmap/sousonglets/bg-table-onglet.gif']}); height:22px;  }	
.sousonglet-border	 	{ 	width:1px; background-image:url(#{resource['bitmap/sousonglets/bg-border.gif']});}	
.sousonglet-border-nonsel	 	{ 	width:1px; background-image:url(#{resource['bitmap/sousonglets/bg-border-nonsel.gif']});}	

.sousonglet-center	 	{ 	font-family:Arial; font-size:10px; background-image:url(#{resource['bitmap/sousonglets/bg-onglet.gif']}); height:21px;  padding-left:5px; padding-right:5px; text-transform:uppercase; text-align:center }	
.sousonglet-center-nonsel	 	{ 	font-family:Arial; font-size:10px; background-image:url(#{resource['bitmap/sousonglets/bg-onglet-nonsel.gif']}); height:21px;  padding-left:5px; padding-right:5px; text-transform:uppercase; text-align:center }	


a.sousong-sel:link  	{	color: #77A3D9; text-decoration:none; font-size:10px; font-family: Arial;  }
a.sousong-sel:hover  	{	color: #0F3460; text-decoration:none;  font-size:10px; font-family: Arial;  }
a.sousong-sel:active 	{	color: #77A3D9; text-decoration:none; font-size:10px;  font-family: Arial;  }
a.sousong-sel       	{	color: #77A3D9; font-family: Arial;  font-size:10px; text-decoration:none;   }

.barre-so {
	font-weight: bold; color: #FFFFFF; text-transform:uppercase;	
	background-image:url(#{resource['bitmap/navig/bg-barre-so.gif']}); height:23px; text-indent: 10px; ;	color: #E6EEF8; font-family:Tahoma; font-size:10px;
	}		
	
.ui-label {
 display: block;
 padding: 5px;
}

/*****************************/
/**** Pointage Style *********/
.validated {
	background-color: #5cb85c;
	border-radius: 10px;
}

.elapsed {
	background-color: #eb5858;
	border-radius: 10px;
}

.mouvement {
	background-color: #0095ff;
	border-radius: 3px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 1px;
	color: white;
}

.retard {
	background-color: #ffd27e;
	border-radius: 3px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 1px;
	color: white;
}

.absence {
	background-color: #f96464;
	border-radius: 3px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 1px;
	color: white;
}

.conge {
	background-color: #8ac300;
	border-radius: 3px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 1px;
	color: white;
}

.label-override {
	text-align: left;
	font-weight: bold;
	vertical-align: super;
}


.label-arrow:before {
	content: url(/checktime-web/resources/bitmap/navig/puce_oblig.gif);
	margin-left: -18px;
	margin-right: 4px;
}