html {
	margin: 0em;
	padding: 0em;
}

body {
	background-color: #fff;
	color: #000;
	text-align: left;
	font-size: 12pt;
}

#top, #menu, .lien, ul {
	display: none;
}

#texte {
	background: transparent;
	float: none;
	width: 100%;
	text-align: justify;
	}

#bas {
	text-align: center;
	font-weight: bold;
}

#bas a {
	background: inherit;
	color: #000;
}
table {font-family: Tahoma, Verdana, Arial; font-size: 11px; font-weight: normal; color: #000000;}
.boxtour {border: 1px solid #CCCCCC; text-indent: 5px;}	
