<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">CHECK ACCESS</ui:define>
	
	<ui:define name="body">
		<h:form id="form">
		<p:growl id="growl" showDetail="true" sticky="true" />  
		<!-- Table contenant les tableaux d'onglets-->
		<table width="1000" border="0" cellspacing="0" cellpadding="0"
			class="onglet-bg">
			<tr>
				<td width="200">
					<!-- Onglet selectionné -->
					<table border="0" cellpadding="0" cellspacing="0"
						class="onglet-sel">
						<tr>
							<td class="onglet-border"></td>
							<td class="onglet-center">Contrôle d'accès</td>
							<td class="onglet-border"></td>
						</tr>
					</table> <!-- Fin Onglet selectionné -->

				</td>
				<td>
					<!-- Onglet non selectionné --> <!-- Fin Onglet non selectionné -->
				</td>			<td>&nbsp;</td>
			</tr>
		</table>
		<p:remoteCommand name="ajouter_dispo" action="#{checkaccessBean.ajouter_dispo}" />
		<p:remoteCommand name="modifier_dispo" action="#{checkaccessBean.modifier_dispo}" />
		<p:remoteCommand name="charger_dispo" action="#{checkaccessBean.charger_dispo}" update=":dispoDialog"/>
		<p:remoteCommand name="fermer_dispo" action="#{checkaccessBean.fermer_dispo}" />
		<p:remoteCommand name="init_dispo" action="#{checkaccessBean.init_dispo}" />
		<p:remoteCommand name="clean_portes" action="#{checkaccessBean.clean_portes}" />
		<p:remoteCommand name="details_dispo" action="#{checkaccessBean.details_dispo}" />
		
		<!-- Contenu principal -->
		<!-- Le cellspacing de 10 sert à créer les marges  -->
		<table width="1000" style="height:600px" border="0" cellpadding="0" cellspacing="10"
			class="boxtour-onglets"
			align="center">
			
			<tr>
				<td class="templ-main" width="25%" rowspan="2">
					<p:tree value="#{unitBean.treeNode}" var="noeud" id="tree"
					selectionMode="single"
            		selection="#{checkaccessBean.selectedNode}"
            		expanded="true"
            		style="text-align:left">
            <p:ajax event="select" listener="#{checkaccessBean.onNodeSelect}" update=":form:principale :dispoDialog" />
        				<p:treeNode id="treeNode">
            				<h:outputText value="#{noeud.libelle}" id="libelle"/>
        				</p:treeNode>
    				</p:tree>
    				<br/>
    				<p:outputPanel id="details">
    				Détails du dispositif :
    				<p:outputPanel id="details_corp">
    				<h:panelGrid  columns="2" cellpadding="5">  
    					<h:panelGroup style="display:block; text-align:right"><p:outputLabel styleClass="mode" value="Dispositif :"/></h:panelGroup>
                		<p:outputLabel value="Success" />
                		
   						<h:panelGroup style="display:block; text-align:right"><p:outputLabel styleClass="mode" value="Adresse MAC :"/></h:panelGroup>
                		<p:outputLabel value="A4:F2:E9:F3" /> 
                		
                		<h:panelGroup style="display:block; text-align:right"><p:outputLabel styleClass="mode" value="Numero Série :"/></h:panelGroup>
                		<p:outputLabel value="61562515261" /> 
                		
                		<h:panelGroup style="display:block; text-align:right"><p:outputLabel styleClass="mode" value="Version :"/></h:panelGroup>
                		<p:outputLabel value="3.7" />
                		
                		<h:panelGroup style="display:block; text-align:right"><p:outputLabel styleClass="mode" value="Etat de la porte :"/></h:panelGroup>
                		<p:outputLabel value="Not Exist" /> 
                		
                		<h:panelGroup style="display:block; text-align:right"><p:outputLabel styleClass="mode" value="Porte :"/></h:panelGroup>
                		<p:commandButton id="ouvrirPorte" value="Ouvrir la porte" icon="ui-icon-key"  style="width:130px;" action="#{checkaccessBean.ouvrir_porte}"/>
                		
                		<h:panelGroup style="display:block; text-align:right"><p:outputLabel styleClass="mode" value="Utilisateurs :"/></h:panelGroup>
                		<p:commandButton id="listerUtilisateurs" value="Lister" icon="ui-icon-note"  style="width:130px;" oncomplete="PF('utilisateurs').show()"/>
                		
                		<h:panelGroup style="display:block; text-align:right"><p:outputLabel styleClass="mode" value=""/></h:panelGroup>
                		<p:commandButton id="clear_logs" value="Effacer mouvements"  icon="ui-icon-transfer-e-w" action="#{checkaccessBean.clear_logs}" style="width:130px;"/>	
        	
                		<h:panelGroup style="display:block; text-align:right"><p:outputLabel styleClass="mode" value="Terminal :"/></h:panelGroup>
                		<p:commandButton id="verouillerTerminal" value="Verouiller" icon="ui-icon-locked"  style="width:130px;" action="#{checkaccessBean.verouiller_porte}"/>
                		
                		<h:panelGroup style="display:block; text-align:right"><p:outputLabel styleClass="mode" value=""/></h:panelGroup>
                		<p:commandButton id="deverouillerTerminal" value="Deverouiller" icon="ui-icon-unlocked" style="width:130px;" action="#{checkaccessBean.deverouiller_porte}"/>
                		
                		
                		
                		<h:panelGroup style="display:block; text-align:right"><p:outputLabel styleClass="mode" value=""/></h:panelGroup>
                		<p:commandButton id="eteindreTerminal" value="Eteindre" icon="ui-icon-stop"  style="width:130px;" action="#{checkaccessBean.eteindre_terminal}"/>
                		
                		
                		
            			
                   	</h:panelGrid>
                   	</p:outputPanel>
    				</p:outputPanel>
				</td>
				<td valign="top" >
				<p:outputPanel id="principale">
				<p:toolbar style="height:25px;">
    					<p:toolbarGroup align="left" id="boutons">
        					<p:commandButton id="btn_modifier" value="Editer" icon="ui-icon-pencil" rendered="#{!empty checkaccessBean.has_plan}"/>
        					<p:commandButton id="btn_save" value="Valider" icon="ui-icon-disk" style="display:none;"/>	   					
        				</p:toolbarGroup>	
        				
        				<p:toolbarGroup align="right">
<!--         					<h:outputText id="mode" value="Mode Affichage"/> -->
        					<p:commandButton id="btn_ajt_plan" value="Ajouter plan"  icon="ui-icon-plus" rendered="#{empty checkaccessBean.has_plan}" oncomplete="PF('planDialog').show()"/>	
        					<p:commandButton id="btn_chng_plan" value="Changer plan"  icon="ui-icon-transfer-e-w" rendered="#{!empty checkaccessBean.has_plan}" oncomplete="PF('planDialog').show()"/>	
        					
        				</p:toolbarGroup>
    			</p:toolbar>
<!-- 				<h:outputText id="selected" value="#{checkaccessBean.selectedNode}" /> -->
				
				<p:outputPanel layout="block" style="border:1px solid #666666;">
				 	<h:graphicImage id="porte" value="../../resources/images/door.png" style="opacity:0.5;" />	 	
				 </p:outputPanel>
				 
				 <p:outputPanel layout="block" id="pic" style="width:#{checkaccessBean.plan_width}px;height:#{checkaccessBean.plan_height}px;box-shadow:1px 1px 10px red;margin-top:10px;margin-left:auto;margin-right:auto;background: white url(#{facesContext.externalContext.requestContextPath}/upload/#{checkaccessBean.has_plan}) no-repeat center center;" rendered="#{!empty checkaccessBean.has_plan}">
					<ui:repeat var="pr" value="#{checkaccessBean.portes}" >
					<img id="dispo#{pr.terminal.id}_#{pr.id}" src="../../resources/images/door.png" alt="" style="opacity: 1; left: #{pr.posx}px; top: #{pr.posy}px; position: absolute;cursor:pointer;" />
<!-- 					dispo#{pr.terminal.id}_#{pr.id} -->
<!-- 					<p:tooltip for="form:pic:dispo#{pr.terminal.id}_#{pr.id}" value="Porte ! "   -->
<!--                showEvent="focus" hideEvent="blur"/> -->
					</ui:repeat>

					
				</p:outputPanel>
				
				</p:outputPanel>
				</td>
			</tr>
		</table>
		</h:form>
		<p:dialog id="planDialog" header="Plan de l'unité" showEffect="fade" widgetVar="planDialog" resizable="true" modal="true"> 
	    	<h:form id="planDialogForm" enctype="multipart/form-data"> 
	        <p:outputPanel id="unitPanel">  
	            <h:panelGrid  columns="2" cellpadding="5">  
	                <h:panelGroup style="display:block; text-align:left"><p:outputLabel styleClass="mode" for="plan" value="Plan de l'unité :"/></h:panelGroup>
                    <p:fileUpload id="plan" mode="advanced" oncomplete="PF('planDialog').hide()" fileUploadListener="#{checkaccessBean.upload}" update=":form:principale" allowTypes="/(\.|\/)(jpg|png|bmp)$/" sizeLimit="100000" description="Selectionez le plan de l'unité"/>  
                 </h:panelGrid>  
	            <p:messages id="messages2" autoUpdate="true" closable="true" showSummary="true" redisplay="false" />
<!-- 	            <h:panelGroup style="display:block; text-align:right"><p:commandButton value="Valider" action="#{checkaccessBean.upload}" oncomplete="PF('planDialog').hide()" update=":form:principale" icon="ui-icon-check"/></h:panelGroup> -->
 	        </p:outputPanel>
	        </h:form>
	    </p:dialog>
	    
	    <p:dialog id="dispoDialog" widgetVar="dispositif" header="Unité : #{checkaccessBean.selectedUnit}" showEffect="fade" modal="true" closable="false" 
          closeOnEscape="false" style="z-index:99999;">
			<h:form id="dispoForm">
			<p:outputPanel id="pointPanel">  
	            <h:panelGrid  columns="2" cellpadding="5">  
	            
	            <h:panelGroup style="display:block; text-align:left"><p:outputLabel styleClass="mode" for="dispo" value="Dispositif :"/></h:panelGroup>
					<h:selectOneMenu id="dispo" value="#{checkaccessBean.id_dispo}">
   					<f:selectItems value="#{checkaccessBean.dispobyunit}" var="c"
   					itemLabel="Code : #{c.code}" itemValue="#{c.id}" />
   					</h:selectOneMenu>	
   					
   				<h:panelGroup style="display:block; text-align:left"><p:outputLabel styleClass="mode" for="posx" value="Position X :"/></h:panelGroup>
                <p:inputText required="true" id="posx" disabled="true" /> 
                    
                <h:panelGroup style="display:block; text-align:left"><p:outputLabel styleClass="mode" for="posy" value="Position Y :"/></h:panelGroup>
                <p:inputText required="true" id="posy" disabled="true" /> 
                
                <p:commandButton id="vld_dispo" value="Valider" icon="ui-icon-document"  />
        		<p:commandButton id="annuler_dispo" value="Annuler" icon="ui-icon-document"  />
        		
                
                
				</h:panelGrid>
			</p:outputPanel>
			</h:form>
		</p:dialog>
		
		<p:dialog id="userDialog" widgetVar="utilisateurs" header="Liste des utilisateurs" showEffect="fade" modal="true">
			<!-- <h:form id="userForm">
				<p:dataTable var="user" value="#{checkaccessBean.terminal_details.utilisateurs}" style="width:500px;">
        			<f:facet name="header">
            			Utilisateurs de la terminal
        			</f:facet>
        			<p:column style="width:16px">
            			<p:rowToggler />
       				</p:column>
        			<p:column headerText="Nom">
            			<h:outputText value="#{user.nom}" />
        			</p:column>
        			<p:column headerText="Fonction">
            			<h:outputText value="#{user.fonction}" />
        			</p:column>
        			<p:column headerText="Autorisation">
            			<h:outputText value="#{user.autorisation}" />
        			</p:column>
        			
        			<p:rowExpansion>
        				<p:dataTable var="log" value="#{user.mouvements}" emptyMessage="Aucun pointage pour cet utilisateur !">
        					<p:column headerText="Mouvement" sortBy="#{log}" filterBy="#{log}" filterMatchMode="contains">
            					<h:outputText value="#{log}" >
            						<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" timeZone="#{checkaccessBean.timeZone}"/>
            					</h:outputText>
        					</p:column>
        				</p:dataTable>
        			</p:rowExpansion>
        		</p:dataTable>
        					
			</h:form>
				 -->
		</p:dialog>
		
<h:outputScript target="head">
    // Add the $() function
    $ = jQuery;
$(document).ready(function(){

	compteur=0;
	$('.ui-treenode-children').css("display","block");
	$(document.getElementById('form:details')).addClass("ui-widget-content ui-corner-all");
	

	$('body').on('click','[id$=vld_dispo]',function(){
		objet="#clone"+compteur;
		$(objet).attr("id","dispo"+$(document.getElementById('form:dispo')).val()+"_"+compteur);
		fermer_dispo();
	});
	
	$('body').on('click','[id$=annuler_dispo]',function(){
		objet="#clone"+compteur;
		$(objet).remove();
		fermer_dispo();
	});
	// Fonction de la porte draggable, ainsi que les portes apres qu'ils soient glissés + gérer les positions et leur envois au serveur
	function porte_draggable()
	{
		$('[id$=porte]').draggable({
			disabled:true,
			helper:'clone',
			containment:'pic',
			stop:function(event,ui){
				var pos=$(ui.helper).offset();
				objet="#clone"+compteur;
				$(objet).css({"left":pos.left,"top":pos.top,"position":"absolute"});
				$(objet).context.src="test.jpg";
				charger_dispo();
				$(document.getElementById('form:posx')).val(pos.left);
				$(document.getElementById('form:posy')).val(pos.top);
				
				console.log('nouveau objet : '+objet);
				console.log(pos.left);
           	 	console.log(pos.top);
            	//ajouter_dispo([{name:'id',value:objet},{name:'posx',value:pos.left},{name:'posy',value:pos.top}]);
			
            	$(objet).draggable({
            		containment: 'parent',
                	stop:function(event, ui) {
                		var pos=$(ui.helper).offset();
                		console.log('changement position : #'+$(this).attr("id"));
						console.log(pos.left);
                    	console.log(pos.top);
                    	//modifier_dispo([{name:'id',value:$(this).attr("id")},{name:'posx',value:pos.left},{name:'posy',value:pos.top}]);
					
                	}
            	});
			}
		});
	}
	porte_draggable();

	// Fonction du div "droppable", ou les composants sont glissés, fonction : créer des clones de l'objet glissé
	function image_droppable(){
		$(document.getElementById('form:pic')).droppable({
			drop:function(event,ui){
				if ($(ui.draggable).attr('id').search(/porte/) != -1){
				compteur++;
				var element=$(ui.draggable).clone().attr("id","clone"+compteur);
				$(this).append(element);
				}
			}
		
		
		});
	}
	
	image_droppable();

	
	$('body').on('click','[id$=btn_modifier]',function(){
		$(document.getElementById('form:btn_save')).css("display","block");
		$(this).css("display","none");
		$(document.getElementById('form:mode')).text("Mode Edition");

		// Tester si la porte est draggable ( apres l'update la possibilité du drag disparait)
		if (! $('[id$=porte]').data('uiDraggable')) porte_draggable();
		$('[id$=porte]').draggable("enable");
		$(document.getElementById('form:pic')).css("box-shadow","1px 1px 10px green");
		$('#form\\:porte').css("opacity","1");

		$.each($('[id^=dispo]'),function(index,value){
			if(value.tagName =='IMG'){
			$("#"+value.id).draggable({
				containment :'parent'
			});
			}
		});

		// Tester si l'image est droppable ( apres l' update, la possibilité du drop disparait)
		if(! $(document.getElementById('form:pic')).data('uiDroppable')) image_droppable();
	});
	
	$('body').on('click','[id$=btn_save]',function(){
		
		init_dispo();
		clean_portes();
		$.each($('[id^=dispo]'),function(index,value){
			if(value.tagName =='IMG'){
			console.log(value.id);
			var x = $("#"+value.id).css("left");
			var y =$("#"+value.id).css("top");
			ajouter_dispo([{name:'id',value:value.id},{name:'posx',value:x},{name:'posy',value:y}]);
			$("#"+value.id).draggable('disable');
			}
		});
		
		$(document.getElementById('form:btn_modifier')).css("display","block");
		$(this).css("display","none");
		$(document.getElementById('form:mode')).text("Mode Affichage");
		$('#form\\:porte').draggable("disable");
		$(document.getElementById('form:pic')).css("box-shadow","1px 1px 10px red");
		$('#form\\:porte').css("opacity","0.5");
		//$("[id^='clone']").draggable("disable");
	});

	$('body').on('click','[id^=dispo]',function(){
		if($(this).context.tagName=='IMG')
		{
		details_dispo([{name:'id_dispo',value:$(this).context.id.split('_')[0].substring(5)}]);
		//$(document.getElementById('form:details_corp')).text("En cours ...");
		$(document.getElementById('form:details_corp')).html('<br/><br/><img src="../../resources/bitmap/barre/ajaxloadingbar.gif" alt="En cours..." /><br/><br/>');
		
		}

	});


});
</h:outputScript>
		
		
	</ui:define>

</ui:composition>
