<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xml:lang="en">
<h:head>
	<SCRIPT LANGUAGE="javascript">
	<!--
		//PLF-http://www.jejavascript.net/
		window.moveTo(0, 0)
		window.resizeTo(screen.width, (screen.height - 25))
	//-->
	</SCRIPT>
	<script type="text/javascript">
		function submitMe() {

			document.getElementById("iform").submit();
		}
		function checkInput(event) {

			if (!event)
				event = window.event;
			var e = event.keyCode;

			if (e == 13) {
				submitMe();
			}
			return;
		}
	</script>
	<h:outputStylesheet library="inc" name="style.css" />
	<h:outputScript name="scripts.js" library="inc" target="head" />
</h:head>
<body>
	Expired License
</body>
</html>
