<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Page d'authentification</title>
</h:head>

<h:body>
	<!-- header -->

	<header> <ui:insert name="header">
		<ui:include src="/templates/commHeader1.xhtml" />
	</ui:insert> </header>
	<!-- / header -->
	<!-- content -->
	<c:if test="#{loginBean.erreur}">

		<div class="errorblock">
			<h:messages layout="table" />
		</div>
	</c:if>





	<div id="login">
		<h:form prependId="false">
			<p:panel header="Authentification" id="log">

				<p:layout style="width:500px;height:250px" id="lay1">

					<p:layoutUnit position="west" size="70" style="padding-top:13%;">
						<h:graphicImage name="cadena.png" library="images" />
					</p:layoutUnit>

					<p:layoutUnit position="center" id="l1center">
						<h:panelGrid columns="2" cellpadding="12">

							<h:outputLabel value="Identifiant" />
							<p:inputText required="true" label="Identifiant" id="j_username" />

							<h:outputLabel value="Mot de pass" />
							<p:password required="true" label="Mot de passe" id="j_password" />

							<h:outputLabel value="" />
							<h:column>
								<h:selectBooleanCheckbox label="remembre me"
									id="_spring_security_remember_me" />
								<h:outputLabel value="Rester connecté ?" />
							</h:column>

						</h:panelGrid>

					</p:layoutUnit>

					<p:layoutUnit position="south" size="50">

						<h:commandButton action="#{loginBean.doLogin}" id="bt1"
							styleClass="ui-button  ui-corner-all  ui-state-default"
							onmouseover="this.className='ui-button ui-corner-all  ui-state-default ui-state-hover'"
							onmouseout="this.className='ui-button ui-corner-all  ui-state-default'"
							image="/resources/images/bt1.png" />

					</p:layoutUnit>

				</p:layout>

			</p:panel>

		</h:form>
	</div>

	<!-- / content -->

	<!-- footer -->
	<footer> </footer>
	<!-- / footer -->


</h:body>

</html>

