<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xml:lang="en">
<h:head>
	<SCRIPT LANGUAGE="javascript">
	<!--
		//PLF-http://www.jejavascript.net/
		window.moveTo(0, 0)
		window.resizeTo(screen.width, (screen.height - 25))
	//-->
	</SCRIPT>
	<script type="text/javascript">
		function submitMe() {

			document.getElementById("iform").submit();
		}
		function checkInput(event) {

			if (!event)
				event = window.event;
			var e = event.keyCode;

			if (e == 13) {
				submitMe();
			}
			return;
		}
	</script>
	<h:outputStylesheet library="inc" name="style.css" />
	<h:outputScript name="scripts.js" library="inc" target="head" />
</h:head>
<body>
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<form id="iform" method="post" action="${request.contextPath}/j_acegi_security_check">
			<table width="100%" border="0" cellpadding="0" 
				cellspacing="0">
				<tr>
					<td align="center"><table width="425" border="0"
							align="center" cellpadding="0" cellspacing="0">
							<tr>
								<td><img
									src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/login/log-top.gif" /></td>
							</tr>
							<tr>
								<td><img
									src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/login/log-degrad-top.gif" /></td>
							</tr>
							<tr>
								<td height="75"
									background="#{facesContext.externalContext.requestContextPath}/resources/bitmap/login/log-pix.gif"><table
										width="92%" border="0" align="center" cellpadding="0"
										cellspacing="0">
										<tr>
											<td width="86" valign="top"><img
												src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/login/logo.gif" /></td>
											<td width="305" colspan="2" class="txttitre"><table
													width="100%" border="0" align="right" cellpadding="0"
													cellspacing="0">
													<tr valign="top">
														<td height="30" colspan="2" class="txttitre">Veuillez
															vous identifier :</td>
														<td height="25" class="txttitre">&nbsp;</td>
													</tr>
													<tr>
														<td width="42%" height="30" valign="top"><img
															src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/login/log-puce.gif"
															align="absmiddle" /> #{msg['Login.L1']}</td>
														<td width="40%" valign="top"><h:inputText id="j_username" 
																value="#{authenticationBean.login}" tabindex="1" accesskey="I"
																maxlength="80" size="40" style="float:left;width:95%" /></td>
														<td width="18%" rowspan="2" align="right"><a href="#"
															onClick="javascript:submitMe();"><img
																src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/boutonsactions/bt-ok.gif"
																border="0" /></a></td>
													</tr>
													<tr valign="top">
														<td valign="top"><img
															src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/login/log-puce.gif"
															align="absmiddle" /> #{msg['Login.L2']}</td>
														<td valign="top"><h:inputSecret id="j_password"
																value="#{authenticationBean.password}"
																tabindex="2" size="40" maxlength="80" accesskey="M"
																onkeypress="checkInput(event);" redisplay="true"
																style="float:left;width:95%" /></td>
													</tr>
												</table></td>
										</tr>
									</table></td>
							</tr>
							<tr>
								<td
									background="#{facesContext.externalContext.requestContextPath}/resources/bitmap/login/log-pix.gif"><img
									src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/login/log-degrad-bot.gif" /></td>
							</tr>
							<tr>
								<td><img
									src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/login/log-bot.gif" /></td>
							</tr>
							<tr>
								<td height="25" class="login">Copyright &nbsp; NAWAR-IT
									2013</td>
							</tr>
						</table></td>
				</tr>
			</table>
		</form>
</body>
</html>
