<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">   #{msg['Horaire.titre']}</ui:define>

	<ui:define name="body">
		<h:form id="form">

			<p:tabView id="tabView" dynamic="true" cache="true">
				<p:tab id="tba1" title="Informations">

					<h:panelGrid id="detail" columns="2" styleClass="grid"
						columnClasses="label,value">
						<h:outputText value="Libelle :" />
						<h:inputText id="planning_libelle"
							value="#{planningBean.planningCycl.libelle}" required="false"
							label="planning_libelle" />
						<h:outputText value="Date debut :" />
						<h:inputText id="planning_dateDebut"
							value="#{planningBean.planningCycl.dateDebut}" required="false"
							label="planning_datedebut" />
						<h:outputText value="Periodicite :" />
						<h:inputText id="planning_periodicite"
							value="#{planningBean.planningCycl.periodicite}" required="false"
							label="planning_periodicite" />
						<h:outputText value=" Metier :" />
						<h:selectBooleanCheckbox id="planning_metier"
							value="#{planningBean.planningCycl.metier}" required="false"
							label="planning_metier" />

					</h:panelGrid>
				</p:tab>
				<p:tab id="tba2" title="Ajouter une Periode">

					<h:panelGrid id="detailPerdiode" columns="2" styleClass="grid"
						style="margin-left:30px;" columnClasses="label,value">
						
						<h:outputText value="Debut :" />
						<h:inputText id="horaire_debut"
							value="#{planningBean.periode.horaire}" required="false"
							label="horaire_debut">
						</h:inputText>
						
						<h:outputText value="Nombre de jours :" />
						<h:inputText id="nombre_jours"
							value="#{planningBean.periode.nbreJr}" required="false"
							label="nombre_jours" />
					</h:panelGrid>

					<p:commandButton image="save" ajax="false"
						action="#{planningBean.addPeriodeToList}" update=":periodListId"
						style="margin-left:450px;margin-top:25px" value="Ajouter" />
				</p:tab>
				<p:tab id="periods" title="Periodes">

					<p:growl id="messages" showDetail="true" />
					<p:dataTable var="period" value="#{planningBean.periodList}"
						id="periodListId" editable="true">

						<f:facet name="header">Liste des Periodes</f:facet>

						<p:ajax event="rowEdit" listener="#{planningBean.onEdit}"
							update=":form:tabView:periodListId" />
						<p:ajax event="rowEditCancel" listener="#{planningBean.onCancel}"
							update=":form:tabView:periodListId" />

						<p:column headerText="Planning" style="width:30%">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{periode.horaire}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText value="#{periode.horaire}" style="width:100%" />
								</f:facet>
							</p:cellEditor>
						</p:column>
						<p:column headerText="Nombre jours" style="width:20%">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{periode.nbreJr}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText value="#{periode.nbreJr}" style="width:100%"
										label="Nombre jours" />
								</f:facet>
							</p:cellEditor>
						</p:column>

						<p:column style="width:6%">
							<p:rowEditor />
						</p:column>
					</p:dataTable>

					<p:separator />

					<p:commandButton id="dynamicDialogButton"
						value="Enregistre Planning" oncomplete="PLA-ACC.xhtml?faces-redirect=true"
						style="margin-left:450px;margin-top:25px"
						action="#{planningBean.enregistrerNewPlanning}" icon="ui-icon-extlink" />

				</p:tab>
			</p:tabView>
		</h:form>

		<script type="text/javascript">
			function handlePlageRequest(xhr, status) {
				PF('dlg').hide();
				$('#dynamicDialogButton').fadeOut();
			}
		</script>

	</ui:define>
</ui:composition>