<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">   #{msg['Planning.titre']} <ui:include src="PLA-HELP.xhtml" /></ui:define>

	<ui:define name="body">

		<h:form id="planningForm">
			<p:growl id="growl" />
			<h:panelGrid columns="2" columnClasses="panelGrid-top,panelGrid-top" style="width:1025px;">
				<h:panelGrid columns="1">
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton icon="ui-icon-close" update="@form" action="#{planningBean.deleteplanning}">
							<!--  
								<p:confirm header="#{msg['checktime.confirm.delete']}" message="#{msg['Planning.M1']}" icon="ui-icon-alert" />
								-->
							</p:commandButton>
							<p:commandButton oncomplete="PF('dlgNewplanning').show();"
								action="#{planningBean.clear}"
									update=":dlgNewplanning" icon="ui-icon-plus" />
						</f:facet>						
					</p:toolbar>
					<p:dataTable var="planningCycl" value="#{planningBean.plannings}"
						id="dataTable" paginator="true" rows="8"
						paginatorPosition="bottom"
						paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
						rowsPerPageTemplate="5,10,15" rowKey="#{planningCycl.id}"
						selectionMode="single" selection="#{planningBean.planning}" >
						<f:facet name="header">  
		                	#{msg['Planning.L1']}
		            	</f:facet>
		            	<p:ajax event="rowSelect" update="@form" listener="#{planningBean.loadLazyModel}"/>
		            	<p:ajax event="rowDblselect" oncomplete="PF('dlgNewplanning').show();" update=":dlgNewplanning" immediate="true"/>
						<p:column>
							<h:outputText value="#{planningCycl.libelle}"
								style="margin-left:10px" />
						</p:column>
					</p:dataTable>

					<p:panel id="planningDetailsPanelId" header="#{msg['Planning.L2']}"
						style="width: 460;">
						<h:panelGrid columns="2" cellpadding="2" id="userUpdateForm"
							border="0">
							<h:outputLabel for="libelleId" value="#{msg['Planning.L3']}" />
							<h:outputText id="libelleId"
								value="#{planningBean.planning.libelle}"
								style="width: 200;"></h:outputText>

							<h:outputLabel for="dateDebutId" value="#{msg['Planning.L4']}" />
							<h:outputText id="dateDebutId"
								value="#{planningBean.planning.dateDebut}"
								style="width: 200;">
								<f:convertDateTime></f:convertDateTime>
							</h:outputText>

							<h:outputLabel for="periodiciteId" value="#{msg['Planning.L5']}" />
							<h:outputText id="periodiciteId"
								value="#{planningBean.planning.periodicite}"
								style="width: 200;"></h:outputText>

						</h:panelGrid>
					</p:panel>
				</h:panelGrid>
				<h:panelGrid style="width:640px;height:490px;" columns="1"
					columnClasses="panelGrid-top">
					<p:schedule id="scheduleId" value="#{planningBean.eventModel}" locale="fr" ignoreTimezone="false"
						timeFormat="HH:mm"
						widgetVar="myschedule" view="#{planningBean.scheduleView}" showHeader="true" tooltip="true">
						<p:ajax event="dateSelect" listener="#{planningBean.onDateSelect}"/>
						<p:ajax event="eventSelect"
							listener="#{planningBean.onEventSelect}"
							update=":checkConfigForm:eventDetails"
							oncomplete="PF('eventDialog').show()" />
						<p:ajax event="eventMove" listener="#{planningBean.onEventMove}" />
						<p:ajax event="eventResize"
							listener="#{planningBean.onEventResize}" />
					</p:schedule>
				</h:panelGrid>
			</h:panelGrid>
		</h:form>
		
		<p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
	        <p:commandButton value="#{msg['share.boolean.yes']}" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
	        <p:commandButton value="#{msg['share.boolean.no']}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
	    </p:confirmDialog>

		<p:dialog header="#{msg['Planning.L6']}" widgetVar="dlgNewplanning" 
			width="350" resizable="false" id="dlgNewplanning" showEffect="fade"
			hideEffect="explode" modal="true">
			<h:form id="newPlanningId">
				<p:growl id="growl" /> 
				<h:panelGrid columns="1">
					<h:panelGrid id="detail" columns="1">
						<h:panelGrid columns="4" columnClasses="label,value">
							<img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce.gif" alt="" />
							<h:outputLabel styleClass="mode" for="planning_libelle"
								value="#{msg['Planning.L3']}" />
							<p:spacer width="15"></p:spacer>
							<p:inputText id="planning_libelle" size="26"
								value="#{planningBean.planning.libelle}" required="true"
								label="planning_libelle">
								<f:validateLength maximum="130" minimum="5"/>
								<f:validateRegex pattern="[a-zA-Zéàèùôûçêâ\s-_0-9]+"></f:validateRegex>
							</p:inputText>
						</h:panelGrid>
						<h:panelGrid columns="7" columnClasses="label,value">
							<img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce.gif" alt="" />
							<h:outputLabel styleClass="mode" for="planning_debut"
								value="#{msg['Planning.L4']}" />
							<p:calendar value="#{planningBean.planning.dateDebut}" size="8"
								required="true" id="planning_debut" />
							<p:spacer width="4"></p:spacer>
							<img src="#{facesContext.externalContext.requestContextPath}/resources/bitmap/navig/puce.gif" alt="" />
							<h:outputLabel styleClass="mode" for="planning_periodicite"
								value="#{msg['Planning.L5']}" />
							<p:inputText id="planning_periodicite" required="true"
								value="#{planningBean.planning.periodicite}" size="2"
								label="planning_periodicte" >
								<p:ajax event="blur" listener="#{planningBean.initialPeriodsListener}" update=":newPlanningId:horaireDataId"></p:ajax>
								<f:validateLongRange minimum="1" />
							</p:inputText>
						</h:panelGrid>
					</h:panelGrid>
					<p:fragment autoUpdate="true">					
						<p:dataTable var="period" value="#{planningBean.planning.periods}"
							editable="true" editMode="cell" id="horaireDataId" rowIndexVar="index">
							<p:column headerText="#{msg['Planning.L7']}" width="170">
								<p:cellEditor>
									<f:facet name="output"><h:outputText value="#{period.horaire.libelle}" /></f:facet>
									<f:facet name="input">
										<p:selectOneMenu id="horaire_annotation" value="#{planningBean.horaireId}" style="width:160px" required="true">
											<p:ajax event="change" listener="#{planningBean.setHoraireIdListener(period)}"></p:ajax>
											<f:selectItem itemLabel="#{msg['select.choice']}" itemValue=""/>
											<f:selectItems value="#{horaireBean.horaires}" var="hor"
												itemLabel="#{hor.libelle}" itemValue="#{hor.id}" />
										</p:selectOneMenu>
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column headerText="#{msg['Planning.L8']}">
								<p:cellEditor>
									<f:facet name="output"><h:outputText value="#{period.nbreJr}" /></f:facet>
									<f:facet name="input">
										<p:inputText id="njoursId" value="#{period.nbreJr}" size="2">
											<p:ajax event="blur" listener="#{planningBean.addPeriodListener}" update=":newPlanningId:horaireDataId"></p:ajax>
											<f:validateLongRange minimum="1" />
										</p:inputText>
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column >
								<p:commandLink value="X" update=":newPlanningId:horaireDataId" action="#{planningBean.removePeriodListener(index)}"></p:commandLink>
							</p:column>
						</p:dataTable>
						</p:fragment>
					<p:commandButton icon="ui-icon-disk"
						actionListener="#{planningBean.savePlanning}" ajax="true"
						update=":newPlanningId:growl :planningForm"
						oncomplete="if (args &amp;&amp; !args.validationFailed) PF('dlgNewplanning').hide()"
						style="margin-left:135px;margin-top:10px" value="Enregistrer" />
				</h:panelGrid>
			</h:form>
		</p:dialog>

		<h:form id="checkConfigForm">

			<p:dialog widgetVar="eventDialog"
				header="#{planningBean.horaire.libelle}" showEffect="clip"
				hideEffect="clip">
				<h:panelGrid id="eventDetails" columns="2">
					<h:outputText value="#{msg['Planning.L9']}" />
					<h:outputText id="horaire_debut"
						value="#{planningBean.plageHoraire.debut}" label="horaire_debut">
					</h:outputText>
					<h:outputText value="#{msg['Planning.L10']}" />
					<h:outputText id="horaire_fin"
						value="#{planningBean.plageHoraire.fin}" label="horaire_fin" />
					<h:outputText value="#{msg['Planning.L11']}" />
					<h:outputText id="horaire_flexdebut"
						value="#{planningBean.plageHoraire.flexDebut}"
						label="horaire_flexdebut" />
					<h:outputText value="#{msg['Planning.L12']}" />
					<h:outputText id="horaire_flexfin"
						value="#{planningBean.plageHoraire.flexFin}"
						label="horaire_flexfin" />
					<h:outputText value="#{msg['Planning.L13']}" />
					<h:outputText id="horaire_tolentree"
						value="#{planningBean.plageHoraire.tolEntree}"
						label="horaire_tolentree" />
					<h:outputText value="#{msg['Planning.L14']}" />
					<h:outputText id="horaire_tolsortie"
						value="#{planningBean.plageHoraire.tolSortie}"
						label="horaire_tolsortie" />
					<h:outputText value="#{msg['Planning.L15']}" />
					<h:outputText id="horaire_pause"
						value="#{planningBean.plageHoraire.pause}" label="horaire_pause" />
				</h:panelGrid>
			</p:dialog>
		</h:form>

		
	    <p:confirmDialog message="Etes vous sur de vouloir supprimer de la liste ?" width="200"
				showEffect="explode" hideEffect="explode" header="Confirmation"
				severity="alert" widgetVar="confirmationDeleteHoraire">
				<p:commandButton value="Supprimer"
					oncomplete="PF('confirmationDeleteHoraire').hide()" />
				<p:commandButton value="Annuler" onclick="PF('confirmationDeleteHoraire').hide()"
					type="button" />

		</p:confirmDialog> 		
		

	</ui:define>
</ui:composition>