<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">   #{msg['Planning.titre']}</ui:define>

	<ui:define name="body">

		<h:form id="formUpdate">
			<p:growl id="msgs" showDetail="true" />

			<p:dataTable id="updateplannings" rows="15" var="planning" paginator="true"
				dynamic="true" value="#{planningBean.plannings}">
				
				<p:column headerText="Libelle :">
					<h:outputText value="#{planning.libelle}" />
				</p:column>					
				
				<p:column headerText="Date Debut">
					<h:outputText value="#{planning.dateDebut}" />
				</p:column>

				<p:column headerText="Périodicité :">
					<h:outputText value="#{planning.periodicite}" />
				</p:column>
			
				
				<p:column style="width:100px" headerText="Afficher - Modifier - Supprimer " >
					<h:panelGrid columns="3" styleClass="actions" cellpadding="2" >
						<p:commandButton update=":formUpdate:display"
							oncomplete="planningDialog.show()" image="ui-icon ui-icon-search"
							title="View">
							<f:setPropertyActionListener value="#{planning}"
								target="#{planningBean.selectedPlanning}" />
							<f:setPropertyActionListener value="#{false}"
								target="#{planningBean.editMode}" />
						</p:commandButton>
						<p:commandButton update=":formUpdate:display"
							oncomplete="planningDialog.show()" image="ui-icon ui-icon-pencil"
							title="Edit">
							<f:setPropertyActionListener value="#{planning}"
								target="#{planningBean.selectedPlanning}" />
							<f:setPropertyActionListener value="#{true}"
								target="#{planningBean.editMode}" />
						</p:commandButton>
						<p:commandButton update=":formUpdate:display"
							oncomplete="confirmation.show()" image="ui-icon ui-icon-close"
							title="Delete">
							<f:setPropertyActionListener value="#{planning}"
								target="#{planningBean.selectedPlanning}" />
						</p:commandButton>
					</h:panelGrid>
				</p:column>

			</p:dataTable>

			<p:dialog header="planning Detail" widgetVar="planningDialog"
				resizable="false" id="planningDlg" width="300" showEffect="fade"
				hideEffect="explode" modal="true">

				<h:panelGrid id="display" columns="2" cellpadding="4"
					style="margin:0 auto;">

					<f:facet name="header">
					</f:facet>

					<h:outputText value="Libelle :" />
					<h:panelGroup>
						<h:outputText value="#{planningBean.selectedPlanning.libelle}"
							style="font-weight:bold" rendered="#{!planningBean.editMode}"/>
						<p:inputText value="#{planningBean.selectedPlanning.libelle}"
						rendered="#{planningBean.editMode}" required="true" label="Libelle" />	
					</h:panelGroup>

					<h:outputText value="Type :" />
					<h:panelGroup>
						<h:outputText value="#{planningBean.selectedPlanning.type}"
							style="font-weight:bold" rendered="#{!planningBean.editMode}" />
						<p:inputText value="#{planningBean.selectedPlanning.type}"
						rendered="#{planningBean.editMode}" required="true" label="Type" />							
					</h:panelGroup>									

					<f:facet name="footer">
						<p:outputPanel rendered="#{planningBean.editMode}" layout="block"
							style="text-align:right">
							<p:commandButton value="Save" 
								actionListener="#{planningBean.updateSelectplanning}"
								oncomplete="onEditComplete(xhr,status,args)"
								image="ui-icon ui-icon-check" />
							<p:commandButton value="Cancel" onclick="planningDialog.hide()"
								type="button" image="ui-icon ui-icon-close" />

						</p:outputPanel>
					</f:facet>
				</h:panelGrid>
			</p:dialog>

			<p:confirmDialog message="Are you sure?" width="200"
				showEffect="explode" hideEffect="explode" header="Confirm"
				severity="alert" widgetVar="confirmation">

				<p:commandButton value="Yes sure" update="updateplannings"
					actionListener="#{planningBean.deleteSelectedplanning}"
					oncomplete="confirmation.hide()" />
				<p:commandButton value="Not yet" onclick="confirmation.hide()"
					type="button" />
			</p:confirmDialog>
		</h:form>
	</ui:define>
</ui:composition>