<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	
	<p:dialog header="AIDE - PLANNING" widgetVar="helpDialog" modal="true" height="600px" width="60%">
	<link rel="stylesheet" type="text/css" href="../../../resources/css/HelpStyle.css"/>
	<div class="backColor">
		<div class="container">
			<div>
				<h2>Présentation</h2>
				<div>
					<li class="ListItem">
						Cette fonctionnalité permet de gérer les plannings.
						Elle est accessible depuis le lien « Plannings » dans
						le menu Configuration.
					</li>
					<div class="imageStyle">
									<img src="../../../resources/images/PLA-HELP/PLA-Presentation.png" />
					</div>
				</div>
				<div>
					<div class="imageStyle">
						<img src="../../../resources/images/PLA-HELP/PLA-AFFICHAGE.PNG" />
					</div>
				</div>
				<br/>
			</div>
			<br/>
			<hr/>
			<br/>
			<div>
				<h2>Créer un nouveau Planning</h2>
				<div>
					<li class="ListItem">
						La création d’un nouvel horaire hebdomadaire est accessible à partir de la page d’accueil de la
						rubrique <strong>Plannings</strong> et le lien (Planning Hebdomadaire).
					</li>
					<div class="imageStyle">
						<img src="../../../resources/images/PLA-HELP/PLA-NEW-PLANING.PNG" />
					</div>
					<div>
						<h3>Informations sur l’écran</h3>
					</div>
					<div class="imageStyle">
						<img src="../../../resources/images/PLA-HELP/PLA-REMARQUE.PNG" />
					</div>
					<div>
						La validation de la création fait disparaitre la fenêtre et actualise la liste des plannings pour
						bien vérifier que le planning en cours a bien été enregistrée.
					</div>
					<div class="imageStyle">
						<img src="../../../resources/images/PLA-HELP/PLA-LIST-PLANING.PNG" />
					</div>
					<div>
						Une fois ce planning crée, on peut le consulter, le modifier ou le supprimer.
					</div>
				</div>
			</div>	
			
		</div>
	</div>
	</p:dialog>
	</ui:composition>